<template>
  <b-dropdown
    @click="splitActionClicked"
    :split="isSplit"
    :text="`${text}`"
    variant="primary"
  >
    <template v-for="(item, index) in items">
      <div :key="index">
        <b-dropdown-item @click="item.action">{{ item.name }}</b-dropdown-item>
      </div>
    </template>
  </b-dropdown>
</template>

<script>
export default {
  name: "Dropdown",
  data() {
    return {
      isSplit: false,
    };
  },
  props: ["text", "items", "split", "splitAction"],
  mounted() {
    if (typeof this.split == "undefined") {
      this.isSplit = false;
    } else if (this.split === true) {
      this.isSplit = true;
    }
  },
  methods: {
    splitActionClicked() {
      if (this.isSplit) {
        this.splitAction.action();
      }
    },
  },
};
</script>
