<template>
    <div class="list-function">
        <!-- <v-tree ref="tree"  :data='functions' :radio="true" @node-select="itemClick"/> -->
        <!-- <v-tree ref="tree" :scope-data="getFunc"  @node-select="itemClick">
            <ul slot-scope="functionss">
                <li v-for="menuItem in functionss" :key="menuItem.id">
                    <i :class="`fas ${menuItem.icon}`"></i>
                    <v-tree v-if="menuItem.sub_functions" :scope-data="menuItem.sub_functions"></v-tree>
                </li>
            </ul>
        </v-tree> -->
        <v-tree ref='tree' :data='functions' :tpl='tpl' :radio="true" @node-select="itemClick" />
    </div>
</template>
<script>
export default {
    props: [],
    data () {
        return {
            functions: []
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {
        loadData(){
            this.$store.dispatch("function/loadFunctions").then(rs => {
                this.functions = this.processTreeData(rs, 0)
            })
        },
        itemClick(node) {
          this.$emit('changeFunction', node)
        },
        processTreeData(data, level){
            let nodes = []
            for (let i = 0; i < data.length; i++) {
                const element = data[i];
                if(element.display_on_menu !== 1) continue
                if(element.sub_functions){
                    let children = this.processTreeData(element.sub_functions, element.id)
                    delete element.sub_functions
                    nodes.push({ ...element, parentId: level, title: element.name, expanded: false, children })
                }
                else{
                    nodes.push({...element, parentId: level, title: element.name, expanded: false})
                }
            }
            return nodes
        },
        tpl (...args) {
            let {0: node} = args
            let titleClass = node.selected ? 'node-title node-selected' : 'node-title'
            let classIcon = 'ml-2 fas ' + node.icon
            if (node.searched) titleClass += ' node-searched'
            return <span>
                <i class={classIcon}></i>
                <span class={titleClass} domPropsInnerHTML={node.title} onClick={() => {this.$refs.tree.nodeSelected(node)}}></span>
            </span>
        },
    }
}
</script>
<style scoped>
.list-function{
    height: 100%;
    padding-top: 30px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}
</style>