<template>
  <div>
    <div v-if="type === 'input'" role="group" class="form-group">
      <label
        :for="uuid"
        class="d-block mb-0"
        style="padding-bottom: calc(0.375rem + 1px); line-height: 1.5;"
        >{{ label }}</label
      >
      <div>
        <input
          ref="input"
          :id="uuid"
          type="text"
          :placeholder="placeHolder"
          :class="
            `form-control table__check-box form-control-g w-100 ${
              invalid ? 'is-invalid' : ''
            }`
          "
          :value="value"
          :disabled="disabled"
          @input="onInputChange"
          v-currency="{
            currency: { prefix: null, suffix: ' ' + currencyType },
            locale: 'vi',
            precision: 0,
            allowNegative: false,
          }"
        />
        <div v-if="invalid" class="invalid-feedback">{{ invalidFeedback }}</div>
      </div>
    </div>
    <input
      v-if="type !== 'input'"
      ref="input"
      :id="uuid2"
      type="text"
      :placeholder="placeHolder"
      :class="
        `form-control table__check-box form-control-g w-100 ${
          invalid ? 'is-invalid' : ''
        }`
      "
      :value="value"
      :disabled="disabled"
      @input="onInputChange"
      v-currency="{
        currency: { prefix: null, suffix: ' ' + currencyType },
        locale: 'vi',
        precision: 0,
        allowNegative: false,
      }"
    />
  </div>
</template>

<script>
import { stringUtil } from "@/utils/string";

//import FormGroupInput from '@/components/form/FormGroupInput'

export default {
  model: {
    prop: "value",
    event: "input",
  },
  components: {
    //FormGroupInput
  },
  props: {
    type: { default: "input" },
    label: { default: null },
    placeHolder: { default: "" },
    touch: { default: null },
    invalid: { default: false },
    invalidFeedback: { default: null },
    disabled: { default: false },
    value: { default: null },
    currencyType: { default: "VNĐ" },
    min: { default: 0 },
  },
  computed: {
    uuid() {
      return stringUtil.newGuid();
    },
    uuid2() {
      return stringUtil.newGuid();
    },
  },
  methods: {
    onInputChange(e) {
      let val = e.target.value;

      if (val.includes(this.currencyType)) {
        return;
      }

      this.$emit("input", +val);

      if (this.touch) {
        this.touch();
      }
    },
  },
};
</script>
<style scoped></style>
