$enable-caret:                                true !default;
$enable-rounded:                              true !default;
$enable-shadows:                              true !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                true !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 true !default;

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ccced2 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #01041b !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);
$blue-300: #88DFFB !default;
$blue:    #32BDEA !default;
$blue-800:  #06A3D6 !default;

$red-300:     #F1C8DB !default;
$red:     #E08DB4 !default;
$red-800:     #D85E97 !default;

$yellow-300:  #FFAA8A !default;
$yellow:  #FF9770 !default;
$yellow-800:  #FF6A32 !default;

$green-300:   #A0D9B4 !default;
$green:   #78C091 !default;
$green-800:   #478F60 !default;

$cyan-300:    #9AE8FF !default;
$cyan:    #7EE2FF !default;
$cyan-800:    #58D9FF !default;

$gray-300: #f1f2f1 !default;
$gray-500: #a09e9e !default;
$gray-800: #343a40 !default;

$orange-300:  #F8BEA3 !default;
$orange:  #FF7E41 !default;
$orange-800:  #FE5708 !default;

$light: #c7cbd3  !default;

$purple-300:  #cbc0ff !default;
$purple:      #4731b6 !default;
$purple-800:  #9e8aff !default;

$skyblue-300:    #aad7ff !default;
$skyblue:        #158df7 !default;
$skyblue-800:    #117ede !default;

$pinkdark-300:    #FFF1F1 !default;
$pinkdark:        #FF6265 !default;
$pinkdark-800:    #2B2626 !default;

$light-gray: #f4f5fa  !default;


$indigo:  #6610f2 !default;
$teal:    #20c997 !default;

// color darkmode

$dark-body-bg: #0D0D0D !default;
$dark-body-text :#676E8A !default;
$dark-title-text : #AEA8F5 !default;
$dark-border-color: #212532 !default;
$dark-card-bg:  #0D0D0D !default;

$dark-gray: #151515  !default;

//  color light mode

$bodybg: #ffffff !default;
$bodytext : #676E8A !default;
$titletext : #000000 !default;
$bordercolor: #DCDFE8 !default;
$cardbg:   #ffffff !default;
$bodytextdark: #595a5d !default;

$sidebar-primary-light: #e4ecfd !default;
$sidebar-icon-light: #5d8ef7 !default;
$gray-light : #eff1fe !default;
$gray-dark1 : #16171d !default;
$gray-dark-hover:#191a20 !default;
$intro-light-bg: #fafbfe !default;
$intro-dark-bg: #2b343b !default;
$sidebar-purple-shade: #876cfe !default;
$collapse-light-shade: #ffebdf !default;
$collapse-dark-shade: #fe721c !default;
$sidebar-black-shade: #01041b !default;
$nyon-green-shade: #37e6b0 !default;
$sidebar-navi-shade:#040849 !default;

$startColor : #ffffff;
$endColor : #ffffff ;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "skyblue":    $skyblue,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,

  ),
  $colors
);
$primary-light:     $blue-300 !default;
$primary:           $blue !default;
$primary-dark:      $blue-800 !default;
$secondary-light:   $orange-300 !default ;
$secondary:         $orange !default;
$secondary-dark :   $orange-800 !default;
$success-light:     $green-300 !default;
$success:           $green !default;
$success-dark:      $green-800 !default;
$info-light:        $cyan-300 !default;
$info:              $cyan !default;
$info-dark:         $cyan-800 !default;
$warning-light:     $yellow-300 !default;
$warning:           $yellow !default;
$warning-dark:      $yellow-800 !default;
$danger-light:      $red-300 !default;
$danger:            $red !default;
$danger-dark:       $red-800 !default;
$light:             $light !default;
$dark-light:        $gray-300 !default;
$dark:              $gray-800 !default;
$orange-light:      $orange-300 !default;
$orange:            $orange !default;
$orange-dark:       $orange-800 !default;
$purple-light:      $purple-300 !default;
$purple:            $purple !default;
$purple-dark:       $purple-800 !default;
$skyblue-light:     $skyblue-300 !default;
$skyblue:           $skyblue !default;
$skyblue-dark:      $skyblue-800 !default;
$pinkdark-light:    $pinkdark-300 !default;
$pinkdark:          $pinkdark !default;
$pinkdark-dark:     $pinkdark-800 !default;
$light-gray:        $light-gray !default;

$body-text :        $bodytext !default;
$title-text :       $titletext !default;
$border-color :     $bordercolor !default;
$body-bg:           $bodybg !default;
$card-bg:           $cardbg !default;
$body-text-dark:    $bodytextdark !default;

$dark-primary:     rgba(71, 136, 255, 0.1);
$dark-secondary:   rgba(108, 117, 125, 0.1);
$dark-success:     rgba(55, 230, 178, 0.1);
$dark-info:       rgba(135, 108, 254, 0.1);
$dark-warning:    rgba(254, 114, 28, 0.1);
$dark-danger:     rgba(255, 75, 75, 0.1);
$dark-light:      rgba(199, 203, 211, 0.1);
$dark-dark:       rgba(1, 4, 27, 0.1);
$dark-orange:     rgba(253, 126, 20, 0.1);
$dark-purple:     rgba(71, 49, 182, 0.1);


$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "orange":     $orange,
    "purple":     $purple,
    "skyblue":    $skyblue,
    "light-gray": $light-gray,

  ),
  $theme-colors
);

$theme-custom: () !default;

$theme-custom: map-merge(
  (
    "primary":    $primary-light,
    "secondary":  $secondary-light,
    "success":    $success-light,
    "info":       $info-light,
    "warning":    $warning-light,
    "danger":     $danger-light,
    "light":      $light,
    "dark":       $dark-light,
    "orange":     $orange-light,
    "purple":     $purple-light,
    "skyblue":    $skyblue-light,
  ),
  $theme-custom
);

$dark-theme-custom: () !default;

$dark-theme-custom: map-merge(
  (
    "primary":    $dark-primary,
    "secondary":  $dark-secondary,
    "success":    $dark-success,
    "info":       $dark-info,
    "warning":    $dark-warning,
    "danger":     $dark-danger,
    "light":      $dark-light,
    "dark":       $dark-dark,
    "orange":     $dark-orange,
    "purple":     $dark-purple,
  ),
  $dark-theme-custom
);

$avatar-size: () !default;
$avatar-size: map-merge(
  (
    "30": 30,
    "35": 35,
    "40": 40,
    "45": 45,
    "50": 50,
    "60": 60,
    "70": 70,
    "80": 80,
    "90": 90,
    "100": 100,
    "110": 110,
    "120": 120,
    "130":130,
    "155": 155,
    "235":235

  ), $avatar-size
);

$font-family-title: 'Lato', sans-serif;
$font-family-base: 'Lato', sans-serif;

$btn-font-family: $font-family-base;

$font-family-remixicon: remixicon;
$font-family-ionicons: Ionicons;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $body-bg !default;
$body-color:                $body-text !default;
$body-title:                $title-text !default;

// Links
//
// Style anchor elements.

$link-color:                              theme-color("primary") !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   none !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                1px !default;
$border-color:                #DCDFE8 !default;


$border-radius-normal:        10px !default;
$border-radius:               10px !default;
$border-radius-lg:            10px !default;
$border-radius-sm:            10px !default;
$border-radius-circle:        50% !default;
$border-radius-rounded:       50px !default;

$border-radius-top:       $border-radius $border-radius 0 0 !default;
$border-radius-right:    0 $border-radius $border-radius 0 !default;
$border-radius-left:        $border-radius 0 0 $border-radius !default;
$border-radius-bottom:     0 0 $border-radius $border-radius !default;

$border-radius-tl:      $border-radius 0 0 0 !default;
$border-radius-tr:      0 $border-radius 0 0 !default;
$border-radius-br:      0 0 $border-radius 0 !default;
$border-radius-bl:      0 0 0 $border-radius !default;


$rounded-pill:                $border-radius-rounded !default;

$box-shadow-sm:               0px 16px 40px 0px #0000000A !default;
$box-shadow:                  0px 16px 40px 0px #0000000A !default;
$box-shadow-lg:               0px 16px 40px 0px #0000000A !default;


$font-size-xs: 12;
$font-size-sm: 12;
$font-size-md: 12;
$font-size-lg: 12;
$font-size-xl: 12;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:              16 !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$h1-font-size:                2.488em !default;
$h2-font-size:                2.074em !default;
$h3-font-size:                1.728em !default;
$h4-font-size:                1.44em !default;
$h5-font-size:                1.2em !default;
$h6-font-size:                1.0em !default;



// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  200 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;

$btn-box-shadow:              unset;
$btn-border-radius:           $border-radius-normal;

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;

$faq-font-icon-family: $font-family-remixicon;
$faq-font-icon-content-plus: '\EA13';
$faq-font-icon-content-minus: '\F1AF';
