<template>
  <b-modal
    id="access-mgmt"
    centered
    hide-footer
    hide-header
    hide-header-close
    size="lg"
  >
  <div class="popup text-left">
      <div class="title">
      <h4 class="mb-3">Phân quyền truy cập</h4>
      <i
          class="fas fa-times btn-close"
          @click="close"
        ></i>
      </div>
      <hr style="margin-bottom:0">
      <div class="content">
        <b-table class="table-content" bordered outlined head-variant="light" :fields="fields" :items="items">
            <template #cell(name)="row">
                <div :style="{ paddingLeft: (row.item.level>0 ? row.item.level+1:0)*20+'px', position:'relative'}">
                    <i style="color:#93C0F5" :class="['fas',row.item.icon]"></i>
                    {{row.item.name}}
                </div>
            </template>
            <template class="row-checkbox" #cell(read)="row">
                <input type="checkbox" v-model="row.item.view" @change="checkNotAll('view', row.item)">
            </template>
            <template class="row-checkbox" #cell(write)="row">
                <input type="checkbox" v-model="row.item.add" @change="checkNotAll('add', row.item)">
            </template>
            <template class="row-checkbox" #cell(del)="row">
                <input type="checkbox" v-model="row.item.del" @change="checkNotAll('del', row.item)">
            </template>
            <template class="row-checkbox" #cell(update)="row">
                <input type="checkbox" v-model="row.item.edit" @change="checkNotAll('edit', row.item)">
            </template>
            <template class="row-checkbox" #cell()="row">
                <input type="checkbox" v-model="row.item.all" @change="checkAll($event, row.item)">
            </template>
        </b-table>
      </div>
      <div class="mt-2 d-flex justify-content-around">
      <button
        class="btn btn-success"
        @click="onSubmit"
      >
      Cập nhật
      </button>
    </div>
  </div>
  </b-modal>

</template>
<script>
// import { JSONParser } from '@amcharts/amcharts4/core'
import rolegroupService from '@/services/role-group.service.js'
import notification from '@/utils/notification'
export default {
  computed: {
    
    roleGroupFunctions() {
      return this.$store.getters['roleGroup/roleGroupFunctions']
    },
    groupFunction(){
      return this.roleGroupFunctions?.items || []
    }
  },
  data() {
    return {
        items: [],
        fields: [
          { key: 'name', label: 'Tính năng' },
          { key: 'read', label: 'Đọc' },
          { key: 'write', label: 'Ghi' },
          { key: 'del', label: 'Xóa' },
          { key: 'update', label: 'Cập nhật' },
          { key: 'all', label: 'Tất cả' }
        ],
        data: [],
        groupId: null,
    }
  },
  mounted() {
  },
  methods: {
    onSubmit(){
      const data = {
        functions: [
        ]
      }
      this.items.forEach(el => {
        data.functions.push({
            view: el.view == 1 || el.view == true ? 1 : 0,
            del: el.del == 1 || el.del == true ? 1 : 0,
            add: el.add == 1 || el.add == true ? 1 : 0,
            edit: el.edit == 1 || el.edit == true ? 1 : 0,
            function_id: el.id
          })
      })
      rolegroupService.addRemoveGroupFunctions(this.groupId,data).then((rs)=>{
        if(rs.code==1){
          notification.success('Cập nhật thành công')
        }
      })
    },
    async show(data){
      this.$bvModal.show('access-mgmt')
      this.items = []
      await this.$store.dispatch('roleGroup/getRoleGroupFunctions',data.code).then(()=>{
        this.groupId = data.code
        this.groupFunction.forEach(fn => {
            this.updateDisplayList(fn, 0, 0)
        })
      })
      
    },
    checkNotAll(col ,e){
      if(e.add && e.edit && e.del && e.view){
        e.all = 1
        this.checkAllCol(e, col)
        this.checkNotAllRowCol(e, col)
        this.checkNotAllRowParent(e)
      }
      else{
        e.all = 0
        this.checkAllCol(e, col)
        this.checkNotAllRowCol(e, col)
        this.checkNotAllRowParent(e)
      }
    },
    checkNotAllRowParent(e){
      var i = this.items.filter(r => r.id === e.parentId)[0]
      var check = 1
      if(i){
        this.items.forEach(r => {
          if(i.id === r.parentId){
            if(!r.add || !r.edit || !r.del || !r.view){
              check = 0
            }
          }
        })
        i.all = check
      }
    },
    checkNotAllRowCol(e, col){
      var i = this.items.filter(r => r.id === e.parentId)[0]
      var check = 1
      if(i){
        this.items.forEach(r => {
          if(i.id === r.parentId){
            if(!r[col]){
              check = 0
              return
            }
          }
        })
        i[col] = check
      }
    },
    checkAll(e,data){
      this.items.forEach(el => {
        if(el.id == data.id){
          if(e.target.checked){
            this.checkAllRow(el, 1)
            this.items.forEach(r => {
              if(r.parentId === data.id){
                this.checkAllRow(r, 1)
              }
            })
          } else {
            this.checkAllRow(el, 0)
            this.items.forEach(r => {
              if(r.parentId === data.id){
                this.checkAllRow(r, 0)
              }
            })
          }
          return
        }
      })
    },
    checkAllRow(el, check){
      el.view = check
      el.edit = check
      el.del = check
      el.add = check
      el.all = check
    },
    checkAllCol(e, col){
      this.items.forEach(r => {
        if(r.parentId === e.id){
          r[col] = e[col]
        }
      })
    },
    close(){
        this.$bvModal.hide('access-mgmt')    
    },
    updateDisplayList(item, level, parentId){
        if(item){
          var all = 0
          if(item.add && item.edit && item.del && item.view){all = 1}
          var data = {
                id: item.id,
                icon:item.icon,
                name: item.name,
                level: level,
                view: item.view, 
                add: item.add, 
                del: item.del, 
                edit: item.edit,
                all: all,
                parentId: parentId
          }
          this.items.push(data)
          if(item.subFun&&item.subFun.length>0){
              item.subFun.forEach(r => {
                  this.updateDisplayList(r, level+1, item.id)
              })
          }
        }
    },
  }
}
</script>
<style scoped>
.popup {
  padding: 0 !important;
}
.title {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.mb-3 {
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 38px !important;
  margin: 0 !important;
  color: #131313;
}
.table-content{
    border-radius: 0 !important;
}
.btn-close {
  cursor: pointer;
}
tr:nth-child(even) {
  background: #F8F8FA;
}
tr th{
    color: #2B2C2E !important;
}
tr td{
    font-weight: 400 !important;
    color: #2B2C2E !important;
}
td:first-child{
    text-align: start;
}
td{
    text-align: center;
}
</style>