<template>
  <div>
    <b-form @submit.prevent="onSubmit">
      <div class="content create-workform bg-body">
        <div class="main__right__form">
          <div class="container">
            <b-row>
              <b-col>
                <form-group-input
                  :disabled="roleGroup.isUpdate"
                  :touch="$v.roleGroup.code.$touch"
                  :invalid="$v.roleGroup.code.$error"
                  v-model="roleGroup.code"
                  label="Mã nhóm"
                  invalidFeedback="Vui lòng nhập mã nhóm"
                  placeHolder="FACTORY01"
                />
              </b-col>
              <b-col>
                <form-group-input
                  :touch="$v.roleGroup.roleName.$touch"
                  :invalid="$v.roleGroup.roleName.$error"
                  v-model="roleGroup.roleName"
                  label="Tên nhóm"
                  invalidFeedback="Vui lòng nhập tên nhóm"
                  placeHolder="Nhân viên nhà máy"
                />
              </b-col>
            </b-row>
            <div class="row">
              <b-col>
                <!-- <form-group-input 
                  :touch="$v.roleGroup.description.$touch"
                  :invalid="$v.roleGroup.description.$error"
                  v-model="roleGroup.description"
                  type="textarea"
                  label="Mô tả"
                  invalidFeedback="Vui lòng nhập mô tả"
                  placeHolder="Nhóm tác nghiệp với máy may"
                /> -->
                <label class="d-block">Mô tả</label>
                <!-- <p class="title-textarea">Mô tả</p> -->
                <textarea
                  :class="
                    `form-control input ${
                      $v.roleGroup.description.$error ? 'is-invalid' : ''
                    }`
                  "
                  placeholder="Nhóm tác nghiệp với máy may"
                  v-model="roleGroup.description"
                  rows="4"
                />
                <div class="invalid-feedback">Vui lòng nhập mô tả</div>
              </b-col>
            </div>
          </div>
        </div>
        <b-row> </b-row>
      </div>
    </b-form>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import FormGroupInput from "@/components/form/FormGroupInput";
import notification from "@/utils/notification";
export default {
  mixins: [validationMixin],
  validations: {
    roleGroup: {
      code: { required },
      roleName: { required },
      description: { required },
    },
  },
  components: {
    FormGroupInput,
  },
  mounted() {
    this.getData();
  },
  data() {
    return {
      roleGroup: {
        code: "",
        roleName: "",
        description: "",
        isUpdate: false,
      },
      result: {
        code: "",
        roleName: "",
        description: "",
        title: "",
        buttonName: "",
      },
    };
  },
  methods: {
    getData() {
      this.roleGroup = JSON.parse(
        JSON.stringify(this.$store.getters["roleGroup/getGroupAddEdit"])
      );
    },
    validate() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = true;
        window.scrollTo({ top: 0, behavior: "smooth" });
        return false;
      } else {
        return true;
      }
    },
    closeModal() {
      this.$store.dispatch("queueDialog/hideDialog");
    },
    onSubmit() {
      if (this.validate() === false) {
        return;
      }

      if (this.roleGroup.isUpdate) {
        this.onUpdate();
        return;
      }
      this.$store.dispatch("queueDialog/hideDialog");
      var data = {
        role_name: this.roleGroup.roleName,
        code: this.roleGroup.code,
        description: this.roleGroup.description,
      };
      this.$v.$reset();
      this.$store.dispatch("roleGroup/addRoleGroups", data).then((r) => {
        if (r.code === 1) {
          notification.success("Thêm mới nhóm người dùng thành công");
          this.$bvModal.hide("group-add-edit");
          this.$bvModal.hide("group-add-edit-management");
          this.$emit("load-data");
        }
      });
    },
    onUpdate() {
      if (this.validate() === false) {
        return;
      }
      this.$store.dispatch("queueDialog/hideDialog");
      var data = {
        role_name: this.roleGroup.roleName,
        code: this.roleGroup.code,
        description: this.roleGroup.description,
      };
      this.$store.dispatch("roleGroup/updateRoleGroups", data).then((r) => {
        if (r.code === 1) {
          notification.success("Cập nhật thành công!");
          this.$bvModal.hide("group-add-edit");
          this.$bvModal.hide("group-add-edit-management");
          this.$emit("load-data");
        }
      });
      return;
    },
  },
};
</script>
<style lang="scss" scoped>
.popup {
  padding: 0 !important;
}
.title {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.mb-3 {
  font-family: Heebo !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 38px !important;
  margin: 0 !important;
  color: #131313;
}
.fa-times {
  margin-bottom: 10px !important;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 608px;
  }
}
.btn-close {
  border: 1px solid #32bdea;
  cursor: pointer;
}
.btn-add {
  width: 237px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 876px) {
  .modal-dialog {
    justify-items: center;
    justify-content: center;
    max-width: 876px;
  }
}
@media (min-width: 876px) {
  .modal-content {
    width: 800px;
  }
}
.main__right__form__title {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #131313;
}
.title-textarea {
  color: #01041b;
  margin-bottom: 2px;
}
</style>
