<template>
  <div>
    <div class="popup text-left">
      <div class="content create-workform bg-body">
        <div class="main__right__form">
          <div
            class="container"
            style="padding: 0;"
          >
            <!-- <table-list
              :columns="columns"
              :rows="roleGroup"
            >
            </table-list> -->
            <TableList
              :columns="columns"
              :rows="roleGroup"
              :showIndex="showIndex"
              :searchOption="searchOption"
              :total="total"
              @onPageChange="onPageChange"
              @onPerPageChange="onPerPageChange"
            />
          </div>
        </div>

      </div>
    </div>
    <GroupPermissionMgnt ref="dlgUserPermission" />
    <CheckDelete @confirmDelete="confirmDelete" title="nhóm người dùng" content="Bạn có muốn xóa nhóm người dùng này không?"></CheckDelete>
    <Dialog
      id="group-add-edit-management"
      :title="title"
      :btnClose="true"
      :onSubmit="onSubmitAddEdit"
      :titleBtnSubmit="isUpdateAddEdit?`Cập nhật`:`Thêm mới`"
      size="md"
      class="pr-2"
    >
      <template v-slot:modal-body>
        <group-add-edit ref="editGroup" @load-data="loadData" />
      </template>
    </Dialog>
  </div>

</template>
<script>
import GroupPermissionMgnt from './GroupPermission.vue'
import CheckDelete from "./DeleteConfirm";
import GroupAddEdit from "../Group/GroupAddEdit.vue";
import { Action, ColumnTable, ColumnType } from '../../Model/TableList';
import constants from '@/config/constants'
import roleGroupService from '../../services/role-group.service.js'
import notification from '@/utils/notification'

export default {
  props: {
    isUpdate: {
      default: 1
    }
  },
  components: {
    CheckDelete,
    GroupPermissionMgnt,
    GroupAddEdit
  },
  emits: ['onUpdateModal'],
  data() {
    return {
      isUpdateAddEdit: false,
      title: 'Thêm nhóm người dùng',
      delete: null,
      showIndex: true,
      searchOption: {
        enabled: true,
      },
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      pageNumber: 0,
      total: 10,
      columns: [
        new ColumnTable(ColumnType.TEXT, "Mã nhóm", "code"),
        new ColumnTable(ColumnType.TEXT, "Tên nhóm", "role_name"),
        new ColumnTable(ColumnType.TEXT, "Mô tả", "description"),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-lock-line",
              (data) => {
                this.onAccessPermission(data);
              },
              "table__action-icon"
            ),
            new Action(
              "ri-pencil-line",
              (data) => {
                this.onEdit(data);
              },
              "table__action-icon"
            ),
            new Action(
             "ri-close-line",
              (data) => {
                this.onDelete(data.code);
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
    }
  },
  computed: {
    roleGroup() {
      return this.$store.getters['roleGroup/roleGroups'];
    },
  },
  mounted(){
    this.dispatchRoleGroup()
  },
  methods: {
    onPageChange(params) {
      this.pageNumber = params - 1
      this.dispatchRoleGroup()
    },
    onPerPageChange(params) {
      this.pageSize = params.currentPerPage
      this.pageNumber = params.currentPage - 1
      this.dispatchRoleGroup()
    },
    dispatchRoleGroup() {
      this.$store.dispatch("roleGroup/getRoleGroups", { page: this.pageNumber, pageSize: this.pageSize }).then(rs => {
        this.total = rs?.pagination.totalElements
      })
    },
    clickRow() {
    },
    onCloseModel() {
      this.$store.dispatch('queueDialog/hideDialog')
    },
    onEdit(e) {
      this.isUpdateAddEdit = true
      this.title = 'Cập nhật nhóm người dùng'
      var data = {
        isUpdate: true,
        code: e.code,
        description: e.description,
        roleName: e.role_name
      }

      this.$store.dispatch('roleGroup/onUpdateRoleGroup', data).then(() =>
        this.$bvModal.show("group-add-edit-management"))
    },
    confirmDelete() {
      this.$bvModal.hide('CheckDelete')
      roleGroupService.deleteRoleGroups(this.delete).then(rs => {
        if(rs.data.code === 1){
          notification.success("Xóa thành công")
          this.dispatchRoleGroup()
        }
      })
    },
    onDelete(e) {
      this.$bvModal.show('CheckDelete')
      this.delete = e;
    },
    onAddRoleGroup() {
      this.title = 'Thêm nhóm người dùng'
      this.isUpdateAddEdit = false
      var data = {
        isUpdate: false,

      }
      this.$store.dispatch('roleGroup/onUpdateRoleGroup', data).then(() =>
        this.$bvModal.show("group-add-edit-management"))
    },
    onAccessPermission(data) {
      this.$refs['dlgUserPermission'].show(data);
    },
    onSubmitAddEdit() {
      this.$refs.editGroup.onSubmit()
    },
    loadData(){
      this.dispatchRoleGroup()
    }
  }
}
</script>
<style scoped>
.popup {
  padding: 0 !important;
}
.title {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.mb-3 {
  font-family: Heebo !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 38px !important;
  margin: 0 !important;
  color: #131313;
}
.fa-times {
  margin-bottom: 10px !important;
}

.btn-close {
  cursor: pointer;
}
.btn-add {
  width: 237px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.main__right__form__title {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #131313;
  margin-bottom: 5px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: fit-content !important;
    margin: 1.75rem auto;
  }
}
.mdal-dialog {
  width: fit-content !important;
}
</style>