<template>
  <b-form-group
    :label="label"
    :label-for="uuid"
    :invalid-feedback="invalidFeedback"
  >
    <!-- <b-input-group>
      <b-input-group-prepend>
        <b-input-group-text>
          <i class="fas fa-search"></i>
        </b-input-group-text>
      </b-input-group-prepend>
      <b-form-input placeholder="Username"></b-form-input>
    </b-input-group> -->

    <b-input-group v-if="iconPrepend.isShow||iconAppend.isShow">
      <b-input-group-prepend v-if="iconPrepend.isShow">
        <b-input-group-text>
          <i class="fas fa-search"></i>
        </b-input-group-text>
      </b-input-group-prepend>

        <template #append v-if="iconAppend.isShow">
          <b-input-group-text> <i class="fas fa-search"></i></b-input-group-text>
        </template>
      <b-form-input
        :placeholder="`${placeHolder}`"
        :id="uuid"
        :type="type"
        :size="size"
        :class="`form-control ${invalid ? 'is-invalid' : ''}`"
        :value="value"
        :disabled="disabled"
        @input="onInput"
      ></b-form-input>
    </b-input-group>

    <b-form-input
      :placeholder="`${placeHolder}`"
      v-if="!iconPrepend.isShow && !iconAppend.isShow"
      :id="uuid"
      :type="type"
      :size="size"
      :class="`w-100 form-control ${invalid ? 'is-invalid' : ''}`"
      :value="value"
      :disabled="disabled"
      @input="onInput"
    ></b-form-input>
  </b-form-group>
</template>

<script>

import { stringUtil } from "@/utils/string";


export default {
  props: {
    placeHolder: { default: '' },
    value: { default: null },
    label: { default: null },
    invalidFeedback: { default: null },
    size: { default: 'g' },
    touch: { default: null },
    invalid: { default: false },
    type: { default: 'text' },
    iconPrepend: { type: Object, default() { return { isShow: false, class: 'fas fa-search' } } },
    iconAppend: { type: Object, default() { return { isShow: false, class: 'fas fa-search' } } },
    disabled: { default: false },
    debounce: { default: 0 }
  },
  data() {
    return {
      debounceTimeoutHandle: undefined
    }
  },
  computed: {
    uuid() { return stringUtil.newGuid() }
  },
  methods: {
    onInput(value) {
      if (this.debounce > 0) {
        if (this.debounceTimeoutHandle) {
          clearTimeout(this.debounceTimeoutHandle)
        }
        this.debounceTimeoutHandle = setTimeout(() => {
          this.emitInputEvent(value)
        }, this.debounce);
      }
      else {
        this.emitInputEvent(value)
      }
    },
    emitInputEvent(value) {
      this.$emit('input', value)
      if (this.touch) {
        this.touch()
      }
    }
  }
}
</script>
<style>
.d-block {
  margin-bottom: 2px;
}
</style>