<template>
  <div>
    <form id="formCustomerAddEdit">
      <div class="row">
        <div class="container">
          <div class="row mb-0">
            <div class="col-lg-6 col-sm-12 mb-2">
              <select-warehouse
                title="Từ kho"
                lableSelect="name"
                placeholder="Chọn......."
                v-model="form.from_warehouse_id"
                type-value="id"
                :invalid="$v.form.from_warehouse_id.$error"
                @blur="$v.form.from_warehouse_id.$touch"
              />
            </div>
            <div class="col-lg-6 col-sm-12">
              <select-warehouse
                title="Đến kho"
                lableSelect="name"
                placeholder="Chọn......."
                v-model="form.to_warehouse_id"
                type-value="id"
                :invalid="$v.form.to_warehouse_id.$error"
                @blur="$v.form.to_warehouse_id.$touch"
                :invalidFeedback="
                  $v.form.to_warehouse_id.isSameAsFrom
                    ? 'Vui lòng chọn kho'
                    : 'Kho được điều đến không được trùng với kho nguồn'
                "
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <select-product
                title="Chọn sản phẩm"
                lableSelect="name"
                placeholder="Chọn......."
                :filterBy="filterByTest"
                :warehouseId="form.from_warehouse_id"
                searchItemType="transfer"
                :columnsTable="columns"
                :dataTable="form.items"
                @onSelect="onSelecting"
                @cellValue:onChange="onChangeCellValue"
              >
              </select-product>
            </div>
          </div>
        </div>
      </div>
      <CheckDelete
        id="checkDeleteItem"
        :title="'Item'"
        @confirmDelete="deleteItem"
      />
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <form-group-input
                :placeHolder="'Chuyển kho Hà Nội HCM'"
                type="text"
                label="Ghi chú"
                v-model="form.note"
                :touch="$v.form.note.$touch"
                :invalid="$v.form.note.$error"
                invalidFeedback="Vui lòng nhập ghi chú"
              />
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <label class="d-block mb-0 label ">Trạng thái</label>
                <Select2
                  textField="name"
                  valueField="id"
                  v-model="form.status"
                  :options="listStatus"
                  :invalid="$v.form.status.$error"
                  :invalidFeedback="`Trạng thái không được để trống`"
                >
                </Select2>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <form-group-input
                :placeHolder="'RF02323'"
                type="text"
                label="Tham chiếu"
                v-model="form.ref"
                :touch="$v.form.ref.$touch"
                :invalid="$v.form.ref.$error"
                invalidFeedback="Vui lòng nhập tham chiếu"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- <div class="mt-2 d-flex justify-content-around">
      <button
        type="submit"
        class="btn btn-primary button justify-content-center"
        variant="primary"
        @click="onSubmit"
      >
        {{titleButton}}
      </button>
    </div> -->
  </div>
</template>

<script>
//Validate
import { validationMixin } from "vuelidate";
// import {  BIcon } from 'bootstrap-vue'
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import FormGroupInput from "@/components/form/FormGroupInput";
import SelectProduct from "@/components/product/SelectProduct.vue";
import SelectWarehouse from "@/components/warehouse/SelectWarehouse.vue";
import notification from "@/utils/notification";
import transferService from "@/services/transfer.service.js";
import CheckDelete from "../Product/DeleteConfirm.vue";
import { required, sameAs, not } from "vuelidate/lib/validators";
export default {
  mixins: [validationMixin],
  validations: {
    form: {
      note: { required },
      ref: { required },
      from_warehouse_id: { required },
      to_warehouse_id: {
        required,
        isSameAsFrom: not(sameAs("from_warehouse_id")),
      },
      status: { required },
    },
  },
  props: {
    titleButton: { type: String, default: "Thêm mới" },
    isEdit: { type: Boolean, default: false },
    valueFromWareHouse: { type: Number, default: null },
    valueToWareHouse: { type: Number, default: null },
    transferNote: { type: String, default: "" },
    transferRef: { type: String, default: "" },
    listItem: {
      type: Array,
      default() {
        return [];
      },
    },
    transferId: { type: Number, default: null },
    transferStatus: { type: Number, default: 0 },
  },
  data() {
    return {
      form: {
        note: this.transferNote,
        ref: this.transferRef,
        items: JSON.parse(JSON.stringify(this.listItem)), // nay ne anh. nếu muốn clone thì dùng cách này
        from_warehouse_id: +this.valueFromWareHouse,
        to_warehouse_id: +this.valueToWareHouse,
        status: +this.transferStatus,
      },
      itemDelete: {},
      listStatus: [{ id: 0, name: "Điều chuyển" }],
      iconPrepend: { isShow: true, class: "fas fa-search" },
      columns: [
        new ColumnTable(ColumnType.TEXT, "SKU", "barcode"),
        new ColumnTable(ColumnType.TEXT, "Tên sản phẩm", "name", {
          width: "150px",
        }),
        new ColumnTable(ColumnType.TEXT, "Đơn vị", "unit_name", {
          width: "100px",
        }),
        new ColumnTable(
          ColumnType.INPUT_NUMBER,
          "Số lượng hiện tại",
          "current_number",
          { minValue: 0, width: "200px", disabled: true }
        ),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Điều chỉnh", "adjust", {
          minValue: 0,
          width: "150px",
        }),
        new ColumnTable(ColumnType.TEXT, "Sau điều chỉnh", "afterAdjust", {
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
          width: "150px",
        }),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-close-line",
              (data) => {
                this.onOpenDialogDelete(data);
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
      filterByTest: function (option, label, search) {
        for (const [key, value] of Object.entries(option)) {
          if (
            key == "name" ||
            key == "sku" ||
            key == "brand_name " ||
            key == "category_name" ||
            key == "barcode"
          ) {
            const isSelect =
              (value?.toString() || "")
                .toLowerCase()
                .indexOf(search.toLowerCase()) > -1;
            if (isSelect) {
              return true;
            }
          }
        }
        return false;
      },
    };
  },
  components: {
    SelectProduct,
    SelectWarehouse,
    FormGroupInput,
    CheckDelete,
  },
  mounted() { },

  computed: {
    items() {
      const items = this.$store.getters["transfer/items"]?.items || [];
      let listItem = [];
      if (items) {
        items.forEach((el) => {
          listItem.push({
            id: el.variant_id,
            barcode: el.barcode,
            name: el.product_name,
            unit_name: el.unit_name,
            current_number: el.current_number,
            adjust: el.number,
            afterAdjust: +el.current_number - +el.number,
          });
        });
      }

      return listItem;
    },
  },
  methods: {
    onOpenDialogDelete(e) {
      this.itemDelete = e;
      this.$bvModal.show("checkDeleteItem");
    },
    validate() {
      //
      this.$v.$touch();
      return !this.$v.$invalid;
    },
    async onSubmit() {
      if (!this.validate()) return;
      if (this.isEdit) {
        this.form.items.forEach((item) => {
          if (!this.listItem.find((r) => r.id === item.id)) {
            const dataAdd = {
              variant_id: +item.id,
              number: +item.adjust,
              current_number: +item.current_number,
            };
            // this.$store.dispatch('transfer/addItem',{id:+this.transferId, data:dataAdd})
            transferService.addItem(+this.transferId, dataAdd);
          } else {
            const r = this.listItem.find((r) => r.id === item.id);
            if (item.adjust != r.adjust) {
              const dataUpdate = {
                variant_id: item.id,
                number: item.adjust,
              };
              // this.$store.dispatch('transfer/updateItem',{id:+this.transferId, data:dataUpdate})
              transferService.updateItem(+this.transferId, dataUpdate);
            }
          }
        });
        this.listItem.forEach((item) => {
          if (!this.form.items.find((r) => r.id === item.id)) {
            // this.$store.dispatch('transfer/deleteItem',{id:+this.transferId, vid:+item.id})
            transferService
              .deleteItem(+this.transferId, +item.id)
          }
        });
        const data = {
          id: +this.transferId,
          status: +this.status,
          from_warehouse_id: this.form.from_warehouse_id,
          to_warehouse_id: this.form.to_warehouse_id,
          ref: this.form.ref,
          note: this.form.note,
        };
        await this.$store
          .dispatch("transfer/updateTransfer", data)
          .then((rs) => {
            if (rs == 1) {
              notification.success("Cập nhật thành công");
              this.$emit("addTransferSuccess");
            }
          });
      } else {
        //add transfer
        if (this.form.items.length == 0) {
          notification.success("Vui lòng thêm một sản phẩm");
          return;
        }
        const data = {
          status: 0,
          transferItems: [],
          from_warehouse_id: this.form.from_warehouse_id,
          to_warehouse_id: this.form.to_warehouse_id,
          ref: this.form.ref,
          note: this.form.note,
        };
        this.form.items.forEach((el) => {
          data.transferItems.push({
            variant_id: +el.id,
            number: +el.adjust,
            current_number: +el.current_number,
          });
        });
        await this.$store.dispatch("transfer/addTransfer", data).then((rs) => {
          if (rs == 1) {
            notification.success("Thêm thành công");
            this.$emit("addTransferSuccess");
          }
        });
      }
      this.$bvModal.hide("TransferAddEdit");
    },
    onChangeCellValue(data) {
      const row = this.form.items.find((r) => r.id === data.currentRow.id);
      row[data.field] = data.value;
      if (row.adjust > row.current_number) {
        notification.error(
          "Số lượng điều chuyển không được lớn hơn số lượng hiện có"
        );
        row.adjust = row.current_number;
      }
      row.afterAdjust = row.current_number - row.adjust;
    },
    onSelecting(selectedOption) {
      if (!this.form.items.find((r) => r.id === selectedOption.id)) {
        this.form.items.push({
          id: selectedOption.id,
          barcode: selectedOption.barcode,
          name: selectedOption.name,
          unit_name: selectedOption.unit_name,
          current_number: selectedOption.current_number,
          adjust: 0,
          afterAdjust: 0,
        });
      }
    },
    deleteItem() {
      // if(this.isEdit){
      //   transferService.deleteItem(+this.transferId,this.deleteItem.id).then((rs)=>{
      //     if(rs.code == 1){
      //       notification.success('Xóa thành công')
      //       this.form.items.splice(this.form.items.find(r => r.id === this.deleteItem.id),1)
      //     } else{
      //       notification.error('Xóa thất bại')
      //     }
      //   })
      // } else {
      this.form.items.splice(
        this.form.items.find((r) => r.id === this.deleteItem.id),
        1
      );
      notification.success("Xóa thành công");
      // }
      this.$bvModal.hide("checkDeleteItem");
    },
  },
};
</script>

<style scoped>
.label {
  margin-bottom: 2px !important ;
}
</style>
