<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 py-2 d-flex justify-content-end">
        <button class="btn btn-primary" @click="openModalAdd">
          Thêm điều chuyển
        </button>
        <Dialog
          id="TransferAddEdit"
          :title="titleTransferAddEdit"
          size="lg"
          :onSubmit="onAddEditTransfer"
          :titleBtnSubmit="isEdit ? 'Cập nhật' : 'Thêm mới'"
        >
          <template v-slot:modal-body>
            <TransferAddEdit
              ref="addEditTransfer"
              :titleButton="titleButton"
              :dataTransfer="dataTransfer"
              :isEdit="isEdit"
              :valueFromWareHouse="valueFromWareHouse"
              :valueToWareHouse="valueToWareHouse"
              :transferRef="transferRef"
              :transferNote="transferNote"
              :transferId="transferId"
              :listItem="listItems"
              :transferStatus="status"
              @addTransferSuccess="updateListTransfer"
            />
          </template>
        </Dialog>
        <CheckDelete
          id="checkDeleteTransfer"
          :title="'đơn điều chuyển'"
          @confirmDelete="deleteTransfer"
        />
      </div>
      <div class="col-lg-12">
        <div class="table-responsive rounded">
          <TableList
            :columns="columns"
            :rows="transfers"
            :line-number="true"
            :searchOption="searchOption"
            :total="totalElement"
            @onPageChange="onPageChange"
            @onPerPageChange="onPerPageChange"
          >
            >
          </TableList>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import TransferAddEdit from "./TransferAddEdit.vue";
import transferService from "@/services/transfer.service.js";
import notification from "@/utils/notification";
import CheckDelete from "../Product/DeleteConfirm.vue";
import constants from "@/config/constants";
export default {
  components: {
    TransferAddEdit,
    CheckDelete,
  },
  mounted() {
    this.loadData();
  },
  computed: {
    transferData() {
      return this.$store.getters["transfer/transfers"];
    },
    transfers() {
      // let transfer = this.transferData
      // if(transfer){
      //   transfer.items.forEach(el => {
      //   el.created_at = this.getTimeFromDateCreateToNow(el.created_at)
      //   });
      // }

      return this.transferData?.items || [];
    },
    totalElement() {
      return this.transferData?.pagination.totalElements || 0;
    },
    items() {
      const items = this.$store.getters["transfer/items"]?.items;
      let listItem = [];
      if (items) {
        items.forEach((el) => {
          listItem.push({
            id: el.variant_id,
            barcode: el.barcode,
            name: el.product_name,
            unit_name: el.unit_name,
            current_number: el.current_number,
            adjust: el.number,
            afterAdjust: +el.current_number - +el.number,
          });
        });
      }

      return listItem;
    },
  },

  data() {
    return {
      titleTransferAddEdit: "Thêm mới điều chuyển",
      titleButton: "Thêm mới",
      dataTransfer: {},
      searchOption: {
        enabled: true,
      },
      idTransferDelete: null,
      valueFromWareHouse: null,
      valueToWareHouse: null,
      transferRef: "",
      transferNote: "",
      transferId: null,
      isEdit: false,
      status: null,
      listItems: [],
      page: 0,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      columns: [
        new ColumnTable(ColumnType.TEXT, "Mã điều chuyển", "code"),
        new ColumnTable(ColumnType.TEXT, "Từ kho", "from_warehouse_name"),
        new ColumnTable(ColumnType.TEXT, "Đến kho", "to_warehouse_name"),
        new ColumnTable(ColumnType.DATE, "Ngày điều chuyển", "created_at"),
        new ColumnTable(ColumnType.TEXT, "Số lượng", "number"),
        new ColumnTable(ColumnType.TEXT, "Ghi chú", "note"),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (data) => {
                this.openModalEdit(data.id);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (data) => {
                this.onOpenDialogDelete(data.id);
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
    };
  },
  methods: {
    loadData() {
      this.$store
        .dispatch("transfer/getTransfers", {
          page: this.page,
          pageSize: this.pageSize,
        })
    },
    updateListTransfer() {
      this.$store
        .dispatch("transfer/getTransfers", {
          page: this.page,
          pageSize: this.pageSize,
        })
    },
    onOpenDialogDelete(e) {
      this.idTransferDelete = e;
      this.$bvModal.show("checkDeleteTransfer");
    },
    onPageChange(params) {
      this.page = +params - 1;
      this.$store.dispatch("transfer/getTransfers", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.$store.dispatch("transfer/getTransfers", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    async openModalEdit(data) {
      var rs = this.transfers.filter((rs) => rs.id === data);
      this.dataTransfer = { ...rs[0] };

      this.titleTransferAddEdit = "Sửa đơn điều chuyển";
      this.titleButton = "Cập nhật";
      this.isEdit = true;
      this.valueFromWareHouse = rs[0].from_warehouse_id;
      this.valueToWareHouse = rs[0].to_warehouse_id;
      this.transferRef = rs[0].ref;
      this.transferNote = rs[0].note;
      this.transferId = rs[0].id;
      this.status = rs[0].status;
      await this.$store
        .dispatch("transfer/getItems", {
          id: +rs[0].id,
          page: 0,
          pageSize: this.pageSize,
        })
        .then(async (result) => {
          await this.$store
            .dispatch("transfer/getItems", {
              id: +rs[0].id,
              page: 0,
              pageSize: result.pagination.totalElements,
            })
        });
      this.listItems = this.items;
      this.$bvModal.show("TransferAddEdit");
    },
    openModalAdd() {
      this.titleTransferAddEdit = "Thêm mới điều chuyển";
      this.titleButton = "Thêm mới";
      this.isEdit = false;
      this.valueFromWareHouse = null;
      this.valueToWareHouse = null;
      this.transferRef = "";
      this.transferNote = "";
      this.transferId = null;
      this.status = 0;
      this.listItems = [];
      this.$bvModal.show("TransferAddEdit");
    },

    getTimeFromDateCreateToNow(date) {
      if (!date) {
        return;
      }
      // return moment(new Date(date)).fromNow()
      return moment(date).format("DD/MM/YYYY");
    },
    deleteTransfer() {
      transferService.deleteTransfer(this.idTransferDelete).then(async (rs) => {
        if (rs == 1) {
          notification.success("Xóa thành công");
          this.$bvModal.hide("checkDeleteTransfer");
          this.updateListTransfer();
        }
        this.$bvModal.hide("checkDeleteTransfer");
      });
    },
    onAddEditTransfer() {
      this.$refs.addEditTransfer.onSubmit();
    },
  },
};
</script>
<style scoped>
.header {
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  margin-bottom: 20px;
}
.modal-body {
  padding: 10px 30px 15px 30px !important;
}
</style>
