<template>
  <div class="signup-form">
    <b-form @submit.prevent="onSubmit">
      <div class="">
        <div class="">
          <div class="container">
            <b-row class="">
              <b-col
                lg="6"
                sm="12"
              >
                <div class="form-group">
                  <label>Kho cha</label>
                  <Treeselect
                    v-model="warehouse.parent_id"
                    noChildrenText="No"
                    :normalizer="normalizer"
                    placeholder="Chọn kho cha"
                    :multiple="false"
                    :options="getWarehouses"
                  />

                  <div class="invalid-feedback">
                    Vui lòng chọn kho cha
                  </div>
                </div>
              </b-col>
              <b-col
                lg="6"
                sm="12"
              >
                <div class="form-group">
                  <label>Tên kho</label>
                  <input
                    type="text"
                    v-model="warehouse.name"
                    @change="$v.warehouse.name.$touch()"
                    @blur="$v.warehouse.name.$touch()"
                    :class="
                      `form-control ${
                        $v.warehouse.name.$error ? 'is-invalid' : ''
                      }`
                    "
                    data-errors="Nhập tên kho"
                  />
                  <div class="invalid-feedback">
                    Vui lòng nhập tên kho
                  </div>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-col class="px-0">
                  <div class="form-group">
                    <label>Mô tả</label>
                    <input
                      type="text"
                      v-model="warehouse.description"
                      class="form-control"
                      data-errors="Nhập mô tả"
                    />
                    <div class="invalid-feedback">
                      Vui lòng nhập mô tả
                    </div>
                  </div>
                </b-col>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                lg="6"
                sm="12"
              >
                <div class="form-group">
                  <label>Số điện thoại</label>
                  <input
                    type="text"
                    v-model="warehouse.phone"
                    @input="checkValidatePhoneNumber"
                    @blur="checkValidatePhoneNumber"
                    :class="
                      `form-control ${
                        $v.warehouse.phone.$error || validPhoneNumber
                          ? 'is-invalid'
                          : ''
                      }`
                    "
                  />
                  <div class="invalid-feedback">
                    Vui lòng nhập số điện thoại hợp lệ
                  </div>
                </div>
              </b-col>
              <b-col
                lg="6"
                sm="12"
              >
                <div class="form-group">
                  <label>Mã kho</label>
                  <input
                    type="text"
                    id="warehouseCode"
                    v-model="warehouse.code"
                    @change="$v.warehouse.code.$touch()"
                    @blur="$v.warehouse.code.$touch()"
                    :class="
                      `form-control ${
                        $v.warehouse.code.$error ? 'is-invalid' : ''
                      }`
                    "
                  />
                  <div class="invalid-feedback">
                    Vui lòng nhập mã kho
                  </div>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                lg="6"
                sm="12"
              >
                <div class="form-group">
                  <label>
                    Tỉnh/Thành phố
                  </label>
                  <Select2
                    v-model="warehouse.province_id"
                    valueField="id"
                    textField="name"
                    :invalid="$v.warehouse.province_id.$error"
                    :options="getProvinces"
                    @input="changeProvince()"
                    invalidFeedback=" Vui lòng chọn Tỉnh/Thành phố"
                  >
                  </Select2>
                  <div class="invalid-feedback">
                    Vui lòng chọn Tỉnh/Thành phố
                  </div>
                </div>
              </b-col>
              <b-col
                lg="6"
                sm="12"
              >
                <div class="form-group">
                  <label>
                    Quận/Huyện
                  </label>
                  <Select2
                    v-model="warehouse.district_id"
                    valueField="id"
                    textField="name"
                    :invalid="district_id"
                    :options="getDistricts"
                    @input="changeDistrict"
                    invalidFeedback="Vui lòng chọn Quận/Huyện"
                  >
                  </Select2>
                  <div class="invalid-feedback">
                    Vui lòng chọn Quận/Huyện
                  </div>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                lg="6"
                sm="12"
              >
                <div class="form-group">
                  <label>
                    Phường/Xã
                  </label>
                  <Select2
                    v-model="warehouse.ward_id"
                    valueField="id"
                    textField="name"
                    :invalid="ward_id"
                    :options="getWards"
                    @input="onChangeWard"
                    invalidFeedback="Vui lòng chọn Phường/Xã"
                  >
                  </Select2>
                  <div class="invalid-feedback">
                    Vui lòng chọn Phường/Xã
                  </div>
                </div>
              </b-col>
              <b-col
                lg="6"
                sm="12"
              >
                <div class="form-group">
                  <label>Địa chỉ</label>
                  <input
                    type="text"
                    v-model="warehouse.address"
                    @blur="$v.warehouse.address.$touch()"
                    @change="$v.warehouse.address.$touch()"
                    :class="
                      `form-control ${
                        $v.warehouse.address.$error ? 'is-invalid' : ''
                      }`
                    "
                  />
                  <div class="invalid-feedback">
                    Vui lòng nhập địa chỉ
                  </div>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <div class="form-group">
                  <label>
                    Chọn vị trí trên bản đồ
                  </label>
                  <g-map
                    v-model="warehouse.marker"
                    @dragend="onDrag"
                  />
                </div>
              </b-col>
            </b-row>
          </div>
        </div>
        <b-row
          class="mt-3"
          v-if="warehouse.id != null"
        >
          <b-col lg="12">
            <div class="justify-content-center d-flex">
              <b-button
                type="submit"
                class="btn btn-primary"
                variant="primary"
              >Cập nhật</b-button>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-form>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, alphaNum } from "vuelidate/lib/validators";
import GMap from "@/components/map/Map.vue";
import notification from "@/utils/notification";
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
export default {
  mixins: [validationMixin],
  validations: {
    warehouse: {
      address: { required },
      code: { required },
      name: { required },
      phone: { required, alphaNum },
      province_id: { required },
      district_id: { required },
      ward_id: { required },
    },
  },
  mounted() {
    this.loadData();
  },
  components: {
    GMap,
    Treeselect,
  },
  computed: {
    getProvinces() {
      return this.$store.getters["address/provinces"].map((f) => ({ ...f }));
    },
    getDistricts() {
      console.log('getDistrictfghfgdhfgdhfgs', this.warehouse.id != null ? this.$store.getters["address/districts"].map((f) => ({ ...f })) : this.$store.getters["address/districtsAdd"] != null ? JSON.parse(JSON.stringify(this.$store.getters["address/districtsAdd"])) : []);
      return this.warehouse.id != null ? this.$store.getters["address/districts"].map((f) => ({ ...f })) : this.$store.getters["address/districtsAdd"] != null ? JSON.parse(JSON.stringify(this.$store.getters["address/districtsAdd"])) : [];
    },
    getWards() {
      return this.warehouse.id != null ? this.$store.getters["address/wards"].map((f) => ({ ...f })) : this.$store.getters["address/wardsAdd"] != null ? JSON.parse(JSON.stringify(this.$store.getters["address/wardsAdd"])) : [];
    },
    getWarehouses() {
      return [
        { id: -1, name: "Kho cha mới" },
        ...this.$store.getters["warehouse/warehouses"],
      ];
    },
    getCurrentWarehouse() {
      return this.$store.getters["warehouse/currentWarehouse"];
    },
  },
  data() {
    return {
      normalizer(node) {
        if (!node.sub_warehouses) delete node.sub_warehouses;
        return {
          id: node.id,
          label: node.name,
          children: node.sub_warehouses,
        };
      },
      ward_id: false,
      district_id: false,
      validPhoneNumber: false,
      test: null,
      listDistrict: [],
      listWard: [],
      listProvines: [],
      isUpdate: false,
      test2: []
    };
  },
  props: {
    warehouse: {
      type: Object,
      default() {
        return {
          address: { type: String, default: "" },
          code: { type: String, default: "" },
          type: { type: String, default: "" },
          id: { type: Number, default: -1 },
          description: { type: String, default: "" },
          parent_id: { type: Number, default: null },
          name: { type: String, default: "" },
          phone: { type: String, default: "" },
          province_id: { type: Number, default: -1 },
          district_id: { type: Number, default: -1 },
          ward_id: { type: Number, default: -1 },
          marker: {
            default: null,
          },
        };
      },
    },
  },

  methods: {
    checkValidatePhoneNumber() {
      const pattern = new RegExp("^([0-9]){8,10}$");
      this.validPhoneNumber = !pattern.test(this.warehouse.phone);
      this.$v.warehouse.phone.$touch();
    },
    onDrag(e) {
      this.warehouse.marker = e;
    },
    checkValidInput() {
      console.log('asdsad');
      this.district_id =
        this.warehouse.district_id === 0 || this.warehouse.district_id === -1 || this.warehouse.district_id === null
          ? true
          : false;
      this.ward_id =
        this.warehouse.ward_id === 0 || this.warehouse.ward_id === -1 || this.warehouse.ward_id === null
          ? true
          : false;
      return this.warehouse.district_id === 0 || this.warehouse.ward_id === 0
        ? true
        : false;
    },
    async loadData() {
      this.isUpdate = this.warehouse.id != null
      await this.$store.dispatch("warehouse/getWarehouses").then(() => { });
      console.log('isUpdate', this.isUpdate);
      if (this.isUpdate) {
        this.$store.dispatch("address/setDistricts", []);
        this.$store.dispatch("address/setWards", []);
      } else {
        this.$store.dispatch("address/setDistrictsAdd", []);
        this.$store.dispatch("address/setWardsAdd", []);
      }
    },
    async changeProvince() {
      if (this.warehouse.province_id == 0) {
        return;
      }
      await this.$store
        .dispatch("address/getDistrictsAddEdit", { province_id: this.warehouse.province_id, isUpdate: this.isUpdate })
        .then(async (rs) => {
          if (!this.isUpdate) this.listDistrict = rs
          if (this.getDistricts[0]) {
            await this.$store.dispatch(
              "address/getWardsAddEdit",
              { ward_id: this.getDistricts[0].id, isUpdate: this.isUpdate }
            ).then(r => { if (!this.isUpdate) this.listWard = r });
          }
        });
    },
    async changeDistrict() {
      if (this.warehouse.district_id == 0) {
        return;
      }
      await this.$store.dispatch(
        "address/getWardsAddEdit", { ward_id: this.warehouse.district_id, isUpdate: this.isUpdate }
      ).then(r => { if (!this.isUpdate) this.listWard = r });
      this.onChangeDistrict();
    },
    changeWard() { },
    onChangeDistrict() {
      if (this.warehouse.province_id === 0 || this.warehouse.province_id === -1)
        return;
      this.district_id = this.warehouse.district_id === 0 ? true : false;
    },

    onChangeWard() {
      if (this.warehouse.province_id == 0 ||
        this.warehouse.province_id === -1 ||
        this.warehouse.district_id == 0 ||
        this.warehouse.district_id == -1
      )
        return;
      this.ward_id = this.warehouse.ward_id === 0 ? true : false;
    },
    onSubmit() {
      if (!this.validation()) return;
      if (this.checkValidInput()) return;
      let data = {
        parent_id:
          this.warehouse.parent_id === -1 ? null : this.warehouse.parent_id,
        code: this.warehouse.code,
        type: this.warehouse.type != undefined ? this.warehouse.type : "eu",
        name: this.warehouse.name,
        phone: this.warehouse.phone,
        province_id: this.warehouse.province_id,
        district_id: this.warehouse.district_id,
        ward_id: this.warehouse.ward_id,
        description: this.warehouse.description,
        address: this.warehouse.address,
        lat:
          this.warehouse.marker?.lat != undefined
            ? this.warehouse.marker?.lat
            : 10.77965042604052,
        lon:
          this.warehouse.marker?.lng != undefined
            ? this.warehouse.marker?.lng
            : 106.69458087785478,
      };
      this.warehouse.id === undefined ? null : (data.id = this.warehouse.id);
      if (this.warehouse.id != null) {
        this.$store.dispatch("warehouse/updateWarehouse", data).then((rs) => {
          if (rs == 1) {
            this.$emit('reloadWarehouses')
            notification.success("Cập nhật thành công");
          }
        });
      } else {
        this.$store.dispatch("warehouse/addWarehouse", data).then((rs) => {
          if (rs == 1) {
            this.$emit('reloadWarehouses')
            notification.success("Thêm thành công");
            this.$bvModal.hide("AddWarehouse");
          }
        });
      }
    },
    validation() {
      this.$v.$touch();
      this.checkValidInput();
      return !this.$v.$invalid;
    },
  },
};
</script>

<style lang="scss">
// .signup-form {
//   width: 50%;
// }
.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.vue-treeselect__control {
  height: 45px !important;
}
.vue-treeselect__single-value {
  color: #676e8a;
}
.vue-treeselect__control-arrow {
  width: 9px;
  height: 9px;
  color: #ccc;
}
</style>
