<template>
  <div class="main">
    <div class="main__body">
      <b-col cols="3">
        <div class="main__left">
          <h6 class="header-left">Danh sách kho</h6>
          <ListWarehouse
            ref="refListWarehouse"
            @changeWarehouse="setWarehouse"
          ></ListWarehouse>
        </div>
      </b-col>

      <b-col cols="9">
        <div class="w-100 text-right mb-3">
          <b-button
            variant="primary"
            @click="openModalAdd"
          >
            Thêm mới nhà kho
          </b-button>
          <Dialog
            id="AddWarehouse"
            :title="'Thêm mới nhà kho'"
            size="lg"
            :onSubmit="onAddEWarehouse"
            :title-btn-submit="'Thêm mới'"
          >
            <template v-slot:modal-body>
              <add-edit-warehouse
                @reloadWarehouses="reloadWareHouses"
                ref="addWarehouse"
                :warehouse="propWarehouse"
              >
              </add-edit-warehouse>
            </template>
          </Dialog>
        </div>

        <b-card>
          <add-edit-warehouse
            @reloadWarehouses="reloadWareHouses"
            :warehouse="dataWarehouse"
          > </add-edit-warehouse>
        </b-card>
      </b-col>
    </div>
  </div>
</template>
<script>
import ClickOutside from "vue-click-outside";
import AddEditWarehouse from "./AddEditWarehouse.vue";
import ListWarehouse from "@/components/warehouse/ListWarehouse.vue";

export default {
  components: {
    ListWarehouse,
    AddEditWarehouse,
  },
  directives: {
    ClickOutside,
  },
  mounted() {
    this.loadData();
  },

  data() {
    return {
      propWarehouse: {},
      dataWarehouse: {
        address: "",
        code: "",
        type: "",
        id: -1,
        parent_id: -1,
        name: "",
        phone: "",
        province_id: -1,
        district_id: -1,
        ward_id: -1,
        marker: {
          lat: -1,
          lng: -1,
        },
      },
    };
  },
  computed: {
    getProvinces() {
      return this.$store.getters["address/provinces"].map((f) => ({ ...f }));
    },
    getDistricts() {
      return this.$store.getters["address/districts"].map((f) => ({ ...f }));
    },
    getWards() {
      return this.$store.getters["address/wards"].map((f) => ({ ...f }));
    },
    getWarehouses() {
      return this.$store.getters["warehouse/warehouses"];
    },
    getCurrentWarehouse() {
      return this.$store.getters["warehouse/currentWarehouse"];
    },
  },
  methods: {
    reloadWareHouses() {

      this.$refs["refListWarehouse"].loadData()
      console.log('hereee');
    },
    openModalAdd() {
      this.propWarehouse = {
        parent_id: null
      }
      this.$bvModal.show("AddWarehouse");
    }
    ,
    async loadData() {
      await this.$store.dispatch("warehouse/getWarehouses").then(() => { });
      this.$store.dispatch("address/setDistricts", []);
      this.$store.dispatch("address/setWards", []);

      this.$store.dispatch("address/getProvinces").then(async () => {
        if (this.getWarehouses) {
          this.setWarehouse(this.getWarehouses[0].id);
        }
      });
    },
    setWarehouse(warehouse_id) {
      this.$store
        .dispatch("warehouse/getWarehouseDetails", warehouse_id)
        .then((rs) => {
          this.dataWarehouse.id = rs.id;
          this.dataWarehouse.parent_id = rs.parent_id;
          this.dataWarehouse.name = rs.name;
          this.dataWarehouse.address = rs.address;
          this.dataWarehouse.code = rs.code;
          this.dataWarehouse.type = rs.type;
          this.dataWarehouse.phone = rs.phone;
          this.dataWarehouse.description = rs.description;
          this.dataWarehouse.province_id = rs.province_id;
          this.dataWarehouse.marker = {
            lat: rs.lat ? rs.lat : 10.77965042604052,
            lng: rs.lon ? rs.lon : 106.69458087785478,
          };
          this.changeProvince().then(async () => {
            this.dataWarehouse.district_id = rs.district_id;
            await this.$store
              .dispatch("address/getWards", +rs.district_id)
              .then(() => {
                this.dataWarehouse.ward_id = rs.ward_id;
              });
          });
        });
    },
    async changeProvince() {
      if (this.dataWarehouse.province_id == 0) {
        return;
      }
      await this.$store
        .dispatch("address/getDistricts", this.dataWarehouse.province_id)
        .then(async () => {
          if (this.getDistricts[0]) {
            await this.$store.dispatch(
              "address/getWards",
              this.getDistricts[0].id
            );
          }
        });
    },
    onAddEWarehouse() {
      this.$refs.addWarehouse.onSubmit();
    },
  },
};
</script>
<style lang="scss" scoped>
.main {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  background-color: #f9f9f9;
}
.main__header {
  display: flex;
  justify-content: flex-end;
  padding: 16px 18px;
  .v-select {
    .v-select-toggle {
      color: #fff !important;
    }
  }
}
.main__body {
  display: flex;
}

.main__right {
  width: 80%;
  padding: 0px 18px;
}

.active {
  color: #2040eb;
}
.main__right__title {
  font-weight: bold;
  font-size: 24px;
  color: #242424;
}
.main__right__form {
  background: #ffffff;
  border-radius: 22px;
}
.row {
  margin-bottom: 10px;
}
.main__right__form__title {
  font-size: 16px;
  color: #131313;
  margin-bottom: 5px;
}
.main__right__button {
  display: flex;
  justify-content: center;
  margin-top: 21px;
}
.btn-header {
  margin-left: 15px;
}
.dropdown-role-access {
  margin-left: 15px;
  .dropdown-toggle {
    background-color: #32bdea !important;
    border-color: #32bdea !important;
  }
}
.btn-update {
  width: 237px;
  height: 50px;
}
.select {
  background: #eaeaea;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: none;
  padding: 5px;
}
.select-role {
  width: 200px !important;
  background-color: #32bdea !important;
  border-color: #32bdea !important;
}
.select-input {
  margin: 0;
}

.selectpicker {
  padding: 5px !important;
}
.card-header {
  border: solid 1px #eaeaea;
  padding: 0 !important;
}
.card-header {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background: #7ee2ff;
  color: #000000;
  border: none;
}
.header-left {
  padding-top: 1rem;
  padding-left: 2rem;
}
.main__left {
  margin-top: 3.4rem;
  max-width: 400px;
  width: 250px;
  background: #ffffff !important;
  border-radius: 22px;
  padding: 0 !important;
  margin-bottom: 20px;
}
</style>
