.iq-sidebar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 260px;
  height: 100%;
  background: $body-bg;
  @if $enable-transitions == true {
    @include transition-mixin(all 0.6s ease-in-out);
  }
  @if $enable-shadows == true {
    @include shadow-mixin(0px 16px 15px 0px rgba(0, 0, 0, 0.07));
  }
}

#sidebar-scrollbar {
  height: 95vh;
}
.scroll-content {
  div.p-3 {
    height: 100px;
  }
}
.iq-sidebar-menu {
  .iq-menu {
    .iq-menu-title {
      display: block;
      color: $bodytext;
      font-size: 15px;
      position: relative;
      padding: 15px;
      font-weight: 500;
      line-height: 18px;
      i {
        display: none;
      }
    }
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      list-style-type: none;
      position: relative;
      white-space: nowrap;

      li {
        margin: 0;
        background: transparent !important;
        a {
          font-size: 16px;
        }
      }
      a {
        // font-size: 16px;
        // white-space: nowrap;
        // display: block;
        // color: $bodytext;
        // position: relative;
        // padding: 15px 20px 15px 20px;
        // margin-bottom: 5px;
        // margin-right: 10px;
        // line-height: 18px;
        // display: -webkit-box;
        // display: -ms-flexbox;
        // display: flex;
        // -webkit-box-align: center;
        // -ms-flex-align: center;
        // align-items: center;
        // overflow: hidden;
        // text-transform: capitalize;
        @if $enable-rounded == true {
          @include radius-mixin($border-radius-right);
        }
        i {
          vertical-align: middle;
          width: 20px;
          display: inline-block;
          margin-right: 8px;
          font-size: 16px;
        }
        span {
          white-space: nowrap;
          padding: 0;
          display: inline-block;
          @if $enable-transitions == true {
            @include transition-mixin(none);
          }
        }
        .iq-arrow-right {
          margin-right: 0px;
          margin-left: auto;
          font-size: 15px;
          width: 15px;
          @if $enable-transitions == true {
            @include transition-mixin(all 0.6s ease-in-out);
          }
        }
        .badge {
          position: absolute;
          right: 15px;
          @if $enable-transitions == true {
            @include transition-mixin(all 0.6s ease-in-out);
          }
        }
        .list-dot {
          position: relative;
          padding-left: 25px;

          &:before {
            content: "";
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: $body-text;
            position: absolute;
            top: 6px;
            left: 0;
          }
        }
      }
      a[aria-expanded="true"] {
        .iq-arrow-right {
          @if $enable-transitions == true {
            @include transition-mixin(all 0.6s ease-in-out);
          }
        }
      }
      ul {
        padding-left: 0;
        position: relative;
      }
      .iq-submenu {
        li {
          a[aria-expanded="true"] {
            box-shadow: none;
          }
        }
      }
    }
    li.active-menu {
      > a {
        color: $primary;
        text-decoration: none;
        border-radius: 0;
        transition: none;
      }
    }
    li.active {
      .iq-submenu {
        li {
          > a {
            background: transparent;
          }
        }
      }
    }
  }
  position: relative;
  padding: 0;
  margin: 0;
}
.sidebar-main {
  .iq-sidebar-menu {
    .iq-menu {
      li {
        a {
          margin-right: unset;
          border-radius: unset;
        }
      }
    }
  }
}
.sidebar-default {
  .iq-sidebar-menu {
    .iq-menu {
      li {
        a {
          &:hover {
            color: $dark;

            svg {
              color: $secondary;
            }
          }
        }
        a[aria-expanded="true"] {
          color: $secondary;
          text-decoration: none;
          transition: none;
          i.iq-arrow-left {
            color: $secondary;
          }
        }
        .iq-submenu {
          li {
            a {
              &:hover {
                background: transparent;
                color: $dark;
              }
            }
          }
        }
        ul {
          a {
            &:hover {
              color: $primary;
              text-decoration: none;
              background: transparent;
            }
          }
          li {
            a {
              padding-left: 40px;
            }
          }
          ul {
            li {
              > a {
                padding-left: 60px;
              }
            }
            ul {
              li {
                > a {
                  padding-left: 80px;
                }
              }
            }
          }
        }
        ul.iq-submenu-data {
          li {
            margin: 0;
          }
        }
      }
      > li.active {
        > a {
          color: $dark;
          text-decoration: none;
          background: $light-gray;

          svg {
            color: $secondary;
          }
        }
        // >a {
        // 	color: $primary;
        // 	text-decoration: none;
        // 	background: $primary-light;
        // }
      }
      li.active {
        .iq-submenu {
          li.active {
            > a {
              color: $dark;
              border-radius: 0;
              svg {
                color: $secondary;
              }
            }
          }
          li {
            &:last-child {
              > a {
                @if $enable-rounded == true {
                  @include radius-mixin($border-radius-bottom);
                }
              }
            }
            a[aria-expanded="true"] {
              box-shadow: none;
              color: $dark;
              svg {
                color: $secondary;
              }
            }
          }
        }
      }
      .iq-submenu {
        .iq-submenu-data {
          box-shadow: none;
        }
      }
    }
  }
  .iq-sidebar {
    .iq-sidebar-menu {
      .iq-menu {
        .iq-submenu {
          li {
            &:before {
              content: "";
              width: 3px;
              height: 35px;
              background: $primary;
              position: absolute;
              left: 30px;
              top: 8px;
              @if $enable-rounded == true {
                @include radius-mixin($border-radius);
              }
              @include opacity-mixin(0);
            }
          }
          li.active {
            &:before {
              @include opacity-mixin(1);
            }
          }
        }
        li.active {
          ul.iq-submenu {
            .iq-submenu {
              &:before {
                left: 48px;
                width: 2px;
              }
              li {
                &::before {
                  left: 48px;
                  width: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
  .sidebar-main {
    .iq-sidebar-menu {
      .iq-menu {
        li {
          ul {
            padding-left: 0;
          }
        }
      }
    }
  }
  .sidebar-bottom {
    padding: 120px 15px 0px !important;
    .sidebarbottom-content {
      text-align: center;
    }
    .image {
      margin-top: -30px;
    }
  }
}

.iq-sidebar-menu {
  .iq-menu {
    li {
      a {
        .iq-arrow-right.arrow-active {
          @include opacity-mixin(1);
          @include transform-mixin(rotate(0deg));
          @if $enable-transitions == true {
            @include transition-mixin(all 0.3s ease-in-out);
          }
          display: inline;
        }
      }
      a[aria-expanded="true"] {
        .iq-arrow-right.arrow-active {
          @include opacity-mixin(1);
          display: inline;
          @include transform-mixin(rotate(180deg));
          @if $enable-transitions == true {
            @include transition-mixin(all 0.3s ease-in-out);
          }
        }
        .iq-arrow-right.arrow-hover {
          @include opacity-mixin(1);
          @include transform-mixin(rotate(180deg));
          @if $enable-transitions == true {
            @include transition-mixin(all 0.3s ease-in-out);
          }
        }
      }
    }
  }
}
.btn {
  &.sidebar-bottom-btn {
    background: $body-title !important;
    color: $white !important;
  }
}
.iq-menu-bt-sidebar {
  line-height: 26px;
  padding-left: 30px;
  @if $enable-transitions == true {
    @include transition-mixin(all 0.3s ease-in-out);
  }
}
// sidebar logo
.iq-sidebar-logo {
  padding: 15px 20px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  width: auto;
  position: relative;
  @if $enable-transitions == true {
    @include transition-mixin(all 0.6s ease-in-out);
  }
  a {
    display: flex;
    align-items: flex-start;
    transition-delay: 0.2s;
    span {
      margin-left: 10px;
      font-size: 19px;
      line-height: 42px;
      padding-left: 1px;
      letter-spacing: 1.5px;
      font-weight: 600;
      flex: 1;
      @if $enable-transitions == true {
        @include transition-mixin(all 0.6s ease-in-out);
      }
    }
    span.logo-text {
      font-size: 10px;
      letter-spacing: 5px;
    }
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
  img {
    height: 25px;
  }
  .logo-title {
    font-weight: 700;
  }
}
.iq-saidbar-logo {
  img {
    width: 60%;
  }
}

.logo-text {
  color: $bodytext;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
}
.iq-top-navbar {
  .wrapper-menu {
    margin: 0 15px 0 0;
  }
}

.wrapper-menu {
  font-size: 25px;
  text-align: center;
  color: $body-title;
  position: relative;
  @if $enable-transitions == true {
    @include transition-mixin(all 0.6s ease-in-out);
  }
}

@media (min-width: 1300px) {
  .iq-top-navbar {
    .iq-navbar-custom {
      .wrapper-menu {
        display: none;
      }
    }
  }
  body.sidebar-main {
    .iq-sidebar {
      width: 60px;
      .iq-sidebar-menu {
        .iq-menu {
          li {
            a {
              span {
                @include opacity-mixin(0);
                display: none;
                @if $enable-transitions == true {
                  @include transition-mixin(all 0.6s ease-in-out);
                }
              }
              .iq-arrow-right {
                display: none;
              }
            }
          }
          .iq-submenu {
            display: none;
          }
        }
      }
    }
    .iq-sidebar-logo {
      transform: translateX(-100px);
      a {
        span {
          @include opacity-mixin(0);
          display: none;
          @if $enable-transitions == true {
            @include transition-mixin(all 0.6s ease-in-out);
          }
        }
        @include opacity-mixin(0);
        display: flex;
        @if $enable-transitions == true {
          @include transition-mixin(all 0.6s ease-in-out);
        }
      }
    }
    .iq-sidebar-menu {
      .iq-menu {
        li {
          a {
            .badge {
              @include opacity-mixin(0);
              display: none;
              @if $enable-transitions == true {
                @include transition-mixin(all 0.6s ease-in-out);
              }
            }
            .iq-arrow-right {
              margin-right: 0;
              display: none;
            }
            i.iq-arrow-left {
              margin: 0 auto;
            }
          }
          li {
            a {
              i {
                margin: 0 auto;
                text-align: center;
              }
            }
          }
        }
      }
    }
    .sidebar-default {
      .iq-sidebar-menu {
        .iq-menu {
          li {
            ul {
              li {
                a {
                  padding-left: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
  .sidebar-main {
    .iq-sidebar {
      .iq-submenu {
        li {
          a {
            font-size: 0;
          }
        }
      }
      .sidebar-bottom {
        display: none;
      }
    }
  }
}

@media (max-width: 1299px) {
  .iq-sidebar {
    display: inline-block;
    z-index: 99;
    left: -300px;
    top: 0px;
  }
  body.sidebar-main {
    .iq-sidebar {
      width: 260px;
      left: 0;
      z-index: 999;
    }
  }
}
