<template>
    <div>
        <input ref="fileInput" type="file" accept="image/*" :multiple="multiple" class="btn btn-primary btn-add-product" style="display: none" @change="uploadImage">
        <div class="btn btn-primary btn-add-product" @click="uploadSubmit">Thêm ảnh
        </div>
        <div class="image-product">
            <img v-if="this.imageList.length > 0" :src="imageShow" alt="" class="img-thumbnail img">
            <template v-if="this.imageList.length > 0">
                <i v-if="this.imageList.length > 1" class="fas fa-chevron-left arrow-left" @click="preImage"></i>
                <i v-if="this.imageList.length > 1" class="fas fa-chevron-right arrow-right" @click="nextImage"></i>
                <i class="fas fa-times btn-delete" @click="deleteImage"></i>
            </template>
            <div v-if="this.imageList.length == 0" class="no-image">
                <span v-if="!loading">Chọn ảnh sản phẩm</span>
                <div class="text-center">
                    <clip-loader :loading="loading"></clip-loader>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import fileService from '@/services/file.service'
import notification from '@/utils/notification'
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'

export default{
    components: {
        ClipLoader
    },
    props: {
        images: { type: Array, default: () => [] },
        value: { type: Array, default: () => [] },
        multiple: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            selectedImages: [],
            imageIndex: 0,
            imageList: [],
            loading: false
            //imageShow: ''
        }
    },
    computed: {
        imageShow() { 
            return this.imageList && this.imageList.length > 0 ? this.imageList[this.imageIndex]?.url : '' 
        } 
    },
    mounted() {
        this.imageList = this.value
    },
    methods: {
        uploadAllImages(){

        },
        nextImage() {
            if (this.imageIndex == this.imageList.length - 1) {
                this.imageIndex = 0
                //this.imageShow = this.imageList[0].url
                return
            }
            this.imageIndex++
            //this.imageShow = this.imageList[++this.imageIndex].url
        },
        preImage() {
            if (this.imageIndex == 0) {
                this.imageIndex = this.imageList.length - 1
                // this.imageShow = this.imageList[this.imageList.length - 1].url
                return
            }
            this.imageIndex--
            //this.imageShow = this.imageList[--this.imageIndex].url
        },
        deleteImage() {
            if(!this.multiple){
                //this.imageShow = []
                this.imageList = []
            }
            else{
                this.imageList = this.imageList.filter(r => r != this.imageList[this.imageIndex])
                if(this.imageIndex > 0){
                    this.imageIndex--
                }
            }

            this.$emit('input-image', this.imageList)
        },
        uploadSubmit() {
            this.$refs.fileInput.click()
        },
        uploadImage(e) {
            var checkType = false
            var checkSize = false
            e.target.files.forEach(r => {
                if (!r.type.includes("image/")) {
                    checkType = true
                }
                if(r.size > 5 * 1024 * 1024){
                  checkSize = true
                }
            })
            if (checkType) {
                notification.error("Xin vui lòng chỉ chọn hình ảnh")
                return
            }
            if(checkSize){
              notification.error("Xin vui lòng chọn file có kích thước nhỏ hơn 5MB")
              return
            }
            
            this.loading = true
            if(!this.multiple){
                fileService.upload(e.target.files).then(rs => {
                    this.loading = false
                    this.imageList = rs
                    this.$emit('input-image', this.imageList)
                })
            }
            else{
                fileService.upload(e.target.files).then(rs => {
                    this.loading = false
                    rs.forEach(r => {
                        this.imageList.push(r)
                    })
                    this.$emit('input-image', this.imageList)
                })
            }
        }
    }
}
</script>
<style>
.btn-add-product {
width: 100%;
font-size: 14px;
}
.image-product {
    padding-top: 5px;
    justify-content: center;
    display: flex;
}
.btn-delete {
    position: absolute;
    right: 25px;
    top: 55px;
    cursor: pointer;
}
.img {
    height: 180px;
    width: 180px;
}

.arrow-left {
    position: absolute;
    top: 125px;
    left: 0;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    top: 125px;
    right: 0;
    cursor: pointer;
}
.no-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px darkgray;
    height: 180px;
    width: 180px;
}
</style>