<template>
  <div class="bg-white">
    <form>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="cusContactName">Họ tên</label>
            <input
              type="text"
              id="cusContactName"
              :class="
                `form-control ${$v.dataContact.name.$error ? 'is-invalid' : ''}`
              "
              @input="$v.dataContact.name.$touch()"
              @blur="$v.dataContact.name.$touch()"
              v-model="dataContact.name"
              placeholder="Nhập họ và tên"
            />
            <div class="invalid-feedback">
              Vui lòng nhập họ và tên
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="cusContactPhone">Điện thoại</label>
            <input
              type="text"
              id="cusContactPhone"
              :class="
                `form-control ${
                  $v.dataContact.phone.$error || validPhoneNumber
                    ? 'is-invalid'
                    : ''
                }`
              "
              @input="checkValidatePhoneNumber"
              @blur="checkValidatePhoneNumber"
              v-model="dataContact.phone"
              placeholder="Nhập số điện thoại"
            />
            <div class="invalid-feedback">
              Vui lòng nhập số điện thoại hợp lệ
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label for="cusEmail">Email</label>
            <input
              type="text"
              id="cusContactEmail"
              :class="
                `form-control ${
                  $v.dataContact.email.$error ? 'is-invalid' : ''
                }`
              "
              @input="$v.dataContact.email.$touch()"
              @blur="$v.dataContact.email.$touch()"
              v-model="dataContact.email"
              placeholder="Nhập email"
            />
            <div class="invalid-feedback">
              Vui lòng nhập email hợp lệ
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label>Ghi chú</label>
            <textarea
              class="form-control"
              rows="4"
              v-model="dataContact.note"
              placeholder="Nhập ghi chú"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, email, alphaNum } from "vuelidate/lib/validators";
import notification from "@/utils/notification";
export default {
  mixins: [validationMixin],
  validations: {
    dataContact: {
      name: { required },
      email: { required, email },
      phone: { required, alphaNum },
    },
  },
  props: {
    btnSubmitName: { type: String, default: "Thêm mới" },
    isEdit: { type: Boolean, default: false },
    customerId: { type: Number, default: null },
    data: {
      type: Object,
      default() {
        return {
          name: { type: String, default: "" },
          phone: { type: String, default: "" },
          email: { type: String, default: "" },
          note: { type: String, default: "" },
        };
      },
    },
    contactList: {
      default: () => {
        return [];
      },
    },
  },
  data() {
    return {
      dataContact: JSON.parse(JSON.stringify({ ...this.data })),
      validPhoneNumber: false,
    };
  },
  methods: {
    checkValidatePhoneNumber() {
      const pattern = new RegExp("^([0-9]){8,10}$");
      this.validPhoneNumber = !pattern.test(this.dataContact.phone);
      this.$v.dataContact.phone.$touch();
    },
    onSubmit() {
      this.$v.dataContact.$touch();
      if (this.$v.dataContact.$error) {
        return;
      }

      const contact = this.contactList.filter(
        (c) => c.phone == this.dataContact.phone
      );
      if (contact.length > 1) {
        notification.error("Thêm thất bại! Số điện thoại đã tồn tại");
        return;
      } else if (contact.length == 1) {
        if (contact[0] != this.data) {
          notification.error("Thêm thất bại! Số điện thoại đã tồn tại");
          return;
        }
      }

      var newContact = {
        name: this.dataContact.name,
        email: this.dataContact.email,
        phone: this.dataContact.phone,
        note: this.dataContact.note ? this.dataContact.note : "",
      };

      if (!this.isEdit) {
        this.$emit("onCreate", newContact);
        notification.success("Thêm thành công");
        this.$bvModal.hide("ContactAddEdit");
      } else {
        this.$emit("onUpdate", { ...newContact, id: this.dataContact.id });
        notification.success("Cập nhật thành công");
        this.$bvModal.hide("ContactAddEdit");
      }
    },
  },
};
</script>

<style></style>
