<template>
  <div class="bg-white">
    <form>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="groupname">Tên nhóm</label>
            <input
              type="text"
              :class="`form-control ${$v.data.name.$error ? 'is-invalid' : ''}`"
              @input="$v.data.name.$touch()"
              @blur="$v.data.name.$touch()"
              v-model="data.name"
              placeholder="Nhập tên nhóm"
            />
            <div class="invalid-feedback">
              Vui lòng nhập tên nhóm
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="groupId">Mã nhóm</label>
            <input
              type="text"
              :class="`form-control ${$v.data.code.$error ? 'is-invalid' : ''}`"
              @input="$v.data.code.$touch()"
              @blur="$v.data.code.$touch()"
              v-model="data.code"
              placeholder="Nhập mã nhóm"
            />
            <div class="invalid-feedback">
              Vui lòng nhập mã nhóm
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="discount">Chiết khấu</label>
            <input
              type="number"
              class="form-control"
              min="0"
              v-model="data.percentage"
              placeholder="Nhập chiết khấu"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
//Validate
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import notification from "@/utils/notification";
export default {
  mixins: [validationMixin],
  validations: {
    data: {
      code: { required },
      name: { required },
    },
  },
  props: {
    isUpdate: { type: Boolean, default: false },
    // btnSubmitName: { type: String, default: "Thêm mới" },
    data: {
      type: Object,
      default() {
        return {
          id: { type: Number, default: -1 },
          code: { type: String, default: null },
          name: { type: String, default: "" },
          percentage: { type: Number, default: 0 },
        };
      },
    },
    page: { default: null },
    pageSize: { default: null },
  },
  methods: {
    onSubmit() {
      if (!this.$v.$invalid) {
        if (this.isUpdate) {
          this.$store
            .dispatch("customerMgmt/updateCustomerGroup", {
              data: this.data,
              page: this.page,
              pageSize: this.pageSize,
            })
            .then((r) => {
              if (r.code === 1) {
                notification.success("Cập nhập thành công");
                this.$bvModal.hide("CustomerGroupAddEdit");
              }
            });
        } else {
          this.$store
            .dispatch("customerMgmt/addCustomerGroup", {
              data: this.data,
              page: this.page,
              pageSize: this.pageSize,
            })
            .then((r) => {
              if (r.code === 1) {
                notification.success("Thêm thành công");
                this.$bvModal.hide("CustomerGroupAddEdit");
                this.$bvModal.hide("CustomerGroupAdd");
              }
            });
        }
      } else {
        this.$v.data.code.$touch();
        this.$v.data.name.$touch();
        this.$v.data.percentage.$touch();
      }
    },
  },
};
</script>

<style></style>
