<template>
  <div class="bg-white">
    <form>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="label1">Nhãn</label>
            <input
              type="text"
              id="cusAddressLabel"
              class="form-control"
              placeholder="Nhập nhãn"
              @input="$v.dataAddress.label.$touch()"
              @blur="$v.dataAddress.label.$touch()"
              :class="
                `form-control ${
                  $v.dataAddress.label.$error ? 'is-invalid' : ''
                }`
              "
              v-model="dataAddress.label"
            />
            <div class="invalid-feedback">
              Vui lòng nhập địa chỉ
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="cusAddressName">Họ và tên</label>
            <input
              type="text"
              id="cusAddressName"
              class="form-control"
              placeholder="Nhập họ và tên"
              @input="$v.dataAddress.name.$touch()"
              @blur="$v.dataAddress.name.$touch()"
              :class="
                `form-control ${$v.dataAddress.name.$error ? 'is-invalid' : ''}`
              "
              v-model="dataAddress.name"
            />
            <div class="invalid-feedback">
              Vui lòng nhập họ và tên
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label for="label2">Địa chỉ</label>
            <input
              type="text"
              id="cusAddress"
              class="form-control"
              placeholder="Nhập địa chỉ"
              @input="$v.dataAddress.address.$touch()"
              @blur="$v.dataAddress.address.$touch()"
              :class="
                `form-control ${
                  $v.dataAddress.address.$error ? 'is-invalid' : ''
                }`
              "
              v-model="dataAddress.address"
            />
            <div class="invalid-feedback">
              Vui lòng nhập địa chỉ
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="cusAddressPhone">Điện thoại</label>
            <input
              type="text"
              id="cusAddressPhone"
              class="form-control"
              placeholder="Nhập số điện thoại"
              @input="checkValidatePhoneNumber"
              @blur="checkValidatePhoneNumber"
              :class="
                `form-control ${
                  $v.dataAddress.phone.$error || validPhoneNumber
                    ? 'is-invalid'
                    : ''
                }`
              "
              v-model="dataAddress.phone"
            />
            <div class="invalid-feedback">
              Vui lòng nhập số điện thoại hợp lệ
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label for="cusAdressEmail">Email</label>
            <input
              type="text"
              id="cusAdressEmail"
              class="form-control"
              placeholder="Nhập email"
              @input="$v.dataAddress.email.$touch()"
              @blur="$v.dataAddress.email.$touch()"
              :class="
                `form-control ${
                  $v.dataAddress.email.$error ? 'is-invalid' : ''
                }`
              "
              v-model="dataAddress.email"
            />
            <div class="invalid-feedback">
              Vui lòng nhập email hợp lệ
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="">Khu vực</label>
            <Select2
              ref="selectProvince"
              textField="name"
              valueField="id"
              placeholder="Chọn khu vực"
              @change="provinceChange"
              v-model="selectedProvince.id"
              :options="listProvinces"
            >
            </Select2>
            <span class="invalid-label" v-if="invalidProvince"
              >Vui lòng chọn Tỉnh/Thành phố</span
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Quận/Huyện</label>
            <Select2
              ref="selectDistrict"
              textField="name"
              valueField="id"
              placeholder="Chọn Quận/Huyện"
              v-model="selectedDistrict.id"
              :options="listDistricts"
            >
            </Select2>
            <span class="invalid-label" v-if="invalidDistrict"
              >Vui lòng chọn Quận/Huyện</span
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, email, alphaNum } from "vuelidate/lib/validators";
import notification from "@/utils/notification";
export default {
  mixins: [validationMixin],
  validations: {
    dataAddress: {
      label: { required },
      name: { required },
      address: { required },
      phone: { required, alphaNum },
      email: { required, email },
    },
  },
  props: {
    data: {
      type: Object,
      default() {
        return {
          label: { type: String, default: "" },
          name: { type: String, default: "" },
          address: { type: String, default: "" },
          phone: { type: String, default: "" },
          email: { type: String, default: "" },
          province_id: { type: Number, default: -1 },
          district_id: { type: Number, default: -1 },
        };
      },
    },
    btnSubmitName: { type: String, default: "Thêm mới" },
    isEdit: { type: Boolean, default: false },
    customerId: { type: Number, default: null },
    addressList: {
      default: () => {
        return [];
      },
    },
  },
  name: "CustomerAddress",
  data() {
    return {
      selectedProvince: {},
      selectedDistrict: {},
      invalidProvince: false,
      invalidDistrict: false,
      dataAddress: JSON.parse(JSON.stringify({ ...this.data })),
      validPhoneNumber: false,
      // listDistricts: [],
    };
  },
  computed: {
    listProvinces() {
      return this.$store.getters["address/provinces"];
    },
    listDistricts() {
      return this.$store.getters["address/districts"];
    },
  },
  mounted() {
    if (this.dataAddress.province_id !== undefined) {
      this.$store.dispatch("address/getProvinces").then((r) => {
        if (r.length > 0 && this.isEdit) {
          this.selectedProvince = this.listProvinces.find(
            (p) => p.id === this.dataAddress.province_id
          );
        }
      });
    }
  },
  watch: {},
  methods: {
    checkValidatePhoneNumber() {
      const pattern = new RegExp("^([0-9]){8,10}$");
      this.validPhoneNumber = !pattern.test(this.dataAddress.phone);
      this.$v.dataAddress.phone.$touch();
    },
    async provinceChange() {
      this.invalidProvince = false;
      this.invalidDistrict = false;
      this.$refs.selectProvince.$refs.select.nextSibling.children[0].children[0].removeAttribute(
        "style"
      );

      this.$refs.selectDistrict.$refs.select.nextSibling.children[0].children[0].removeAttribute(
        "style"
      );

      if (this.selectedProvince.id === 0 && this.isEdit) {
        this.selectedProvince = this.listProvinces.find(
          (p) => p.id === this.dataAddress.province_id
        );
      }
      await this.$store
        .dispatch("address/getDistricts", this.selectedProvince.id)
        .then((r) => {
          if (r.length > 0) {
            if (
              this.dataAddress.district_id > -1 &&
              this.selectedProvince.id === this.dataAddress.province_id
            ) {
              this.selectedDistrict = this.listDistricts.find(
                (d) => d.id === this.dataAddress.district_id
              );
            } else {
              this.selectedDistrict = this.listDistricts[0];
            }
          }
        });
    },
    onSubmit() {
      this.$v.dataAddress.$touch();
      if (
        this.$v.dataAddress.$error ||
        !this.selectedProvince.id ||
        !this.selectedDistrict.id
      ) {
        if (!this.selectedProvince.id) {
          this.invalidProvince = true;
          this.$refs.selectProvince.$refs.select.nextSibling.children[0].children[0].setAttribute(
            "style",
            "border-color: #E08DB4 !important;"
          );
        } else {
          this.invalidProvince = false;
          this.$refs.selectProvince.$refs.select.nextSibling.children[0].children[0].removeAttribute(
            "style"
          );
        }

        if (!this.selectedDistrict.id) {
          this.invalidDistrict = true;
          this.$refs.selectDistrict.$refs.select.nextSibling.children[0].children[0].setAttribute(
            "style",
            "border-color: #E08DB4 !important;"
          );
        } else {
          this.invalidDistrict = false;
          this.$refs.selectDistrict.$refs.select.nextSibling.children[0].children[0].removeAttribute(
            "style"
          );
        }

        // !this.selectedProvince.id
        //   ? (this.invalidProvince = true)
        //   : (this.invalidProvince = false);
        // !this.selectedDistrict.id
        //   ? (this.invalidDistrict = true)
        //   : (this.invalidDistrict = false);

        return;
      }

      const address = this.addressList.filter(
        (a) => a.email == this.dataAddress.email
      );
      if (address.length > 1) {
        return;
      } else if (address.length == 1) {
        if (address[0] != this.data) {
          return;
        }
      }

      this.dataAddress.province_id = this.selectedProvince.id;
      this.dataAddress.district_id = this.selectedDistrict.id;

      var newAddress = {
        name: this.dataAddress.name,
        email: this.dataAddress.email,
        phone: this.dataAddress.phone,
        label: this.dataAddress.label,
        address: this.dataAddress.address,
        province_id: this.dataAddress.province_id,
        district_id: this.dataAddress.district_id,
      };

      if (!this.isEdit) {
        this.$emit("onCreate", newAddress);
        notification.success("Thêm thành công");
        this.$bvModal.hide("AddressAddEdit");
      } else {
        this.$emit("onUpdate", { ...newAddress, id: this.dataAddress.id });
        notification.success("Cập nhật thành công");
        this.$bvModal.hide("AddressAddEdit");
      }
    },
  },
};
</script>

<style scoped>
.invalid-label {
  color: #e08db4;
  /* font-weight: 500; */
  margin-top: 0.5rem;
  font-size: 80%;
}
</style>
