<template>
  <div>
    <div>
      <form class="bg-white mb-3">
        <div class="row">
          <div class="col-lg-8 col-sm-12">
            <div class="form-group">
              <label for="cusName">Tên khách hàng</label>
              <input
                type="text"
                :class="
                  `form-control ${
                    $v.dataCustomer.name.$error ? 'is-invalid' : ''
                  }`
                "
                @input="$v.dataCustomer.name.$touch()"
                @blur="$v.dataCustomer.name.$touch()"
                v-model="dataCustomer.name"
                placeholder="Nhập tên khách hàng"
              />
              <div class="invalid-feedback">
                Vui lòng nhập tên khách hàng
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="form-group">
              <label for="cusId">Mã khách hàng</label>
              <input
                type="text"
                :class="
                  `form-control ${
                    $v.dataCustomer.code.$error ? 'is-invalid' : ''
                  }`
                "
                @input="$v.dataCustomer.code.$touch()"
                @blur="$v.dataCustomer.code.$touch()"
                v-model="dataCustomer.code"
                placeholder="Nhập mã khách hàng"
              />
              <div class="invalid-feedback">
                Vui lòng nhập mã khách hàng
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="form-group">
              <label for="cusPhone">Số điện thoại</label>
              <input
                type="text"
                :class="
                  `form-control ${
                    $v.dataCustomer.phone_number.$error || validPhoneNumber
                      ? 'is-invalid'
                      : ''
                  }`
                "
                @input="checkValidatePhoneNumber"
                @blur="checkValidatePhoneNumber"
                v-model="dataCustomer.phone_number"
                placeholder="Nhập số điện thoại"
              />
              <div class="invalid-feedback">
                Vui lòng nhập số điện thoại hợp lệ
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                :class="
                  `form-control ${
                    $v.dataCustomer.email.$error ? 'is-invalid' : ''
                  }`
                "
                @input="$v.dataCustomer.email.$touch()"
                @blur="$v.dataCustomer.email.$touch()"
                v-model="dataCustomer.email"
                placeholder="Nhập email"
              />
              <div class="invalid-feedback">
                Vui lòng nhập email hợp lệ
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="form-group">
              <label for="">Nhóm</label>
              <Select2
                textField="name"
                valueField="id"
                placeholder="Chọn nhóm khách hàng"
                :invalid="$v.dataCustomer.customer_group_id.$error"
                invalid-feedback="Vui lòng chọn nhóm khách hàng"
                v-model="dataCustomer.customer_group_id"
                :options="custommerGroupsListAll"
              >
              </Select2>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div>
      <div class="bg-white">
        <Nav-tab>
          <Nav-tab-item :title="'Liên hệ'" :isActive="true">
            <div class="table-responsive">
              <table-list
                :columns="contactColumns"
                :rows="contactList"
                :line-number="true"
                :total="contactList.length"
                :total-items="true"
              >
              </table-list>
            </div>
          </Nav-tab-item>
          <Nav-tab-item :title="'Địa chỉ'">
            <div class="table-responsive">
              <table-list
                :columns="addressColumns"
                :rows="addressList"
                :line-number="true"
                :total="addressList.length"
                :total-items="true"
              >
              </table-list>
            </div>
          </Nav-tab-item>
          <template v-slot:nav-button>
            <button
              type="button"
              class="btn btn-primary"
              @click="openContactAdd"
            >
              + Thêm liên hệ
            </button>
            <Dialog
              :btnOpen="false"
              :btnClose="true"
              id="ContactAddEdit"
              :title="titleModal"
              :onSubmit="onAddContact"
              :titleBtnSubmit="isEditContact ? 'Cập nhật' : 'Thêm mới'"
              size="lg"
              class="mr-2"
            >
              <template v-slot:modal-body>
                <add-edit-contact
                  ref="addContact"
                  :btn-submit-name="btnSubmitContactName"
                  :data="dataContact"
                  :is-edit="isEditContact"
                  :customer-id="dataCustomer.id"
                  :contact-list="contactList"
                  @onCreate="onCreateContact"
                  @onUpdate="onUpdateContact"
                ></add-edit-contact>
              </template>
            </Dialog>

            <button
              type="button"
              class="btn btn-primary"
              @click="openAddressAdd"
            >
              + Thêm địa chỉ
            </button>
            <Dialog
              :btnOpen="false"
              :onSubmit="onAddAddress"
              id="AddressAddEdit"
              :titleBtnSubmit="isEditAddress ? 'Cập nhật' : 'Thêm mới'"
              :title="titleModal"
              size="lg"
            >
              <template v-slot:modal-body>
                <add-edit-address
                  :btn-submit-name="btnSubmitAddressName"
                  ref="addAddress"
                  :data="dataAddress"
                  :is-edit="isEditAddress"
                  :customer-id="dataCustomer.id"
                  :address-list="addressList"
                  @onCreate="onCreateAddress"
                  @onUpdate="onUpdateAddress"
                ></add-edit-address>
              </template>
            </Dialog>
          </template>
        </Nav-tab>
      </div>
    </div>
  </div>
</template>

<script>
import AddEditAddress from "./AddEditAddress.vue";
import AddEditContact from "./AddEditContact.vue";
//Validate
import { validationMixin } from "vuelidate";
import { required, email, alphaNum } from "vuelidate/lib/validators";
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import notification from "@/utils/notification";
import CustomerMgmtService from "@/services/customer-mgmt.service";
import constants from "@/config/constants";

export default {
  components: { AddEditAddress, AddEditContact },
  name: "CustomerAdd",
  mixins: [validationMixin],
  validations: {
    dataCustomer: {
      name: { required },
      code: { required },
      email: { required, email },
      phone_number: { required, alphaNum },
      customer_group_id: { required },
    },
  },
  props: {
    page: { default: 1 },
    pageSize: { default: constants.DEFAULT_TABLE_PAGE_SIZE },
    isEdit: { type: Boolean, default: false },
    dataCustomer: {
      type: Object,
      default() {
        return {
          code: { type: String, default: "" },
          customer_group_id: null,
          email: { type: String, default: "" },
          group_code: { type: String, default: "" },
          group_name: { type: String, default: "" },
          id: { type: String, default: "" },
          name: { type: String, default: "" },
          phone_number: { type: String, default: "" },
          status: { type: String, default: "" },
        };
      },
    },
  },
  data() {
    return {
      contacts: [{}],
      titleModal: null,
      dataContact: {},
      dataAddress: {},
      isEditContact: false,
      isEditAddress: false,
      btnSubmitContactName: "",
      btnSubmitAddressName: "",
      invalidGroup: false,
      contactColumns: [
        new ColumnTable(ColumnType.TEXT, "Họ tên", "name"),
        new ColumnTable(ColumnType.TEXT, "Email", "email"),
        new ColumnTable(ColumnType.TEXT, "Số điện thoại", "phone"),
        new ColumnTable(ColumnType.TEXT, "Ghi chú", "note"),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (customer) => {
                this.openContactEdit(customer);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (customer) => {
                this.deleteContact(customer);
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
      addressColumns: [
        new ColumnTable(ColumnType.TEXT, "Nhãn", "label"),
        new ColumnTable(ColumnType.TEXT, "Họ và tên", "name"),
        new ColumnTable(ColumnType.TEXT, "Địa chỉ", "address"),
        new ColumnTable(ColumnType.TEXT, "Số điện thoại", "phone"),
        new ColumnTable(ColumnType.TEXT, "Email", "email"),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (address) => {
                this.openAddressEdit(address);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (address) => {
                this.deleteAddress(address);
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
      validPhoneNumber: false,
      contactList: [],
      contactListUpdate: [],
      contactListCreate: [],
      contactListDelete: [],
      addressList: [],
      addressListUpdate: [],
      addressListCreate: [],
      addressListDelete: [],
    };
  },
  computed: {
    customerAddressesList() {
      if (this.dataCustomer.id) {
        return this.$store.getters["customerMgmt/customerAddresses"];
      }
      return this.$store.getters["customerMgmt/temporaryCustomerAddresses"];
    },
    customerContactsList() {
      if (this.dataCustomer.id) {
        return this.$store.getters["customerMgmt/customerContacts"];
      }
      return this.$store.getters["customerMgmt/temporaryCustomerContacts"];
    },
    custommerGroupsListAll() {
      return this.$store.getters["customerMgmt/customerGroupListAll"];
    },
  },
  mounted() {
    this.getContactCustomer();
    this.getCustommerGroupList();
    this.getCustomerAddressesList();
  },
  methods: {
    checkValidatePhoneNumber() {
      const pattern = new RegExp("^([0-9]){8,10}$");
      this.validPhoneNumber = !pattern.test(this.dataCustomer.phone_number);
      this.$v.dataCustomer.phone_number.$touch();
    },
    //Dat
    onCreateAddress(data) {
      this.addressList.push(data);
      this.addressListCreate.push(data);
    },
    onUpdateAddress(data) {
      this.addressList = this.addressList.map((c) => {
        for (const [k, v] of Object.entries(c)) {
          if (this.dataAddress[k] != v) {
            return c;
          }
        }
        return data;
      });

      if (data.id) {
        let isUpdate = false;
        this.addressListUpdate = this.addressListUpdate.map((c) => {
          for (const [k, v] of Object.entries(c)) {
            if (this.dataAddress[k] != v) {
              return c;
            }
          }
          isUpdate = true;
          return data;
        });
        if (!isUpdate) {
          this.addressListUpdate.push(data);
        }
      } else {
        let isUpdate = false;
        this.addressListCreate = this.addressListCreate.map((c) => {
          for (const [k, v] of Object.entries(c)) {
            if (this.dataAddress[k] != v) {
              return c;
            }
          }
          isUpdate = true;
          return data;
        });
        if (!isUpdate) {
          this.addressListCreate.push(data);
        }
      }
    },
    onCreateContact(data) {
      this.contactList.push(data);
      this.contactListCreate.push(data);
    },
    onUpdateContact(data) {
      this.contactList = this.contactList.map((c) => {
        for (const [k, v] of Object.entries(c)) {
          if (this.dataContact[k] != v) {
            return c;
          }
        }
        return data;
      });

      if (data.id) {
        let isUpdate = false;
        this.contactListUpdate = this.contactListUpdate.map((c) => {
          for (const [k, v] of Object.entries(c)) {
            if (this.dataContact[k] != v) {
              return c;
            }
          }
          isUpdate = true;
          return data;
        });
        if (!isUpdate) {
          this.contactListUpdate.push(data);
        }
      } else {
        let isUpdate = false;
        this.contactListCreate = this.contactListCreate.map((c) => {
          for (const [k, v] of Object.entries(c)) {
            if (this.dataContact[k] != v) {
              return c;
            }
          }
          isUpdate = true;
          return data;
        });
        if (!isUpdate) {
          this.contactListCreate.push(data);
        }
      }
    },
    //Change
    getContactCustomer() {
      if (this.isEdit) {
        this.$store
          .dispatch("customerMgmt/getCustomerContacts", this.dataCustomer.id)
          .then(() => {
            this.contactList = JSON.parse(
              JSON.stringify(this.customerContactsList)
            );
          });
      } else {
        this.$store.dispatch("customerMgmt/resetTemporaryCustomerContacts");
      }
    },
    getCustommerGroupList() {
      this.$store.dispatch("customerMgmt/getCustomerGroupListAll");
    },
    getCustomerAddressesList() {
      if (this.isEdit) {
        this.$store
          .dispatch("customerMgmt/getCustomerAddresses", this.dataCustomer.id)
          .then(() => {
            this.addressList = JSON.parse(
              JSON.stringify(this.customerAddressesList)
            );
          });
      } else {
        this.$store.dispatch("customerMgmt/resetTemporaryCustomerAddresses");
      }
    },
    openContactAdd() {
      this.titleModal = "Thêm liên hệ";
      this.btnSubmitContactName = "Thêm mới";
      this.dataContact = {};
      this.isEditContact = false;
      this.$bvModal.show("ContactAddEdit");
    },
    openAddressAdd() {
      this.titleModal = "Thêm địa chỉ";
      this.btnSubmitAddressName = "Thêm mới";
      this.dataAddress = {};
      this.isEditAddress = false;
      this.$bvModal.show("AddressAddEdit");
    },
    openContactEdit(contact) {
      this.titleModal = "Sửa thông tin liên hệ";
      this.btnSubmitContactName = "Cập nhật";
      this.isEditContact = true;
      this.dataContact = {
        id: contact.id,
        name: contact.name,
        email: contact.email,
        phone: contact.phone,
        note: contact.note,
      };
      this.$bvModal.show("ContactAddEdit");
    },
    openAddressEdit(address) {
      this.titleModal = "Sửa thông tin địa chỉ";
      this.btnSubmitAddressName = "Cập nhật";
      this.isEditAddress = true;
      this.dataAddress = { ...address };
      this.$bvModal.show("AddressAddEdit");
    },
    deleteContact(contact) {
      this.contactList = this.contactList.filter((c) => {
        for (const [k, v] of Object.entries(c)) {
          if (contact[k] != v) {
            return true;
          }
        }
        return false;
      });

      if (contact.id) {
        this.contactListDelete.push(contact);
      } else {
        this.contactListCreate = this.contactListCreate.filter((c) => {
          for (const [k, v] of Object.entries(c)) {
            if (contact[k] != v) {
              return true;
            }
          }
          return false;
        });

        this.contactListUpdate = this.contactListUpdate.filter((c) => {
          for (const [k, v] of Object.entries(c)) {
            if (contact[k] != v) {
              return true;
            }
          }
          return false;
        });
      }
    },
    deleteAddress(address) {
      this.addressList = this.addressList.filter((c) => {
        for (const [k, v] of Object.entries(c)) {
          if (address[k] != v) {
            return true;
          }
        }
        return false;
      });

      if (address.id) {
        this.addressListDelete.push(address);
      } else {
        this.addressListCreate = this.addressListCreate.filter((c) => {
          for (const [k, v] of Object.entries(c)) {
            if (address[k] != v) {
              return true;
            }
          }
          return false;
        });

        this.addressListUpdate = this.addressListUpdate.filter((c) => {
          for (const [k, v] of Object.entries(c)) {
            if (address[k] != v) {
              return true;
            }
          }
          return false;
        });
      }
    },
    onAddContact() {
      this.$refs.addContact.onSubmit();
    },
    onSubmit() {
      this.$v.dataCustomer.$touch();
      this.invalidGroup = this.dataCustomer.customer_group_id ? false : true;
      if (this.isEdit) {
        //Update

        if (!this.$v.$invalid && !this.invalidGroup) {
          const customerGroup = this.custommerGroupsListAll.find(
            (c) => c.id === this.dataCustomer.customer_group_id
          );
          this.dataCustomer.group_code = customerGroup.code;
          this.dataCustomer.group_name = customerGroup.name;

          const arrPromise = [];

          this.contactListCreate.forEach((c) => {
            arrPromise.push(
              CustomerMgmtService.addCustomerContact(this.dataCustomer.id, c)
            );
          });

          this.contactListUpdate.forEach((c) => {
            arrPromise.push(
              CustomerMgmtService.updateCustomerContact(this.dataCustomer.id, c)
            );
          });

          this.contactListDelete.forEach((c) => {
            arrPromise.push(
              CustomerMgmtService.deleteCustomerContact(
                this.dataCustomer.id,
                c.id
              )
            );
          });

          //Address
          this.addressListCreate.forEach((c) => {
            arrPromise.push(
              CustomerMgmtService.addCustomerAddress(this.dataCustomer.id, c)
            );
          });

          this.addressListUpdate.forEach((c) => {
            arrPromise.push(
              CustomerMgmtService.updateCustomerAddress(this.dataCustomer.id, c)
            );
          });

          this.addressListDelete.forEach((c) => {
            arrPromise.push(
              CustomerMgmtService.deleteCustomerAddress(
                this.dataCustomer.id,
                c.id
              )
            );
          });

          Promise.all(arrPromise).then(() => {
            CustomerMgmtService.updateCustomer(this.dataCustomer).then((r) => {
              if (r.code == 1) {
                this.$store.dispatch("customerMgmt/getCustomerList", {
                  page: this.page,
                  pageSize: this.pageSize,
                });
                notification.success("Cập nhật thành công");
                this.$bvModal.hide("CustomerAddEdit");
              }
            });
          });
        }
      } else {
        //onCreate
        if (!this.$v.$invalid && !this.invalidProvince) {
          let newCustomer = {
            ...this.dataCustomer,
            address_list: this.addressList,
            contact_list: this.contactList,
          };

          CustomerMgmtService.addCustomer(newCustomer).then((rs) => {
            if (rs.code == 1) {
              this.$store.dispatch("customerMgmt/getCustomerList", {
                page: this.page,
                pageSize: this.pageSize,
              });
              notification.success("Thêm thành công");
              this.$bvModal.hide("CustomerAddEdit");
            }
          });
        }
      }
    },
    onAddAddress() {
      this.$refs.addAddress.onSubmit();
    },
  },
};
</script>
<style scoped>
.invalid-label {
  margin-top: 0.25rem;
  color: #e08db4;
  font-size: 80%;
}
</style>
