<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 py-2 d-flex justify-content-end">
        <button class="btn btn-primary" @click="openCustomerAdd">
          Thêm mới khách hàng
        </button>
        <Dialog
          :btnOpen="false"
          :btnSave="true"
          id="CustomerAddEdit"
          :title="titleModal"
          :on-submit="onAddCustomer"
          :title-btn-submit="btnSubmitCustomerName"
          size="lg"
          class="pr-2"
        >
          <template v-slot:modal-body>
            <add-edit-customer
              ref="addCustomer"
              :dataCustomer="dataCustomer"
              :isEdit="isEditCustomer"
              :page="page"
              :page-size="pageSize"
              @forceRerender="forceRerender"
            ></add-edit-customer>
          </template>
        </Dialog>

        <Dropdown
          :split-action="addCustomerGroupAction"
          :split="true"
          text="Thêm nhóm KH"
          :items="items"
        >
        </Dropdown>

        <Dialog
          :btnOpen="false"
          :btnClose="true"
          id="CustomerGroupMgmt"
          :onSubmit="onCustomerGroup"
          title="Quản lý nhóm khách hàng"
          size="lg"
        >
          <template v-slot:modal-body>
            <customer-group-management
              ref="customerGroupManagement"
              @forceRerender="forceRerender"
            ></customer-group-management>
          </template>
        </Dialog>
      </div>
      <div class="col-lg-12 pt-3">
        <div class="table-responsive rounded mb-3">
          <table-list
            :columns="columns"
            :rows="customersListItemsStore"
            :line-number="true"
            :total="totalElements"
            @onPageChange="onPageChange"
            @onPerPageChange="onPerPageChange"
          >
          </table-list>
        </div>
      </div>
    </div>
    <Dialog
      :btnClose="true"
      :onSubmit="onAddCustomerGroup"
      titleBtnSubmit="Thêm mới"
      id="CustomerGroupAdd"
      title="Thêm nhóm khách hàng"
      size="lg"
    >
      <template v-slot:modal-body>
        <add-edit-customer-group
          :is-update="false"
          :data="defaultCustomerGroupData"
          ref="addCustomerGroup"
        ></add-edit-customer-group>
      </template>
    </Dialog>
    <CheckDelete
      :title="'Xác nhận'"
      :content="'Bạn có muốn xóa thông tin khách hàng?'"
      @confirmDelete="confirmDelete"
    ></CheckDelete>
    <!-- Page end  -->
  </div>
</template>
<script>
import AddEditCustomer from "./AddEditCustomer.vue";
import AddEditCustomerGroup from "./AddEditCustomerGroup.vue";
import CustomerGroupManagement from "./CustomerGroupManagement.vue";
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import CheckDelete from "../Group/DeleteConfirm";
import notification from "@/utils/notification";
import CustomerMgmtService from "@/services/customer-mgmt.service";
import constants from "@/config/constants";

export default {
  components: {
    AddEditCustomer,
    CustomerGroupManagement,
    AddEditCustomerGroup,
    CheckDelete,
  },

  name: "CustomerManagement",
  mounted() {
    this.loadCustommerList();
  },
  computed: {
    customersListStore() {
      return this.$store.getters["customerMgmt/customerList"];
    },
    customersListItemsStore() {
      return this.customersListStore.items;
    },
    customerGroupsListStore() {
      return this.$store.getters["customerMgmt/customerGroupList"];
    },
    totalElements() {
      return this.customersListStore.pagination.totalElements;
    },
  },
  data() {
    return {
      componentKey: 0,
      isEditCustomer: false,
      btnSubmitCustomerName: "",
      titleModal: "",
      dataCustomer: {},
      delete: null,
      defaultCustomerGroupData: {
        code: "",
        name: "",
        percentage: null,
      },
      addCustomerGroupAction: {
        action: () => {
          this.$bvModal.show("CustomerGroupAdd");
        },
      },
      items: [
        {
          name: "Quản lý nhóm khách hàng",
          action: () => {
            this.$bvModal.show("CustomerGroupMgmt");
          },
        },
      ],
      columns: [
        new ColumnTable(ColumnType.TEXT, "Mã khách hàng", "code"),
        new ColumnTable(ColumnType.TEXT, "Tên khách hàng", "name"),
        new ColumnTable(ColumnType.TEXT, "Phân loại", "group_name"),
        new ColumnTable(ColumnType.TEXT, "Email", "email"),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (customer) => {
                this.openCustomerEdit(customer);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (customer) => {
                this.deleteCustomer(customer.id);
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
      page: 0,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
    };
  },
  methods: {
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.loadCustommerList();
    },
    onPageChange(params) {
      this.page = +params - 1;
      this.loadCustommerList();
    },
    loadCustommerList() {
      this.$store.dispatch("customerMgmt/getCustomerList", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    forceRerender() {
      this.loadCustommerList();
    },
    openCustomerGroup() {
      this.$bvModal.show("CustomerGroupMgmt");
    },
    openCustomerAdd() {
      this.titleModal = "Thêm khách hàng";
      this.btnSubmitCustomerName = "Thêm mới";
      this.isEditCustomer = false;
      this.dataCustomer = {};
      this.$bvModal.show("CustomerAddEdit");
    },
    openCustomerEdit(Customer) {
      this.titleModal = "Sửa thông tin khách hàng";
      this.btnSubmitCustomerName = "Cập nhật";
      this.dataCustomer = { ...Customer };
      this.isEditCustomer = true;
      this.$bvModal.show("CustomerAddEdit");
    },
    deleteCustomer(id) {
      this.$bvModal.show("CheckDelete");
      this.delete = id;
    },
    confirmDelete() {
      CustomerMgmtService.deleteCustomer(this.delete).then((rs) => {
        if (rs.code == 1) {
          notification.success("Xóa khách hàng thành công");
          this.loadCustommerList();
        }
        this.$bvModal.hide("CheckDelete");
      });
    },
    onCustomerGroup() {
      this.$refs.customerGroupManagement.openModalAdd();
    },
    onAddCustomerGroup() {
      this.$refs.addCustomerGroup.onSubmit();
    },
    onAddCustomer() {
      this.$refs.addCustomer.onSubmit();
    },
  },
};
</script>
