<template>
  <div>
    <div class="table-responsive">
      <table-list
        :columns="columns"
        :rows="customerGoupsDataList"
        :line-number="true"
        :total="totalElements"
        @onPageChange="onPageChange"
        @onPerPageChange="onPerPageChange"
      >
      </table-list>
    </div>
    <Dialog
      :btnClose="true"
      :btn-open="false"
      :onSubmit="onAddCustomerGroup"
      id="CustomerGroupAddEdit"
      :title="titleModal"
      :titleBtnSubmit="isUpdate ? `Cập nhật` : `Thêm mới`"
      size="lg"
    >
      <template v-slot:modal-body>
        <add-edit-customer-group
          :is-update="isUpdate"
          :btn-submit-name="btnSubmitName"
          ref="addCustomerGroup"
          :data="data"
          :page="page"
          :pageSize="pageSize"
        ></add-edit-customer-group>
      </template>
    </Dialog>
    <CheckDelete
      :title="'Xác nhận'"
      :content="'Bạn có muốn xóa nhóm khách hàng?'"
      @confirmDelete="confirmDelete"
    ></CheckDelete>
  </div>
</template>

<script>
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import AddEditCustomerGroup from "./AddEditCustomerGroup.vue";
import CheckDelete from "../Group/DeleteConfirm";
import notification from "@/utils/notification";
import constants from "@/config/constants";

export default {
  name: "CustomerGroupManagement",
  components: {
    AddEditCustomerGroup,
    CheckDelete,
  },
  computed: {
    customerGoupsList() {
      return this.$store.getters["customerMgmt/customerGroupList"];
    },
    customerGoupsDataList() {
      return this.customerGoupsList.items;
    },
    totalElements() {
      return this.customerGoupsList.pagination.totalElements || 0;
    },
  },
  mounted() {
    this.loadCustommerGroupList();
  },
  data() {
    return {
      titleModal: "",
      isUpdate: false,
      data: {
        id: "",
        code: "",
        name: "",
        percentage: 0,
      },
      btnSubmitName: "",
      delete: null,
      columns: [
        new ColumnTable(ColumnType.TEXT, "Mã nhóm", "code"),
        new ColumnTable(ColumnType.TEXT, "Tên nhóm", "name"),
        new ColumnTable(ColumnType.TEXT, "Chiết khấu", "percentage"),

        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (customerGroup) => {
                this.openModalEdit(customerGroup);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (customerGroup) => {
                this.deleteCustomerGroup(customerGroup.id);
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
      page: 0,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
    };
  },
  methods: {
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.loadCustommerGroupList();
    },
    onPageChange(params) {
      this.page = +params - 1;
      this.loadCustommerGroupList();
    },
    loadCustommerGroupList() {
      this.$store.dispatch("customerMgmt/getCustomerGroupList", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    openModalAdd() {
      this.isUpdate = false;
      this.titleModal = "Thêm nhóm khách hàng";
      this.btnSubmitName = "Thêm mới";
      this.data = {};
      this.$bvModal.show("CustomerGroupAddEdit");
    },
    openModalEdit(CustomerGroup) {
      this.isUpdate = true;
      this.titleModal = "Sửa nhóm khách hàng";
      this.btnSubmitName = "Cập nhật";
      this.data = {
        id: CustomerGroup.id,
        code: CustomerGroup.code,
        name: CustomerGroup.name,
        percentage: CustomerGroup.percentage,
      };
      this.$bvModal.show("CustomerGroupAddEdit");
    },
    deleteCustomerGroup(id) {
      this.$bvModal.show("CheckDelete");
      this.delete = id;
    },
    confirmDelete() {
      this.$bvModal.hide("CheckDelete");
      this.$store
        .dispatch("customerMgmt/deleteCustomerGroup", {
          id: this.delete,
          page: this.page,
          pageSize: this.pageSize,
        })
        .then((rs) => {
          if (rs.code === 1) {
            notification.success("Xóa nhóm khách hàng thành công");
          }
        });
    },
    onAddCustomerGroup() {
      this.$refs.addCustomerGroup.onSubmit();
    },
  },
};
</script>
