<template>
  <div class="main__right__form">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <p class="main__right__form__title">Chức năng cha</p>
          <treeselect
            v-model="data.selectParent"
            noChildrenText="No"
            :normalizer="normalizer"
            :multiple="false"
            :options="functionList"
          />
        </div>
        <div class="col-sm-12 col-lg-6">
          <p class="main__right__form__title">Tên chức năng</p>
          <input
            type="text"
            :class="`form-control input ${$v.data.functionName.$error ? 'is-invalid' : ''}`"
            @input="$v.data.functionName.$touch()"
            @blur="$v.data.functionName.$touch()"
            v-model="data.functionName"
          />
          <div class="invalid-feedback"> Tên chức năng không được trống </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <p class="main__right__form__title">URL</p>
          <input
            type="text"
            :class="`form-control input`"
            v-model="data.url"
          />
        </div>
        <div class="col-sm-12 col-lg-6">
          <div class="row">
            <div class="col-sm-12 col-lg-8">
              <p class="main__right__form__title">Hiển thị trên menu</p>
              <Select2
                textField="text"
                icon
                valueField="value"
                :searchField="false"
                :invalid="$v.data.selectShowOnMenu.$error"
                :options="optionShowOnMenu"
                invalidFeedback="Vui lòng chọn hiển thị"
                v-model="data.selectShowOnMenu"
              >
              </Select2>
              <div class="invalid-feedback"> Vui lòng chọn hiển thị </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <p class="main__right__form__title">Icon</p>
              <!-- <Select2
                textField="icon"
                textAlign="center"
                iconOnly
                valueField="value"
                :allowInputField="true"
                :options="optionIcon"
                v-model="data.selectIcon"
              >
              </Select2> -->
              <SelectIcon
                :idIcon="idIcon"
                ref="selectIcon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script >

import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import notification from '@/utils/notification'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import SelectIcon from '../../components/form/select2/SelectIcon.vue'

export default {
  name: 'function-add-edit',
  mixins: [validationMixin],
  components: {
    Treeselect,
    SelectIcon
  },
  validations: {
    data: {
      functionName: { required },
      selectShowOnMenu: { required },
    }
  },
  props: {
    idIcon: {
      default: 'icon1'
    },
    isUpdate: {
      type: Boolean,
      default: false
    },
    data: {
      default: {
        isUpdate: true,
        activeId: '',
        functionName: '',
        url: '',
        selectShowOnMenu: null,
        selectParent: null,
        selectIcon: null
      }
    },
    functionList: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      listButton: '',
      groupAddEdit: {
        home: true,
        keyGroupMgmt: 1,
        data: {},
        isUpdate: false,
        tittle: 'Thêm nhóm người dùng',
        buttonName: 'Thêm mới'
      }
      ,
      activeId: -1,
      selectParent: { id: 0, name: 'Root' },
      functionName: "",
      url: "",
      optionShowOnMenu: [
        { value: 1, text: 'Hiển thị' },
        { value: 0, text: 'Ẩn' },
      ],
      selectShowOnMenu: 'Hiển thị',
      normalizer(node) {
        if (!node.sub_functions) delete node.sub_functions
        return {
          id: node.id,
          label: node.name,
          children: node.sub_functions,
        }
      },
    };
  },
  computed: {
    optionFunctions() {
      const funcs = this.$store.getters["function/getFunctions"];
      return [
        { id: 0, name: 'Root' },
        ...funcs
      ]
    },
  },
  methods: {
    checkValidate() {
      this.$v.$touch();
      if (this.data.selectParent === null || this.data.selectShowOnMenu === null) {
        notification.error('Vui lòng chọn đầy đủ thông tin')
        return true
      }
      if (this.$v.$invalid) {
        return true
      }
      return false
    },
    getData(isUpdate) {
      var icon = this.$refs.selectIcon.getData()
      var parent = this.data.selectParent
      var data = {
        name: this.data.functionName,
        url: this.data.url,
        display_on_menu: this.data.selectShowOnMenu,
        icon: icon,
        parent_id: parent
      }
      if (isUpdate) data.id = this.data.activeId
      if (parent === 0) delete data.parent_id
      return data
    },
    resetData() {
      this.selectParent = null
      this.data.functionName = ''
      this.data.url = ''
      this.data.selectShowOnMenu = null
    },
    setValueSelectIcon(e) {
      this.$refs.selectIcon.setData(e)
    },
    loadSelect() {
      this.$refs.selectIcon.loadSelect()
    }
  }
};
</script>
<style lang="scss" scoped>
.main {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  background-color: #f9f9f9;
}
.main__header {
  display: flex;
  justify-content: flex-end;
  padding: 16px 18px;
  .v-select {
    .v-select-toggle {
      color: #fff !important;
    }
  }
}
.main__body {
  display: flex;
}
.main__left {
  width: 20%;
  height: 100%;
  background: #e6e7e9;
  border-radius: 22px;
  padding: 16px 18px;
  min-height: 100vh;
  margin-bottom: 20px;
}
.main__right {
  width: 80%;
  padding: 8px 18px;
}
.main__left__row {
  width: 100%;
  text-align: left;
  padding: 0px;
  margin: 8px 0;
  cursor: pointer;
  align-items: center;
}
.main__left__row__parent {
  width: 100%;
  text-align: left;
  display: flex;
  padding: 0px;
  height: 24px;
  margin: 15px 0;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.main__left__row__child {
  display: flex;
  height: 35px;
  align-items: center;
}
.main__left__row__left {
  display: flex;
  align-items: center;
  justify-items: center;
}
.main__left__row__name {
  font-size: 14px;
  line-height: 140%;
  color: #2b2c2e;
  margin: 0px 12px;
}
.main__left__row__child__tree-style {
  width: 25px;
  height: 100%;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  border-color: gray;
  border-width: 1px;
  margin-top: 3px;
  margin-left: 11px;
  margin-bottom: 34px;
}
.active {
  color: #2040eb;
}
.main__right__title {
  font-weight: bold;
  font-size: 24px;
  color: #242424;
}
.main__right__form {
  background: #ffffff;
  border-radius: 22px;
}
.row {
  margin-bottom: 10px;
}
.main__right__form__title {
  font-size: 16px;
  color: #131313;
  margin-bottom: 5px;
}
.main__right__button {
  display: flex;
  justify-content: center;
  margin-top: 21px;
}
.btn-header {
  margin-left: 15px;
}
.dropdown-role-access {
  margin-left: 15px;
  .dropdown-toggle {
    background-color: #32bdea !important;
    border-color: #32bdea !important;
  }
}
.btn-update {
  width: 237px;
  height: 50px;
}
.select {
  background: #eaeaea;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: none;
  padding: 5px;
}
.select-role {
  width: 200px !important;
  background-color: #32bdea !important;
  border-color: #32bdea !important;
}
.select-input {
  margin: 0;
}
.main__left__row__child__style {
  display: flex;
  margin-top: 12px;
  margin-left: 36px;
  align-items: center;
  height: 32px;
}
</style>
  <style>
.selectpicker {
  padding: 5px !important;
}
.vue-treeselect__control {
  height: 45px;
}
.vue-treeselect__single-value {
  color: #676e8a;
}
.vue-treeselect__control {
  border-radius: 10px !important ;
}
</style>