<template>
  <div class="main">
    <div class="main__header">
      <router-link
        to="/user-management"
        class="btn btn-primary"
        style="margin-right:10px"
        tag="button"
      >Quản lý người dùng</router-link>
      <button
        style="margin-right:10px"
        class="btn btn-primary"
        @click="onOpenModalAddEdit"
      >
        Thêm nhóm người dùng
      </button>
      <button
        style="margin-right: 10px"
        @click="onOpenAddFunction"
        class="btn btn-primary"
      >
        Thêm mới chức năng
      </button>
      <b-dropdown
        text="Phân quyền truy cập"
        variant="primary"
      >
        <b-dropdown-item @click="onGroupMgmtClick">Quản lý nhóm người dùng</b-dropdown-item>
        <b-dropdown-item @click="onUserRoleMgmtClick">Phân quyền nguời dùng</b-dropdown-item>
      </b-dropdown>
    </div>
    <div class="main__body">
      <div class="main__left">
        <ListFunction ref="listFunction" @changeFunction="setFunction " :idIcon="idIcon1" />
      </div>
      <div class="main__right">
        <p class="main__right__title">Cập nhật tính năng quản lý dự án</p>
        <FunctionAddEdit
          :data="data"
          :isUpdate="true"
          :functionList="optionFunctions"
          ref="refFunctionEdit"
        />
        <div class="main__right__button">
          <button
            class="btn btn-primary"
            @click="onUpdate"
          >
            Cập nhật
          </button>
        </div>
      </div>
    </div>
    <Dialog
      id="group-management"
      :title="'Quản lý nhóm người dùng'"
      :btnClose="true"
      :onSubmit="onSubmitGroupManagement"
      size="lg"
      class="pr-2"
    >
      <template v-slot:modal-body>
        <group-mgmt ref="groupManagement" />
      </template>
    </Dialog>
    <Dialog
      id="group-add-edit"
      :title="'Thêm nhóm người dùng'"
      :btnClose="true"
      :onSubmit="onAddGroup"
      size="md"
      class="pr-2"
    >
      <template v-slot:modal-body>
        <group-add-edit ref="addGroup" />
      </template>
    </Dialog>

    <Dialog
      id="function-add"
      :title="'Thêm mới chức năng'"
      :onSubmit="onSave"
      size="lg"
      class="pr-2"
    >
      <template v-slot:modal-body>
        <FunctionAddEdit
          :data="dataCreate"
          :idIcon="idIcon2"
          :isUpdate="false"
          :functionList="optionFunctions"
          ref="refFunctionAdd"
        />
      </template>
    </Dialog>
    <Dialog
      id="user-role"
      :title="'Phân quyền người dùng'"
      :onSubmit="onSubmitUserRole"
      titleBtnSubmit="Cập nhật"
      size="lg"
      class="pr-2"
    >
      <template v-slot:modal-body>
        <UserRole ref="dlgUserRole" />
      </template>
    </Dialog>
  </div>
</template>
<script>
import GroupMgmt from "../Group/GroupMgmt.vue";
import GroupAddEdit from "../Group/GroupAddEdit.vue";
import UserRole from "./UserRole";
import FunctionAddEdit from "./FunctionAddEdit";
import notification from "@/utils/notification";
import ListFunction from "../../components/function/ListFunction.vue";

export default {
  components: {
    GroupMgmt,
    GroupAddEdit,
    FunctionAddEdit,
    UserRole,
    ListFunction,
  },
  data() {
    return {
      idIcon1:'icon1',
      idIcon2:'icon2',
      data: [],
      dataCreate: [],
      listButton: "",
      groupAddEdit: {
        home: true,
        keyGroupMgmt: 1,
        data: {},
        isUpdate: false,
        tittle: "Thêm nhóm người dùng",
        buttonName: "Thêm mới",
      },
      activeId: -1,
      selectParent: 0,
      functionName: "",
      url: "",
      selectShowOnMenu: null,
      selectIcon: null,
      menus: [],
      preMenus: [],
      listFuncAddOptions: [{ id: 0, name: "Root" }],
      optionShowOnMenu: [
        { value: 1, text: "Hiển thị" },
        { value: 0, text: "Không hiển thị" },
      ],
      optionIcon: [
        { value: 0, text: "Home", icon: "fa-home" },
        { value: 1, text: "Chart bar", icon: "fa-chart-bar" },
        { value: 2, text: "Tasks", icon: "fa-tasks" },
        { value: 3, text: "Clipboard list", icon: "fa-clipboard-list" },
        { value: 4, text: "Config", icon: "fa-cog" },
      ],
    };
  },
  computed: {
    optionFunctions() {
      var data = this.$store.getters["function/getFunctions"];
      return [{ id: 0, name: "Root" }, ...data];
    },
  },
  methods: {
    onOpenAddFunction() {
      this.$refs.refFunctionEdit.loadSelect()
      // if (this.activeId !== -1) {
      //   var selected = this.menus.filter((r) => r.id === this.activeId)[0];
      //   this.listFuncAddOptions = [
      //     { id: 0, name: "Root" },
      //     { id: selected.id, name: selected.name },
      //   ];
      // }
      this.$bvModal.show("function-add");
    },
    onPermissionMgmtClick() {
      this.$refs["dlgUserPermission"].show();
    },
    onGroupMgmtClick() {
      this.$bvModal.show("group-management");
    },
    onUserRoleMgmtClick() {
      this.$bvModal.show("user-role")
    },
    onOpenModalAddEdit() {
      var data = {
        isUpdate: false,
      };
      this.$store
        .dispatch("roleGroup/onUpdateRoleGroup", data)
        .then(() => this.$bvModal.show("group-add-edit"));
    },
    // onClick(item) {
    //   if (item.expand) {
    //     this.falseAllChild(item);
    //   } else {
    //     this.menus.forEach((r) => {
    //       if (r.parentId === item.id) {
    //         r.show = true;
    //       }
    //     });
    //   }
    //   item.expand = !item.expand;
    //   this.$forceUpdate();
    // },
    // falseAllChild(item) {
    //   this.menus.forEach((r) => {
    //     if (r.parentId === item.id) {
    //       r.show = false;
    //       r.expand = false;
    //       if (r.isChild) {
    //         this.falseAllChild(r);
    //       }
    //     }
    //   });
    // },
    checkActive(item) {
      this.activeId = item.id;
      this.functionName = item.name;
      this.url = item.url;
      if (item.display_on_menu == 1) {
        this.selectShowOnMenu = 1;
      } else {
        this.selectShowOnMenu = 0;
      }
      this.$refs.refFunctionEdit.setValueSelectIcon(item.icon)
      var data = {
        isUpdate: true,
        activeId: item.id,
        functionName: item.name,
        url: item.url,
        selectShowOnMenu: this.selectShowOnMenu,
        selectParent: item.parentId,
        selectIcon: item.icon,
      };
      this.data = data;
    },
    // loadData() {
    //   this.$store.dispatch("function/loadFunctions").then((rs) => {
    //     this.menus = [];
    //     rs.forEach((fn) => {
    //       this.updateDisplayList(fn, 0, null);
    //     });
    //     this.menus = this.menus.filter((r) => r.display_on_menu === 1);
    //     this.menus.forEach((r) => {
    //       if (r.level === 0) {
    //         r.show = true;
    //       }
    //     });
    //   });
    // },
    // updateDisplayList(item, level, parentId) {
    //   if (item) {
    //     var check = item.sub_functions && item.sub_functions.length > 0;
    //     var count = 0;
    //     if (check) {
    //       item.sub_functions.forEach((r) => {
    //         if (r.display_on_menu === 1) count++;
    //       });
    //     }
    //     var data = {
    //       id: item.id,
    //       icon: item.icon,
    //       name: item.name,
    //       level: level,
    //       edit: false,
    //       expand: false,
    //       show: false,
    //       url: item.url,
    //       isChild: check,
    //       countChild: count,
    //       display_on_menu: item.display_on_menu,
    //       parentId: parentId,
    //     };
    //     this.menus.push(data);
    //     if (item.sub_functions && item.sub_functions.length > 0) {
    //       item.sub_functions.forEach((r) => {
    //         this.updateDisplayList(r, level + 1, item.id);
    //       });
    //     }
    //   }
    // },
    closeAddFunc() {
      this.$bvModal.show("new-function");
    },
    onUpdate() {
      if (this.activeId === -1) {
        notification.error("Vui lòng chọn một chức năng");
        return;
      }
      if (this.$refs.refFunctionEdit.checkValidate()) {
        return;
      }
      var data = this.$refs.refFunctionEdit.getData(true);
      this.$store.dispatch("function/updateFunction", data).then((rs) => {
        if (rs.data.code === 1) {
          notification.success("Cập nhật thành công");
          this.$refs.listFunction.loadData()
        }
      });
    },
    onSave() {
      if (this.$refs.refFunctionAdd.checkValidate()) {
        return;
      }
      var data = this.$refs.refFunctionAdd.getData();
      this.$store.dispatch('function/createFunctions', data).then((rs) => {
        if(rs.data.code === 1){
          notification.success('Tạo mới chức năng thành công')
          this.$bvModal.hide('function-add')
          this.$refs['refFunctionAdd'].resetData()
          this.$refs.listFunction.loadData()
        }
      })
    },
    onSubmitGroupManagement() {
      this.$refs.groupManagement.onAddRoleGroup();
    },
    onAddGroup() {
      this.$refs.addGroup.onSubmit();
    },
    setFunction(e) {
      this.checkActive(e);
    },
    onOpenUserMgmt() { },
    onSubmitUserRole(){
      this.$refs.dlgUserRole.onSubmit()
    }
  },
};
</script>
<style lang="scss">
.main {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  background-color: #f9f9f9;
}
.main__header {
  display: flex;
  justify-content: flex-end;
  padding: 16px 18px;
  .v-select {
    .v-select-toggle {
      color: #fff !important;
    }
  }
}
.main__body {
  display: flex;
}
.main__left {
  max-width: 400px;
  width: 250px;
  height: 100%;
  background: #ffffff !important;
  border-radius: 22px;
  padding: 0 !important;
  min-height: 100vh;
  margin-bottom: 20px;
  // overflow: scroll;
}
.halo-tree .tree-node-el {
  max-width: 200px;
  width: 160px;
}
.list-function {
  overflow: auto !important;
}
.main__right {
  width: 80%;
  padding: 8px 18px;
}
.main__left__row {
  text-align: left;
  padding: 0px;
  margin: 8px 0;
  cursor: pointer;
  align-items: center;
}
.main__left__row__parent {
  text-align: left;
  display: flex;
  padding: 0px;
  height: 24px;
  margin: 10px 0;
  // justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.main__left__row__child {
  display: flex;
  height: 35px;
  align-items: center;
}
.main__left__row__left {
  display: flex;
  align-items: center;
  justify-items: center;
  // overflow: hidden;
}
.main__left__row__name {
  font-size: 14px;
  line-height: 140%;
  color: #2b2c2e;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5px;
}
.main__left__row__child__tree-style {
  width: 25px;
  height: 40px;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  border-color: gray;
  border-width: 1px;
  margin: 4px 5px 34px 8px;
}
.active {
  color: #2040eb;
}
.main__right__title {
  font-weight: bold;
  font-size: 24px;
  color: #242424;
  margin-bottom: 10px;
}
.main__right__form {
  background: #ffffff;
  border-radius: 22px;
}
.row {
  margin-bottom: 10px;
}
.main__right__form__title {
  font-size: 16px;
  color: #131313;
  margin-bottom: 5px;
}
.main__right__button {
  display: flex;
  justify-content: center;
  margin-top: 21px;
}
.btn-header {
  margin-left: 15px;
}
.dropdown-role-access {
  margin-left: 15px;
  // .dropdown-toggle {
  //   background-color: #32bdea !important;
  //   border-color: #32bdea !important;
  // }
}
.btn-update {
  width: 237px;
  height: 50px;
}
.select {
  background: #eaeaea;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: none;
  padding: 5px;
}
.select-role {
  width: 200px !important;
  // background-color: #32bdea !important;
  // border-color: #32bdea !important;
}
.select-input {
  margin: 0;
}
.main__left__row__child__style {
  display: flex;
  margin-top: 12px;
  margin-left: 36px;
  align-items: center;
  height: 32px;
}
.selectpicker {
  padding: 5px !important;
}
.fas {
  margin-right: 5px;
}
.border-vertical {
  border-left: 2px solid gray;
  height: 34px;
}
.border-horizontal {
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  width: 20px;
  height: 34px;
  // position: absolute;
  margin-bottom: 30px;
}
</style>
