<template>
  <b-modal
    id="user-group-mgmt"
    centered
    hide-footer
    hide-header
    hide-header-close
  >
    <div class="popup text-left">
      <div class="title">
        <h4 class="mb-3">Quản lý nhóm người dùng</h4>
        <i
          class="fas fa-times btn-close"
          @click="$bvModal.hide('user-group-mgmt')"
        ></i>
      </div>
      <hr />
      <div class="content create-workform bg-body">
        <div class="main__right__form"></div>
        <div class="col-lg-12 mt-4">
          <div
            class="d-flex flex-wrap align-items-ceter justify-content-center"
          >
            <div
              class="btn btn-primary btn-add"
              data-dismiss="modal"
              @click="onSubmit"
            >
              Thêm mới
            </div>
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>
<script lang="ts">
export default {
  props: {},
  data() {
    return {};
  },
  methods: {},
  mounted() {},
};
</script>
<style></style>
