<template >
  <div class="popup text-left">
    <div class="content create-workform bg-body">
      <div class="main__right__form">
        <div class="container">
          <b-row class="mb-10">
            <div class="form-group vw-100">
              <label class="form-label text-left">Chọn người dùng</label>
              <Select2
                textField="text"
                v-model="user_id"
                valueField="value"
                :options="optionsUsers"
                @input="changeSelectedRole($event)"
              >
              </Select2>
            </div>
          </b-row>
          <div class="row row-group-user">
            <b-col>
              <label class="form-label text-left">
                Tất cả nhóm người dùng
              </label>
              <b-list-group
                class="list-group-user"
                style="margin-right: 10px"
              >
                <b-list-group-item
                  v-for="userRole in optionsAllUserRole"
                  :key="userRole.value"
                  href="#"
                  @click="updateListAllUserRole(userRole,$event)"
                  class="list-group-user__item"
                >{{userRole.text}}</b-list-group-item>

              </b-list-group>
            </b-col>
            <b-col class="col-button-move">
              <div>
                <b-button
                  class="button-move-user-role pb-2"
                  variant="primary"
                  @click="moveToSelectedUserRole"
                ><i class="ri-arrow-right-fill"></i></b-button>
                <b-button
                  class="button-move-user-role pb-2"
                  variant="primary"
                  @click="moveToAllUserRole"
                ><i class="ri-arrow-left-fill"></i></b-button>
              </div>
            </b-col>
            <b-col>
              <label class="form-label text-left">
                Nhóm người dùng sẽ gán
              </label>
              <b-list-group
                class="list-group-user"
                style="margin-left: 10px"
              >
                <b-list-group-item
                  href="#"
                  v-for="el in optionsSelectedUserRole"
                  :key="el.value"
                  class="list-group-user__item"
                  @click="updateListSelectedUserRole(el,$event)"
                >{{el.text}}</b-list-group-item>
              </b-list-group>
            </b-col>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
// import VueSelectPicker from "../../components/form/selectpicker/VueSelectpicker"
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import notification from '@/utils/notification'
// import { array } from '@amcharts/amcharts4/core'
export default {
  mixins: [validationMixin],
  validations: {
    user_id: { required }

  },
  components: {
    // VueSelectPicker
  },
  data() {
    return {
      optionsUsers: [],
      optionsAllUserRole: [],
      optionsSelectedUserRole: [],
      selectedUserRole: [],
      removeUserRole: [],
      user_id: null,
      user_role_group: []
    }
  },
  computed: {
    loadUsers() {
      let option = []
      this.$store.state.user.users?.items?.forEach(el => {
        option.push({ value: el.id, text: el.name })
      })
      return option
    }
  },
  mounted() {
    this.loadData()
  },
  props: {
    buttonName: {
      type: String,
      default: 'Cập nhật'
    },
    isUpdate: {
      default: false
    },
    tittle: {
      type: String,
      default: 'Phân quyền nguời dùng'
    }
  },
  methods: {
    openModal() {
      this.$bvModal.show('user-role')
    },
    closeModal() {
      this.$bvModal.hide('user-role')
    },
    onSubmit() {
      if (this.validate() === false) { return }
      const dataAdd = { id: this.user_id, role_list: [] }
      this.optionsSelectedUserRole.forEach(el => {
        if (this.user_role_group.indexOf(el) == -1) {
          dataAdd.role_list.push(el.value)
        }

      })
      if (dataAdd.role_list.length) {
        this.$store.dispatch('user/addToGroup', dataAdd).then((rs) => {
          if (rs == 'success') {
            notification.success('Cập nhật thành công')
          }
        })
      }

      const dataDel = { id: this.user_id, role_list: [] }
      this.optionsAllUserRole.forEach(el => {
        if (this.user_role_group.indexOf(el) != -1) {
          dataDel.role_list.push(el.value)
        }
      })
      if (dataDel.role_list.length) {
        this.$store.dispatch('user/delFromGroup', dataDel).then((rs) => {
          if (rs == 'success') {
            notification.success('Cập nhật thành công')
          }
        })
      }

    },
    async changeSelectedRole() {
      await this.$store.dispatch('user/getRoleGroupOfUser', this.user_id).then((rs) => {
        if (rs) {
          this.user_role_group = []
          rs.forEach(el => {
            this.user_role_group.push({ value: el.code, text: el.role_name.trim() })
          })
        }
      })

      if (this.optionsSelectedUserRole.length != 0) {
        const select = Array.prototype.slice.call(this.optionsSelectedUserRole)
        select.forEach(el => {
          this.optionsAllUserRole.push(el)
        })
        this.optionsSelectedUserRole = []
        this.selectedUserRole = []
        this.removeUserRole = []
      } else {
        this.selectedUserRole = []
        this.removeUserRole = []
      }
      this.$forceUpdate()
      if (this.user_role_group.length) {
        this.user_role_group.forEach(el => {
          if (this.optionsAllUserRole.find(element => element.value == el.value)) {
            const element = this.optionsAllUserRole.find(element => element.value == el.value)
            this.optionsAllUserRole.splice(this.optionsAllUserRole.indexOf(element), 1)
            this.optionsSelectedUserRole.push(el)
          }
        })

      }
    },
    updateListAllUserRole(userRole, e) {
      if (e.target.classList.contains('active')) {
        e.target.classList.remove('active')
        this.selectedUserRole.splice(this.selectedUserRole.indexOf(userRole), 1)
      } else {
        e.target.classList.add('active')
        this.selectedUserRole.push(userRole)
      }

    },
    updateListSelectedUserRole(userRole, e) {
      if (e.target.classList.contains('active')) {
        e.target.classList.remove('active')
        this.removeUserRole.splice(this.removeUserRole.indexOf(userRole), 1)
      } else {
        e.target.classList.add('active')
        this.removeUserRole.push(userRole)
      }
    },
    moveToSelectedUserRole() {
      if (this.selectedUserRole) {
        const select = Array.prototype.slice.call(this.selectedUserRole)
        select.forEach(el => {
          if (this.optionsSelectedUserRole.indexOf(el) == -1) {
            this.optionsSelectedUserRole.push(el)
            this.optionsAllUserRole.splice(this.optionsAllUserRole.indexOf(el), 1)
            this.selectedUserRole.splice(this.selectedUserRole.indexOf(el), 1)
          }
        });
      }

    },
    moveToAllUserRole() {
      if (this.removeUserRole) {
        const remove = Array.prototype.slice.call(this.removeUserRole)
        remove.forEach(el => {
          if (this.optionsAllUserRole.indexOf(el) == -1) {
            this.optionsAllUserRole.push(el)
            this.optionsSelectedUserRole.splice(this.optionsSelectedUserRole.indexOf(el), 1)
            this.removeUserRole.splice(this.removeUserRole.indexOf(el), 1)
          }
        });
      }
    },
    validate() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        window.scrollTo({ top: 0, behavior: 'smooth' });
        return false
      } else {
        return true;
      }
    },
    loadData() {
      this.$store.dispatch("roleGroup/getRoleGroups", { page: 0, pageSize: 10000 }).then((rs) => {
        if (rs) {
          rs.items.forEach(el => {
            this.optionsAllUserRole.push({ value: el.code, text: el.role_name.trim() })
          })
        }
      })
      this.$store.dispatch("user/loadUsers", { page: 0, pageSize: 10000 }).then(() => {
        this.optionsUsers = Array.prototype.slice.call(this.loadUsers)
        this.user_id = +this.optionsUsers[0].value
        if (this.user_id) {
          this.changeSelectedRole()
        }
      })

    }
  }
}
</script>
<style  scoped>
.popup {
  padding: 0 !important;
}
.title {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.mb-3 {
  font-family: Heebo !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 38px !important;
  margin: 0 !important;
  color: #131313;
}
.fa-times {
  margin-bottom: 10px !important;
}
.btn-close {
  cursor: pointer;
}
.btn-add {
  width: 237px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.main__right__form__title {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #131313;
  margin-bottom: 5px;
}
.select-user {
  width: 100% !important;
  background-color: #eaeaea !important;
  border: none !important;
  border-radius: 10px !important;
}
.row-group-user {
  display: grid;
  grid-template-columns: 4.5fr 1fr 4.5fr;
}
.list-group-user {
  height: 350px;
  /* background: #EAEAEA; */
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  overflow: auto;
  border: solid 1px #eaeaea;
}
.list-group-user__item {
  height: initial;
  /* background-color: #EAEAEA !important; */
  border-radius: 0px !important;
  /* border: none !important; */
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
}
.active {
  background: #32bdea !important;
  border: solid 1px #eaeaea;
}
.col {
  padding: 0;
}
.col-button-move {
  text-align: center;
  display: flex;
  align-items: center;
}
.button-move-user-role {
  margin-top: 5px;
}
</style>