<template>
   <footer class="iq-footer">
        <!-- <div class="container-fluid">
        <div class="card">
            <div class="card-body">
               
            </div>
        </div>
    </div> -->
</footer>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
    name:"Footer",
    prop:{
    },
    computed : {
        ...mapGetters({
            appName: 'appName'
        })
    }
}
</script>