<template>
  <div>
    <div class="container__parent-input">
      <label class="d-block">{{ title }}</label>
      <v-select
        ref="selectProduct"
        :options="dataSearch"
        :value="null"
        :label="lableSelect"
        :placeholder="placeholder"
        :filterBy="filterBy"
        :disabled="disabled"
        @option:selecting="onSelecting"
      >
        <template #open-indicator="{ attributes }">
          <span v-bind="attributes"><i class="fas fa-search"></i></span>
        </template>
        <template #option="{ name, thumb, current_number, qty }">
          <div class="dropdown__option">
            <div class="dropdown__option-left">
              <img class="image__product" :src="thumb" alt="image" />
            </div>
            <div class="dropdown__option-right">
              <div class="product__name">{{ name }}</div>
              <div class="product__number">Số lượng: {{ current_number?current_number:qty }}</div>
            </div>
          </div>
        </template>
        <span slot="no-options">
          Số lượng sản phẩm hiện có trong kho đang trống
        </span>
      </v-select>
    </div>
    <table-list
      :line-number="lineNumber"
      :columns="columnsTable"
      :total-items="true"
      :rows="dataTable"
      :total="dataTable.length"
      @cellValue:onChange="onChangeCellValue"
    ></table-list>
  </div>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import adjustmentService from "../../services/adjustment.service";
import transferService from "../../services/transfer.service";
import purchaseService from "../../services/purchase.service";
import saleOrderService from "../../services/sale-order.service";

export default {
  components: {
    vSelect,
  },
  mounted() {
    this.getData({ target: { value: "" } });
    const refSearch = this.$refs.selectProduct.$refs.search;
    const refToggle = this.$refs.selectProduct.$refs.toggle;
    refToggle.classList.add("search__input");
    refSearch.addEventListener("input", this.getData, false);
    refSearch.addEventListener("blur", this.getData, false);
  },
  props: {
    lineNumber: { default: false },
    title: { type: String, default: "" },
    searchItemType: { type: String, default: "" },
    warehouseId: null,
    lableSelect: { type: String, default: "" },
    placeholder: { type: String, default: "" },
    filterBy: {
      type: Function,
      default() {
        return true;
      },
    },
    //data for table
    columnsTable: {
      type: Array,
      default: function() {
        return [];
      },
    },
    dataTable: {
      type: Array,
      default: function() {
        return [];
      },
    },
    disabled: { default: false },
  },
  data() {
    return {
      dataSearch: [],
      timeOut: null,
      valueSearch: "",
    };
  },
  methods: {
    onSelecting(selectedOption) {
      this.valueSearch = "";
      this.$emit("onSelect", selectedOption);
    },
    onChangeCellValue(data) {
      this.$emit("cellValue:onChange", data);
    },
    getData(val) {
      if (this.warehouseId) {
        if (val.target) {
          clearTimeout(this.timeOut);
          this.timeOut = setTimeout(() => {
            if (this.searchItemType == "adjustment") {
              adjustmentService
                .searchItemAdjustment(
                  this.warehouseId,
                  val.target.value.toString().trim()
                )
                .then((rs) => {
                  if (rs) {
                    this.dataSearch = rs.data.data.items;
                    this.valueSearch = val.target.value.toString();
                  }
                });
            } else if (this.searchItemType == "transfer") {
              transferService
                .searchItemTransfer(
                  this.warehouseId,
                  val.target.value.toString().trim()
                )
                .then((rs) => {
                  if (rs) {
                    this.dataSearch = rs.data.data.items;
                    this.valueSearch = val.target.value.toString();
                  }
                });
            } else if (this.searchItemType == "purchase") {
              purchaseService
                .searchItemPurchase(
                  this.warehouseId,
                  val.target.value.toString().trim()
                )
                .then((rs) => {
                  if (rs) {
                    this.dataSearch = rs.data?.data?.items;
                    this.valueSearch = val.target.value.toString();
                  }
                });
            } else if (this.searchItemType == "sale-order") {
              saleOrderService
                .searchItemSaleOrder(
                  this.warehouseId,
                  val.target.value.toString().trim()
                )
                .then((rs) => {
                  if (rs) {
                    this.dataSearch = rs.data.data.items;
                    this.valueSearch = val.target.value.toString();
                  }
                });
            }
          }, 500);
        }
      } else {
        this.dataSearch = [];
      }
    },
  },
  watch: {
    warehouseId: function() {
      const refSearch = this.$refs.selectProduct.$refs.search;
      this.getData({ target: { value: refSearch.value } });
    },
  },
};
</script>

<style scoped>
.container__parent-input {
  width: 100%;
  margin-bottom: 15px !important;
}
.vs__open-indicator {
  transform: none !important;
}
.vs__dropdown-toggle {
  border-radius: 4px !important;
}
.dropdown__option {
  display: flex;
  align-items: center;
}
.dropdown__option-left {
  padding: 0 5px;
}
.dropdown__option-right {
  flex-grow: 1;
  padding: 0 20px;
}
.image__product {
  width: 45px;
  height: 40px;
}
.product__name {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: bold;
}
.product__number {
  color: rgba(22, 22, 22, 0.555);
}
</style>
