<template>
  <!-- <select ref="select" class="w-100 d-none">
    <slot></slot>
  </select> -->
  <select
    :id="idIcon"
    ref="select"
    name="threads-icon"
    class="w-100 d-none"
  />
</template>
<script>
import { stringUtil } from "@/utils/string";
export default {
  /* eslint-disable no-undef */
  name: "SelectIcon",
  data() {
    return {
      options: [
        'fa-home',
        'fa-chart-bar',
        'fa-tasks',
        'fa-clipboard-list',
        'fa-cog'
      ],
    }
  },
  props: {
    idIcon: {
      default: 'icon1'
    },
  },
  computed: {
    uuid() { return stringUtil.newGuid() }
  },
  mounted() {
    // $.get('https://raw.githubusercontent.com/FortAwesome/Font-Awesome/fa-4/src/icons.yml', function(data) {
    //     const jsyaml = require('js-yaml');
    //     var parsedYaml = jsyaml.load(data);
    //     var options = new Array();
    //     $.each(parsedYaml.icons, function(index, icon){
    //         options.push({
    //             id: icon.id,
    //             text: '<i class="fa fa-fw fa-' + icon.id + '"></i> ' + icon.id
    //         });
    // });

    //     $('#'+this.idIcon).select2({
    //         data: options,
    //         escapeMarkup: function(markup) {
    //             return markup;
    //         }
    //     });
    // });
    // var options = this.options.map(e => ({ id: e, text: `<i class="fas ${e}" />` }))
    // $.each(this.options, function(index, icon){
    //     options.push({
    //         id: icon,
    //         text:`<i class="fas ${icon}"></i> `
    //     });
    // })

    // $('#'+this.idIcon).select2({
    //     data: this.options,
    //     templateResult: function(data){
    //         return window.$(
    //             `<div style="width:100%; text-align: center;"><i class="fas ${data.text}"></i></div>`
    //         );
    //     },
    //     templateSelection: function(data){
    //         return window.$(
    //             `<div style="width:100%; text-align: center;"><i class="fas ${data.text}"></i></div>`
    //         );
    //     },
    //     escapeMarkup: function(markup) {
    //         return markup;
    //     },
    //     tags: true
    // });

    // $('#'+this.idIcon).select2({
    //     tags: true
    // });

    this.loadSelect()
  },
  methods: {
    getData() {
      return $('#' + this.idIcon).val();
    },
    setData(e) {
      document.querySelector('#' + this.idIcon).value = e
      this.loadSelect()
      this.$forceUpdate()
    },
    loadSelect() {
      $('#' + this.idIcon).select2({
        data: this.options,
        templateResult: function (data) {
          return window.$(
            `<div style="width:100%; text-align: center;"><i class="fas ${data.text}"></i></div>`
          );
        },
        templateSelection: function (data) {
          return window.$(
            `<div style="width:100%; text-align: center;"><i class="fas ${data.text}"></i></div>`
          );
        },
        escapeMarkup: function (markup) {
          return markup;
        },
        tags: true
      });
      $("#icon1").select2({
        data: this.options,
        templateResult: function (data) {
          return window.$(
            `<div style="width:100%; text-align: center;"><i class="fas ${data.text}"></i></div>`
          );
        },
        templateSelection: function (data) {
          return window.$(
            `<div style="width:100%; text-align: center;"><i class="fas ${data.text}"></i></div>`
          );
        },
        escapeMarkup: function (markup) {
          return markup;
        },
        tags: true
      });
    }
  },
  destroyed() {
    window
      .$(this.$refs.select)
      .off()
      .select2("destroy");
  },
}
</script>