<template>
  <div>
    <select ref="select" class="w-100 d-none">
      <slot></slot>
    </select>
    <div v-if="invalid" class="invalid-feedback-custom">
      {{ invalidFeedback }}
    </div>
  </div>
</template>

<script>
import { stringUtil } from "@/utils/string";
export default {
  name: "Select2",
  props: [
    "options",
    "value",
    "textField",
    "valueField",
    "icon",
    "iconOnly",
    "textAlign",
    "searchField",
    "placeholder",
    "invalid",
    "invalidFeedback",
  ],
  created() {
    this.textKey = this.textField || "text";
    this.valueKey = this.valueField || "id";
    this.searchKey = this.searchField ?? true;
  },
  computed: {
    uuid() {
      return stringUtil.newGuid();
    },
  },
  mounted() {
    const transformedOption = this.transformOption(this.options);
    const select2InitOption = {
      data: transformedOption,
      templateResult: (data) => {
        return this.formatState(data);
      },
      templateSelection: (data) => {
        return this.formatState(data);
      },
      placeholder: this.placeholder,
    };

    window
      .$(this.$refs.select)
      .select2(select2InitOption)
      .val(this.getInitValue())
      .trigger("change")
      .on("change", (e) => {
        const val = +e.target.value === 0 ? null : +e.target.value;
        if (this.currentValue !== val) {
          const value = this.value || -1;
          if (typeof value !== "object") {
            this.$emit("input", val);
            this.$emit("change", val);
          } else if (value != null && value[this.valueKey]) {
            const data = transformedOption.find((o) => o.id === val);
            this.$emit("input", data);
            this.$emit("change", data);
          }
        }
        this.currentValue = val;
      });

    if (!this.searchKey) {
      window.$(this.$refs.select).select2({
        minimumResultsForSearch: -1,
      });
    }
  },
  data() {
    return {
      currentValue: -1,
      textKey: "text",
      valueKey: "id",
      eventEmitDelayHandle: null,
      searchKey: true,
      allowInput: false,
      invalidKey: false,
      // invalid: false
    };
  },
  methods: {
    getInitValue() {
      let initVal = null;
      if (typeof this.value !== "object") {
        initVal = this.value;
      } else if (this.value != null && this.value[this.valueKey]) {
        initVal = this.value[this.valueKey];
      }

      return initVal;
    },
    formatState(state) {
      const textAlign =
        typeof this.textAlign != "undefined" ? this.textAlign : "unset";

      if (typeof this.iconOnly != "undefined") {
        return window.$(
          `<div style="width:100%; text-align:${textAlign}"><i class="fas ${state.icon}"></i></div>`
        );
      }

      const tempalte = window.$(
        `<div style="width:100%; text-align:${textAlign}"></div>`
      );
      if (this.icon) {
        tempalte.append(window.$(`<i class="fas ${state.icon}"></i>`));
      }

      tempalte.append(window.$("<span>" + state.text + "</span>"));

      // if (this.icon) {
      //     return window.$(`<div style="width:100%; text-align:${textAlign}">${state.text}</div>`);
      // }
      // var $state = window.$(`<div style="width:100%; text-align:${textAlign}"><i class="fas ${state.icon}"> ${state.text}</i></div>`);

      return tempalte;
    },
    transformOption(options) {
      if (
        typeof this.icon != "undefined" ||
        typeof this.iconOnly != "undefined"
      ) {
        return options.map((o) => ({
          id: +o[this.valueKey],
          text: o[this.textField],
          icon: o["icon"],
        }));
      }
      return options.map((o) => ({
        id: +o[this.valueKey],
        text: o[this.textField],
      }));
    },
  },
  watch: {
    value() {
      const val = this.getInitValue();
      window
        .$(this.$refs.select)
        .val(val)
        .trigger("change");
    },
    options(options) {
      const transformedOption = this.transformOption(options);
      const val = this.getInitValue();
      window
        .$(this.$refs.select)
        .empty()
        .select2({
          data: transformedOption,
          templateResult: this.formatState,
          templateSelection: this.formatState,
        })
        .val(val)
        .trigger("change");
    },
    invalid(val) {
      if (val) {
        this.$refs.select.nextSibling.children[0].children[0].setAttribute(
          "style",
          "border-color: #E08DB4 !important;"
        );
      } else {
        this.$refs.select.nextSibling.children[0].children[0].removeAttribute(
          "style"
        );
      }
    },
  },
  destroyed() {
    window
      .$(this.$refs.select)
      .off()
      .select2("destroy");
  },
};
</script>
<style>
.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  height: 45px !important;
  line-height: 45px;
  background: #ffffff;
  border: 1px solid #dcdfe8 !important;
  font-size: 14px;
  color: #676e8a;
  border-radius: 10px !important;
  box-shadow: none;
  padding: 0.375rem 0.75rem !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 8px !important;
}
.select2-dropdown {
  border: 1px solid #dcdfe8 !important;
  border-radius: 10px !important;
  top: 5px !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #dcdfe8 !important;
  border-radius: 10px !important;
}
.invalid-feedback-custom {
  display: block !important;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e08db4;
}
</style>
