<template>
  <table class="table table-hover">
    <thead>
      <tr class="ligth ligth-data">
        <th class="col-lg-3" style="width: 45%">Đơn vị quy đổi</th>
        <th class="col-lg-3" style="width: 45%">Số lượng</th>
        <th class="col-lg-3" style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div v-if="data.edit">
            <Select2
              textField="unit_name"
              icon
              valueField="id"
              :options="optionUnits"
              v-model="data.unit_id"
            >
            </Select2>
          </div>
          <div v-else-if="!isInsert">
            <Select2
              textField="unit_name"
              icon
              valueField="id"
              :options="optionUnits"
              :invalid="$v.data.unit_id.$error"
              v-model="data.unit_id"
            >
            </Select2>
          </div>
          <p v-else>{{ getUnitName(data) }}</p>
        </td>
        <td>
          <input
            v-if="!isInsert"
            type="number"
            class="form-control input"
            v-model="data.number"
            @input="data.number = minValidationNumber()"
          />
          <input
            v-else-if="data.edit"
            type="number"
            class="form-control input"
            v-model="data.number"
            @input="data.number = minValidationNumber()"
          />
          <p v-else>{{ data.number }}</p>
        </td>
        <td>
          <div class="d-flex align-items-center list-action">
            <a
              v-if="!isInsert"
              class="badge bg-success mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Add"
              @click="addCommutationemUnit"
            >
              <i class="fas fa-plus mr-0"></i>
            </a>
            <a
              v-if="isInsert && !data.edit"
              class="badge bg-success mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Edit"
              @click="editCommutationemUnit(data)"
            >
              <i class="far fa-edit mr-0"></i>
            </a>
            <a
              v-if="isInsert && data.edit"
              class="badge bg-success mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Save"
              @click="saveCommutationemUnit(data)"
            >
              <i class="far fa-save mr-0"></i>
            </a>
            <!-- <a v-if="isInsert" class="badge bg-warning mr-2" data-toggle="tooltip" v-b-tooltip.top title="Delete" @click="deleteCommutationemUnit(data)">
                            <i class="ri-close-line mr-0"></i>
                        </a> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import notification from "@/utils/notification";

export default {
  name: "commutationem-unit",
  props: {
    data: {
      type: Object,
      default: null
    },
    onDelete: {
      type: Function,
      default: () => {},
    },
    isInsert: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [validationMixin],
  validations: {
    data: {
      unit_id: {
        required,
      },
      number: {
        required,
      },
    },
  },
  data() {
    return {
      newCommutationemUnit: {
        unit_id: null,
        number: null,
        edit: false,
      },
    };
  },
  computed: {
    optionUnits() {
      let data = this.$store.getters["unit/getUnits"]?.items;
      return data;
    },
  },
  methods: {
    addCommutationemUnit() {
      this.$v.data.$touch();
      if (this.$v.data.$invalid || this.data.unit_id === 0) {
        notification.error("Xin vui lòng chọn đơn vị quy đổi");
        return;
      }
      this.data.edit = false;
      this.isInsert = true;
    },
    editCommutationemUnit(e) {
      e.edit = true;
      this.$forceUpdate();
    },
    saveCommutationemUnit(e) {
      e.edit = false;
      this.$forceUpdate();
    },
    deleteCommutationemUnit(e) {
      this.onDelete(e);
      this.$forceUpdate();
    },
    getUnitName(e) {
      let data = this.optionUnits;
      var item = data.filter((r) => r.id == e.unit_id);
      return item[0]?.unit_name;
    },
    minValidationNumber() {
      let val = this.data.number;
      if (val < 0 || isNaN(val)) {
        return 0;
      } else {
        return val;
      }
    },
  },
};
</script>
