<template>
  <b-modal :id="id" centered hide-footer hide-header hide-header-close>
    <div class="popup text-left">
      <div class="title">
        <h4>Xác nhận</h4>
        <i class="fas fa-times btn-close" @click="$bvModal.hide(id)"></i>
      </div>
      <hr />
      <div class="content create-workform justify-content-center bg-body">
        <div class="main__right__form justify-content-center">
          <p>Bạn có muốn xoá {{ title.toLowerCase() }} không ?</p>
        </div>
        <div class="row">
          <div class="col-lg-6 mt-4" style="margin: 0">
            <div
              class="d-flex flex-wrap align-items-ceter justify-content-center"
            >
              <div
                class="btn btn-danger btn-confirm"
                @click="$bvModal.hide(id)"
                data-dismiss="modal"
              >
                Không
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4" style="margin: 0">
            <div
              class="d-flex flex-wrap align-items-ceter justify-content-center"
            >
              <div
                class="btn btn-primary btn-confirm"
                @click="confirmDelete"
                data-dismiss="modal"
              >
                Có
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: "",
    },
    id: {
      type: String,
      default: "CheckDelete",
    },
  },
  methods: {
    confirmDelete() {
      this.$emit("confirmDelete");
    },
  },
};
</script>
<style scoped>
.popup {
  padding: 0 !important;
}
.title {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.mb-3 {
  font-family: Heebo !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 38px !important;
  margin: 0 !important;
  color: #131313;
}
.fa-times {
  margin-bottom: 10px !important;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
  }
}
.btn-close {
  cursor: pointer;
}
.btn-add {
  width: 237px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.main__right__form__title {
  font-weight: bold;
  font-size: 16px;
  color: #131313;
  margin-bottom: 5px;
}
.content {
  padding: 20px;
}
.btn-cancel {
  width: 200px;
  background-color: gray;
  color: black;
}
.btn-confirm {
  width: 200px;
}
</style>
