<template>
  <div class="card card-custom">
    <div class="card-body main-body">
      <div class="container main-top">
        <div class="row">
          <div class="col-3" style="padding-top: 8px;">
            <upload-image :value="imageList" @input-image="inputImage" />
          </div>
          <div class="col-9">
            <div class="row" style="padding-bottom: 7px;">
              <label>Tên sản phẩm</label>
              <input
                type="text"
                :class="
                  `form-control input ${
                    $v.form.productName.$error ? 'is-invalid' : ''
                  }`
                "
                v-model="form.productName"
                @input="$v.form.productName.$touch()"
                @blur="$v.form.productName.$touch()"
              />
              <div class="invalid-feedback">
                Tên sản phẩm không được trống
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 pl-0">
                <label>SKU</label>
                <input
                  type="text"
                  :class="
                    `form-control input ${
                      $v.form.sku.$error ? 'is-invalid' : ''
                    }`
                  "
                  v-model="form.sku"
                  @input="$v.form.sku.$touch()"
                  @blur="$v.form.sku.$touch()"
                />
                <div class="invalid-feedback">
                  SKU không được trống
                </div>
              </div>
              <div class="col-lg-4 pl-0">
                <label>Barcode</label>
                <input
                  type="text"
                  class="form-control input"
                  v-model="form.barcode"
                />
              </div>
              <div class="col-lg-4 pl-0">
                <label>Đơn vị</label>
                <Select2
                  ref="selectUnit"
                  textField="unit_name"
                  :invalid="$v.form.base_unit_id.$error"
                  invalidFeedback="Vui lòng chọn đơn vị"
                  valueField="id"
                  :options="optionUnits"
                  v-model="form.base_unit_id"
                >
                </Select2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-bottom">
        <Nav-tab>
          <Nav-tab-item :title="'Giá'" :isActive="true">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <currency-input
                    v-model="form.retailPrice"
                    :touch="$v.form.retailPrice.$touch"
                    :invalid="$v.form.retailPrice.$error"
                    label="Giá bán lẻ"
                    invalidFeedback="Giá bán lẻ không được trống"
                  />
                </div>
                <div class="col-lg-4">
                  <currency-input
                    v-model="form.wholesalePrice"
                    :touch="$v.form.wholesalePrice.$touch"
                    :invalid="$v.form.wholesalePrice.$error"
                    label="Giá bán buôn"
                    invalidFeedback="Giá bán buôn không được trống"
                  />
                </div>
                <div class="col-lg-4">
                  <currency-input
                    v-model="form.inputPrice"
                    :touch="$v.form.inputPrice.$touch"
                    :invalid="$v.form.inputPrice.$error"
                    label="Giá nhập"
                    invalidFeedback="Giá nhập không được trống"
                  />
                </div>
              </div>
            </div>
          </Nav-tab-item>
          <Nav-tab-item :title="'Phiên bản sản phẩm'">
            <product-version
              :data="form.versionProduct"
              :onDelete="deleteVersionProduct"
            ></product-version>
          </Nav-tab-item>
          <Nav-tab-item :title="'Quy đổi đơn vị tính'">
            <commutationem-unit
              :data="form.commutationemUnit"
              :isInsert="isUpdate"
            ></commutationem-unit>
          </Nav-tab-item>
          <Nav-tab-item :title="'Kho'">
            <warehouse
              :data="form.warehouse"
              :onDelete="deleteWarehouse"
            ></warehouse>
          </Nav-tab-item>
          <Nav-tab-item :title="'Khác'">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <p class="main-top__title">Category</p>
                  <Select2
                    textField="name"
                    :invalid="$v.selectCategory.$error"
                    invalidFeedback="Vui lòng chọn phân loại"
                    valueField="id"
                    :options="optionCategories"
                    v-model="selectCategory"
                  >
                  </Select2>
                </div>
                <div class="col-lg-4">
                  <p class="main-top__title">Brand</p>
                  <Select2
                    textField="title"
                    :invalid="$v.selectBrand.$error"
                    invalidFeedback="Vui lòng chọn thương hiệu"
                    valueField="id"
                    :options="optionBrands"
                    v-model="selectBrand"
                  >
                  </Select2>
                </div>
                <div class="col-lg-4">
                  <p class="main-top__title">Tags</p>
                  <b-form-tags
                     style="line-height:31px"
                    input-id="tags-basic"
                    v-model="tags"
                  ></b-form-tags>
                </div>
              </div>
            </div>
          </Nav-tab-item>
        </Nav-tab>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

import notification from "@/utils/notification";
import { ButtonEvent } from "@/models/enums";
import ProductVersion from "./ProductVersion.vue";
import CommutationemUnit from "./CommutationemUnit.vue";
import Warehouse from "./Warehouse.vue";
import CurrencyInput from "@/components/form/input-currency/InputCurrency.vue";
import UploadImage from "../../components/upload-image/UploadImage.vue";

export default {
  name: "product-add-edit",
  props: {
    isUpdate: {
      type: Boolean,
      default: false,
    },
    data: {
      type: Object,
      default: null,
    },
    close: {
      type: Function,
      default: () => {},
    },
  },
  components: {
    ProductVersion,
    CommutationemUnit,
    Warehouse,
    CurrencyInput,
    UploadImage,
  },
  mixins: [validationMixin],
  validations: {
    form: {
      productName: {
        required,
      },
      sku: {
        required,
      },
      retailPrice: {
        required,
      },
      wholesalePrice: {
        required,
      },
      inputPrice: {
        required,
      },
      base_unit_id: {
        required,
      },
    },
    selectCategory: { required },
    selectBrand: { required },
  },
  data() {
    return {
      listButton: ButtonEvent,
      form: {
        id: null,
        productName: "",
        sku: "",
        barcode: "",
        retailPrice: this.data ? this.data.cost : null,
        wholesalePrice: this.data ? this.data.wholeslae_price : null,
        inputPrice: this.data ? this.data.price : null,
        versionProduct: [],
        commutationemUnit: {
          unit_id: null,
          number: 0,
          edit: false,
        },
        warehouse: [],
        base_unit_id: null,
      },
      selectCategory: null,
      selectBrand: null,
      tags: [],
      imageList:
        this.data && this.data.images.length > 0 ? this.data.images : [],
      versionProductDelete: [],
      warehousesDelete: [],
      variants_first: [],
      units_first: {},
      warehouses_first: [],
      imageListNew: [],
    };
  },
  computed: {
    optionCategories() {
      let data = this.$store.getters["category/getCategories"];
      return data.items;
    },
    optionBrands() {
      let data = this.$store.getters["brand/getBrands"];
      return data;
    },
    optionUnits() {
      let data = this.$store.getters["unit/getUnits"]?.items;
      return data;
    },
  },
  mounted() {
    this.$store.dispatch("category/loadCategories", {
      page: 0,
      pageSize: 1000,
    });
    this.$store.dispatch("brand/getBrands", {
      page: 0,
      pageSize: 1000,
    });
    this.$store.dispatch("unit/loadUnits", {
      page: 0,
      pageSize: 1000,
    });
    this.$store.dispatch("warehouse/getWarehouses");

    if (this.isUpdate && this.data) {
      // if (this.data.images.length > 0) {
      //     // this.imageShow = this.data.images[0].url
      //     this.imageList = this.data.images
      // }
      this.variants_first = this.$store.getters["product/getVariants"];
      this.units_first = this.$store.getters["product/getUnits"];
      this.warehouses_first = this.$store.getters["product/getWarehouses"];
      let other = this.$store.getters["product/getOthers"];
      console.log("dataa", this.data, this.warehouses_first);
      this.form = {
        id: this.form.id,
        productName: this.data.name,
        sku: this.data.sku,
        barcode: this.data.barcode,
        retailPrice: this.data.cost,
        wholesalePrice: this.data.wholeslae_price,
        inputPrice: this.data.price,
        versionProduct: this.variants_first.items ?? [],
        commutationemUnit: this.units_first,
        warehouse: this.warehouses_first.items ?? [],
        base_unit_id: this.data.base_unit_id,
      };
      this.selectCategory = other.category_id;
      this.selectBrand = other.brand_id;
      this.tags = other.tags;
    }
  },
  methods: {
    onSubmit() {
      if (this.isUpdate) {
        this.onUpdateProduct();
      } else {
        this.onAddProduct();
      }
    },
    onAddProduct() {
      if (this.validateForm()) {
        return;
      }

      var variant = this.form.versionProduct.map((r) => ({
        name: r.name,
        barcode: r.name,
        addition_price: r.addition_price,
      }));
      var units = {
        unit_id: this.form.commutationemUnit.unit_id,
        barcode: this.form.commutationemUnit.barcode,
      };
      var warehouses = this.form.warehouse.map((r) => ({
        warehouse_id: r.warehouse_id,
        min: +r.min,
        max: +r.max,
      }));
      var imageIdList = this.imageListNew.map((r) => r.id);

      var data = {
        images: imageIdList,
        productVariant: variant,
        units: units,
        warehouses: warehouses,
        tags: this.tags,
        name: this.form.productName,
        sku: this.form.sku,
        barcode: this.form.barcode,
        brand_id: this.selectBrand,
        category_id: this.selectCategory,
        cost: this.form.retailPrice,
        price: this.form.inputPrice,
        wholeslae_price: this.form.wholesalePrice,
        base_unit_id: this.form.base_unit_id,
      };
      console.log("addd", data, this.form.warehouse);
      this.$store.dispatch("product/addProduct", data).then((rs) => {
        if (rs.data.code == 1) {
          notification.success("Tạo mới sản phẩm thành công");
          this.$v.$reset();
          this.$emit("reload-products");
          this.close();
        } else {
          notification.error(rs.data.message);
        }
      });
    },
    async onUpdateProduct() {
      if (this.validateForm()) {
        return;
      }

      var imageIdList = this.imageListNew.map((r) => r.id);
      var dataProduct = {
        id: this.data.id,
        images: imageIdList,
        name: this.form.productName,
        sku: this.form.sku,
        base_unit_id: this.form.base_unit_id,
      };
      console.log("base_unit_id", this.form.base_unit_id);
      var price = {
        cost: this.form.retailPrice,
        price: this.form.inputPrice,
        wholeslae_price: this.form.wholesalePrice,
      };
      var other = {
        brand_id: this.selectBrand,
        category_id: this.selectCategory,
        tags: this.tags,
      };
      var unit = {
        unit_id: this.form.commutationemUnit.unit_id,
        number: this.form.commutationemUnit.number,
      };
      console.log("unit", unit);
      this.form.versionProduct.forEach((v) => {
        delete v.edit;
        if (v.id) {
          v.variant_id = v.id;
          delete v.id;
        }
      });
      var dataVariant = {
        variant_del_list: this.versionProductDelete,
        variant_list: this.form.versionProduct,
      };
      this.form.warehouse.forEach(function(v) {
        delete v.edit;
      });
      var add_list = this.form.warehouse.map((r) => ({
        warehouse_id: r.warehouse_id,
        min: +r.min,
        max: +r.max,
      }));
      var warehouses = {
        del_list: this.warehousesDelete,
        add_list: add_list,
      };

      var check = true;

      await this.$store
        .dispatch("product/updateProduct", dataProduct)
        .then((rs) => {
          if (rs.data.code !== 1) {
            check = false;
          }
        });
      await this.$store
        .dispatch("product/updateVariant", {
          id: this.data.id,
          data: dataVariant,
        })
        .then((rs) => {
          if (rs.data.code !== 1) {
            check = false;
          }
        });
      await this.$store
        .dispatch("product/updateUnit", {
          id: this.data.id,
          data: unit,
        })
        .then((rs) => {
          if (rs.data.code !== 1) {
            check = false;
          }
        });
      await this.$store
        .dispatch("product/updateWarehouse", {
          id: this.data.id,
          data: warehouses,
        })
        .then((rs) => {
          if (rs.data.code !== 1) {
            check = false;
          }
        });
      await this.$store
        .dispatch("product/updateOther", {
          id: this.data.id,
          data: other,
        })
        .then((rs) => {
          if (rs.data.code !== 1) {
            check = false;
          }
        });
      await this.$store
        .dispatch("product/updatePrice", {
          id: this.data.id,
          data: price,
        })
        .then((rs) => {
          if (rs.data.code !== 1) {
            check = false;
          }
        });

      if (check) {
        notification.success("Cập nhật sản phẩm thành công!");
        this.$v.$reset();
        this.$emit("reload-products");
        this.close();
      }
    },
    deleteVersionProduct(e) {
      this.form.versionProduct = this.form.versionProduct.filter(
        (r) => r.name !== e.name
      );
      if (e.id) {
        this.versionProductDelete.push(e.id);
      }
    },
    deleteWarehouse(e) {
      this.form.warehouse = this.form.warehouse.filter(
        (r) => r.warehouse_id !== e.warehouse_id
      );
      if (e.warehouse_name) {
        this.warehousesDelete.push(e.warehouse_id);
      }
    },
    inputImage(e) {
      this.imageListNew = e;
    },
    validateForm() {
      this.$v.$touch();
      console.log("vvvvv", this.$v);
      if (this.form.versionProduct.length == 0) {
        notification.error("Xin vui lòng nhập phiên bản sản phẩm");
        return true;
      }
      if (!this.form.base_unit_id) {
        notification.error("Xin vui lòng chọn đơn vị sản phẩm");
        return true;
      }
      if (!this.selectCategory || !this.selectBrand) {
        notification.error("Xin vui lòng nhập thông tin khác");
        return true;
      }
      if (this.$v.$invalid) {
        notification.error("Xin vui lòng nhập đầy đủ thông tin");
        return true;
      }
      return false;
    },
  },
};
</script>

<style scoped>
.card-custom {
  border: none !important;
}
.modal-body {
  padding: 0;
}
p.main-top__title {
  line-height: 1.5;
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0 !important;
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 900px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-close {
  cursor: pointer;
}

.card {
  margin: 0;
}

.card-body {
  padding: 10px;
}

.main-body {
  background-color: #eaeaea;
  /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
  padding: 0 !important;
}

.main-top {
  background-color: #ffffff;
  padding-bottom: 10px;
  padding: 0;
  /* border-radius: 6px; */
}

.main-bottom {
  background-color: #ffffff;
  /* border-radius: 6px; */
  min-height: 270px;
}

.btn-add-product {
  width: 100%;
  font-size: 14px;
}

.main-top__title {
  margin: 0;
  color: black !important;
}

.row {
  margin: 0;
}

.table .ligth.ligth-data th:first-child {
  text-align: left;
}

.dropdown-feature-orther {
  float: right;
  padding: 5px;
}

.image-product {
  padding-top: 5px;
}

.img {
  height: 180px;
  width: 180px;
}

.arrow-left {
  position: absolute;
  top: 125px;
  left: 0;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: 125px;
  right: 0;
  cursor: pointer;
}

.btn-delete {
  position: absolute;
  right: 25px;
  top: 55px;
  cursor: pointer;
}

.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px darkgray;
  height: 180px;
  width: 180px;
}

p {
  margin: 0;
}
</style>
