<template>
  <table class="table table-hover">
    <thead>
      <tr class="ligth ligth-data">
        <th class="col-lg-3" style="width: 30%">Tên phiên bản</th>
        <th class="col-lg-3" style="width: 30%">Sku</th>
        <th class="col-lg-3" style="width: 30%">Giá tính thêm</th>
        <th class="col-lg-3" style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in data" :key="index">
        <td>
          <input
            v-if="item.edit"
            type="text"
            class="form-control input"
            v-model="item.name"
          />
          <p v-else>{{ item.name }}</p>
        </td>
        <td>
          <input
            v-if="item.edit"
            type="text"
            class="form-control input"
            v-model="item.barcode"
          />
          <p v-else>{{ item.barcode }}</p>
        </td>
        <td>
          <currency-input v-if="item.edit" v-model="item.addition_price" />
          <p v-else>{{ formatVND(item.addition_price) }}</p>
        </td>
        <td>
          <div class="d-flex align-items-center list-action">
            <a
              v-if="!item.edit"
              class="badge bg-success mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Edit"
              @click="editVersionProduct(item)"
            >
              <i class="far fa-edit mr-0"></i>
            </a>
            <a
              v-if="item.edit"
              class="badge bg-success mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Save"
              @click="saveVersionProduct(item)"
            >
              <i class="far fa-save mr-0"></i>
            </a>
            <a
              class="badge bg-warning mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Delete"
              @click="deleteVersionProduct(item)"
            >
              <i class="ri-close-line mr-0"></i>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="text"
            :class="
              `form-control input ${
                $v.newVersionProduct.name.$error ? 'is-invalid' : ''
              }`
            "
            v-model="newVersionProduct.name"
          />
        </td>
        <td>
          <input
            type="text"
            :class="
              `form-control input ${
                $v.newVersionProduct.barcode.$error ? 'is-invalid' : ''
              }`
            "
            v-model="newVersionProduct.barcode"
          />
        </td>
        <td><currency-input v-model="newVersionProduct.addition_price" /></td>
        <td>
          <div class="d-flex align-items-center list-action">
            <a
              class="badge bg-success mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Add"
              @click="addVersionProduct"
            >
              <i class="fas fa-plus mr-0"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import CurrencyInput from "@/components/form/input-currency/InputCurrency.vue";

export default {
  components: { CurrencyInput },
  name: "product-version",
  props: {
    data: {
      type: Array,
      default: null,
    },
    onDelete: {
      type: Function,
      default: () => {},
    },
  },
  mixins: [validationMixin],
  validations: {
    newVersionProduct: {
      name: { required },
      barcode: { required },
      addition_price: { required },
    },
  },
  data() {
    return {
      newVersionProduct: {
        name: "",
        barcode: "",
        addition_price: null,
        edit: false,
      },
    };
  },
  methods: {
    addVersionProduct() {
      this.$v.newVersionProduct.$touch();
      if (this.$v.newVersionProduct.$invalid) {
        return;
      }
      this.data.push(this.newVersionProduct);
      this.$v.newVersionProduct.$reset();
      this.newVersionProduct = {
        name: "",
        barcode: "",
        addition_price: null,
      };
    },
    editVersionProduct(e) {
      e.edit = true;
      this.$forceUpdate();
    },
    saveVersionProduct(e) {
      e.edit = false;
      this.$forceUpdate();
    },
    deleteVersionProduct(e) {
      this.onDelete(e);
      this.$forceUpdate();
    },
    minValidationAdditionPrice(item) {
      let val = item.addition_price;
      if (val < 0 || isNaN(val)) {
        return 0;
      } else {
        return val;
      }
    },
    formatVND(currency) {
      return currency.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " VND";
    },
  },
};
</script>
<style scoped>
.form-group {
  margin: 0;
}
</style>
