<template>
  <div>
    <div class="header">
      <div class="custom-control custom-switch custom-control-inline">
        <input
          type="checkbox"
          class="custom-control-input"
          id="see-detail"
          v-model="seeDetail"
          @change="changeDetail"
        />
        <label
          class="custom-control-label"
          for="see-detail"
        >Xem chi tiết sản phẩm</label>
      </div>
      <b-dropdown
        split
        text="Thêm mới sản phẩm"
        variant="primary"
        @click="onAddProduct"
      >
        <b-dropdown-item v-b-modal.brand-management>Quản lý thương hiệu</b-dropdown-item>
        <b-dropdown-item v-b-modal.category-management>Quản lý phân loại</b-dropdown-item>
        <b-dropdown-item v-b-modal.unit-management>Quản lý đơn vị</b-dropdown-item>
      </b-dropdown>
    </div>
    <div class="table-responsive mb-3">
      <TableList
        :columns="columns"
        :rows="productList"
        :showIndex="showIndex"
        :searchOption="searchOption"
        :total="total"
        @onPageChange="onPageChange"
        @onPerPageChange="onPerPageChange"
      />
    </div>
    <Dialog
      id="product-add"
      :title="'Thêm sản phẩm'"
      :onSubmit="onAddProductSubmit"
      btnStyle="padding: 10px;"
      size="lg"
      class="pr-2"
    >
      <template v-slot:modal-body>
        <product-add-edit
          ref="addProduct"
          :isUpdate="false"
          :close="closeDialogProductAdd"
          @reload-products="dispatchProducts"
        ></product-add-edit>
      </template>
    </Dialog>
    <Dialog
      :btnOpen="false"
      id="product-edit"
      :title="'Sửa sản phẩm'"
      btnStyle="padding: 10px;"
      :onSubmit="onEditProductSubmit"
      :titleBtnSubmit="'Cập nhật'"
      size="lg"
      class="pr-2"
    >
      <template v-slot:modal-body>
        <product-add-edit
          :isUpdate="true"
          :data="dataEdit"
          ref="editProduct"
          :close="closeDialogProductEdit"
          @reload-products="dispatchProducts"
        ></product-add-edit>
      </template>
    </Dialog>
    <Dialog
      :btnClose="true"
      id="category-management"
      title="Quản lý phân loại"
      :onSubmit="onOpenCategoryManagement"
      size="lg"
    >
      <template v-slot:modal-body>
        <category-management ref="categoryManagement" @close="$bvModal.hide('category-management')"></category-management>
      </template>
    </Dialog>
    <Dialog
      :btnClose="true"
      id="unit-management"
      title="Quản lý đơn vị"
      size="lg"
      :onSubmit="onOpenUnitManagement"
    >
      <template v-slot:modal-body>
        <unit-management ref="unitManagement" @close="$bvModal.hide('unit-management')"></unit-management>
      </template>
    </Dialog>
    <Dialog
      :btnClose="true"
      id="brand-management"
      title="Brand Management"
      size="lg"
      :onSubmit="onOpenBrandManagement"
    >
      <template v-slot:modal-body>
        <brand-management ref="brandManagement" />
      </template>
    </Dialog>

    <CheckDelete
      :title="'sản phẩm'"
      @confirmDelete="confirmDelete"
    />

  </div>

</template>
<script>
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import CheckDelete from "./DeleteConfirm.vue";
import notification from "@/utils/notification";
import ProductAddEdit from "./ProductAddEdit.vue";
import UnitManagement from "./Unit/UnitManagement.vue";
import CategoryManagement from "./Category/CategoryManagement.vue";
import BrandManagement from "./Brand/BrandManagement.vue";
import constants from '@/config/constants'
export default {
  components: {
    CheckDelete,
    ProductAddEdit,
    UnitManagement,
    BrandManagement,
    CategoryManagement,
  },
  data() {
    return {
      seeDetail: false,
      columns: [
        new ColumnTable(ColumnType.IMAGE, "Ảnh", "main_image"),
        new ColumnTable(ColumnType.TEXT, "Tên sản phẩm", "name"),
        new ColumnTable(ColumnType.TEXT, "Mã", "barcode"),
        new ColumnTable(ColumnType.TEXT, "Phân loại", "category_name"),
        new ColumnTable(ColumnType.TEXT, "Thương hiệu", "brand_name"),
        new ColumnTable(ColumnType.TEXT, "Giá", "price"),
        new ColumnTable(ColumnType.TEXT, "Phí tổn", "cost"),
        new ColumnTable(ColumnType.TEXT, "Số Lượng", "qty"),
        new ColumnTable(ColumnType.ACTION, "Tương tác", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (e) => {
                this.onOpenDialogEditProduct(e);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (e) => {
                this.onOpenDialogDelete(e);
              },
              "table__action-icon"
            ),
          ],
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
          width: "150px",
        }),
      ],
      showIndex: true,
      searchOption: {
        enabled: true,
      },
      idDelete: 0,
      dataEdit: {},
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      pageNumber: 0,
      total: 10,
      type: 'PRODUCT'
    };
  },
  computed: {
    productList() {
      var data = this.$store.getters["product/getProducts"];
      return data.items;
    },
  },
  mounted() {
    this.dispatchProducts()
  },
  methods: {
    onAddProduct(){
      this.$bvModal.show('product-add')
    },
    onPageChange(params) {
      this.pageNumber = params - 1
      this.dispatchProducts()
    },
    onPerPageChange(params) {
      this.pageSize = params.currentPerPage
      this.pageNumber = params.currentPage - 1
      this.dispatchProducts()
    },
    dispatchProducts() {
      this.$store.dispatch("product/loadProducts", { page: this.pageNumber, pageSize: this.pageSize, type: this.type }).then(rs => {
        this.total = rs?.pagination.totalElements
      })
    },
    onOpenDialogDelete(e) {
      this.idDelete = e.id;
      this.$bvModal.show("CheckDelete");
    },
    confirmDelete() {
      this.$store
        .dispatch("product/deleteProduct", this.idDelete)
        .then((rs) => {
          if (rs.message === "success") {
            notification.success("Xóa sản phẩm thành công");
            this.dispatchProducts()
            this.$bvModal.hide("CheckDelete");
          }
        });
    },
    onOpenDialogEditProduct(e) {
      this.$store.dispatch("product/loadProductById", e.id).then((rs) => {
        this.dataEdit = rs;
        this.$bvModal.show("product-edit");
      });
      this.loadTabs(e.id);
    },
    closeDialogProductAdd() {
      this.$bvModal.hide("product-add");
    },
    closeDialogProductEdit() {
      this.$bvModal.hide("product-edit");
    },
    loadTabs(id) {
      this.$store.dispatch("product/loadVariants", id);
      this.$store.dispatch("product/loadUnits", id);
      this.$store.dispatch("product/loadWarehouses", id);
      this.$store.dispatch("product/loadOthers", id);
    },
    changeDetail() {
      if (this.seeDetail) {
        this.type = 'VARIANT'
      }
      else {
        this.type = 'PRODUCT'
      }
      this.dispatchProducts()
    },
    onEditProductSubmit(){
      this.$refs.editProduct.onSubmit()
    },
    onAddProductSubmit(){
      this.$refs.addProduct.onSubmit()
    },
    onOpenCategoryManagement(){
      this.$refs.categoryManagement.openAddModal()
    },
    onOpenUnitManagement(){
      this.$refs.unitManagement.openAddModal()
    },
    onOpenBrandManagement(){
      this.$refs.brandManagement.openModalAdd()
    }
  },
};
</script>
<style lang="scss" scoped>
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
</style>
