<template>
  <table class="table table-hover">
    <thead>
      <tr class="ligth ligth-data">
        <th
          class="col-lg-3"
          style="width: 30%"
        >Kho hàng</th>
        <th
          class="col-lg-3"
          style="width: 20%"
        >Tồn kho</th>
        <th
          class="col-lg-3"
          style="width: 20%"
        >Tối thiểu</th>
        <th
          class="col-lg-3"
          style="width: 20%"
        >Tối đa</th>
        <th
          class="col-lg-3"
          style="width: 10%"
        ></th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="(item, index) in data"
        :key="index"
      >
        <td>
          <div v-if="item.edit">
            <Select2
              textField="name"
              icon
              valueField="id"
              :options="optionWarehouses"
              v-model="item.warehouse_id"
            >
            </Select2>
          </div>
          <p v-else>{{ getNameWarehouse(item) }}</p>
        </td>
        <td>
          <input
            v-if="item.edit"
            type="number"
            class="form-control input"
            v-model="item.qty"
            @input="item.qty = minValidationQty(item)"
          />
          <p v-else>{{ item.qty }}</p>
        </td>
        <td>
          <input
            v-if="item.edit"
            type="number"
            class="form-control input"
            v-model="item.min"
            @input="item.min = minValidationMin(item)"
          />
          <p v-else>{{ item.min }}</p>
        </td>
        <td>
          <input
            v-if="item.edit"
            type="number"
            class="form-control input"
            v-model="item.max"
            @input="item.max = minValidationMax(item)"
          />
          <p v-else>{{ item.max }}</p>
        </td>
        <td>
          <div class="d-flex align-items-center list-action">
            <a
              v-if="!item.edit"
              class="badge bg-success mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Edit"
              @click="editWarehouse(item)"
            >
              <i class="far fa-edit mr-0"></i>
            </a>
            <a
              v-if="item.edit"
              class="badge bg-success mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Save"
              @click="saveWarehouse(item)"
            >
              <i class="far fa-save mr-0"></i>
            </a>
            <a
              class="badge bg-warning mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Delete"
              @click="deleteWarehouse(item)"
            >
              <i class="ri-close-line mr-0"></i>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <Select2
            textField="name"
            icon
            valueField="id"
            :options="optionWarehouses"
            :invalid="$v.newWarehouse.warehouse_id.$error"
            v-model="newWarehouse.warehouse_id"
          >
          </Select2>
        </td>

        <td >
       <input
            type="number"
            :class="`form-control input`"
            :disabled="true"
            v-model="newWarehouse.qty"
            @input="newWarehouse.qty = minValidationQty(newWarehouse)"
          />

        </td>
        <td>
          <input
            type="number"
            :class="
              `form-control input ${
                $v.newWarehouse.min.$error ? 'is-invalid' : ''
              }`
            "
            v-model="newWarehouse.min"
            @input="newWarehouse.min = minValidationMin(newWarehouse)"
          />
        </td>
        <td>
          <input
            type="number"
            :class="
              `form-control input ${
                $v.newWarehouse.max.$error ? 'is-invalid' : ''
              }`
            "
            v-model="newWarehouse.max"
            @input="newWarehouse.max = minValidationMax(newWarehouse)"
          />
        </td>
        <td>
          <div class="d-flex align-items-center list-action">
            <a
              class="badge bg-success mr-2"
              data-toggle="tooltip"
              v-b-tooltip.top
              title="Add"
              @click="addWarehouse"
            >
              <i class="fas fa-plus mr-0"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import notification from "@/utils/notification";

export default {
  name: "warehouse",
  props: {
    data: {
      type: Array,
      default: null,
    },
    onDelete: {
      type: Function,
      default: () => { },
    },
  },
  mixins: [validationMixin],
  validations: {
    newWarehouse: {
      warehouse_id: { required },
      min: { required },
      max: { required },
    },
  },
  data() {
    return {
      newWarehouse: {
        warehouse_id: null,
        qty: null,
        min: null,
        max: null,
        edit: false,
      },
    };
  },
  computed: {
    optionWarehouses() {
      return this.$store.getters["warehouse/warehouses"];
    },
  },
  methods: {
    addWarehouse() {
      this.$v.newWarehouse.$touch();
      if (this.$v.newWarehouse.$invalid) {
        notification.error("Xin vui lòng nhập đầy đủ thông tin kho");
        return;
      }
      this.data.push(this.newWarehouse);
      this.$v.newWarehouse.$reset();
      this.newWarehouse = {
        warehouse_id: null,
        qty: null,
        min: null,
        max: null,
      };
    },
    editWarehouse(e) {
      e.edit = true;
      this.$forceUpdate();
    },
    saveWarehouse(e) {
      e.edit = false;
      this.$forceUpdate();
    },
    deleteWarehouse(e) {
      this.onDelete(e);
      this.$forceUpdate();
    },
    getNameWarehouse(e) {
      let data = this.optionWarehouses;
      var item = data.filter((r) => r.id == e.warehouse_id);
      return item[0].name;
    },
    minValidationQty(item) {
      let val = item.qty;
      if (val < 0 || isNaN(val)) {
        return 0;
      } else {
        return val;
      }
    },
    minValidationMin(item) {
      let val = item.min;
      if (val < 0 || isNaN(val)) {
        return 0;
      } else {
        return val;
      }
    },
    minValidationMax(item) {
      let val = item.max;
      if (val < 0) {
        return 0;
      } else if (val < item.min || isNaN(val)) {
        return item.min;
      } else {
        return val;
      }
    },
  },
};
</script>
