<template>
  <div class="list-warehouse">
    <v-tree
      ref="tree"
      :data='warehouses'
      :radio="true"
      :tpl='tpl'
      @node-select="itemClick"
    />
  </div>
</template>
<script>
export default {
  props: [],
  data() {
    return {
      warehouses: []
    }
  },
  computed: {
    // warehouses() {
    //   var rs = JSON.parse(JSON.stringify(this.$store.getters["warehouse/warehouses"]))
    //   rs = this.processTreeData(rs)
    //   if (this.rs?.length > 0) {
    //     this.$refs.tree.nodeSelected(this.rs[0])
    //   }
    //   return rs
    // }
  },
  mounted() {
    this.loadData()
  },
  methods: {
    loadData() {
      this.$store.dispatch("warehouse/getWarehouses").then(rs => {
        this.warehouses = this.processTreeData(rs, 0)
        console.log('dataaaa warehouse', rs);
        // if (this.rs?.length > 0) {
        //   this.$refs.tree.nodeSelected(this.rs[0])
        // }
      })
    },
    itemClick(node) {
      this.$emit('changeWarehouse', node.id, node.name)
    },
    processTreeData(data) {
      let nodes = []
      for (let i = 0; i < data.length; i++) {
        const element = data[i];
        if (element.sub_warehouses) {
          let children = this.processTreeData(element.sub_warehouses)
          delete element.sub_warehouses
          nodes.push({ ...element, title: element.name, expanded: false, children })
        }
        else {
          nodes.push({ ...element, title: element.name, expanded: false })
        }
      }
      return nodes
    },
    addIcon(warehouse) {
      warehouse.icon = "fa fa-warehouse"
      if (warehouse.sub_warehouses && warehouse.sub_warehouses.length > 0) {
        warehouse.sub_warehouses.forEach(el => {
          this.addIcon(el)
        })
      }
    },
    tpl(...args) {
      let { 0: node } = args
      let titleClass = node.selected ? 'node-title node-selected' : 'node-title'
      let classIcon = 'ml-2 fas ' + node.icon
      if (node.searched) titleClass += ' node-searched'
      return <span>
        <i class={classIcon}></i>
        <span class={titleClass} domPropsInnerHTML={node.title} onClick={() => { this.$refs.tree.nodeSelected(node) }}></span>
      </span>
    },
  }
}
</script>
<style scoped>
.list-warehouse {
  height: 100%;
  padding-top: 10px;
  background: #ffffff;
  border-radius: 22px;
padding-bottom: 10px;
}
</style>
