<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 py-2 d-flex justify-content-end">
        <button
          class="btn btn-primary"
          @click="openModalAdd"
        >
          Thêm mới đơn hàng
        </button>
        <Dialog
          :btnClose="true"
          id="SaleOrderAddEdit"
          :title="title"
          size="xl"
          :onSubmit="onAddEditSaleOrder"
          :titleBtnSubmit="isUpdate ? `Cập nhật` : `Thêm mới`"
        >
          <template v-slot:modal-body>
            <SaleOrderAddEdit
              ref="addEditSaleOrder"
              :isUpdate="isUpdate"
              :data="saleOrder"
              :propWarehouseId="warehouseId"
              :propCustomerId="customerId"
              :tagsData="tags"
              :propPay="pay"
              :propStatus="status"
              :propPaymentType="paymentType"
            />
          </template>
        </Dialog>
      </div>
      <div class="col-lg-12">
        <div class="table-responsive rounded">
          <table-list
            :line-number="true"
            :columns="columns"
            :rows="saleOrderList"
            :total="totalElements"
            @onPageChange="onPageChange"
            @onPerPageChange="onPerPageChange"
          >
            >
          </table-list>
        </div>
      </div>
    </div>
    <check-delete
      @confirmDelete="confirmDelete"
      content="Bạn có muốn xóa đơn hàng không?"
    >
    </check-delete>
  </div>
</template>

<script>
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import CheckDelete from "../Group/DeleteConfirm";
import constants from '@/config/constants'
import SaleOrderAddEdit from './SaleOrderAddEdit.vue'
import notification from '@/utils/notification'
export default {
  components: {
    SaleOrderAddEdit,
    CheckDelete,
  },
  mounted() {
    this.getSaleOrders();
  },
  computed: {
    saleOrderList() {
      return this.$store.getters["saleOrder/getSaleOrder"];
    },
    totalElements() {
      return this.$store.getters["saleOrder/getPagination"];
    },
  },
  data() {
    return {
      status: false,
      pay: null,
      page: 0,
      paymentType:1,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      title: "Thêm mới đơn hàng",
      tags: [],
      dataDelete: {},
      customerId: null,
      warehouseId: null,
      isUpdate: false,
      saleOrder: {},
      columns: [
        new ColumnTable(ColumnType.TEXT, "Mã đơn hàng", "id"),
        new ColumnTable(ColumnType.TEXT, "Tên khách hàng", "customer_name"),
        new ColumnTable(ColumnType.ORDER_STATUS, "Trạng thái", "status"),
        new ColumnTable(ColumnType.CURRENCY, "Thanh toán", "pay"),
        new ColumnTable(
          ColumnType.CURRENCY,
          "Khách hàng phải trả",
          "priceTotal"
        ),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (data) => {
                this.openModalAddEdit(data.id);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (data) => {
                this.deleteSaleOrder(data);
              },
              "table__action-icon",
              {
                isDisableByStatus: function (a) {
                  return a == 1;
                },
              }
            ),
          ],
        }),
      ],
    };
  },
  methods: {
    onPageChange(params) {
      this.page = +params - 1;
      this.$store.dispatch("saleOrder/getSaleOrder", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.$store.dispatch("saleOrder/getSaleOrder", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    confirmDelete() {
      this.$bvModal.hide("CheckDelete");
      this.$store.dispatch("saleOrder/deleteSaleOrder", this.dataDelete.id);
    },
    openModalAdd() {
      this.title = "Thêm mới đơn hàng";
      this.customerId = null;
      this.warehouseId = "";
      this.isUpdate = false;
      this.pay = 0;
      this.status = 0;
      this.paymentType = 1;
      this.$bvModal.show("SaleOrderAddEdit");
    },
    openModalAddEdit(e) {
      this.title = "Cập nhật đơn hàng";
      this.isUpdate = true;
      var data = { id: e };
      this.$store.dispatch("saleOrder/getSaleOrderById", data).then((rs) => {
        this.$store
          .dispatch("saleOrder/getSaleOrderDetail", rs.id)
          .then((r) => {
            this.saleOrder.tags = r.tags;
            this.tags = [];
            if (typeof r !== "undefined") {
              this.tags = r.tags;
              this.saleOrder.tags = r.tags;
            }
            this.customerId = rs.customer_id;
            this.warehouseId = String(rs.warehouse_id);
            this.saleOrder = rs;
            this.paymentType = rs.payment_type;
              (this.pay = rs.pay), (this.status = rs.status);
          })
          .then(() => {
            this.$bvModal.show("SaleOrderAddEdit");
          });
      });
    },
    deleteSaleOrder(e) {
      this.$store
        .dispatch("saleOrder/getSaleOrderById", { id: e.id })
        .then((rs) => {
          if (rs.status === 1) {
            notification.error(
              "Đơn hàng đã nhập kho không thể xóa",
              "Thông báo"
            );
          } else {
            this.$bvModal.show("CheckDelete");
            this.dataDelete = e;
          }
        });
    },
    getSaleOrders() {
      this.$store.dispatch("saleOrder/getSaleOrder", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    onAddEditSaleOrder() {
      this.$refs.addEditSaleOrder.onSubmit();
    },
  },
};
</script>
<style scoped>
.modal-body {
  background-color: #e3e9ed !important;
  padding: 0 !important;
}
</style>
