<template>
  <div>
    <b-form id="formCustomerAddEdit">
      <div class="row mb-3">
        <div class="col-lg-12 col-sm-12">
          <select-customer
            title="Chọn khách hàng"
            lableSelect="name"
            placeholder="Gõ SĐT, tên, mã khách hàng để tìm kiếm"
            v-model="saleOrder.customer_id"
            :invalid="$v.saleOrder.customer_id.$error"
            @blur="$v.saleOrder.customer_id.$touch"
            :disabled="saleOrder.status === 1 ? true : false"
          ></select-customer>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-12">
          <form-group-input
            :touch="$v.saleOrder.code.$touch"
            :invalid="$v.saleOrder.code.$error"
            placeHolder="PO242324"
            v-model="saleOrder.code"
            label="Mã đơn hàng"
            invalidFeedback="Vui lòng nhập mã đơn hàng"
            :disabled="saleOrder.status === 1 ? true : false"
          />
        </div>
        <div class="col-lg-3 col-sm-12">
          <select-warehouse
            title="Kho"
            lable-select="name"
            placeholder="Kho HCM"
            v-model="saleOrder.warehouse_id"
            :invalid="$v.saleOrder.warehouse_id.$error"
            @blur="$v.saleOrder.warehouse_id.$touch"
            :disabled="saleOrder.status === 1 ? true : false"
          ></select-warehouse>
          <!-- <select-common
                title="Kho"
                lableSelect="name"
                :filterBy="filterByTest"
                :type="searchType.WAREHOUSE"
                @onSelect="onSelectedWareHouse"
              ></select-common> -->
        </div>
        <div class="col-lg-6 col-sm-12">
          <b-form-group
            label="Tag"
            class="tags-form"
            invalid-feedback="Please fill in this field."
          >
            <b-form-tags
              style="line-height:31px"
              class="tags-form__tags"
              body-class="mb-1"
              v-model="saleOrder.tags"
              separator=" "
              placeholder=""
              no-add-on-enter
              :disabled="saleOrder.status === 1 ? true : false"
            >
            </b-form-tags>
          </b-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12  col-sm-12">
          <div class="table-responsive rounded mb-3">
            <select-product
              title="Chọn sản phẩm"
              lableSelect="name"
              :placeholder="`Tìm theo tên, SKU, tên thương hiệu, tên danh mục.`"
              :warehouseId="saleOrder.warehouse_id"
              searchItemType="sale-order"
              :filterBy="filterByTest"
              :columnsTable="colTestInput"
              :dataTable="dataNew"
              @onSelect="onSelecting"
              @cellValue:onChange="onChangeCellValue"
              :disabled="saleOrder.status === 1 ? true : false"
            ></select-product>
          </div>
        </div>
      </div>

      <div class="table-responsive rounded">
        <div class="text-right bg-white">
          <h5>Tổng tiền {{ saleOrder.priceTotal | currency }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-12 mb-3">
              <payment-method
                v-model="saleOrder.paymentType"
                :invalid="$v.saleOrder.paymentType.$error"
                @onSelect="$v.saleOrder.paymentType.$touch"
                :disabled="saleOrder.status === 1 ? true : false"
                :visibleSearch="false"
              />
            </div>
            <div class="col-lg-4 col-sm-12">
              <form-group-input
                type="text"
                :touch="$v.saleOrder.ref.$touch"
                :invalid="$v.saleOrder.ref.$error"
                v-model="saleOrder.ref"
                label="Tham chiếu"
                :placeHolder="`RF02323`"
                invalidFeedback="Vui lòng nhập tham chiếu"
                :disabled="saleOrder.status === 1 ? true : false"
              />
            </div>
            <div class="col-lg-4 col-sm-12">
              <form-input-currency
                label="Số tiền thanh toán"
                v-model="saleOrder.pay"
                :invalid="$v.saleOrder.pay.$error"
                :invalidFeedback="
                  `${
                    !$v.saleOrder.pay.required
                      ? 'Hãy điền vào trường này.'
                      : 'Số tiền thanh toán trước không được lớn hơn tổng tiền'
                  }`
                "
                :touch="$v.saleOrder.pay.$touch"
                :placeholder="'200,000 VNĐ'"
                :disabled="saleOrder.status === 1 ? true : false"
              >
              </form-input-currency>
            </div>
          </div>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
//Validate
import { validationMixin } from "vuelidate";
import { required, decimal, between } from "vuelidate/lib/validators";
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import SelectProduct from "@/components/product/SelectProduct.vue";
import SelectCustomer from "@/components/customer/SelectCustomer.vue";
import FormGroupInput from "@/components/form/FormGroupInput";
import FormInputCurrency from "@/components/form/input-currency/InputCurrency";
import SelectWarehouse from "@/components/warehouse/SelectWarehouse.vue";
import notification from "@/utils/notification";
import { SEARCH } from "@/models/enums";
import PaymentMethod from "@/components/payments/PaymentMethod.vue";
export default {
  mixins: [validationMixin],
  validations: {
    saleOrder: {
      warehouse_id: { required },
      customer_id: { required },
      code: { required },
      ref: { required },
      paymentType: { required },
      pay: {
        required,
        decimal,
        between(value) {
          return between(0, this.saleOrder.priceTotal)(value);
        },
      },
    },
  },
  components: {
    SelectProduct,
    SelectCustomer,
    FormGroupInput,
    SelectWarehouse,
    FormInputCurrency,
    PaymentMethod,
  },
  watch: {
    dataNew: {
      handler: function (val) {
        var total = 0;
        val.map((r) => {
          total += r.prices;
        });
        this.saleOrder.priceTotal = total;
      },
      deep: true,
    },
  },
  computed: {
    pay(e) {
      if (e > this.saleOrder.priceTotal) {
        return this.saleOrder.priceTotal;
      }
      if (e < 0) {
        return 0;
      } else {
        return e;
      }
    },
    cCustomerId() {
      return JSON.parse(
        JSON.stringify(
          this.$store.getters["saleOrder/getSaleOrderDetail"].customer_id
        )
      );
    },
  },
  props: {
    tagsData: {
      type: Array,
      default: null,
    },
    isUpdate: {
      default: true,
    },
    data: {
      default: {},
    },
    propStatus: { type: Number, default: null },
    propWarehouseId: {
      default: '',
    },
    propCustomerId: { type: Number, default: null },
    propPay: { type: Number, default: null },
    propPaymentType: { type: Number, default: null },
    propCode: { type: String, default: '' },
    propRef: { type: String, default: '' },
  },
  data() {
    return {
      total: 0,
      listTypePayment: [
        { id: 0, name: "Type 1" },
        { id: 1, name: "Type 2" },
      ],
      invalid: true,
      dataItemStore: [],
      saleOrder: {
        customer_id: this.propCustomerId,
        code: this.propCode,
        ref: this.propRef,
        status: 0,
        tags: [],
        warehouse_id: this.propWarehouseId,
        pay: this.propPay,
        orderItems: [],
        priceTotal: 0,
        paymentType: this.propPaymentType
      },
      disabled: this.propDisabled,
      searchType: SEARCH,
      showIndex: true,
      searchOption: {
        enabled: true,
      },
      allRowsTest: [],
      perPage: 3,
      True: true,
      //New Data:
      dataNew: [],
      colTestInput: [
        // new ColumnTable(ColumnType.INPUT_NUMBER, "qty", 'qty', { hidden: true, }),
        new ColumnTable(ColumnType.NUMBER, "SKU", "sku"),
        new ColumnTable(ColumnType.TEXT, "Tên sản phẩm", "name", {
          width: "180px",
        }),
        new ColumnTable(ColumnType.TEXT, "Đơn vị", "unit", { width: "120px" }),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Số lượng", "number", {
          minValue: 0,
          width: "120px",
          disabled: this.propStatus === 1 ? true : false,
        }),
        new ColumnTable(ColumnType.INPUT_CURRENCY, "Giá bán", "price", {
          minValue: 0,
          width: "180px",
          disabled: this.propStatus === 1 ? true : false,
        }),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Thuế", "tax", {
          minValue: 0,
          width: "120px",
          disabled: this.propStatus === 1 ? true : false,
        }),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Chiết khấu", "discount", {
          minValue: 0.0,
          width: "120px",
          maxValue: 100,
          disabled: this.propStatus === 1 ? true : false,
        }),
        new ColumnTable(ColumnType.CURRENCY, "Thành tiền", "prices", {
          minValue: 0,
          disable: true,
          width: "180px",
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
        }),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-close-line",
              (e) => this.onDeleteRow(e),
              "table__action-warning"
            ),
          ],
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
          width: "120px",
        }),
      ],
      dataTest: [],
      filterByTest: function (option, label, search) {
        for (const [key, value] of Object.entries(option)) {
          if (
            key == "name" ||
            key == "sku" ||
            key == "brand_name " ||
            key == "category_name" ||
            key == "barcode"
          ) {
            const isSelect =
              (value?.toString() || "")
                .toLowerCase()
                .indexOf(search.toLowerCase()) > -1;
            if (isSelect) {
              return true;
            }
          }
        }
        return false;
      },
    };
  },
  methods: {
    setTags(e) {
      this.saleOrder.tags = e;
    },
    onSelectedCustomerName() { },
    onUpdate() {
      var data = {
        id: this.saleOrder.id,
        code: this.saleOrder.code,
        ref: this.saleOrder.ref,
        status: 0,
        tags: this.saleOrder.tags,
        customer_id: this.saleOrder.customer_id,
        warehouse_id: this.saleOrder.warehouse_id,
        payment_type: this.saleOrder.paymentType,
        pay: +this.saleOrder.pay,
      };
      this.$store.dispatch("saleOrder/updateSaleOrder", data).then((r) => {
        if (r.code === 1) {
          this.updateListItem();
          notification.success("Cập nhật thành công!");
          this.$bvModal.hide("SaleOrderAddEdit");
        }
      });
      return;
    },
    updateListItem() {
      this.dataNew.forEach((r) => {
        var itemFound = this.dataItemStore.find(
          (e) => e.variant_id == r.variant_id
        );
        if (typeof itemFound == "undefined") {
          this.addItem(r);
        } else {
          this.compareItem(itemFound, r) ? null : this.updateItem(r);
        }
      });
      this.dataItemStore.forEach((oldItem) => {
        var itemFound = this.dataNew.find(
          (e) => e.variant_id == oldItem.variant_id
        );
        typeof itemFound == "undefined" ? this.deleteItem(oldItem) : null;
      });
    },

    compareItem(item1, item2) {
      return item1.number !== item2.number ||
        item1.tax !== item2.tax ||
        item1.price !== item2.price ||
        item1.discount !== item2.discount ||
        item1.prices !== item2.prices
        ? false
        : true;
    },
    addItem(item) {
      var dataItem = {
        variant_id: item.variant_id,
        number: +item.number,
        price: +item.price,
        discount: +item.discount,
        tax: +item.tax,
      };
      var data = { dataItem: dataItem, id: this.saleOrder.id };
      this.$store.dispatch("saleOrder/addItem", data);
    },
    updateItem(item) {
      var dataItem = {
        variant_id: item.variant_id,
        number: +item.number,
        price: +item.price,
        discount: +item.discount,
        tax: +item.tax,
      };
      var data = { dataItem: dataItem, id: this.saleOrder.id };
      this.$store.dispatch("saleOrder/updateItem", data);
    },
    deleteItem(item) {
      var data = { id: this.saleOrder.id, vid: item.variant_id };
      this.$store.dispatch("saleOrder/updateItem", data);
    },

    onDeleteRow(e) {
      if (this.propStatus === 1) {
        notification.error("Đơn hàng đã nhập kho không thể xóa", "Thông báo");
        return;
      }
      this.dataNew.pop(this.dataNew.find((r) => r.name == e.name));
    },
    onSubmit() {
      this.$v.saleOrder.$touch();
      if (this.$v.saleOrder.$invalid) {
        notification.error("Xin vui lòng nhập đầy đủ thông tin");
        return;
      }
      if (this.onInputPay(this.saleOrder.pay)) {
        notification.error("Số tiền thanh toán không hợp lệ");
        return;
      }
      var check = this.checkValidItem();
      if (check) {
        return;
      }
      if (this.isUpdate == true) {
        this.onUpdate();
        return;
      }
      // var checkPayment=0
      var orderItems = this.dataNew.map((val) => {
        return {
          variant_id: val.variant_id,
          discount: +val.discount,
          price: +val.price,
          tax: +val.tax,
          number: +val.number,
        };
      });
      var data = {
        code: this.saleOrder.code,
        ref: this.saleOrder.ref,
        status: 0,
        tags: this.saleOrder.tags,
        customer_id: this.saleOrder.customer_id,
        warehouse_id: this.saleOrder.warehouse_id,
        payment_type: this.saleOrder.paymentType,
        pay: +this.saleOrder.pay,
        order_items: orderItems,
      };
      this.$store.dispatch("saleOrder/createSaleOrder", data).then((r) => {
        if (r.code === 1) {
          notification.success("Thêm mới thành công");
          this.$bvModal.hide("SaleOrderAddEdit");
        }
      });
      return;
    },
    onSelecting(selectedOption) {
      if (!this.dataNew.find((r) => r.variant_id === selectedOption.id)) {
        console.log('data', selectedOption);
        var data = {
          variant_id: selectedOption.id,
          sku: selectedOption.barcode,
          name: selectedOption.name,
          unit: "Chiếc",
          number: 0,
          price: +selectedOption.price,
          discount: 0,
          tax: 0,
          prices: +selectedOption.price,
          qty: selectedOption.qty
        };
        this.dataNew.push(data);
      }
    },
    onPageChange(params) {
      this.currentPage = params;
      this.data = [];
      let begin = this.perPage * this.currentPage;
      for (let i = begin - this.perPage; i < begin; i++) {
        this.data.push(this.allRowsTest[i]);
      }
    },
    onPerPageChange(params) {
      this.perPage = params.currentPerPage;
      this.currentPage = params.currentPage;
      this.data = [];
      let begin = this.perPage * this.currentPage;
      for (let i = begin - this.perPage; i < begin; i++) {
        this.data.push(this.allRowsTest[i]);
      }
    },
    onSearch() { },
    onSelectChange() { },
    onChangeCellValue(data) {
      const row = this.dataNew.find(
        (r) => r.variant_id === data.currentRow.variant_id
      );
      console.log('cell', row);
      console.log('sadas', +row.number > +row.qty);

      data.value < 0 ? (row[data.field] = 0) : (row[data.field] = data.value);
      if (+row.number > row.qty) {
        row.number = row.qty
        notification.error("Sản phẩm vượt quá số lượng trong kho");
      }
      row.prices =
        row.number * row.price * (1 + row.tax / 100) -
        row.number * row.price * (row.discount / 100);
      row.prices < 0
        ? (row.prices = 0)
        : // row.prices = this.numFormat(row.prices)
        this.onInputPay(this.saleOrder.pay);
    },
    checkValidItem() {
      var check = false;
      if (this.dataNew.length === 0) {
        notification.error("Vui lòng chọn sản phẩm");
        return true;
      }

      this.dataNew.forEach((r) => {
        if (r.number === 0 || r.number === "") {
          notification.error("Vui lòng chọn số lượng");
          check = true;
        }
      });
      return check;
    },
    onInputPay(e) {
      var pay = +e;
      if (pay > this.saleOrder.priceTotal) {
        return (this.invalid = true);
      } else if (pay < 0) {
        return (this.invalid = true);
      } else {
        return (this.invalid = false);
      }
    },
  },
  mounted() {
    if (this.isUpdate && this.data) {
      // this.saleOrder = JSON.parse(JSON.stringify(this.data));
      console.log('this.saleOrder', this.saleOrder);
      this.dataNew = JSON.parse(JSON.stringify(this.data.orderItems));
      this.dataItemStore = JSON.parse(JSON.stringify(this.data.orderItems));
      this.saleOrder.tags = JSON.parse(
        JSON.stringify(this.$store.getters["saleOrder/getTags"])
      );
    }
  },
};
</script>

<style scoped>
.modal-body {
  background-color: #e3e9ed !important;
  padding: 0 !important;
}
.price {
  justify-content: flex-end;
}

.input--no-border-right {
  border-right: none;
}
.input--no-border-left {
  border-left: none;
}
.input--border-color:focus {
  border-color: #dcdfe8;
}
.icon-after {
  border-top: 1px solid #dcdfe8;
  border-right: 1px solid #dcdfe8;
  border-bottom: 1px solid #dcdfe8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  height: 45px;
  padding: 0.375rem 0.75rem;
}
.icon-before {
  border-top: 1px solid #dcdfe8;
  border-left: 1px solid #dcdfe8;
  border-bottom: 1px solid #dcdfe8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  height: 45px;
  padding: 0.375rem 0.75rem;
}
.d-block {
  margin: 0;
}
/* .tags-form {
  margin-top: 0.3rem !important;
}
.tags-form__tags {
  height: 2.8rem !important;
  margin-bottom: 1rem !important;

}
.b-form-tags-list{
  width: 1rem !important;
} */
</style>
