<template>
  <div class="container__parent-input">
    <label class="d-block">{{ title }}</label>
    <v-select
      ref="selectSupplier"
      :options="dataSearch"
      :multiple="multiple"
      :label="lableSelect"
      :placeholder="placeholder"
      :filter-by="filterBy"
      :disabled="disabled"
      v-model="defaultValue"
      @search:blur="blurSelect"
      @option:selected="onSelecting"
    >
      <template #open-indicator="{ attributes }">
        <span v-bind="attributes"
          ><i ref="icon" class="fas fa-search"></i
        ></span>
      </template>
    </v-select>
    <div class="invalid-feedback__select" v-if="invalid">
      {{ invalidFeedback }}
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import supplierService from "@/services/supplier.service";

export default {
  components: {
    vSelect,
  },
  model: {
    prop: "value",
    event: "onSelect",
  },
  async mounted() {
    this.getData({ target: { value: "" } });
    if (this.typeValue == "id") {
      if (this.value) {
        const data = await supplierService.getSupplierById(this.value);
        this.defaultValue = data;
      }
    } else {
      this.defaultValue = this.value;
    }
    const refSearch = this.$refs.selectSupplier.$refs.search;
    const refToggle = this.$refs.selectSupplier.$refs.toggle;
    refToggle.classList.add("search__input");
    refSearch.addEventListener("input", this.getData, false);
    refSearch.addEventListener("blur", this.getData, false);
  },
  props: {
    title: { type: String, default: "" },
    multiple: { type: Boolean, default: false },
    lableSelect: { type: String, default: "" },
    placeholder: { type: String, default: "" },
    value: null,
    invalid: { default: false },
    invalidFeedback: { default: "Vui lòng chọn nhà cung cấp" },
    typeValue: { type: String, default: "id" },
    filterBy: {
      type: Function,
      default() {
        return true;
      },
    },
    disabled: { default: false },
  },
  data() {
    return {
      dataSearch: [],
      timeOut: null,
      defaultValue: null,
    };
  },
  methods: {
    onSelecting(selectedOption) {
      if (this.typeValue == "id") {
        this.$emit("onSelect", selectedOption.id);
      } else {
        this.$emit("onSelect", selectedOption);
      }
    },
    getData(val) {
      if (val.target) {
        clearTimeout(this.timeOut);
        this.timeOut = setTimeout(() => {
          supplierService
            .searchSupplier(val.target.value.toString().trim())
            .then((rs) => {
              if (rs) {
                this.dataSearch = rs.data?.data?.items;
              }
            });
        }, 500);
      }
    },
    blurSelect() {
      this.$emit("blur");
    },
  },
  computed: {
    defaultValueInput() {
      if (this.defaultValue[this.lableSelect]) {
        return this.defaultValue[this.lableSelect];
      }
      return "";
    },
  },
  watch: {
    value: async function(val) {
      if (this.typeValue == "id") {
        const data = await supplierService.getSupplierById(val);
        this.defaultValue = data;
      } else {
        this.defaultValue = val;
      }
    },
    defaultValue: async function(val) {
      if (!val) {
        this.$emit("onSelect", null);
        if (this.invalid) {
          this.$emit("blur");
        }
      }
    },
    invalid: function(val) {
      if (val) {
        this.$refs.icon.classList.add("invalid-feedback__icon");
        this.$refs.selectSupplier.$refs.toggle.classList.add(
          "is-invalid__select"
        );
      } else {
        this.$refs.icon.classList.remove("invalid-feedback__icon");
        this.$refs.selectSupplier.$refs.toggle.classList.remove(
          "is-invalid__select"
        );
      }
    },
  },
};
</script>

<style scoped>
.container__parent-input {
  width: 100%;
}
.vs__open-indicator {
  transform: none !important;
}
.vs__dropdown-toggle {
  border-radius: 4px !important;
}
.vs__clear {
  display: none !important;
}
label.d-block {
  line-height: 1.5;
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
}
</style>
