<template>
  <div>
    <b-form>
      <div class="row mb-3">
        <div class="container main-top pl-15 pr-15">
          <select-warehouse
            title="Chọn kho"
            lable-select="name"
            placeholder="Gõ SĐT, tên, mã nhà cung cấp để tìm kiếm"
            v-model="adjustment.warehouse_id"
            :invalid="$v.adjustment.warehouse_id.$error"
            @blur="$v.adjustment.warehouse_id.$touch"
            :disabled="disabled === 1 ? true : false"
          ></select-warehouse>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12  pl-15 pr-15">
          <div class="table-responsive rounded mb-3">
            <select-product
              title="Chọn sản phẩm"
              lable-select="name"
              placeholder="Tìm theo tên, mã SKU, tên thương hiệu, tên danh mục, barcode"
              :warehouse-id="adjustment.warehouse_id"
              search-item-type="adjustment"
              :columns-table="colTestInput"
              :data-table="selectProducts"
              :line-number="true"
              @onSelect="onSelecting"
              @cellValue:onChange="onChangeCellValue"
              :disabled="disabled === 1 ? true : false"
            ></select-product>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <form-group-input
            type="text"
            label="Ghi chú"
            v-model="adjustment.note"
            placeHolder="Điều chỉnh sai lệch"
            invalidFeedback="Vui lòng nhập ghi chú"
            :disabled="disabled === 1 ? true : false"
            :invalid="$v.adjustment.note.$error"
          />
        </div>
        <div class="col-lg-4 col-sm-12">
          <label class="d-block">Trạng thái</label>
          <select-2
            textField="name"
            icon
            valueField="id"
            :options="optionSelect"
            v-model="adjustment.status"
            :disabled="disabled === 1 ? true : false"
            @change="$v.adjustment.status.$touch"
          />
        </div>
        <div class="col-lg-4 col-sm-12">
          <form-group-input
            type="text"
            label="Tham chiếu"
            v-model="adjustment.ref"
            placeHolder="RF02323"
            invalidFeedback="Vui lòng nhập tham chiếu"
            :disabled="disabled === 1 ? true : false"
            :invalid="$v.adjustment.ref.$error"
          />
        </div>
      </div>
    </b-form>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import { ButtonEvent } from "../../models/enums";

import SelectWarehouse from "@/components/warehouse/SelectWarehouse.vue";
import SelectProduct from "@/components/product/SelectProduct.vue";
import { ColumnTable } from "../../Model/TableList";
import { ColumnType } from "../../Model/TableList";
import { Action } from "../../Model/TableList";
import notification from "@/utils/notification";
import FormGroupInput from "@/components/form/FormGroupInput";
import adjustmentService from "@/services/adjustment.service";

export default {
  components: {
    SelectWarehouse,
    SelectProduct,
    FormGroupInput,
  },
  mixins: [validationMixin],
  validations: {
    adjustment: {
      status: { required },
      warehouse_id: { required },
      ref: { required },
      note: { required },
    },
  },
  props: {
    data: {
      type: Object,
      default() {
        return {
          id: null,
          status: 0,
          warehouse_id: null,
          ref: null,
          note: null,
          adjustment_items: [],
        };
      },
    },
    isUpdate: { default: false },
    page: null,
    pageSize: null,
  },
  data() {
    return {
      listButton: ButtonEvent,
      disabled: this.data?.status ? this.data?.status : 0,
      adjustment: {
        id: this.data?.id ? this.data?.id : null,
        status: this.data?.status ? this.data?.status : 0,

        warehouse_id: this.data?.warehouse_id,
        ref: this.data?.ref,
        note: this.data?.note,
        adjustment_items: [],
      },
      //new data
      valueSelectWareHouse: null,
      colTestInput: [
        new ColumnTable(ColumnType.TEXT, "SKU", "barcode", { width: "100px" }),
        new ColumnTable(ColumnType.TEXT, "Tên sản phẩm", "product_name", {
          width: "250px",
        }),
        new ColumnTable(ColumnType.TEXT, "Đơn vị", "unit_name", {
          width: "120px",
        }),
        new ColumnTable(
          ColumnType.INPUT_NUMBER,
          "Số lượng hiện tại",
          "current_number",
          {
            minValue: 0,
            width: "200px",
            disabled:
              (this.data?.status ? this.data?.status : 0) === 1 ? true : false,
          }
        ),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Điều chỉnh", "number", {
          minValue: 0,
          width: "150px",
          disabled:
            (this.data?.status ? this.data?.status : 0) === 1 ? true : false,
        }),
        new ColumnTable(ColumnType.TEXT, "Sau điều chỉnh", "afterAdjust", {
          width: "150px",
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
        }),
        new ColumnTable(ColumnType.ACTION, "", "action", {
          actions: [
            new Action(
              "ri-close-line",
              (e) => this.onRemoveItemProduct(e),
              "table__action-warning"
            ),
          ],
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
          width: "80px",
        }),
      ],
      selectProducts: [],
      optionSelect: [
        { id: 0, name: "Điều chỉnh" },
        { id: 1, name: "Duyệt" },
      ],
      productsInit: [],
    };
  },
  computed: {
    titleSubmit() {
      return this.isUpdate ? "Cập nhật" : "Thêm mới";
    },
  },
  mounted() {
    if (this.isUpdate) {
      adjustmentService.getAdjustmentItems(this.data.id).then((rs) => {
        this.selectProducts = [];
        this.productsInit = rs.items;
        rs?.items.forEach((item) => {
          this.selectProducts.push({
            ...item,
            afterAdjust: item.current_number + item.number,
          });
        });
      });
    }
  },
  methods: {
    onSubmit() {
      this.$v.adjustment.$touch();

      if (this.$v.adjustment.$error) {
        notification.error("Xin vui lòng nhập đầy đủ thông tin");
        return;
      }

      if (this.selectProducts.length == 0) {
        notification.error("Xin vui lòng chọn sản phẩm");
        return;
      }

      if (!this.isUpdate) {
        let dataCreate = {
          status: this.adjustment.status,
          warehouse_id: this.adjustment.warehouse_id,
          ref: this.adjustment.ref,
          note: this.adjustment.note,
          adjustment_items: this.selectProducts.map((r) => {
            return {
              variant_id: r.variant_id,
              number: +r.number,
              current_number: +r.current_number,
            };
          }),
        };

        this.$store
          .dispatch("adjustment/addAdjustment", dataCreate)
          .then((rs) => {
            if (rs.data.message == "success") {
              this.$store.dispatch("adjustment/loadAdjustments", {
                page: this.page,
                pageSize: this.pageSize,
              });
              notification.success("Tạo mới điều chỉnh thành công");
              this.$emit("onSaveSuccess");
              setTimeout(() => {
                this.$bvModal.hide("product-add-edit");
              }, 100);
            }
          });
      } else {
        //Update adjustment
        adjustmentService
          .updateAdjustment({
            id: this.adjustment.id,
            status: this.adjustment.status,
            warehouse_id: this.adjustment.warehouse_id,
            ref: this.adjustment.ref,
            note: this.adjustment.note,
          })
          .then((rs) => {
            if (rs.data.message == "success") {
              //Update item, Add item
              this.selectProducts.forEach((item) => {
                const itemExist = this.productsInit.find(
                  (i) => i.variant_id == item.variant_id
                );
                if (itemExist) {
                  adjustmentService.updateAdjustmentItem(this.data.id, {
                    variant_id: item.variant_id,
                    number: +item.number,
                    current_number: +item.current_number,
                  });
                } else {
                  adjustmentService.addAdjustmentItem(this.data.id, {
                    variant_id: item.variant_id,
                    number: +item.number,
                    current_number: +item.current_number,
                  });
                }
              });

              //Delete
              this.productsInit.forEach((item) => {
                const itemExist = this.selectProducts.find(
                  (i) => i.variant_id == item.variant_id
                );
                if (!itemExist) {
                  adjustmentService.deleteAdjustmentItem(
                    this.data.id,
                    item.variant_id
                  );
                }
              });

              this.$store.dispatch("adjustment/loadAdjustments", {
                page: this.page,
                pageSize: this.pageSize,
              });
              notification.success("Cập nhật adjustment thành công");
              this.$emit("onSaveSuccess");
              setTimeout(() => {
                this.$bvModal.hide("product-add-edit");
              }, 100);
            } else {
              notification.error(rs.data.message);
            }
          });
      }
    },
    closeModal() {
      this.$store.dispatch("queueDialog/hideDialog");
    },
    onUpdate() {
      if (this.validate() === false) {
        return;
      }
      this.$store.dispatch("queueDialog/hideDialog");
    },
    onChangeCellValue(data) {
      const row = this.selectProducts.find(
        (r) => r.variant_id === data.currentRow.variant_id
      );
      row[data.field] = data.value;
      row.afterAdjust = +row.number + +row.current_number;
      this.selectProducts = [...this.selectProducts];
    },
    onSelecting(selectedOption) {
      if (
        !this.selectProducts.find((r) => r.variant_id === selectedOption.id)
      ) {
        this.selectProducts.push({
          variant_id: selectedOption.id,
          barcode: selectedOption.barcode,
          product_name: selectedOption.name,
          unit_name: selectedOption.unit_name,
          number: 0,
          current_number: +selectedOption.current_number,
          afterAdjust: +selectedOption.current_number,
        });
      }
    },
    onRemoveItemProduct(e) {
      //ERROR
      if (this.adjustment.status === 1) {
        notification.error("Điều chỉnh đã duyệt không thể xóa", "Thông báo");
        return;
      }
      this.selectProducts = this.selectProducts.filter(
        (p) => p.variant_id != e.variant_id
      );
    },
  },
  watch: {
    "adjustment.warehouse_id": function(cur, pre) {
      if (!cur || cur != pre) {
        this.selectProducts = [];
      }
    },
  },
};
</script>
<style scoped></style>

<style scoped>
.main-top {
  padding: 0 15px 0 15px !important;
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 900px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-close {
  cursor: pointer;
}

.btn-add-product {
  width: 100%;
  font-size: 14px;
}

.table .ligth.ligth-data th:first-child {
  text-align: left;
}

.dropdown-feature-orther {
  float: right;
  padding: 5px;
}

.image-product {
  padding-top: 5px;
}

.img {
  height: 180px;
  width: 180px;
}

.arrow-left {
  position: absolute;
  top: 125px;
  left: 0;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: 125px;
  right: 0;
  cursor: pointer;
}

.btn-delete {
  position: absolute;
  right: 25px;
  top: 55px;
  cursor: pointer;
}

.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px darkgray;
  height: 180px;
  width: 180px;
}
</style>
