<template>
  <div>
    <div
      class="header"
      style="justify-content: flex-end;"
    >
      <button
        class="btn btn-primary"
        @click="onOpenAddAdjustment"
      >
        Thêm mới điều chỉnh
      </button>
    </div>
    <div class="table-responsive rounded mb-3">
      <table-list
        :line-number="true"
        :columns="columns"
        :rows="adjustmentList"
        :total="totalElements"
        @onPageChange="onPageChange"
        @onPerPageChange="onPerPageChange"
      />
      <Dialog
        :btnOpen="false"
        id="product-add-edit"
        :title="titleDialog"
        :titleBtnSubmit="isUpdate?`Cập nhật`:`Thêm mới`"
        :onSubmit="onEditAdjustment"
        size="xl"
      >
        <template v-slot:modal-body>
          <adjustment-detail
            ref="adjustmentDetail"
            :isUpdate="isUpdate"
            di
            :data="adjustmentUpdate"
            @onSaveSuccess="onSaveSuccess"
            :page="page"
            :pageSize="pageSize"
          />
        </template>
      </Dialog>
      <check-delete
        @confirmDelete="confirmDelete"
        title="thông tin"
        content="Bạn có muốn xóa thông tin không?"
      > </check-delete>
    </div>
  </div>
</template>
<script lang="ts">
import AdjustmentDetail from "./AdjustmentAddEdit.vue";
import { Action, ColumnTable, ColumnType } from '../../Model/TableList';
import { DialogName } from "../../models/enums";
import adjustmentService from '@/services/adjustment.service'
import notification from '@/utils/notification'
import CheckDelete from "../Group/DeleteConfirm";
import constants from '@/config/constants'

export default {
  components: {
    AdjustmentDetail,
    CheckDelete
  },
  data() {
    return {
      isUpdate: false,
      checkbox: false,
      columns: [
        new ColumnTable(ColumnType.TEXT, "Mã điều chỉnh", 'code'),
        new ColumnTable(ColumnType.TEXT, "Kho", 'warehouse_name'),
        new ColumnTable(ColumnType.TEXT, "Ngày điều chỉnh", 'created_at'),
        new ColumnTable(ColumnType.TEXT, "Số lượng điều chỉnh", 'number'),
        new ColumnTable(ColumnType.ORDER_STATUS, "Trạng thái", "status"),
        new ColumnTable(ColumnType.TEXT, "Ghi chú", 'note'),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (data) => {
                this.openModalAddEdit(data)
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (data) => {
                this.onDeleteRow(data);

              },
              "table__action-icon"
            ),
          ],
        }),
      ],
      showIndex: true,
      adjustmentUpdate: null,
      page: 0,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      rowDelete: null
    };
  },
  mounted() {
    this.$store.dispatch("adjustment/loadAdjustments", { page: this.page, pageSize: this.pageSize })
  },
  computed: {
    adjustmentData() {
      return this.$store.getters["adjustment/getAdjustments"];
    },
    adjustmentList() {
      return this.adjustmentData.items;
    },
    totalElements() {
      return this.adjustmentData.pagination.totalElements;
    },
    titleDialog() {
      return this.isUpdate ? "Cập nhật điều chỉnh" : "Thêm mới điều chỉnh"
    }
  },
  methods: {
    onPageChange(params) {
      this.page = +params - 1;
      this.$store.dispatch("adjustment/loadAdjustments", { page: this.page, pageSize: this.pageSize });
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.$store.dispatch("adjustment/loadAdjustments", { page: this.page, pageSize: this.pageSize });
    },
    onOpenAddAdjustment() {
      this.adjustmentUpdate = null;
      this.isUpdate = false;

      var data = {
        isUpdate: false,
      }
      this.$store.dispatch('adjustment/onUpdateAdjustment', data);
      this.$store.dispatch('queueDialog/showDialog', DialogName.ADJUSTMENT_ADD_EDIT)
      this.$bvModal.show('product-add-edit');
    },
    openModalAddEdit(e) {
      this.isUpdate = true
      this.adjustmentUpdate = e
      this.$bvModal.show('product-add-edit');
    },
    onDeleteRow(row) {
      this.$bvModal.show('CheckDelete')
      this.rowDelete = row;
    },
    confirmDelete() {
      this.$bvModal.hide('CheckDelete')
      adjustmentService.deleteAdjustment(this.rowDelete.id).then(rs => {
        if (rs.data.code === 1) {
          notification.success('Xóa thành công');
          this.$store.dispatch("adjustment/loadAdjustments", { page: this.page, pageSize: this.pageSize });
        }
      })
    },
    onSaveSuccess() {
      this.$store.dispatch("adjustment/loadAdjustments", { page: this.page, pageSize: this.pageSize });
    },
    onEditAdjustment() {
      this.$refs.adjustmentDetail.onSubmit()
    }
  }
};
</script>
<style lang="scss" scoped>
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
</style>