<template>
  <div>
    <b-button v-if="btnOpen" v-b-modal="`${id}`">{{ btnName }}</b-button>

    <b-modal
      :id="`${id}`"
      :title="`${title}`"
      :size="`${size}`"
      hide-footer
      ignore-enforce-focus-selector=".select2-search__field"
    >
      <slot class="body-style" name="modal-body" />
      <div class="btn btn-style" :style="btnStyle">
        <b-button
          class="btn-close"
          variant="danger"
          v-if="btnClose"
          @click="$bvModal.hide(id)"
          >Đóng cửa sổ</b-button
        >
        <b-button
          @click="onSubmit"
          :disabled="isDisabledSubmit"
          variant="primary"
          >{{ titleBtnSubmit }}</b-button
        >
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Dialog",
  props: {
    id: { type: String, default: "" },
    btnName: { type: String, default: "" },
    title: { type: String, default: "" },
    // Size xl, lg, sm
    size: { type: String, default: "" },
    btnOpen: { type: Boolean, default: false },
    btnClose: { type: Boolean, default: false },
    isDisabledSubmit: { type: Boolean, default: false },
    onSubmit: { type: Function, default: () => {} },
    titleBtnSubmit: { type: String, default: "Thêm mới" },
    btnStyle: { type: String, default: "" },
  },
};
</script>

<style lang="scss" >
.modal-body {
  padding: 10px 30px 15px 30px !important;
}
.btn-style {
  display: flex !important;
  justify-content: center !important;
  padding-bottom: 0 !important;
  .btn-close {
    margin-right: 80px;
    background-color: #ff723d;
    &:hover {
      background-color: #ff723d;
    }
  }
}
</style>
