

<template>
  <b-modal
    centered
    hide-footer
    hide-header
    hide-header-close
    no-close-on-backdrop
    no-close-on-esc
    v-model="isShow"
    :size="`${size}`"
    body-class="px-0 "
  >
    <div class="title pt-1 pb-1 ">
      <h4>{{headerTittle}}</h4>
      <i
        class="fas fa-times "
        @click="onClose"
      ></i>
    </div>
    <hr />
    <slot name="body">
      default body
    </slot>
    <div class="row footer">
      <div class="col">
        <div class="justify-content-center d-flex">
          <b-button
            class="btn btn-danger"
            variant="default"
            @click="onClose"
          >Đóng cửa sổ</b-button>
        </div>
      </div>

      <div
        v-for="(button) in listButton"
        :key="button"
        class="col"
      >
        <div
          v-if="button===buttonEvent.BTN_SAVE"
          class="d-flex flex-wrap align-items-ceter justify-content-center"
        >
          <div
            class="btn btn-primary"
            data-dismiss="modal"
            @click="onSave"
          >Thêm mới </div>
        </div>
        <div
          v-if="button===buttonEvent.BTN_UPDATE"
          class="d-flex flex-wrap align-items-ceter justify-content-center"
        >
          <div
            class="btn btn-primary"
            data-dismiss="modal"
            @click="onUpdate"
          >Cập nhật </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import { ButtonEvent } from "@/models/enums";
export default {
  data() {
    return {
      buttonEvent: ButtonEvent
    }
  },
  methods: {
    openModal(){

    }
    ,
    onClose() {
      this.$emit('closeDialog')
    },
    onSave() {
      this.$emit('saveDialog')
    },
    onUpdate() {
      this.$emit('updateDialog')
    }
  },
  watch: {
    isShow() {
      this.$emit('onShowChange')
    }
  },
  props: {
    isShow: {
      type: Boolean
    },
    id: { type: String, default: "" },
    headerTittle: {
      type: String,
      default: '',
    },

    footer: {
      type: Boolean,

    },
    size: { type: String, default: "" },
    listButton: {
      default: []
    }
  }
};
</script>
<style scoped>
@media (min-width: 576px) {
  .modal-dialog {
    max-width: fit-content !important;
    margin: 1.75rem auto;
  }
}
.mdal-dialog {
  width: fit-content !important;
}
.modal.body {
  padding: 0 !important;
  max-width: fit-content !important;
}
.modal {
  padding: 0px !important;
}
.popup {
  padding: 0 !important;
}
.title {
  /* margin-top: 1.2rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.mb-3 {
  font-family: Heebo !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 38px !important;
  margin: 0 !important;
  color: #131313;
}
.fa-times {
  margin-bottom: 10px !important;
}
/* @media (min-width: 576px) {
  .modal-dialog {
    max-width: auto !important;
  }
}
@media (min-width: 876px) {
  .modal-content {
    width: auto !important;
  }
} */
/* @media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 900px;
    }
} */
.btn-close {
  cursor: pointer;
}
.btn-add {
  width: 237px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.main__right__form__title {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #131313;
  margin-bottom: 5px;
}
.btn-close {
  border: 1px solid #32bdea;
  cursor: pointer;
}
/* .footer{
  margin-bottom: 1.6rem;
} */
</style>