<template>
  <div class="rounded bg-white">
    <form class="bg-white">
      <div class="row">
        <div class="col-lg-6">
          <form-group-input
            type="text"
            label="Tên phân loại"
            v-model="categoryData.name"
            :touch="$v.categoryData.name.$touch"
            :invalid="$v.categoryData.name.$error"
            invalidFeedback="Hãy điền vào trường này."
          />
        </div>
        <div class="col-lg-6">
          <upload-image :value="imageList" :multiple="false" @input-image="inputImage" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Phân loại gốc</label>
            <Select2
              textField="name"
              valueField="id"
              v-model="selectedParent.id"
              :options="listCategories"
            >
            </Select2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Đang hoạt động</label>
            <Select2
              textField="name"
              valueField="id"
              v-model="categoryData.is_active"
              :options="optionActive"
              :invalid="$v.categoryData.is_active.$error"
              :invalidFeedback="`Hãy chọn một giá trị.`"
            >
            </Select2>
            <div class="invalid-feedback">
              Hãy chọn một giá trị.
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- <div class="d-flex justify-content-around">
      <b-button variant="danger" @click="closeModal">
        Đóng
      </b-button>
      <b-button
        type="submit"
        class="btn btn-primary button justify-content-center"
        variant="primary"
        @click="onSubmit"
      >
        {{ btnSubmitName }}
      </b-button>
    </div> -->
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import notification from "@/utils/notification";
import FormGroupInput from "@/components/form/FormGroupInput";
import UploadImage from '../../../components/upload-image/UploadImage.vue';
export default {
  mixins: [validationMixin],
  validations: {
    categoryData: {
      name: { required },
      is_active: { required },
    },
  },
  components: {
    FormGroupInput,
    UploadImage,
  },
  computed: {
    listCategories() {
      return this.$store.getters["category/getAllCategories"]?.items;
    },
  },
  props: {
    btnSubmitName: { type: String, default: "Thêm mới" },
    isEdit: { type: Boolean, default: false },
    categoryId: { type: Number, default: null },
    categoryData: {
      type: Object,
      default() {
        return {
          name: { type: String, default: "" },
          image: { type: String, default: "" },
          parent_id: { type: Number, default: -1 },
          is_active: { type: Number, default: 0 },
        };
      },
    },
  },
  data() {
    return {
      selectedParent: {},
      optionActive: [
        {
          id: 0,
          name: "No",
        },
        {
          id: 1,
          name: "Yes",
        },
      ],
      imageList: this.categoryData && this.categoryData.image ? [{url: this.categoryData.image}] : [],
      imageListNew: []
    };
  },
  mounted() {
    this.loadAllCategories();
    if (this.categoryData?.parent_id) {
      this.selectedParent = this.listCategories.find(
        (item) => item.id === this.categoryData.parent_id
      );
    }
    this.selectedParent = this.selectedParent ? this.selectedParent : {};
  },
  methods: {
    loadAllCategories() {
      this.$store.dispatch("category/loadAllCategories");
    },
    validate() {
      this.$v.$touch();
      return !this.$v.$invalid;
    },
    onSubmit() {
      if (!this.validate()) return;
      var categoryNew = this.categoryData
      categoryNew.parent_id = this.selectedParent.id
        ? this.selectedParent.id
        : null;
      categoryNew.image = this.imageListNew && this.imageListNew.length > 0 ? this.imageListNew[0].url : ''
      if (this.isEdit) {
        this.$store
          .dispatch("category/updateCategory", categoryNew)
          .then(() => {
            notification.success("Cập nhật thành công");
            this.closeModal();
          })
          .catch(() => {
            notification.error("Cập nhật thất bại");
          });
      } 
      else {
        this.$store
          .dispatch("category/addCategory", categoryNew)
          .then(() => {
            notification.success("Thêm thành công");
            this.closeModal();
          })
          .catch(() => {
            notification.error("Thêm thất bại");
          });
      }
    },
    closeModal() {
      this.$emit("close");
    },
    inputImage(e){
      this.imageListNew = e
    }
  },
};
</script>
<style scoped>
.image-product {
  padding-top: 5px;
}

.img {
  height: 180px;
  width: 180px;
}
.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px darkgray;
  height: 180px;
  width: 180px;
}
</style>
