<template>
  <div>
    <div class="table-responsive">
      <table-list
        :columns="columns"
        :rows="listCategory"
        :showIndex="true"
        :total="totalElements"
        @onPageChange="onPageChange"
        @onPerPageChange="onPerPageChange"
      >
        >
      </table-list>
    </div>
    <Dialog :btnClose="true" :onSubmit="onAddEditCategory" :titleBtnSubmit="isEdit ? 'Cập nhật' : 'Thêm mới'" id="CategoryAddEdit" :title="titleModal" size="m">
      <template v-slot:modal-body>
        <add-edit-category
          ref="addEditCategory"
          @close="closeAddEdit"
          :is-edit="isEdit"
          :btn-submit-name="btnSubmitName"
          :category-data="selectedCategory"
        ></add-edit-category>
      </template>
    </Dialog>
    <CheckDelete
      id="categoryDeleteModal"
      :title="'đơn vị'"
      @confirmDelete="deteleCategory"
    ></CheckDelete>
  </div>
</template>
<script>
import { Action, ColumnTable, ColumnType } from "../../../Model/TableList";
import AddEditCategory from "./AddEditCategory.vue";
import notification from "@/utils/notification";
import constants from '@/config/constants'
import CheckDelete from "../DeleteConfirm.vue";
export default {
  name: "CategoryManagement",
  components: {
    AddEditCategory,
    CheckDelete,
  },
  computed: {
    listCategory() {
      var rs = this.$store.getters["category/getCategories"]?.items;
      if (rs.length > 0) {
        rs = rs.map((r) => ({
          ...r,
          parent_id: {
            id: r.parent_id,
            name: this.$store.getters["category/getAllCategories"].items?.find(
              (u) => u.id === r.parent_id
            )?.name,
          },
        }));
        return rs;
      } else {
        return [];
      }
    },

    totalElements() {
      return this.$store.getters["category/getCategories"]?.pagination
        .totalElements;
    },
  },
  mounted() {
    this.loadCategories();
    this.loadAllCategories();
  },
  data() {
    return {
      columns: [
        new ColumnTable(ColumnType.TEXT, "Tên", "name"),
        new ColumnTable(ColumnType.IMAGE, "Ảnh", "image"),
        new ColumnTable(ColumnType.TEXT, "Phân loại gốc", "parent_id.name"),
        new ColumnTable(ColumnType.ACTION, "Tương tác", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (e) => {
                this.onOpenDialogEditCategory(e);
              },
              "table__action-icon"
            ),
            new Action(
              "ri-close-line",
              (e) => {
                this.onOpenDialogDelete(e);
              },
              "table__action-icon"
            ),
          ],
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
          width: "150px",
        }),
      ],
      isEdit: false,
      titleModal: "Add Category",
      btnSubmitName: "Thêm mới",
      selectedCategory: {
        name: "",
        image: "",
        parent_id: -1,
        is_active: -1,
      },
      delete: null,
      page: 0,
     pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
    };
  },
  methods: {
    loadAllCategories() {
      this.$store.dispatch("category/loadAllCategories");
    },
    loadCategories() {
      this.$store.dispatch("category/loadCategories", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    onOpenDialogEditCategory(e) {
      this.selectedCategory = Object.assign({},this.$store.getters["category/getCategories"].items?.find((u) => u.id === e.id))
      this.titleModal = "Sửa phân loại";
      this.btnSubmitName = "Cập nhật";
      this.isEdit = true;
      this.$bvModal.show("CategoryAddEdit");
    },
    onOpenDialogDelete(e) {
      this.$bvModal.show("categoryDeleteModal");
      this.delete = e;
    },
    openAddModal() {
      this.titleModal = "Thêm phân loại";
      this.btnSubmitName = "Thêm mới";
      this.isEdit = false;
      this.selectedCategory = {};
      this.$bvModal.show("CategoryAddEdit");
    },
    closeModal() {
      this.$emit("close");
    },
    deteleCategory() {
      this.$bvModal.hide("categoryDeleteModal");
      this.$store
        .dispatch("category/deleteCategory", this.delete.id)
        .then(() => {
          if (this.totalElements % this.pageSize == 1) {
            this.page--;
            this.$store.dispatch("category/loadCategories", {
              page: this.page,
              pageSize: this.pageSize,
            });
            notification.success("Xóa thành công");
          }
        })
        .catch(() => {
          notification.error("Xóa thất bại");
        });
    },
    closeAddEdit() {
      this.$bvModal.hide("CategoryAddEdit");
    },
    onPageChange(params) {
      this.page = +params - 1;
      this.$store.dispatch("category/loadCategories", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.$store.dispatch("category/loadCategories", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    onAddEditCategory(){
      this.$refs.addEditCategory.onSubmit()
    }
  },
};
</script>
