<template>
  <div class="container__parent-input">
    <label class="d-block ">{{ title }}</label>
    <Select2
      ref="selectPro"
      textField="name"
      valueField="id"
      placeholder="Chọn hình thức thanh toán"
      v-model="valueSelect"
      :disabled="disabled"
      :options="optionPayment"
      :searchField="visibleSearch"
    >
    </Select2>
    <div class="invalid-feedback__select" v-if="invalid">
      {{ invalidFeedback }}
    </div>
  </div>
</template>

<script>
import "vue-select/dist/vue-select.css";
import Select2 from "../form/select2/Select2.vue";

export default {
  model: {
    prop: "value",
    event: "onSelect",
  },
  components: {
    Select2,
  },
  props: {
    title: { type: String, default: "Hình thức thanh toán" },
    lableSelect: { type: String, default: "" },
    value: { default: 1 },
    invalid: { default: false },
    invalidFeedback: { default: "Vui lòng chọn hình thức thanh toán" },
    typeValue: { type: String, default: "id" },
    disabled: { default: false },
    visibleSearch: { type: Boolean, default: true },
  },
  data() {
    return {
      valueSelect: this.value,
      optionPayment: [
        {
          id: 1,
          name: "Tiền mặt",
        },
        {
          id: 2,
          name: "Khác",
        },
      ],
    };
  },
  watch: {
    valueSelect(e) {
      this.$emit("onSelect", e);
    },
    invalid(val) {
      if (val) {
        this.$refs.selectPro.$refs.select.nextSibling.children[0].children[0].setAttribute(
          "style",
          "border-color: #E08DB4 !important;"
        );
      } else {
        this.$refs.selectPro.$refs.select.nextSibling.children[0].children[0].removeAttribute(
          "style"
        );
      }
    },
  },
};
</script>

<style scoped>
label {
  margin: 0;
  margin-bottom: 1px;
}
.container__parent-input {
  width: 100%;
}
.vs__open-indicator {
  transform: none !important;
}
.vs__dropdown-toggle {
  border-radius: 4px !important;
}
.vs__clear {
  display: none !important;
}
.is-invalid__select {
  border: 1px solid #e08db4 !important;
  border-color: red !important;
}
.invalid-feedback__select {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e08db4;
}
.invalid-feedback__icon {
  color: #e08db4 !important;
}
.label-style {
}
</style>
