<template>
  <div>
    <div class="container__parent-input">
      <label
        class="d-block mb-0"
        style="padding-bottom: calc(0.375rem + 1px); line-height: 1.5;"
      >{{ title }}</label>
      <v-select
        ref="selectWarehouse"
        :options="dataSearch"
        :multiple="multiple"
        :label="lableSelect"
        :placeholder="placeholder"
        :filter-by="filterBy"
        v-model="defaultValue"
        :disabled="disabled"
        @search:blur="blurSelect"
        @option:selected="onSelecting"
      >
        <template #open-indicator="{ attributes }">
          <span v-bind="attributes"><i
              ref="icon"
              class="fas fa-search"
            ></i></span>
        </template>
        <template #option="{ id, code, ref, customer_name }">
          <div>
            <div class="dropdown__option-above">
              Id: {{ id }}  |  Code: {{ code }}  |  Ref: {{ ref }}
            </div>
            <div class="dropdown__option-below">
              Customer name: {{ customer_name }}
            </div>
          </div>
        </template>
      </v-select>
      <div
        class="invalid-feedback__select"
        v-if="invalid"
      >
        {{ invalidFeedback }}
      </div>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import saleOrderService from "@/services/sale-order.service.js";


export default {
  components: {
    vSelect,
  },
  model: {
    prop: "value",
    event: "onSelect",
  },
  async mounted() {
    const data = await saleOrderService.getSaleOrder(0, 999999999);
    this.dataSearch = this.initData = data.items;
    if (this.typeValue == "id") {
      if(this.value){
        const detail = await saleOrderService.getSaleOrderDetail(this.value ? this.value : "")
        this.defaultValue = detail;
      }
    } else {
      this.defaultValue = this.value;
    }
    const refToggle = this.$refs.selectWarehouse.$refs.toggle;
    refToggle.classList.add("search__input");
  },
  props: {
    title: { type: String, default: "" },
    multiple: { type: Boolean, default: false },
    lableSelect: { type: String, default: "id" },
    placeholder: { type: String, default: "" },
    value: null,
    invalid: { default: false },
    invalidFeedback: { default: "Vui lòng chọn hóa đơn" },
    filterBy: {
      type: Function,
      default(option, label, search) {
        for (const [key, value] of Object.entries(option)) {
          if (key == 'id' || key == 'code' ) {
            const isSelect = (value?.toString() || '').toLowerCase().indexOf(search.toLowerCase()) > -1;
            if (isSelect) {
              return true;
            }
          }
        }
        return false;
      },
    },
    typeValue: { type: String, default: "id" },
    disabled: { default: false },
  },
  data() {
    return {
      dataSearch: [],
      timeOut: null,
      defaultValue: null,
      initData: []
    };
  },
  methods: {
    onSelecting(selectedOption) {
      if (this.typeValue == "id") {
        this.$emit("onSelect", selectedOption.id);
      } else {
        this.$emit("onSelect", selectedOption);
      }
    },
    blurSelect() {
      this.$emit("blur");
    },
  },
  computed: {
    defaultValueInput() {
      if (this.defaultValue[this.lableSelect]) {
        return this.defaultValue[this.lableSelect];
      }
      return "";
    },
  },
  watch: {
    // value: async function (val) {
    //   if (this.typeValue == "id") {
    //     // const data = await warehouseService.getWarehouseDetails(val ? val : "");
    //     // this.defaultValue = data;
    //   } else {
    //     this.defaultValue = val;
    //   }
    // },
    defaultValue: async function (val) {
      if (!val) {
        this.$emit("onSelect", null);
        if (this.invalid) {
          this.$emit("blur");
        }
      }
    },
    invalid: function (val) {
      if (val) {
        this.$refs.icon.classList.add("invalid-feedback__icon");
        this.$refs.selectWarehouse.$refs.toggle.classList.add(
          "is-invalid__select"
        );
      } else {
        this.$refs.icon.classList.remove("invalid-feedback__icon");
        this.$refs.selectWarehouse.$refs.toggle.classList.remove(
          "is-invalid__select"
        );
      }
    },
  },
};
</script>

<style scoped>
.container__parent-input {
  width: 100%;
}
.vs__open-indicator {
  transform: none !important;
}
.vs__dropdown-toggle {
  height: 45px !important;
  border-radius: 10px !important;
}
.vs__clear {
  display: none !important;
}
</style>
<style >
.search__input {
  height: 45px !important;
  line-height: 45px !important;
  background: #ffffff !important;
  border: 1px solid #dcdfe8 !important;
  font-size: 14px !important;
  color: #676e8a !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  cursor: text !important;
  margin: 0em !important;
  font: 400 14px Arial !important;
}
.is-invalid__select {
  border: 1px solid #e08db4 !important;
}
.invalid-feedback__select {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e08db4;
}
.invalid-feedback__icon {
  color: #e08db4 !important;
}
.dropdown__option-above{
  font-size: 18px;
}
.dropdown__option-below{
  opacity: 0.8;
  font-size: 13px;
}
</style>
