<template>
  <div class="bg-white">
    <form>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="groupId">Mã tài khoản</label>
            <input
              type="text"
              :disabled="isUpdate"
              :class="
                `form-control ${$v.data.username.$error ? 'is-invalid' : ''}`
              "
              @input="$v.data.username.$touch()"
              @blur="$v.data.username.$touch()"
              v-model="data.username"
              placeholder="Nhập mã tài khoản"
            />
            <div class="invalid-feedback">
              Vui lòng nhập mã tài khoản
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="discount">Họ và tên</label>
            <input
              type="text"
              class="form-control"
              :class="`form-control ${$v.data.name.$error ? 'is-invalid' : ''}`"
              @input="$v.data.name.$touch()"
              @blur="$v.data.name.$touch()"
              v-model="data.name"
              placeholder="Nhập họ và tên"
            />
            <div class="invalid-feedback">
              Vui lòng nhập họ và tên
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Mật khẩu</label>
            <input
              type="password"
              :class="`form-control`"
              v-model="data.password"
              placeholder="Nhập mật khẩu"
            />
            <div class="invalid-feedback">
              Vui lòng nhập mật khẩu
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Số điện thoại</label>
            <input
              type="text"
              :class="
                `form-control ${$v.data.phone.$error ? 'is-invalid' : ''}`
              "
              @input="$v.data.phone.$touch()"
              @blur="$v.data.phone.$touch()"
              v-model="data.phone"
              placeholder="Nhập số điện thoại"
            />
            <div class="invalid-feedback">
              Vui lòng nhập số điện thoại hợp lệ
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Email</label>
            <input
              id="email"
              type="email"
              @input="$v.data.email.$touch()"
              @blur="$v.data.email.$touch()"
              :class="
                `form-control ${$v.data.email.$error ? 'is-invalid' : ''}`
              "
              v-model="data.email"
              placeholder="Nhập email"
            />
            <div class="invalid-feedback">
              Vui lòng nhập email hợp lệ
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Vị trí/Chức danh</label>
            <input
              type="text"
              :class="`form-control`"
              v-model="data.position"
              placeholder="Nhập vị trí/chức danh"
            />
            <!-- <div class="invalid-feedback">
              Vui lòng nhập vị trí@input="$v.data.position.$touch()" ${$v.data.position.$error ? 'is-invalid' : ''}
              @blur="$v.data.position.$touch()"
            </div> -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="d-block mb-0">Trạng thái</label>
            <Select2
              textField="text"
              icon
              valueField="value"
              :searchField="false"
              :options="optionStatus"
              v-model="data.status"
              :invalid="$v.data.status.$error"
              :invalidFeedback="`Trạng thái không được để trống`"
            >
            </Select2>

            <div class="invalid-feedback">
              Trạng thái không được để trống
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="d-block mb-0">Ghi chú</label>
            <input
              type="text"
              :class="`form-control`"
              v-model="data.note"
              placeholder="Ghi chú"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import {
  required,
  email,
  numeric,
  minLength,
  maxLength,
} from "vuelidate/lib/validators";
import notification from "@/utils/notification";

export default {
  mixins: [validationMixin],
  validations: {
    data: {
      username: { required },
      name: { required },
      phone: {
        required,
        numeric,
        minLength: minLength(10),
        maxLength: maxLength(11),
      },
      email: { required, email },
      status: { required },
    },
  },
  props: {
    isUpdate: {
      type: Boolean,
      default: false,
    },
    data: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      optionStatus: [
        { value: 1, text: "Hoạt động" },
        { value: 2, text: "Khóa" },
      ],
    };
  },
  methods: {
    onSubmit() {
      this.$v.$touch();
      if (!this.isUpdate) {
        if (!this.data.password || this.data.password === "") {
          notification.error("Vui lòng nhập mật khẩu");
          return false;
        }
      }
      if (this.$v.$invalid) return false;
      return true;
    },
  },
};
</script>
<style scoped>
.title {
  margin: 0px;
  margin-bottom: 8px;
}
</style>
