<template>
  <div>
    <div class="header" style="justify-content: flex-end;">
      <button
          class="btn btn-primary"
          variant="primary"
          @click="onOpenAddUser"
        >
          Thêm mới nguời dùng
        </button>
    </div>
    <div class="table-responsive rounded mb-3">
      <TableList
          :line-number="true"
          :columns="columns" 
          :rows="userList" 
          :total="total"
          @onPageChange="onPageChange"
          @onPerPageChange="onPerPageChange"/>
        <Dialog
          id="user-add-edit"
          :title="isUpdate?`Cập nhật người dùng`:`Thêm mới người dùng`"
          :titleBtnSubmit="isUpdate?`Cập nhật`:`Thêm mới`"
          :onSubmit="onAddEditUser"
          size="lg">
          <template v-slot:modal-body>
            <user-add-edit ref="userAddEdit" :isUpdate="isUpdate" :data="data" />
          </template>
        </Dialog>
        <check-delete id="delete-user" @confirmDelete="confirmDelete" title="người dùng" content="Bạn có muốn xóa người dùng không?"> </check-delete>
  </div>
  </div>
</template>
<script>
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import constants from '@/config/constants'
import UserAddEdit from './UserAddEdit.vue'
import notification from '@/utils/notification'
import CheckDelete from "../Group/DeleteConfirm";
import userService from "../../services/user.service"

export default {
  components: {
    UserAddEdit,
    CheckDelete
  },
    data(){
        return {
        columns: [
          new ColumnTable(ColumnType.TEXT, "Mã nhân viên", "username"),
          new ColumnTable(ColumnType.TEXT, "Tên nhân viên", "name"),
          new ColumnTable(ColumnType.TEXT, "Mobile", "phone"),
          new ColumnTable(ColumnType.TEXT, "Email", "email"),
          new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
            actions: [
              new Action(
                "fas fa-lock",
                (e) => this.onLockUnLockUser(e),
                "table__action-icon",
                null,
                "status",
                "fas fa-lock-open"
              ),
              new Action(
                "ri-pencil-line",
                (e) => this.onOpenUpdateUser(e),
                "table__action-icon-info"
              ),
              new Action(
                "ri-close-line",
                (e) => this.onDelete(e),
                "table__action-icon"
              ),
            ],
            tdClass: "vgt-center-align",
            thClass: "vgt-center-align",
            width: "150px",
          }),
        ],
        pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
        pageNumber: 0,
        total: 10,
        data: {},
        isUpdate: false,
        idDelete: 0
      }
    },
    computed: {
      userList() {
        var data = this.$store.getters["user/getUsers"];
        return data.items;
      },
    },
    mounted(){
      this.dispatchUser()
    },
    methods: {
      onPageChange(params) {
        this.pageNumber = params - 1
        this.dispatchUser()
      },
      onPerPageChange(params) {
        this.pageSize = params.currentPerPage
        this.pageNumber = params.currentPage - 1
        this.dispatchUser()
      },
      dispatchUser() {
        this.$store.dispatch("user/loadUsers", { page: this.pageNumber, pageSize: this.pageSize }).then(rs => {
          this.total = rs?.pagination.totalElements
        })
      },
      onOpenAddUser(){
        this.data = {}
        this.isUpdate = false
        this.$bvModal.show('user-add-edit')
      },
      onOpenUpdateUser(e){
        this.data = {
          id: e.id,
          username: e.username ?? null,
          password: e.password ?? null,
          phone: e.phone ?? null,
          email: e.email ?? null,
          name: e.name ?? null,
          note: e.note ?? null,
          position: e.position ?? null,
          status: e.status ?? null
        }
        this.isUpdate = true
        this.$bvModal.show('user-add-edit')
      },
      onAddEditUser(){
        var check = this.$refs.userAddEdit.onSubmit()
        if(check){
          if(this.isUpdate){
            this.onUpdate()
          }
          else{
            this.onSave()
          }
        }
      },
      onSave(){
        var dataInsert = {
          code: this.data.code ?? "",
          position: this.data.position ?? "",
          note: this.data.note ?? "",
          username: this.data.username ?? "",
          password: this.data.password ?? "",
          status: this.data.status,
          name: this.data.name ?? "",
          phone: this.data.phone ?? "",
          email: this.data.email ?? ""
        }
        this.$store.dispatch('user/addUser', dataInsert).then((rs) => {
          if(rs.code === 1){
            notification.success('Tạo mới người dùng thành công')
            this.dispatchUser()
            this.$bvModal.hide('user-add-edit')
          }
        })
      },
      onUpdate(){
        var dataInsert = {
          id: this.data.id,
          code: this.data.code ?? "",
          position: this.data.position ?? "",
          note: this.data.note ?? "",
          status: this.data.status,
          name: this.data.name ?? "",
          phone: this.data.phone ?? "",
          email: this.data.email ?? ""
        }
        this.$store.dispatch('user/updateUser', dataInsert).then((rs) => {
          if(rs.code === 1){
            notification.success('Cập nhật người dùng thành công')
            this.dispatchUser()
            this.$bvModal.hide('user-add-edit')
          }
        })
      },
      onDelete(e){
        this.$bvModal.show('delete-user')
        this.idDelete = e.id
      },
      confirmDelete(){
        this.$bvModal.hide('delete-user')
        userService.deleteUser(this.idDelete).then(rs => {
          if(rs.data.code === 1){
            notification.success('Xóa thành công');
            this.dispatchUser()
          }
        })
      },
      onLockUnLockUser(e){
        var status = 1
        if(e.status === 1){
          status = 2
        }
        var dataUpdate = {
          id: e.id,
          code: e.code ?? "",
          position: e.position ?? "",
          note: e.note ?? "",
          status: status,
          name: e.name ?? "",
          phone: e.phone ?? "",
          email: e.email ?? ""
        }
        this.$store.dispatch('user/updateUser', dataUpdate).then((rs) => {
          console.log('status', rs)
          if(rs.code === 1){
            notification.success('Thay đổi trạng thái thành công')
            this.dispatchUser()
          }
        })
      }
    }
}
</script>
<style lang="scss" scope>
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
</style>