<template>
  <div>
    <vue-good-table
      :columns="columns"
      :rows="rowsUsing"
      :pagination-options="paginationOptionUsing"
      :search-options="searchOption"
      @on-search="onSearch"
      @on-per-page-change="onPerPageChangeEmit"
      styleClass="vgt-table"
    >
      <template
        slot="table-row"
        slot-scope="props"
      >
        <span
          v-if="props.column.type == 'line_number'"
          class="table__row-index"
        >
          <div>{{ props.row.index }}</div>
        </span>
        <span v-else-if="props.column.type == 'image'">
          <img
            style="max-width: 60px;"
            :src="props.formattedRow[props.column.field]"
          />
        </span>
        <span v-else-if="props.column.type == 'input_number'">
          <input
            class="input_number"
            type="number"
            :disabled="props.column.disabled"
            :value="+props.formattedRow[props.column.field]"
            @input="onChangeValueRow($event.target.value, props.column, props)"
            :min="props.column.minValue"
            :max="props.column.maxValue"
          />
        </span>
        <span
          class="align-center justify-content-center"
          v-else-if="props.column.type == 'action'"
        >
          <button
            class="table__action-icon"
            v-for="(col, index) in props.column.actions"
            :key="index"
            :class="`${col.className + ' ' + col.icon} ${props.row[col.prop] !== 1 ? col.iconOther : col.icon }`"
            type="button"
            @click="
              () => {
                col.func(props.row);
              }
            "
            :disabled="col.isDisableByStatus(props.row.status)"
          ></button>
        </span>
        <span v-else-if="props.column.type == 'checkBox'">
          <div>
            <input
              type="checkbox"
              class="table__check-box"
              :disabled="props.column.disabled"
              v-model="props.row[props.column.field]"
              name="checkbox-1"
            />
          </div>
          <i
            v-for="(col, index) in props.column.actions"
            :key="index"
            v-bind:class="col.icon"
            @click="
              () => {
                col.func(props.row);
              }
            "
          ></i>
        </span>
        <span v-else-if="props.column.type == 'currency'">
          {{ props.formattedRow[props.column.field] | currency }}
        </span>
        <span v-else-if="props.column.type == 'date_format'">
          {{ props.formattedRow[props.column.field] | dateFormat }}
        </span>
        <span v-else-if="props.column.type == 'order_status'">
          {{ props.formattedRow[props.column.field] | orderStatus }}
        </span>
        <span v-else-if="props.column.type == 'input_currency'">
          <input-currency
            :min="props.column.minValue"
            type="table"
            :disabled="props.column.disabled"
            :value="+props.formattedRow[props.column.field]"
            @input="onChangeValueRow($event, props.column, props)"
          ></input-currency>
        </span>
        <span v-else>
          {{ props.formattedRow[props.column.field] }}
        </span>
      </template>
      <div slot="emptystate">
        <p class="vgt-center-align vgt-text-disabled" style="margin: 0;">Không có dữ liệu</p>
        
      </div>
    </vue-good-table>
    <div
      class="table__pagination"
      v-if="paginationOptionUsing.enabled"
    >
      <div class="pagination__info">
        Đang hiển thị {{ getNumberBeginItems }} đến {{ getNumberEndItems }} trong
        {{ total }} mục
      </div>
      <div class="pagination__info">
        <label
          class="pagination__info p-0 m-0"
        >
          Hiển thị
          <select
            class="pagination__select-rows-item"
            style="border-radius:8px !important; border: 1px solid #DCDFE8"
            v-model="perPage"
            ref="noneRef"
          >
            <option
              v-for="item in paginationOptionUsing.perPageDropdown"
              :key="item"
            >{{ item }}</option>
          </select>
          mục
        </label>
      </div>
      <div
        class="page-number"
        :class="{hidden__navigation: hiddenNav}"
      >
        <b-pagination
          style="margin: 0;"
          pills
          :hide-goto-end-buttons="true"
          size="md"
          prev-text="Trước"
          next-text="Kế tiếp"
          :number-of-pages="paginationOptionUsing.perPage"
          align="right"
          :total-rows="total"
          :per-page="paginationOptionUsing.perPage"
          v-model="currentPage"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { ColumnTable, ColumnType } from "../../Model/TableList";
import "vue-good-table/dist/vue-good-table.css";
import InputCurrency from "../form/input-currency/InputCurrency.vue";
import constants from "@/config/constants";

export default {
  name: "TableList",
  components: {
    InputCurrency,
  },
  props: {
    lineNumber: { default: false },
    rows: Array,
    columns: Array,
    totalItems: { default: false },
    total: {
      type: Number,
      default: 0,
    },
    paginationOption: {
      type: Object,
      default: function () {
        return {
          enabled: true,
          mode: "pages",
          position: "bottom",
          perPageDropdown: [10, 20, 50, 100],
          dropdownAllowAll: false,
          nextLabel: "next",
          prevLabel: "prev",
          rowsPerPageLabel: "Rows per page",
          ofLabel: "of",
          pageLabel: "page",
          allLabel: "All",
          //take here
          perPage: constants.DEFAULT_TABLE_PAGE_SIZE,
          setCurrentPage: 1,
        };
      },
    },
    searchOption: {
      type: Object,
      default: function () {
        return {
          enabled: false,
        };
      },
    },
  },
  data() {
    return {
      paginationOptionUsing: this.paginationOption,
      currentPage: this.paginationOption.setCurrentPage,
      perPage: this.paginationOption.perPage,
      rowsUsing: this.rows,
      columnsUsing: this.columns,
    };
  },
  mounted() {
    if (this.lineNumber) {
      this.columnsUsing.unshift(
        new ColumnTable(ColumnType.LINE_NUMBER, "", "index")
      );
    }
  },
  methods: {
    matchIndex() {
      var index = this.getNumberBeginItems - 1;
      this.rowsUsing = this.rowsUsing.map((r) => {
        index++;
        return {
          ...r,
          index: index,
        };
      });
    },
    onPerPageChangeEmit(params) {
      this.$emit("onPerPageChange", params);
      if (this.totalItems) {
        this.rowsUsing = this.rows.filter((r) => {
          const indexOfRow = this.rows.indexOf(r) + 1;
          return (
            indexOfRow >= this.getNumberBeginItems &&
            indexOfRow <= this.getNumberEndItems
          );
        });
        if (this.lineNumber) {
          this.matchIndex();
        }
      }
    },
    onSearch(params) {
      this.$emit("onSearch", params);
    },
    onChangeValueRow(e, a, b) {
      if (e != null && b) {
        this.$emit("cellValue:onChange", {
          field: a.field,
          value: e,
          currentRow: b.row,
        });
      }
    },
  },
  computed: {
    getNumberEndItems() {
      return this.total > this.perPage * this.currentPage
        ? this.perPage * this.currentPage
        : this.total;
    },
    getNumberBeginItems() {
      return this.total === 0 ? 0 : this.perPage * (this.currentPage - 1) + 1;
    },
    hiddenNav() {
      return this.total <= this.perPage;
    }
  },
  watch: {
    total(curVal) {
      if (this.getNumberBeginItems > curVal) {
        this.paginationOptionUsing.setCurrentPage--;
      }
    },
    currentPage() {
      if (!this.totalItems) {
        this.$emit("onPageChange", this.currentPage);
      } else {
        this.rowsUsing = this.rows.filter((r) => {
          const indexOfRow = this.rows.indexOf(r) + 1;
          return (
            indexOfRow >= this.getNumberBeginItems &&
            indexOfRow <= this.getNumberEndItems
          );
        });
      }
      if (this.lineNumber) {
        this.matchIndex();
      }
    },
    perPage() {
      this.paginationOptionUsing = {
        ...this.paginationOptionUsing,
        perPage: +this.perPage,
      };
    },
    rows(e) {
      if (!this.totalItems) {
        this.rowsUsing = e;
      } else {
        this.rowsUsing = e.filter((r) => {
          const indexOfRow = e.indexOf(r) + 1;
          return (
            indexOfRow >= this.getNumberBeginItems &&
            indexOfRow <= this.getNumberEndItems
          );
        });
      }
      if (this.lineNumber) {
        this.matchIndex();
      }
    },
  },
};
</script>

<style scoped>
.table__row-index {
  min-width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:disabled,
button[disabled] {
  opacity: 0.4 !important;
}

table {
  vertical-align: middle !important;
}

.table__action-icon {
  height: 32px;
  width: 32px;
  font-size: 14px;
  margin-right: 0.5rem !important;
  padding: 7px;
  line-height: 1.3;
  text-transform: capitalize;
  border-radius: 10px;
  color: #fff;
  background-color: #ff723d;
  opacity: 0.7;
  transition: opacity 300ms;
  outline: none;
  border: none !important;
}

.table__action-icon-success {
  border-radius: 10px;
  color: #fff !important;
  background-color: #55b075 !important;
}

.table__action-icon-warning {
  border-radius: 10px;
  color: #fff !important;
  background-color: #ff723d !important;
}

.table__action-icon-info {
  border-radius: 10px;
  color: #fff !important;
  background-color: #4bd7ff !important;
}

.table__action-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.table__check-box {
  height: 15px;
  width: 15px;
}

.table__check-box:hover {
  cursor: pointer;
}

.table__header-parent {
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 29px;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}

.table__header-search-global {
  margin-bottom: 5px;
  display: flex;
  height: 40px;
}

.input__search-global {
  border-color: #dcdfe8;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 4px;
  font-size: 14px;
  height: 30px;
  margin-left: 0.5em;
  padding: 2px 10px;
}

/* .page-nav__custom{
    border: 1px solid #32BDEA !important;
    background: #88DFFB !important;
    border-radius: 10px !important;
  } */
.table__pagination {
  display: flex;
  padding: 10px;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 16px !important;
  line-height: 29px;
}

.pagination__select-rows-item {
  margin: 0 5px;
}

.page-number {
  flex-grow: 1;
}
.pagination__info {
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #676e8a;
}
.input_number {
  padding: 5px 6px;
  width: 90%;
  border-radius: 8px;
  outline: none;
  border: 2px solid #e3e3e3;
}
</style>
<style>
table.vgt-table td {
  padding: 0.75em 0.75em 0.75em 0.75em;
  vertical-align: middle !important;
  border-bottom: 1px solid #dcdfe6;
  color: #606266;
}

.vgt-clearfix {
  display: none !important;
}
.align-center {
  display: flex;
  align-items: center;
}
.hidden__navigation{
  display: none;
}
</style>
