<template>
  <div style="margin-bottom: 500px">
    <upload-image v-model="images" :upload-on-demand="true" />

    <!-- <v-jstree 
         :data="treeData" 
         text-field-name="name"
         children-field-name="sub_warehouses"
        
         
         >
         
         </v-jstree>    -->

    <!-- <currency-input 
    label="Số tiền" 
    v-model="form.pay" 
    :touch="$v.form.pay.$touch" 
    :invalid="$v.form.pay.$error" 
    invalidFeedback="Vui lòng nhập số tiền"
  /> -->

    <button @click="changeOption">Change Option</button>
    <input type="file" @change="onUploadFile" />
    <Select2
      style="padding: 50px;"
      textField="name"
      icon
      valueField="id"
      :options="options"
      v-model="selectedOption"
      @change="onSelectChanged"
    />
    <TableList
      :columns="columns"
      :rows="data"
      :showIndex="showIndex"
      :searchOption="searchOption"
      :total="allRowsTest.length"
      @onPageChange="onPageChange"
      @onPerPageChange="onPerPageChange"
      @onSearch="onSearch"
    ></TableList>

    <select-product
      title="Chọn sản phẩm"
      lable-select="name"
      placeholder="Chọn......."
      warehouse-id="8"
      search-item-type="adjustment"
      :columns-table="colTestInput"
      :data-table="dataNew"
      @onSelect="onSelecting"
      @cellValue:onChange="onChangeCellValue"
    ></select-product>

    <select-warehouse
      title="Chọn kho"
      lable-select="name"
      placeholder="Chọn......."
      v-model="valueSelectWareHouse"
    ></select-warehouse>

    <select-supplier
      title="Chọn supplier"
      lable-select="name"
      placeholder="Chọn......."
      v-model="valueSelectSupplier"
    ></select-supplier>

    <select-customer
      title="Chọn Customer"
      lable-select="name"
      placeholder="Mại zô mại zô....."
      v-model="valueSelectCustomer"
    ></select-customer>
  </div>
</template>
<script>
import { ColumnTable, FilterOption } from "../../Model/TableList";
import { ColumnType } from "../../Model/TableList";
// import { ColumnAction } from '../../Model/TableList'
import { Action } from "../../Model/TableList";
// import { FilterOption } from '../../Model/TableList'
import fileService from "@/services/file.service";
import SelectProduct from "@/components/product/SelectProduct.vue";
import SelectWarehouse from "@/components/warehouse/SelectWarehouse.vue";
import SelectSupplier from "@/components/supplier/SelectSupplier.vue";
import SelectCustomer from "@/components/customer/SelectCustomer.vue";
//import CurrencyInput from '@/components/form/input-currency/InputCurrency.vue'
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
// import VJstree from 'vue-jstree'
import UploadImage from "../upload-image/UploadImage.vue";

export default {
  mixins: [validationMixin],
  validations: {
    form: {
      inputCurrencyValue: { required },
    },
  },
  name: "test",
  components: {
    SelectProduct,
    SelectWarehouse,
    SelectSupplier,
    SelectCustomer,
    //CurrencyInput
    // VJstree,
    UploadImage,
  },
  data() {
    return {
      images: [
        {
          content:
            "v/s-01/y2021.06-01/lJV2eNf7RaNVGr7p_i01-01s7658_20202956_m.jpg",
          id: "d4f8f023-77e4-4933-8805-e9193c178809",
          name: "lJV2eNf7RaNVGr7p_i01-01s7658_20202956_m.jpg",
          thumb: null,
          type: "JPG",
          url:
            "https://api.dev.trackify.vn/v/s-01/y2021.06-01/lJV2eNf7RaNVGr7p_i01-01s7658_20202956_m.jpg",
        },
      ],
      // treeData: [
      //   {
      //     "name": "initially open",
      //     "icon": "fa fa-folder icon-state-default",
      //     "opened": true,
      //     "sub_warehouse": [
      //       {"name": "Another node"},
      //       {"name": "Another node"},
      //       {"name": "Another node"},
      //       {"name": "Another node"},
      //     ]
      //   }
      // ],
      form: {
        inputCurrencyValue: 1200,
      },
      valueSelectCustomer: 30,
      valueSelectSupplier: "7",
      valueSelectWareHouse: "30",
      selectedOption: 1,
      options: [
        { id: 0, name: "Option 1" },
        { id: 1, name: "Option 2" },
        { id: 2, name: "Option 3" },
      ],
      currentPage: 1,
      columns: [
        new ColumnTable(ColumnType.IMAGE, "COl 1", "test5"),
        new ColumnTable(ColumnType.TEXT, "COl 2", "test1", { sortable: true }),
        new ColumnTable(ColumnType.TEXT, "COl 3", "test2", {
          filterOptions: new FilterOption(),
        }),
        new ColumnTable(ColumnType.CHECK_BOX, "COl 4", "test3", {
          width: "100px",
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
        }),
        new ColumnTable(ColumnType.ACTION, "Action", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (e) => {
                console.log("12312321", e);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-pencil-line",
              (e) => {
                console.log("12312321", e);
              },
              "table__action-icon-success"
            ),
            new Action(
              "ri-close-line",
              (e) => {
                alert("Hello! I am LE TAN DAT", e);
              },
              "table__action-warning",
              {
                isDisableByStatus: function(a) {
                  return a == 1;
                },
              }
            ),
          ],
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
          width: "150px",
        }),
      ],
      data: [],
      showIndex: true,
      searchOption: {
        enabled: true,
      },
      allRowsTest: [],
      perPage: 3,

      //New Data:
      dataNew: [],
      colTestInput: [
        new ColumnTable(ColumnType.TEXT, "SKU", "sku"),
        new ColumnTable(ColumnType.TEXT, "Tên sản phẩm", "name", {
          width: "30%",
        }),
        new ColumnTable(ColumnType.TEXT, "Đơn vị", "unit"),
        new ColumnTable(
          ColumnType.INPUT_NUMBER,
          "Số lượng hiện tại",
          "number",
          { minValue: 0, width: "200px", disabled: true }
        ),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Điều chỉnh", "adjust", {
          minValue: 0,
          width: "200px",
          disabled: true,
        }),
        new ColumnTable(ColumnType.TEXT, "Điều chỉnh sau", "afterAdjust", {
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
        }),
        new ColumnTable(ColumnType.ACTION, "", "action", {
          actions: [
            new Action(
              "ri-close-line",
              (e) => {
                alert("Hello! I am LE TAN DAT", e);
              },
              "table__action-warning"
            ),
          ],
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
          width: "80px",
        }),
      ],
      dataTest: [],
      filterByTest: function(option, label, search) {
        for (const [key, value] of Object.entries(option)) {
          if (
            key == "name" ||
            key == "sku" ||
            key == "brand_name " ||
            key == "category_name" ||
            key == "barcode"
          ) {
            const isSelect =
              (value?.toString() || "")
                .toLowerCase()
                .indexOf(search.toLowerCase()) > -1;
            if (isSelect) {
              return true;
            }
          }
        }
        return false;
      },
      filterBySelectWarehouse: function() {
        return true;
      },
      treeData: [],
    };
  },
  mounted() {
    this.getTreeData();
    for (let i = 0; i < 100; i++) {
      this.allRowsTest.push({
        test5:
          "https://cuoifly.tuoitre.vn/820/0/ttc/r/2021/04/27/arsenal-1619506087.jpg",
        test1: i,
        test2: i,
        test3: true,
        status: 0,
      });
      if (i < 3) {
        this.data.push({
          test5:
            "https://cuoifly.tuoitre.vn/820/0/ttc/r/2021/04/27/arsenal-1619506087.jpg",
          test1: i,
          test2: i,
          test3: true,
          status: 1,
        });
      }
    }
    this.$store.dispatch("product/loadAllProducts");
  },
  methods: {
    onImagesChange() {
      console.log("images", this.images);
    },
    getTreeData() {
      this.treeData = this.$store.getters["warehouse/warehouses"];
    },
    onSelectingWarehouse(value) {
      console.log("VALUE WAREHOUSE", value);
      this.valueSelectWareHouse = value;
    },
    onSelectChanged() {
      console.log("on select change");
    },
    onSelecting(selectedOption) {
      if (!this.dataNew.find((r) => r.id === selectedOption.id)) {
        this.dataNew.push({
          id: selectedOption.id,
          sku: selectedOption.sku,
          name: selectedOption.name,
          unit: "Chiếc",
          number: 0,
          adjust: 0,
          afterAdjust: 0,
        });
      }
    },
    changeOption() {
      console.log(this.images);
      // this.selectedOption = 2;
      // this.options = [
      //   { id: 0, name: "Option 4" },
      //   { id: 1, name: "Option 5" },
      //   { id: 2, name: "Option 6" }
      // ]
    },
    onPageChange(params) {
      this.currentPage = params;
      console.log("Change", params);
      this.data = [];
      let begin = this.perPage * this.currentPage;
      for (let i = begin - this.perPage; i < begin; i++) {
        this.data.push(this.allRowsTest[i]);
      }
    },
    onPerPageChange(params) {
      this.perPage = params.currentPerPage;
      this.currentPage = params.currentPage;
      this.data = [];
      let begin = this.perPage * this.currentPage;
      for (let i = begin - this.perPage; i < begin; i++) {
        this.data.push(this.allRowsTest[i]);
      }
    },
    onSearch(params) {
      console.log("on search", params);
    },
    onUploadFile(e) {
      fileService.upload(e.target.files).then((rs) => {
        console.log("Result upload", rs);
      });
    },
    onSelectChange(e) {
      console.log("value change", e, this.selectedOption);
    },
    onChangeCellValue(data) {
      const row = this.dataNew.find((r) => r.id === data.currentRow.id);
      row[data.field] = data.value;
      row.afterAdjust = row.number - row.adjust;
    },
  },
  computed: {
    products() {
      return this.$store.getters["product/getAllProducts"]?.items;
    },
    // treeData(){
    //   let options = this.$store.getters['warehouse/warehouses']
    //   if(options){
    //       options[0].opened = true
    //   }
    //   // options.forEach(el => {
    //   //     this.addIcon(el)
    //   // });
    //   console.log('tree data', options)
    //   return options
    // }
  },
};
</script>
<style scoped></style>
