<template>
  <router-view />
</template>
<script>
import "remixicon/fonts/remixicon.css";
import { addEventListener } from "@/utils/event";
import { ToastEvent } from "@/models/enums";
export default {
  name: "App",
  mounted() {
    this.registerEvents();
  },
  methods: {
    registerEvents() {
      addEventListener(ToastEvent.SHOW_ERROR, (message, title) => {
        this.$bvToast.toast(message, {
          title: title || "Lỗi",
          variant: "danger",
          solid: true,
        });
      });

      addEventListener(ToastEvent.SHOW_SUCCESS, (message, title) => {
        this.$bvToast.toast(message, {
          title: title || "Thông báo",
          variant: "primary",
          solid: true,
        });
      });
    },
  },
};
</script>
<style lang="scss">
@import "./assets/scss/backend.scss";
@import "./assets/css/custom.css";
@import "./styles.scss";
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #f9f9f9;
  font-weight: 700;
}
.toast-header {
  padding: 5px 10px;
  border-radius: 5px 5px 0px 0px;
}
.toast-body {
  padding: 5px 10px;
}
.toast {
  border-radius: 5px;
}
.rounded {
  border-radius: 0px !important;
}
label.d-block,
label {
  line-height: 1.5;
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0 !important;
}
</style>
