<template>
  <div>
    <div class="row">
      <div
        class="col-lg-12 pt-3"
        style="padding: 0 !important;"
      >
        <div class="table-responsive rounded mb-3">
          <TableList
            :columns="columns"
            :rows="brandList"
            :line-number="true"
            v-model="brandList"
            :total="totalElements"
            @onPageChange="onPageChange"
            @onPerPageChange="onPerPageChange"
          >
            >
          </TableList>
        </div>
      </div>
    </div>
    <Dialog
      id="brand-add-edit"
      :title="isUpdate?`Cập nhật thương hiệu`:`Thêm mới thương hiệu`"
      size="md"
      :titleBtnSubmit="isUpdate?`Cập nhật`:`Thêm mới`"
      :btnClose="true"
      :onSubmit="onAddEditBrand"
    >
      <template v-slot:modal-body>
        <brand-add-edit ref="addEditBrand" />
      </template>
    </Dialog>
    <check-delete
      id="brandDeleteModal"
      :title="'thương hiệu'"
      @confirmDelete="onDeleteBrand"
    ></check-delete>
  </div>

</template>
<script>
//Validate
// import { validationMixin } from "vuelidate";
// import { required } from "vuelidate/lib/validators";
import { DialogName, ButtonEvent } from "@/models/enums";
import BrandAddEdit from "./BrandAddEdit.vue";
import constants from '@/config/constants'
// import notification from '@/utils/notification'
import { Action, ColumnTable, ColumnType } from '../../../Model/TableList';
import CheckDelete from "../DeleteConfirm.vue";
export default {
  //   mixins: [validationMixin],
  //   validations: {
  //     data: {
  //       code: { required },
  //       name: { required },
  //       percentage: { required },
  //     },
  //   },

  components: {
    BrandAddEdit,
    CheckDelete,
  },
  mounted() {
    this.getBrandList()
  },
  computed: {
    isShow() {
      return this.$store.getters['queueDialog/currentDialog'] === DialogName.BRAND_MANAGEMENT;
    },
    brandList() {
      return this.$store.getters['brand/getBrands']
    },
    totalElements() {
      return this.$store.getters['brand/getTotalElements']
    },
  },
  props: {

  },
  data() {
    return {
      isUpdate: false,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      page: 0,
      deleteBrand: null,
      title: "Add Brand",
      listButton: ButtonEvent,
      currentPage: 0,
      columns: [
        new ColumnTable(ColumnType.TEXT, "Tên thương hiệu", "title"),
        new ColumnTable(ColumnType.IMAGE, "Image", "image"),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (data) => {
                this.openModalEdit(data.id);
              },
              "table__action-icon"
            ),
            new Action(
              "ri-close-line",
              (data) => {
                this.deleteRow(data);
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
    }
  },
  methods: {
    onPageChange(params) {
      this.page = +params - 1;
      this.$store.dispatch("brand/getBrands", { page: this.page, pageSize: this.pageSize })
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.$store.dispatch("brand/getBrands", { page: this.page, pageSize: this.pageSize })
    },
    getBrandList() {
      this.$store.dispatch("brand/getBrands", { page: this.page, pageSize: this.pageSize })
    },
    deleteRow(e) {
      this.deleteBrand = e.id
      this.$bvModal.show("brandDeleteModal");
    },
    onDeleteBrand() {
      this.$bvModal.hide("brandDeleteModal");
      this.$store.dispatch('brand/deleteBrand', this.deleteBrand)
    },
    openModalAdd() {
      this.isUpdate = false
      this.$store.dispatch('brand/brandDetail', this.currentPage).then(() =>
        this.$bvModal.show("brand-add-edit")
      )
    },
    openModalEdit(e) {
      this.isUpdate = true
      this.$store.dispatch('brand/brandDetailUpdate', e).then(() =>
        this.$bvModal.show("brand-add-edit")
      )
    },
    onAddEditBrand() {
      this.$refs.addEditBrand.onSubmit()
    }
  },
};
</script>
