<template>

  <div>
    <div class="row">
      <div class="col-lg-6">
        <upload-image
          :value="imageList"
          :multiple="false"
          @input-image="inputImage"
        />
      </div>
      <div class="col-lg-6">
        <form-group-input
          :touch="$v.brand.title.$touch"
          :invalid="$v.brand.title.$error"
          v-model="brand.title"
          label="Tên thương hiệu"
          invalidFeedback="Vui nhập tên thương hiệu"
        />
      </div>

    </div>
  </div>
</template>
<script>
//Validate
// import fileService from '@/services/file.service'
import { validationMixin } from "vuelidate";
import { required } from 'vuelidate/lib/validators'
import FormGroupInput from '@/components/form/FormGroupInput'
import notification from '@/utils/notification'
import UploadImage from '../../../components/upload-image/UploadImage.vue';

export default {
  mixins: [validationMixin],
  validations: {
    brand: {
      title: { required },
    },
  },
  components: {
    FormGroupInput,
    UploadImage,

  },
  props: {
    currnentPage: {
      default: ""
    }
  },
  data() {
    return {
      brand: {
        title: '',
        image: [],
        active: 0,
        isUpdate: false
      },
      dataItemStore: [],
      imageList: JSON.parse(JSON.stringify(this.$store.getters['brand/getBrand'])).image,
      imageListNew: []
    }
  },
  methods: {
    getData() {
      var rs = JSON.parse(JSON.stringify(this.$store.getters['brand/getBrand']))
      this.brand = rs
    },
    closeModal() {
      this.$store.dispatch('queueDialog/hideDialog')
    },
    onSubmit() {
      this.$v.brand.$touch()
      if (this.$v.brand.$invalid) {
        notification.error('Xin vui lòng nhập đầy đủ thông tin')
        return;
      }
      this.brand.isUpdate ? this.updateBrand() : this.addBrand()
    },

    updateBrand() {
      var data = {
        id: +this.brand.id,
        title: this.brand.title,
        image: this.brand.image && this.brand.image.length > 0 ? this.brand.image[0].url : ''
      }
      this.$store.dispatch('brand/updateBrand', data).then((rs) => {
        if (rs.code == 1) {
          notification.success('Cập nhật thương hiệu thành công')
          this.$bvModal.hide("brand-add-edit")
          this.$v.$reset();
        }
      })
    },
    addBrand() {

      var data = {
        title: this.brand.title,
        image: this.brand.image && this.brand.image.length > 0 ? this.brand.image[0].url : ''
      }
      this.$store.dispatch('brand/addBrand', data).then((rs) => {
        if (rs.code == 1) {
          notification.success('thêm brand thành công')
          this.$bvModal.hide("brand-add-edit")
          this.$v.$reset();
        }
      })
    },
    inputImage(e) {
      this.brand.image = e
    }
  },
  mounted() {
    this.getData()
  }
};
</script>

<style scoped>
.modal-body {
  background-color: #e3e9ed !important;
  padding: 0 !important;
}
.price {
  justify-content: flex-end;
}
.img {
  height: 180px;
  width: 180px;
}
.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px darkgray;
  height: 180px;
  width: 180px;
}
.img {
  height: 180px;
  width: 180px;
}
.image-product {
  padding-top: 5px;
}
.btn-add-product {
  width: 100%;
  font-size: 14px;
}
.btn-img {
  width: 90% !important;
}
</style>
