<template>
  <div>
    <div class="map-container">
      <gmap-map
        :center="marker"
        :zoom="12"
        style="width:100%;  height: 400px;"
      >
        <gmap-marker
          :position="marker"
          :draggable="true"
          @dragend="dragend"
        ></gmap-marker>
      </gmap-map>
    </div>
  </div>

</template>

<script>
export default {
  model: {
    prop: 'marker',
    event: 'dragend'
  },
  props: {
    marker: { default() { return { lat: 10.77965042604052, lng: 106.69458087785478 } } }
  },
  methods: {
    initMap() {
      this.$emit('closeDialog')
    },
    dragend(event) {
      this.$emit("dragend", { lat: event.latLng.lat(), lng: event.latLng.lng() });
    }
  },
};
</script>
<style scoped>
.map-container {
  min-height: 300px;
  width: 100%;
}
</style>