<template>
  <div class="main">
    <div class="main__body">
      <b-col cols="3">
        <list-warehouse @changeWarehouse="setWarehouse" />
      </b-col>
      <b-col cols="9">
        <!-- <div class = "row">
           <div class="col-lg-12 col-sm-12">
             aloalo
           </div>
         </div> -->
        <b-card :title="warehouseName">
          <div class="card-body">
            <div class="table-responsive rounded mb-3">
              <TableList
                :columns="columns"
                :rows="getListItems"
                :showIndex="showIndex"
                :searchOption="searchOption"
                :total="totalElement"
                @onPageChange="onPageChange"
                @onPerPageChange="onPerPageChange"
              />
            </div>
          </div>
        </b-card>
      </b-col>
    </div>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
// import { required } from 'vuelidate/lib/validators'
import ClickOutside from "vue-click-outside";
// import notification from '@/utils/notification'
import ListWarehouse from "@/components/warehouse/ListWarehouse.vue";
import { ColumnTable, ColumnType } from "../../Model/TableList";
import constants from "@/config/constants";
export default {
  components: {
    ListWarehouse,
  },
  directives: {
    ClickOutside,
  },
  mounted() {
    this.loadData();
  },
  mixins: [validationMixin],
  validations: {},
  data() {
    return {
      columns: [
        new ColumnTable(ColumnType.IMAGE, "Ảnh", "main_image"),
        new ColumnTable(ColumnType.TEXT, "Tên sản phẩm", "name"),
        new ColumnTable(ColumnType.TEXT, "SKU", "sku"),
        new ColumnTable(ColumnType.TEXT, "Nhãn hiệu", "brand_name"),
        new ColumnTable(ColumnType.TEXT, "Tồn kho", "qty"),
      ],
      showIndex: true,
      searchOption: {
        enabled: true,
      },
      page: 0,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      warehouse_id: null,
      warehouseName: "",
    };
  },
  computed: {
    getCurrentWarehouse() {
      return this.$store.getters["warehouse/currentWarehouse"];
    },
    getListItems() {
      return this.getListItemsData?.items || [];
    },
    getListItemsData() {
      return this.$store.getters["warehouse/listItemsOfWarehouse"];
    },
    totalElement() {
      return this.getListItemsData?.pagination.totalElements || 0;
    },
  },
  methods: {
    async loadData() {
      await this.$store.dispatch("warehouse/getWarehouses").then((rs) => {
        this.setWarehouse(rs[0]?.id, rs[0]?.name);
      });
    },
    setWarehouse(warehouseId, warehouseName) {
      this.warehouseName = warehouseName;
      this.warehouse_id = warehouseId;
      this.page = 0;
      this.$store.dispatch("warehouse/getListItems", {
        id: warehouseId,
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    onPageChange(params) {
      this.page = +params - 1;
      this.$store.dispatch("warehouse/getListItems", {
        id: this.warehouse_id,
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.$store.dispatch("warehouse/getListItems", {
        id: this.warehouse_id,
        page: this.page,
        pageSize: this.pageSize,
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.main {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  background-color: #f9f9f9;
}
.main__header {
  display: flex;
  justify-content: flex-end;
  padding: 16px 18px;
  .v-select {
    .v-select-toggle {
      color: #fff !important;
    }
  }
}
.main__body {
  display: flex;
}
.main__left {
  width: 20%;
  background: #e6e7e9;
  border-radius: 22px;
  margin-bottom: 20px;
  height: fit-content;
}
.main__right {
  width: 80%;
  padding: 0px 18px;
}
.main__left__row {
  width: 100%;
  text-align: left;
  padding: 0px;
  margin: 8px 0;
  cursor: pointer;
  align-items: center;
}
.main__left__row__parent {
  width: 100%;
  text-align: left;
  display: flex;
  padding: 0px;
  height: 24px;
  margin: 15px 0;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.main__left__row__child {
  display: flex;
  height: 35px;
  align-items: center;
}
.main__left__row__left {
  display: flex;
  align-items: center;
  justify-items: center;
}
.main__left__row__name {
  font-size: 14px;
  line-height: 140%;
  color: #2b2c2e;
  margin: 0px 12px;
}
.main__left__row__child__tree-style {
  width: 25px;
  height: 100%;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  border-color: gray;
  border-width: 1px;
  margin-top: 3px;
  margin-left: 8px;
  margin-bottom: 34px;
}
.active {
  color: #2040eb;
}
.main__right__title {
  font-weight: bold;
  font-size: 24px;
  color: #242424;
}
.main__right__form {
  background: #ffffff;
  border-radius: 22px;
}
.row {
  margin-bottom: 10px;
}
.main__right__form__title {
  font-size: 16px;
  color: #131313;
  margin-bottom: 5px;
}
.main__right__button {
  display: flex;
  justify-content: center;
  margin-top: 21px;
}
.btn-header {
  margin-left: 15px;
}
.dropdown-role-access {
  margin-left: 15px;
  .dropdown-toggle {
    background-color: #32bdea !important;
    border-color: #32bdea !important;
  }
}
.btn-update {
  width: 237px;
  height: 50px;
}
.select {
  background: #eaeaea;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: none;
  padding: 5px;
}
.select-role {
  width: 200px !important;
  background-color: #32bdea !important;
  border-color: #32bdea !important;
}
.select-input {
  margin: 0;
}
.main__left__row__child__style {
  display: flex;
  margin-top: 12px;
  margin-left: 36px;
  align-items: center;
  height: 32px;
}
.selectpicker {
  padding: 5px !important;
}
.card-title {
  margin-bottom: 0;
  padding: 0 20px;
}
.card-header {
  border: solid 1px #eaeaea;
  padding: 0 !important;
}
.card-header {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background: #7ee2ff;
  color: #000000;
  border: none;
}
</style>
