<template>
  <div class="bg-white">
    <form>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <form-group-input
            :placeHolder="'Nhãn'"
            type="text"
            label="Nhãn"
            v-model="form.label"
            :touch="$v.form.label.$touch"
            :invalid="$v.form.label.$error"
            invalidFeedback="Vui lòng nhập nhãn"
          />
        </div>
        <div class="col-lg-12 col-sm-12">
          <form-group-input
            :placeHolder="'Địa chỉ nhà cung cấp'"
            type="text"
            label="Địa chỉ"
            v-model="form.address"
            :touch="$v.form.address.$touch"
            :invalid="$v.form.address.$error"
            invalidFeedback="Vui lòng nhập địa chỉ nhà cung cấp"
          />
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-group">
            <label for="warehouseProvice">
              Khu vực
            </label>
            <Select2
              v-model="form.province_id"
              valueField="id"
              textField="name"
              placeholder="Chọn khu vực"
              :options="listProvinces"
              :invalid="$v.form.province_id.$error"
              @input="provinceChange()"
              @change="$v.form.province_id.$touch()"
              @blur="$v.form.province_id.$touch()"
              :class="`${$v.form.province_id.$error ? 'is-invalid' : ''}`"
            >
            </Select2>
            <div class="invalid-feedback">
              Vui lòng chọn khu vực
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-group">
            <label>Quận/Huyện</label>
            <Select2
              textField="name"
              valueField="id"
              placeholder="Chọn Quận/Huyện"
              @input="districtChange"
              v-model="form.district_id"
              :invalid="$v.form.district_id.$error"
              @change="$v.form.district_id.$touch()"
              :class="`${$v.form.district_id.$error ? 'is-invalid' : ''}`"
              :options="listDistricts"
            >
            </Select2>
            <div class="invalid-feedback">
              Vui lòng chọn Quận/Huyện
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-12 col-sm-12 text-center p-3">
          <button type="button" class="btn btn-success" @click="onSubmit">
            {{ btnSubmitName }}
          </button>
        </div> -->
      </div>
    </form>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import FormGroupInput from "@/components/form/FormGroupInput";
import supplierService from "@/services/supplier.service.js";
import notification from "@/utils/notification";
export default {
  components: {
    FormGroupInput,
  },
  mixins: [validationMixin],
  validations: {
    form: {
      label: { required },
      address: { required },
      province_id: { required },
      district_id: { required },
    },
  },
  props: {
    dataAddress: {
      type: Object,
      default() {
        return {
          id: { type: Number, default: -1 },
          label: { type: String, default: "" },
          address: { type: String, default: "" },
          province_id: { type: Number, default: null },
          district_id: { type: Number, default: null },
          province_name: { type: String, default: "" },
          district_name: { type: String, default: "" },
          originalIndex: { type: Number, default: 0 },
          vgt_id: { type: Number, default: 0 },
        };
      },
    },
    supplierId: { type: Number, default: -1 },
    btnSubmitName: { type: String, default: "Thêm mới" },
    isEdit: { type: Boolean, default: false },
    customerId: { type: Number, default: null },
  },
  name: "CustomerAddress",
  data() {
    return {
      form: {
        label: this.dataAddress.label ?? "",
        address: this.dataAddress.address ?? "",
        province_id: this.dataAddress.province_id ?? "",
        district_id: this.dataAddress.district_id ?? "",
      },
    };
  },
  computed: {
    listProvinces() {
      return this.$store.getters["address/provinces"].map((f) => ({ ...f }));
    },
    listDistricts() {
      return this.$store.getters["address/districts"].map((f) => ({ ...f }));
    },
  },
  mounted() {
    if (this.isEdit) {
      this.loadData();
    }
  },
  watch: {},
  methods: {
    async loadData() {
      await this.$store.dispatch("address/getProvinces");
    },
    async provinceChange() {
      await this.$store
        .dispatch("address/getDistricts", this.form.province_id)
        .then(() => {
          this.form.district_id = this.listDistricts[0].id;
        });
    },
    districtChange() {
      //123
    },
    validate() {
      this.$v.$touch();
      return !this.$v.$invalid;
    },
    validateProvinceDistrict() {
      if (this.form.province_id == 0) {
        notification.error("Vui lòng chọn khu vực");
        return false;
      } else if (this.form.district_id == 0) {
        notification.error("Vui lòng chọn quận huyện");
        return false;
      }
      return true;
    },
    onSubmit() {
      if (!this.validate() || !this.validateProvinceDistrict()) return;
      if (this.isEdit) {
        const dataUpdate = {
          id: this.dataAddress.id,
          label: this.form.label,
          address: this.form.address,
          province_id: +this.form.province_id,
          district_id: +this.form.district_id,
        };
        if (this.supplierId) {
          supplierService
            .updateSupplierAddress(this.supplierId, dataUpdate)
            .then(async (rs) => {
              if (rs == 1) {
                notification.success("Cập nhật thành công");
                this.$emit("updateListAddress");
              }
            });
        }
        this.$emit("updateAddress", dataUpdate);
      } else {
        const dataAdd = {
          label: this.form.label,
          address: this.form.address,
          province_id: +this.form.province_id,
          district_id: +this.form.district_id,
        };
        if (this.supplierId) {
          supplierService
            .addSupplierAddress(this.supplierId, dataAdd)
            .then(async (rs) => {
              if (rs == 1) {
                notification.success("Thêm thành công");
                this.$emit("updateListAddress");
              }
            });
        }
        this.$emit("addAddress", dataAdd);
      }
      this.$bvModal.hide("AddEditAddress");
    },
  },
};
</script>

<style></style>
