<template>
  <div>
    <div>
      <form class="bg-white">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <form-group-input
              :placeHolder="'Công ty TNHH XXHXX'"
              type="text"
              label="Tên nhà cung cấp"
              v-model="form.name"
              :touch="$v.form.name.$touch"
              :invalid="$v.form.name.$error"
              invalidFeedback="Vui lòng nhập tên nhà cung cấp"
            />
          </div>
          <div class="col-lg-7 col-sm-12">
            <form-group-input
              :placeHolder="'PO242324'"
              type="text"
              label="Mã nhà cung cấp"
              v-model="form.code"
              :touch="$v.form.code.$touch"
              :invalid="$v.form.code.$error"
              invalidFeedback="Vui lòng nhập mã nhà cung cấp"
            />
          </div>
          <div class="col-lg-5 col-sm-12">
            <div class="form-group">
              <label style="margin-bottom: 2px;">Nhóm nhà cung cấp</label>
              <Select2
                textField="name"
                valueField="id"
                v-model="form.group_id"
                :invalid="$v.form.group_id.$error"
                invalid-feedback="Vui lòng chọn nhóm nhà cung cấp"
                :options="listSupplierGroup"
              >
              </Select2>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12">
            <form-group-input
              :placeHolder="'Số điện thoại'"
              type="text"
              label="Số điện thoại"
              v-model="form.phone"
              :touch="$v.form.phone.$touch"
              :invalid="$v.form.phone.$error"
              invalidFeedback="Vui lòng nhập số điện thoại hợp lệ"
            />
          </div>
          <div class="col-lg-5 col-sm-12">
            <form-group-input
              :placeHolder="'Email'"
              type="text"
              label="Email"
              v-model="form.email"
              :touch="$v.form.email.$touch"
              :invalid="$v.form.email.$error"
              invalidFeedback="Vui lòng nhập email hợp lệ"
            />
          </div>
        </div>
      </form>
    </div>
    <div>
      <div class="bg-white ">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h4>Địa chỉ</h4>
          <button class="btn btn-primary " @click="openModalAdd">
            + Thêm liên hệ
          </button>
        </div>
        <Dialog
          :btn-open="false"
          :btnClose="true"
          :tabindex="false"
          id="AddEditAddress"
          :onSubmit="onAddEditAddress"
          :title="modalTitle"
          :title-btn-submit="!isEdit ? 'Thêm mới' : 'Cập nhật'"
          size="lg"
        >
          <template v-slot:modal-body>
            <add-edit-address
              ref="addEditAddress"
              :btnSubmitName="btnModalSubmitname"
              :isEdit="isAddressUpdate"
              :dataAddress="dataItemAddress"
              :supplierId="supplierId"
              @addAddress="addSupplierAddress"
              @updateAddress="updateSupplierAddress"
              @updateListAddress="updateListAddress"
            ></add-edit-address>
          </template>
        </Dialog>
        <div class="table-responsive rounded">
          <TableList
            :columns="columns"
            :rows="addressList"
            :line-number="true"
            :total="addressList.length"
            @onPageChange="onPageChange"
            @onPerPageChange="onPerPageChange"
          >
          </TableList>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-12 col-sm-12 text-center p-3">
      <button type="button" class="btn btn-primary" @click="onSubmit">
        {{ btnSubmitName }}
      </button>
    </div> -->
    <CheckDelete
      :id="'check-delete-address'"
      :title="'địa chỉ'"
      @confirmDelete="deleteSupplierAddress"
    />
  </div>
</template>

<script>
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import AddEditAddress from "./AddEditAddress";
import FormGroupInput from "@/components/form/FormGroupInput";
import supplierService from "@/services/supplier.service.js";
import {
  required,
  email,
  numeric,
  minLength,
  maxLength,
} from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";
import notification from "@/utils/notification";
import CheckDelete from "../Product/DeleteConfirm.vue";
import constants from "@/config/constants";
export default {
  name: "AddEditSupplier",
  mixins: [validationMixin],
  validations: {
    form: {
      name: { required },
      code: { required },
      group_id: { required },
      phone: {
        required,
        numeric,
        minLength: minLength(10),
        maxLength: maxLength(11),
      },
      email: { required, email },
    },
  },
  components: {
    AddEditAddress,
    FormGroupInput,
    CheckDelete,
  },
  props: {
    btnSubmitName: { type: String, default: "Thêm mới" },
    isEdit: { type: Boolean, default: false },
    dataSupplier: {
      type: Object,
      default() {
        return {
          id: { type: Number, default: null },
          name: { type: String, default: "" },
          code: { type: String, default: "" },
          group_id: { type: Number, default: null },
          phone: { type: String, default: "" },
          email: { type: String, default: "" },
          group_name: { type: String, default: "" },
        };
      },
    },
  },
  computed: {
    listSupplierGroupData() {
      return this.$store.getters["supplierGroup/supplierGroup"];
    },
    listSupplierGroup() {
      return this.listSupplierGroupData?.items || [];
    },
    addressData() {
      return this.$store.getters["supplier/address"];
    },
    listAddress() {
      return this.addressData?.items || [];
    },
    totalElements() {
      return this.addressData?.pagination?.totalElements || 0;
    },
  },
  mounted() {
    this.loadData();
  },
  data() {
    return {
      page: 0,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      iconAppend: { isShow: true, class: "fas fa-search" },
      modalTitle: "Thêm liên hệ",
      form: {
        id: this.dataSupplier.id,
        name: this.dataSupplier.name ? this.dataSupplier.name : null,
        code: this.dataSupplier.code,
        group_id: this.dataSupplier.group_id,
        phone: this.dataSupplier.phone,
        email: this.dataSupplier.email,
        group_name: this.dataSupplier.group_name,
      },
      totalPrice: "60,000 VNĐ",
      valueTags: ["value1", "value2"],
      columns: [
        new ColumnTable(ColumnType.TEXT, "Nhãn", "label"),
        new ColumnTable(ColumnType.TEXT, "Địa chỉ", "address"),
        new ColumnTable(ColumnType.ACTION, "Action", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (address) => {
                this.openModalEdit(address);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (address) => {
                this.onOpenDialogDelete(address.id);
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
      // addressList: Array.prototype.slice.call(this.addressData),
      addressList: [],
      btnModalSubmitname: "Thêm mới",
      isAddressUpdate: false,
      dataItemAddress: {},
      supplierId: null,
      idAddressDelete: 0,
    };
  },
  methods: {
    async loadData() {
      await this.$store
        .dispatch("supplierGroup/getSupplierGroups", {
          page: 0,
          pageSize: this.pageSize,
        })
        .then(async (rs) => {
          if (rs.pagination) {
            await this.$store.dispatch("supplierGroup/getSupplierGroups", {
              page: 0,
              pageSize: rs.pagination.totalElements,
            });
          }
        });
      this.addressList = this.isEdit ? this.listAddress : [];
    },
    async onPageChange(params) {
      if (this.isEdit) {
        this.page = +params - 1;
        await this.$store.dispatch("supplier/getSupplierAddress", {
          id: +this.dataSupplier.id,
          page: this.page,
          pageSize: this.pageSize,
        });
        this.addressList = this.listAddress;
      }
    },
    async onPerPageChange(params) {
      if (this.isEdit) {
        this.pageSize = +params.currentPerPage;
        this.page = +params.currentPage - 1;
        await this.$store.dispatch("supplier/getSupplierAddress", {
          id: +this.dataSupplier.id,
          page: this.page,
          pageSize: this.pageSize,
        });
        this.addressList = this.listAddress;
      }
    },
    async updateListAddress() {
      if (this.isEdit) {
        await this.$store.dispatch("supplier/getSupplierAddress", {
          id: +this.dataSupplier.id,
          page: this.page,
          pageSize: this.pageSize,
        });
        this.addressList = this.listAddress;
      }
    },
    openModalAdd() {
      this.modalTitle = "Thêm liên hệ";
      this.btnModalSubmitname = "Thêm mới";
      this.isAddressUpdate = false;
      this.dataItemAddress = {};
      this.supplierId = this.dataSupplier.id ? this.dataSupplier.id : null;
      this.$bvModal.show("AddEditAddress");
    },
    openModalEdit(address) {
      this.modalTitle = "Sửa liên hệ";
      this.btnModalSubmitname = "Cập nhật";
      this.isAddressUpdate = true;
      this.dataItemAddress = address;
      this.supplierId = this.dataSupplier.id ? this.dataSupplier.id : null;
      this.$bvModal.show("AddEditAddress");
    },
    addSupplierAddress(data) {
      if (!this.isEdit) {
        this.addressList.push(data);
        notification.success("Thêm thành công");
      }
    },
    updateSupplierAddress(data) {
      if (!this.isEdit) {
        this.addressList.forEach((el) => {
          if (el.id == data.id) {
            el.label = data.label;
            el.address = data.address;
          }
        });
        notification.success("Cập nhật thành công");
      }
    },
    deleteSupplierAddress() {
      if (this.isEdit) {
        supplierService
          .deleteSupplierAddress(this.dataSupplier.id, this.idAddressDelete)
          .then(async (rs) => {
            if (rs == 1) {
              notification.success("Xóa thành công");
              this.$bvModal.hide("check-delete-address");
              await this.$store.dispatch("supplier/getSupplierAddress", {
                id: +this.dataSupplier.id,
                page: this.page,
                pageSize: this.pageSize,
              });
              this.addressList = this.listAddress;
            }
          });
      } else {
        const dataRemove = this.addressList.find(
          (r) => r.id == this.idAddressDelete
        );
        this.addressList.splice(dataRemove, 1);
        notification.success("Xóa thành công");
        this.$bvModal.hide("check-delete-address");
      }
    },
    onSubmit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.isEdit) {
          const dataUpdate = {
            id: this.dataSupplier.id,
            name: this.form.name,
            code: this.form.code,
            group_id: this.form.group_id,
            phone: this.form.phone,
            email: this.form.email,
          };
          this.$store
            .dispatch("supplier/updateSupplier", dataUpdate)
            .then((rs) => {
              if (rs == 1) {
                notification.success("Cập nhật thành công");
                this.$emit("addSupplierSuccess");
                this.$bvModal.hide("SupplierAddEdit");
              }
            });
        } else {
          if (this.addressList.length == 0) {
            notification.success("Vui lòng thêm một địa chỉ");
            return;
          }
          const data = {
            name: this.form.name,
            code: this.form.code,
            group_id: +this.form.group_id,
            phone: this.form.phone,
            email: this.form.email,
            address_list: [],
          };
          this.addressList.forEach((el) => {
            data.address_list.push({
              label: el.label,
              address: el.address,
              province_id: el.province_id,
              district_id: el.district_id,
            });
          });
          this.$store.dispatch("supplier/addSupplier", data).then((rs) => {
            if (rs.code == 1) {
              notification.success("Thêm thành công");
              this.$bvModal.hide("SupplierAddEdit");
              this.$emit("addSupplierSuccess");
            }
          });
        }
      }
    },
    onOpenDialogDelete(e) {
      this.idAddressDelete = e;
      this.$bvModal.show("check-delete-address");
    },
    onAddEditAddress() {
      this.$refs.addEditAddress.onSubmit();
    },
  },
};
</script>

<style scoped>
.input--no-border-left {
  border-left: none;
}
.input--border-color:focus {
  border-color: #dcdfe8;
}

.icon-before {
  border-top: 1px solid #dcdfe8;
  border-left: 1px solid #dcdfe8;
  border-bottom: 1px solid #dcdfe8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  height: 45px;
  padding: 0.375rem 0.75rem;
}
</style>
