<template>
  <div>
    <div>
      <form class="bg-white">
        <div class="row">
          <div class="col-lg-12">
            <b-form-group invalid-feedback="Hãy chọn nhà cung cấp">
              <select-supplier
                title="Chọn nhà cung cấp"
                lable-select="name"
                placeholder="Tìm theo SĐT, tên, mã nhà cung cấp"
                v-model="dataPurchase.customer_id"
                :disabled="dataPurchase.id && isDisabled === true"
                :invalid="$v.dataPurchase.customer_id.$error"
                @blur="$v.dataPurchase.customer_id.$touch"
              ></select-supplier>
            </b-form-group>
          </div>
          <div class="col-lg-4">
            <b-form-group
              label="Mã đơn hàng"
              invalid-feedback="Vui lòng nhập mã đơn hàng"
            >
              <b-form-input
                type="text"
                :class="
                  `form-control ${
                    $v.dataPurchase.code.$error ? 'is-invalid' : ''
                  }`
                "
                :disabled="dataPurchase.id && isDisabled === true"
                @input="$v.dataPurchase.code.$touch()"
                @blur="$v.dataPurchase.code.$touch()"
                placeholder="PO242324"
                v-model="dataPurchase.code"
              >
              </b-form-input>
            </b-form-group>
          </div>
          <div class="col-lg-4">
            <b-form-group invalid-feedback="Hãy chọn kho">
              <select-warehouse
                title="Kho"
                lable-select="name"
                placeholder="Chọn kho"
                :disabled="dataPurchase.id && isDisabled === true"
                v-model="dataPurchase.warehouse_id"
                :invalid="$v.dataPurchase.warehouse_id.$error"
                @blur="$v.dataPurchase.warehouse_id.$touch"
              ></select-warehouse>
            </b-form-group>
          </div>
          <div class="col-lg-4">
            <b-form-group
              label="Tag"
              invalid-feedback="Hãy điền vào trường này."
            >
              <b-form-tags
                style="line-height:31px"
                v-model="dataPurchase.tags"
                separator=" "
                placeholder=""
                :disabled="dataPurchase.id && isDisabled === true"
                no-add-on-enter
              ></b-form-tags>
            </b-form-group>
          </div>
        </div>
      </form>
    </div>
    <div>
      <select-product
        title="Chọn sản phẩm"
        lableSelect="name"
        placeholder="Tìm theo tên, mã SKU, thương hiệu, tên danh mục"
        :warehouse-id="dataPurchase.warehouse_id"
        searchItemType="purchase"
        :columns-table="columns"
        :disabled="dataPurchase.id && isDisabled === true"
        :data-table="dataPurchase.order_items"
        @onSelect="onSelecting"
        @cellValue:onChange="onChangeCellValue"
      ></select-product>
      <div class="table-responsive rounded mb-3">
        <div class="text-right p-3 bg-white">
          <h5>Tổng tiền {{ totalCurrency }}</h5>
        </div>
      </div>
    </div>
    <div>
      <form class="bg-white">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <payment-method
              v-model="dataPurchase.payment_type"
              :visibleSearch="false"
              :invalid="$v.dataPurchase.payment_type.$error"
              :disabled="dataPurchase.id && isDisabled === true"
              @onSelect="$v.dataPurchase.payment_type.$touch"
            />
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="d-block mb-0">
                Trạng thái
              </label>
              <Select2
                textField="name"
                valueField="id"
                placeholder="Chọn trạng thái"
                :invalid="$v.dataPurchase.status.$error"
                invalid-feedback="Vui lòng chọn trạng thái"
                :disabled="dataPurchase.id && isDisabled === true"
                v-model="dataPurchase.status"
                :options="optionStatus"
              >
              </Select2>
            </div>
          </div>
          <div class="col-lg-3">
            <b-form-group
              label="Tham Chiếu"
              invalid-feedback="Vui lòng nhập thông tin tham chiếu"
            >
              <b-form-input
                type="text"
                :class="
                  `form-control ${
                    $v.dataPurchase.ref.$error ? 'is-invalid' : ''
                  }`
                "
                :disabled="dataPurchase.id && isDisabled === true"
                @input="$v.dataPurchase.ref.$touch()"
                @blur="$v.dataPurchase.ref.$touch()"
                placeholder="RF02323"
                v-model="dataPurchase.ref"
              />
            </b-form-group>
          </div>
          <div class="col-lg-3">
            <input-currency
              v-model="dataPurchase.pay"
              type="input"
              :touch="$v.dataPurchase.pay.$touch"
              :invalid="$v.dataPurchase.pay.$error"
              label="Số tiền thanh toán trước"
              :invalidFeedback="
                `${
                  !$v.dataPurchase.pay.required
                    ? 'Vui lòng nhập số tiền thanh toán trước'
                    : 'Số tiền thanh toán trước không được lớn hơn tổng tiền'
                }`
              "
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import SelectProduct from "@/components/product/SelectProduct.vue";
import SelectWarehouse from "@/components/warehouse/SelectWarehouse.vue";
import SelectSupplier from "@/components/supplier/SelectSupplier.vue";
//Validate
import { validationMixin } from "vuelidate";
import { required, decimal, between } from "vuelidate/lib/validators";
//Notify
import notification from "@/utils/notification";
import { formatCurrency } from "../../utils/currency";
import PaymentMethod from "@/components/payments/PaymentMethod.vue";
import InputCurrency from "../../components/form/input-currency/InputCurrency.vue";

export default {
  name: "AddEditPurchaseOrder",
  mixins: [validationMixin],
  validations: {
    dataPurchase: {
      code: { required },
      ref: { required },
      status: { required },
      customer_id: { required },
      warehouse_id: { required },
      payment_type: { required },
      pay: {
        required,
        decimal,
        between(value) {
          return between(0, this.totalPrice + 0.9999)(value);
        },
      },
    },
  },
  components: {
    SelectProduct,
    SelectWarehouse,
    SelectSupplier,
    PaymentMethod,
    InputCurrency,
  },
  props: {
    isUpdate: { type: Boolean, default: false },
    btnSubmitName: { type: String, default: "Thêm mới" },
    isDisabled: { type: Boolean, default: false },
    page: { type: Number, default: -1 },
    pageSize: { type: Number, default: -1 },
    dataPurchase: {
      type: Object,
      default() {
        return {
          code: "",
          ref: "",
          status: null,
          tags: [],
          customer_id: null,
          warehouse_id: null,
          payment_type: 1,
          pay: 0,
          order_items: [],
        };
      },
    },
  },
  computed: {
    // products() {
    //   return this.$store.getters["product/getAllProducts"]?.items;
    // },
    totalCurrency() {
      return formatCurrency(this.totalPrice);
    },
  },
  mounted() {
    // this.$store.dispatch("product/loadAllProducts");
    this.getOrderItems();
    this.getTags();
  },
  data() {
    return {
      totalPrice: 0,

      newItem: null,

      optionPayment: [
        {
          id: 1,
          name: "Tiền mặt",
        },
      ],
      optionStatus: [
        { id: 0, name: "Nhập kho" },
        {
          id: 1,
          name: "Nhập kho và duyệt",
        },
      ],
      columns: [
        new ColumnTable(ColumnType.TEXT, "SKU", "sku"),
        new ColumnTable(ColumnType.TEXT, "Tên sản phẩm", "product_name"),
        new ColumnTable(ColumnType.TEXT, "Đơn vị", "unit_name"),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Số lượng", "number", {
          minValue: 0,
          disabled: this.dataPurchase.id && this.isDisabled === true,
        }),
        new ColumnTable(ColumnType.INPUT_CURRENCY, "Giá nhập", "price", {
          minValue: 0,
          disabled: this.dataPurchase.id && this.isDisabled === true,
        }),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Thuế", "tax", {
          width: "100px",
          minValue: 0,
          disabled: this.dataPurchase.id && this.isDisabled === true,
        }),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Chiết khấu", "discount", {
          width: "100px",
          minValue: 0,
          disabled: this.dataPurchase.id && this.isDisabled === true,
          maxValue: 100,
        }),
        new ColumnTable(ColumnType.CURRENCY, "Thành tiền", "priceByRow"),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-close-line",
              (item) => {
                this.onDeleteItem(item);
              },
              "table__action-icon "
            ),
          ],
        }),
      ],
    };
  },
  methods: {
    getOrderItems() {
      if (this.dataPurchase.id != undefined) {
        this.$store
          .dispatch("purchase/getOrderItemList", this.dataPurchase.id)
          .then((rs) => {
            this.dataPurchase.order_items = rs;
            this.dataPurchase.order_items.map((data) => {
              data["priceByRow"] = this.onCalculatorPrice(
                data.number,
                data.price,
                data.tax,
                data.discount
              );

              //
              data["isNewItem"] = 0;
              this.totalPrice += data.priceByRow;
            });

            this.$forceUpdate();
          });
      }
    },
    getTags() {
      if (this.dataPurchase.id != undefined) {
        this.$store
          .dispatch("purchase/getPurchaseDetail", this.dataPurchase.id)
          .then((rs) => {
            this.dataPurchase.tags = rs.tags;

            this.$forceUpdate();
          });
      }
    },
    onSelecting(selectedOption) {
      if (
        !this.dataPurchase.order_items.find(
          (r) => r.variant_id === selectedOption.id
        )
      ) {
        this.dataPurchase.order_items.push({
          variant_id: selectedOption.id,
          sku: selectedOption.sku,
          product_name: selectedOption.name,
          unit_name: selectedOption.unit_name,
          number: 1,
          price: 0,
          tax: 0,
          discount: 0,
          priceByRow: 0,
          isNewItem: this.dataPurchase.id ? 1 : 0, // isNewItem = 1 "a new item when edit purchase"
        });
      }
    },
    onCalculatorPrice(number, price, tax, discount) {
      const pricePerItem = number * price;

      const taxPrice = (pricePerItem * tax) / 100;

      const discoutPrice = (pricePerItem * discount) / 100;

      const result = pricePerItem + taxPrice - discoutPrice;

      return result;
    },
    onCalculateTotalPrice() {
      let total = this.dataPurchase.order_items.reduce((totalPrice, item) => {
        return (totalPrice += item.priceByRow);
      }, 0);
      this.totalPrice = Math.round(total * 100) / 100;
    },
    onChangeCellValue(data) {
      const row = this.dataPurchase.order_items.find(
        (r) => r.variant_id === data.currentRow.variant_id
      );
      row[data.field] = data.value;
      row.priceByRow = this.onCalculatorPrice(
        row.number,
        row.price,
        row.tax,
        row.discount
      );

      this.onCalculateTotalPrice();
    },
    validate() {
      this.$v.$touch();

      return !this.$v.$invalid;
    },
    onDeleteItem(itemDelete) {
      //delete an item that already exists in the order
      if (this.dataPurchase.id && itemDelete.isNewItem == 0) {
        this.$store
          .dispatch("purchase/deleteOrderItem", {
            id: this.dataPurchase.id,
            vid: itemDelete.variant_id,
          })
          .then((rs) => {
            if (rs.code == 1) {
              this.getOrderItems();
              this.$emit("onChangeQuantityProduct", this.dataPurchase.id);
              notification.success("Xóa thành công");
              this.$bvModal.hide("DeleteItem");
            }
          });
      }
      // delete a new item
      else {
        this.dataPurchase.order_items.splice(
          this.dataPurchase.order_items.findIndex(
            (item) => item.variant_id === itemDelete.variant_id
          ),
          1
        );
        this.$forceUpdate();
        notification.success("Xóa thành công");
        this.$bvModal.hide("DeleteItem");
      }
    },
    onsubmit() {
      if (!this.validate()) return;
      if (this.isUpdate) {
        this.$store
          .dispatch("purchase/updatePurchase", {
            values: this.dataPurchase,
            page: this.page,
            pageSize: this.pageSize,
          })
          .then((rs) => {
            this.dataPurchase.order_items.forEach((item) => {
              if (item.isNewItem == 0) {
                this.$store
                  .dispatch("purchase/updateOrderItem", {
                    id: this.dataPurchase.id,
                    data: item,
                    page: this.page,
                    pageSize: this.pageSize,
                  })
                  .then(() => {});
              } else {
                this.$store
                  .dispatch("purchase/addOrderItem", {
                    id: this.dataPurchase.id,
                    data: item,
                    page: this.page,
                    pageSize: this.pageSize,
                  })
                  .then(() => {
                    this.$emit("onChangeQuantityProduct", this.dataPurchase.id);
                  });
              }
            });
            if (this.dataPurchase.status == 1) {
              this.$store.dispatch(`purchase/approvedPurchase`, {
                id: this.dataPurchase.id,
                page: this.page,
                pageSize: this.pageSize,
              });
            }

            if (rs.code == 1) {
              notification.success("Cập nhật thành công");
              this.$bvModal.hide("PurchaseOrderAddEdit");
            }
          });
      } else {
        this.$store
          .dispatch("purchase/addPurchase", {
            values: this.dataPurchase,
            page: this.page,
            pageSize: this.pageSize,
          })
          .then((rs) => {
            if (rs.code === 1) {
              this.$emit("onChangeQuantityProduct", -1);
              notification.success("Thêm mới thành công");
              this.$bvModal.hide("PurchaseOrderAddEdit");
            }
          });
      }
    },
  },
};
</script>

<style scoped>
.input--no-border-right {
  border-right: none;
}
.input--no-border-left {
  border-left: none;
}
.input--border-color:focus {
  border-color: #dcdfe8;
}
.icon-after {
  border-top: 1px solid #dcdfe8;
  border-right: 1px solid #dcdfe8;
  border-bottom: 1px solid #dcdfe8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  height: 45px;
  padding: 0.375rem 0.75rem;
}
.icon-before {
  border-top: 1px solid #dcdfe8;
  border-left: 1px solid #dcdfe8;
  border-bottom: 1px solid #dcdfe8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  height: 45px;
  padding: 0.375rem 0.75rem;
}
/* .form-group label {
  margin-bottom: 0 !important;
} */
</style>
