<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 py-2 d-flex justify-content-end">
        <!-- <button class="btn btn-secondary" @click="openPurchaseAdd">
          Thêm mới đơn hàng
        </button> -->
        <Dialog
          id="PurchaseOrderAddEdit"
          :title="titleModal"
          :onSubmit="onAddEditPurchaseOrder"
          :title-btn-submit="btnSubmitPurchaseName"
          :is-disabled-submit="isDisabledPurchase"
          size="xl"
          class="pr-2"
        >
          <template v-slot:modal-body>
            <add-edit-purchase-order
              ref="addEditPurchase"
              :is-disabled="isDisabledPurchase"
              :is-update="isUpdatePurchase"
              :data-purchase="dataPurchase"
              :page="page"
              :pageSize="pageSize"
              @onChangeQuantityProduct="onUpdateQuantityProduct"
            ></add-edit-purchase-order>
          </template>
        </Dialog>

        <Dropdown
          :split-action="addPurchaseAction"
          :split="true"
          text="Thêm đơn nhập hàng"
          :items="items"
        >
        </Dropdown>

        <Dialog
          :btn-open="false"
          :btn-close="true"
          id="SupplierMgmt"
          title="Quản lý nhà cung cấp"
          :onSubmit="onOpenModalAdd"
          size="lg"
        >
          <template v-slot:modal-body>
            <supplier-management ref="supplierManagement">
            </supplier-management>
          </template>
        </Dialog>
      </div>
      <div class="col-lg-12">
        <div class="table-responsive rounded">
          <TableList
            :columns="columns"
            :rows="purchaseListStore"
            :line-number="true"
            :total="totalElements"
            @onPageChange="onPageChange"
            @onPerPageChange="onPerPageChange"
          >
          </TableList>

          <CheckDelete
            :id="'DeletePurchase'"
            :content="'Bạn có muốn xóa đơn nhập hàng'"
            @confirmDelete="onDelete"
          />
        </div>
      </div>
    </div>
    <!-- Page end  -->
  </div>
</template>

<script>
import AddEditPurchaseOrder from "./AddEditPurchaseOrder";
import SupplierManagement from "./SupplierManagement";
import constants from "@/config/constants";
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
//Notify
import notification from "@/utils/notification";
import CheckDelete from "../Group/DeleteConfirm";

export default {
  components: { AddEditPurchaseOrder, SupplierManagement, CheckDelete },
  computed: {
    purchaseListStore() {
      let purchaseList = this.$store.getters["purchase/PurchaseByPage"]?.items;

      if (purchaseList.length > 0) {
        //Show quantity product
        purchaseList = purchaseList.map((item) => ({
          ...item,
          totalProduct: this.listQuantityProduct.find(
            (obj) => obj.id === item.id
          )?.quantity,
        }));

        // purchaseList.map((item) => {
        //   if (item.totalProduct === undefined) {
        //     this.$store
        //       .dispatch("purchase/getOrderItemList", item.id)
        //       .then((rs) => {
        //         item.totalProduct = rs.length;
        //         console.log("NEW_ITEM", item);
        //     });
        //   }
        // });
        return purchaseList;
      } else {
        return [];
      }
    },
    totalElements() {
      return this.$store.getters["purchase/PurchaseByPage"]?.pagination
        .totalElements;
    },
  },
  mounted() {
    this.getPurchaseList();
  },
  data() {
    return {
      titleModal: "",
      isUpdatePurchase: false,
      btnSubmitPurchaseName: "",
      isDisabledPurchase: false,
      dataPurchase: {},
      purchaseId: null,
      listQuantityProduct: [],
      addPurchaseAction: {
        action: () => {
          this.openPurchaseAdd();
        },
      },

      columns: [
        new ColumnTable(ColumnType.TEXT, "Mã đơn hàng", "code"),
        new ColumnTable(ColumnType.TEXT, "Tên nhà cung cấp", "customer_name"),
        new ColumnTable(ColumnType.ORDER_STATUS, "Trạng thái", "status"),
        new ColumnTable(ColumnType.CURRENCY, "Thanh toán", "pay"),
        new ColumnTable(ColumnType.TEXT, "Nhập kho", "qty"),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (purchase) => {
                this.openPurchaseOderEdit(purchase);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (purchase) => {
                this.$bvModal.show("DeletePurchase");
                this.purchaseId = purchase.id;
              },
              "table__action-icon ",
              {
                isDisableByStatus: function(a) {
                  return a == 1;
                },
              }
            ),
          ],
        }),
      ],
      items: [
        {
          name: "Nhà cung cấp",
          action: () => {
            this.$bvModal.show("SupplierMgmt");
          },
        },
      ],
      page: 0,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
    };
  },
  methods: {
    getPurchaseList() {
      this.$store
        .dispatch("purchase/getPurchaseListByPage", {
          page: this.page,
          pageSize: this.pageSize,
        })
        .then((rs) => {
          rs.items.map((item) => {
            this.getOrderList(item);
          });
        });
    },
    getOrderList(item) {
      this.$store.dispatch("purchase/getOrderItemList", item.id).then((rs) => {
        this.listQuantityProduct.push({
          id: item.id,
          quantity: rs.length,
        });
      });
    },
    onUpdateQuantityProduct(purchaseId) {
      const index = this.listQuantityProduct.findIndex(
        (item) => item.id === purchaseId
      );
      if (index != -1) {
        this.$store
          .dispatch("purchase/getOrderItemList", purchaseId)
          .then((rs) => {
            this.listQuantityProduct[index].quantity = rs.length;
            this.$forceUpdate();
          });
      } else {
        // case add new purchase
        this.$store
          .dispatch("purchase/getPurchaseListByPage", {
            page: this.page,
            pageSize: this.pageSize,
          })
          .then((rs) => {
            this.getOrderList(rs.items[0]);
          });
      }
    },
    openPurchaseAdd() {
      this.isUpdatePurchase = false;
      this.titleModal = "Thêm đơn nhập hàng";
      this.btnSubmitPurchaseName = "Thêm mới";
      this.isDisabledPurchase = false;
      this.dataPurchase = undefined;
      this.$bvModal.show("PurchaseOrderAddEdit");
    },
    openPurchaseOderEdit(purchase) {
      this.isUpdatePurchase = true;
      this.titleModal = "Chỉnh sửa đơn nhập hàng";
      this.btnSubmitPurchaseName = "Cập nhật";
      purchase.status == 1
        ? (this.isDisabledPurchase = true)
        : (this.isDisabledPurchase = false);
      this.dataPurchase = { ...purchase };
      this.$bvModal.show("PurchaseOrderAddEdit");
    },
    deletePurchase(id) {
      this.$store
        .dispatch("purchase/deletePurchase", {
          id: id,
          page: this.page,
          pageSize: this.pageSize,
        })
        .then((rs) => {
          if (rs.code === 1) {
            notification.success("Xóa thành công");
            this.$bvModal.hide("DeletePurchase");
          }
        });
    },
    onPageChange(params) {
      this.page = +params - 1;
      this.getPurchaseList();
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.getPurchaseList();
    },
    onAddEditPurchaseOrder() {
      this.$refs.addEditPurchase.onsubmit();
    },
    onDelete() {
      this.deletePurchase(this.purchaseId);
    },
    onOpenModalAdd() {
      this.$refs.supplierManagement.openModalAdd();
    },
  },
};
</script>
