<template>
  <div class="table-responsive rounded">
    <TableList
      :columns="columns"
      :rows="supplierList"
      :line-number="false"
      :total="totalElement"
      @onPageChange="onPageChange"
      @onPerPageChange="onPerPageChange"
    >
    </TableList>
    <Dialog
      :btnOpen="false"
      id="SupplierAddEdit"
      :onSubmit="onAddEditSupplier"
      :title="titleModal"
      :title-btn-submit="!isSupplierUpdate ? 'Thêm mới' : 'Cập nhật'"
      size="lg"
    >
      <template v-slot:modal-body>
        <add-edit-supplier
          ref="addEditSupplier"
          :isEdit="isSupplierUpdate"
          :btnSubmitName="btnSupplierSubmitName"
          :dataSupplier="supplier"
          @addSupplierSuccess="loadData"
        ></add-edit-supplier>
      </template>
    </Dialog>
    <CheckDelete :title="'nhà cung cấp'" @confirmDelete="deleteSupplier" />
  </div>
</template>

<script>
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import AddEditSupplier from "./AddEditSupplier.vue";
import supplierService from "@/services/supplier.service.js";
import notification from "@/utils/notification";
import CheckDelete from "../Product/DeleteConfirm.vue";
import constants from "@/config/constants";
export default {
  components: { AddEditSupplier, CheckDelete },
  name: "SupplierMgmt",
  mounted() {
    this.loadData();
    this.getAllPurchase();
  },
  computed: {
    supplierList() {
      return this.supplierData?.items ?? [];
    },
    supplierData() {
      return this.$store.getters["supplier/suppliers"];
    },
    totalElement() {
      return this.supplierData?.pagination.totalElements ?? 0;
    },
  },

  data() {
    return {
      page: 0,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      columns: [
        new ColumnTable(ColumnType.TEXT, "Mã nhà cung cấp", "code"),
        new ColumnTable(ColumnType.TEXT, "Tên nhà cung cấp", "name"),
        new ColumnTable(ColumnType.TEXT, "Email", "email"),
        new ColumnTable(ColumnType.TEXT, "Số điện thoại", "phone"),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (supplier) => {
                this.openSupplierEdit(supplier);
              },
              "table__action-icon-info"
            ),
            new Action(
              "ri-close-line",
              (supplier) => {
                if (this.disabledDelete(supplier.name)) {
                  notification.error(
                    "Không thể xóa nhà cung cấp của đơn hàng đang chờ xử lý"
                  );
                } else {
                  this.onOpenDialogDelete(supplier.id);
                }
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
      isSupplierUpdate: false,
      btnSupplierSubmitName: "",
      titleModal: "",
      supplier: {},
      idSupplierDelete: 0,
      purchaseList: null,
    };
  },
  methods: {
    loadData() {
      this.$store.dispatch("supplier/getSuppliers", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    getAllPurchase() {
      this.$store.dispatch("purchase/getPurchases").then((rs) => {
        this.purchaseList = rs;
      });
    },
    disabledDelete(supplierName) {
      const index = this.purchaseList.findIndex(
        (item) =>
          item.customer_name.trim() === supplierName.trim() && item.status === 0
      );
      if (index != -1) {
        return true;
      }
      return false;
    },
    onPageChange(params) {
      this.page = +params - 1;
      this.$store.dispatch("supplier/getSuppliers", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.$store.dispatch("supplier/getSuppliers", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    async openSupplierEdit(supplier) {
      this.isSupplierUpdate = true;
      this.titleModal = "Chỉnh sửa nhà cung cấp";
      this.btnSupplierSubmitName = "Cập nhật";
      this.supplier = supplier;
      await this.$store.dispatch("supplier/getSupplierAddress", {
        id: +supplier.id,
        page: 0,
        pageSize: this.pageSize,
      });

      this.$bvModal.show("SupplierAddEdit");
    },
    openModalAdd() {
      this.isSupplierUpdate = false;
      this.titleModal = "Thêm mới nhà cung cấp";
      this.btnSupplierSubmitName = "Thêm mới";
      this.supplier = {};
      this.$store.dispatch("supplier/setAddress", []);
      this.$bvModal.show("SupplierAddEdit");
    },
    onOpenDialogDelete(e) {
      this.idSupplierDelete = e;
      this.$bvModal.show("CheckDelete");
    },
    deleteSupplier() {
      supplierService.deleteSupplier(this.idSupplierDelete).then(async (rs) => {
        if (rs == 1) {
          notification.success("Xóa thành công");
          this.$bvModal.hide("CheckDelete");
          this.$store.dispatch("supplier/getSuppliers", {
            page: this.page,
            pageSize: this.pageSize,
          });
        }
      });
    },
    onAddEditSupplier() {
      this.$refs.addEditSupplier.onSubmit();
    },
  },
};
</script>

<style></style>
