<template>
  <div class="iq-sidebar sidebar-default">
    <div
      class="iq-sidebar-logo d-flex align-items-center justify-content-between"
    >
      <router-link :to="{ name: 'layout.menu-management' }" class="header-logo">
        <img :src="logo" class="img-fluid rounded-normal" alt="logo" />
        <h5 class="logo-title light-logo ml-3">POSDash</h5>
      </router-link>
      <div class="iq-menu-bt-sidebar">
        <i class="las la-bars wrapper-menu" @click="ShowHideSidebar()"></i>
      </div>
    </div>

    <div class="data-scrollbar mt-5" data-scroll="1" id="sidebar-scrollbar">
      <nav class="iq-sidebar-menu">
        <ul
          id="iq-sidebar-toggle"
          class="iq-menu ul--overflow-x"
          v-if="!isCloseSidebar || isShowSidebarMobile"
        >
          <li v-for="parent in listFunction" :key="parent.id">
            <sidebar-item :data="parent"> </sidebar-item>
          </li>
        </ul>
      </nav>
      <div class="p-3"></div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { core } from "@/config/pluginInit";
import SidebarItem from "./SidebarItem.vue";
export default {
  name: "SidebarStyle",
  props: {
    isShowSidebarMobile: { type: Boolean, default: false },
  },
  components: {
    SidebarItem,
  },
  data() {
    return {
      product: ["product.listproduct", "product.addproduct"],
      sale: ["sale.listsale", "sale.addsale"],
      categories: ["category.listcategory", "category.addcategory"],
      purchases: ["purchase.listpurchases", "purchase.addpurchase"],
      returns: ["return.listreturns", "return.addreturn"],
      people: [
        "people.customers",
        "people.addcustomers",
        "people.users",
        "people.addusers",
        "people.suppliers",
        "people.addsuppliers",
      ],
      user: ["app.user-profile", "app.user-add", "app.user-list"],
      ui: [
        "Ui.avatars",
        "Ui.alerts",
        "Ui.badges",
        "Ui.breadcrumbs",
        "Ui.buttons",
        "Ui.button-groups",
        "Ui.boxshadows",
        "Ui.colors",
        "Ui.cards",
        "Ui.carousels",
        "Ui.grids",
        "Ui.helper-classes",
        "Ui.images",
        "Ui.list-groups",
        "Ui.media-objects",
        "Ui.modals",
        "Ui.notifications",
        "Ui.paginations",
        "Ui.popovers",
        "Ui.progressbars",
        "Ui.typographys",
        "Ui.tabs",
        "Ui.tooltips",
        "Ui.Embed-videos",
      ],
      auth: [
        "auth.login",
        "auth.register",
        "auth.recover-password",
        "auth.confirm-mail",
        "auth.lock-screen",
      ],
      pricing: ["price.pay", "price.pay2"],
      error: ["error.404", "error.500"],
      form: [
        "controls.form-checkbox",
        "controls.form-layout",
        "controls.form-input",
        "controls.form-radio",
        "controls.form-switch",
        "controls.form-textarea",
        "controls.form-validation",
      ],
      table: ["table.basic-table", "table.data-table", "table.edit-table"],
      pages: [],
      // listFunction: [],
      isCloseSidebar: false,
    };
  },
  mounted() {
    core.SmoothScrollbar();
    core.changesidebar();
    this.loadData();
  },
  destroyed() {
    core.SmoothScrollbar();
    core.changesidebar();
  },
  computed: {
    ...mapGetters({
      appName: "appName",
      logo: "logo",
    }),
    listFunction() {
      let list = this.$store.getters["function/getFunctions"];
      console.log("LIST", list);
      return list;
    },
  },
  methods: {
    loadData() {
      this.$store.dispatch("function/loadFunctions");
    },
    checkActive(route) {
      if (this.$route.name == route) {
        return true;
      }
      if (route.includes(this.$route.name)) {
        return true;
      }
    },
    ShowHideSidebar() {
      this.isCloseSidebar = !this.isCloseSidebar;
    },
  },
};
</script>
<style scoped>
.ul--overflow-x {
  width: 260px;
  max-width: 260px;
  overflow-x: auto;
}
</style>
