<template>
  <div>
    <b-button-group class="btnGroup">
      <router-link v-if="data.url" :to="{ path: data.url }">
        <b-button
          variant="outline-dark"
          class="btnGroup__btn-name--width"
          @click="addClassActive($event)"
        >
          <div class="btnGroup__content">
            <i :class="'fa ' + data.icon"></i>
            <span class="btnGroup__p--text-overflow">{{ data.name }}</span>
          </div>
        </b-button>
      </router-link>
      <span v-if="!data.url">
        <b-button
          variant="outline-dark"
          class="btnGroup__btn-name--width"
          @click="addClassActive($event)"
        >
          <div class="btnGroup__content">
            <i :class="'fa ' + data.icon"></i>
            <span class="btnGroup__p--text-overflow">{{ data.name }}</span>
          </div>
        </b-button>
      </span>
      <b-button
        v-if="data.sub_functions"
        variant="outline-dark"
        class="btnGroup__btn-dropdown--width"
        @click="showChildFunction(data)"
        >{{ !isShowDown ? "+" : "-" }}</b-button
      >
    </b-button-group>
    <b-collapse :id="'collapse-' + data.id">
      <b-card>
        <div v-for="child in data.sub_functions" :key="child.id">
          <sidebar-item :data="child"></sidebar-item>
        </div>
      </b-card>
    </b-collapse>
  </div>
</template>

<script>
import $ from "jquery";
export default {
  name: "SidebarItem",
  props: {
    data: {
      type: Object,
      default() {
        return {
          name: "Name",
          id: "Id",
          icon: "Icon",
          url: "URL",
        };
      },
    },
  },
  data() {
    return {
      isShowDown: false,
      isActive: false,
    };
  },
  methods: {
    showChildFunction(data) {
      this.isShowDown = !this.isShowDown;
      this.$root.$emit("bv::toggle::collapse", `collapse-${data.id}`);
    },
    addClassActive(e) {
      $("button").removeClass("active");
      if (e.target.nodeName === "SPAN" || e.target.nodeName === "I") {
        $(e.path[2]).addClass("active");
      } else {
        $(e.target).addClass("active");
      }

      this.isActive = true;
    },
  },
};
</script>

<style scoped>
.card {
  border: none;
  margin-bottom: 10px;
}
.card-body {
  padding: 0 10px 0 20px;
}
.btnGroup {
  margin: 0 0 10px;
  width: 100%;
}
.btnGroup__content {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.btn-outline-dark {
  border-color: transparent;
}
.btn-outline-dark:focus,
.btn-outline-dark.focus {
  box-shadow: 0px 0px 0 0rem rgb(1 4 27 / 50%);
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: none;
}

.btnGroup__btn-name--width {
  width: 200px;
  max-width: 250px;
  border: none;
  text-align: left;
  border-radius: 0;
  height: 38px;
}
.active.btnGroup__btn-name--width {
  background-color: black;
  color: white;
}
.btnGroup__p--text-overflow {
  width: 100%;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 0;
}
.btnGroup__btn-dropdown--width {
  width: 35px;
  max-width: 35px;
}
</style>
