<template>
    <div class="rounded bg-white">
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="unitName">Tên đơn vị</label>
                        <input
                            type="text"
                            id="unitName"
                            :class="
                                `form-control ${$v.unitData.unit_name.$error ? 'is-invalid' : ''}`
                            "
                            @input="$v.unitData.unit_name.$touch()"
                            @blur="$v.unitData.unit_name.$touch()"
                            v-model="unitData.unit_name"
                            placeholder="Nhập tên đơn vị"
                        >
                        <div class="invalid-feedback">
                            Hãy điền vào trường này.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="unitCode">Mã đơn vị</label>
                    <input
                        type="text"
                        id="unitCode"
                        :class="
                            `form-control ${$v.unitData.unit_code.$error ? 'is-invalid' : ''}`
                        "
                        @input="$v.unitData.unit_code.$touch()"
                        @blur="$v.unitData.unit_code.$touch()"
                        v-model="unitData.unit_code"
                        placeholder="Nhập mã đơn vị"
                    >
                    <div class="invalid-feedback">
                        Hãy điền vào trường này.
                    </div>
                </div>
                <div class="col-lg-4">
                    <label for="baseUnit">Đơn vị cơ sở</label>
                    <Select2
                        textField="unit_name"
                        valueField="id"
                        v-model="selectedUnit.id"
                        :options="listBaseUnits"
                    >
                    </Select2>
                </div>
                <div class="col-lg-4">
                    <label for="operator">Thao tác</label>
                    <input
                        type="text"
                        id="operator"
                        :class="
                            `form-control ${$v.unitData.operator.$error ? 'is-invalid' : ''}`
                        "
                        @input="$v.unitData.operator.$touch()"
                        @blur="$v.unitData.operator.$touch()"
                        v-model="unitData.operator"
                        placeholder="Nhập thao tác"
                    >
                    <div class="invalid-feedback">
                        Hãy điền vào trường này.
                    </div>
                </div>
                <div class="col-lg-4">
                    <label for="operatorValue">Giá trị thao tác</label>
                    <input
                        type="number"
                        id="operatorValue"
                        :class="
                            `form-control ${$v.unitData.operation_value.$error ? 'is-invalid' : ''}`
                        "
                        @input="$v.unitData.operation_value.$touch()"
                        @blur="$v.unitData.operation_value.$touch()"
                        v-model="unitData.operation_value"
                        placeholder="Nhập giá trị thao tác"
                    >
                    <div class="invalid-feedback">
                        Hãy điền vào trường này.
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, alphaNum } from "vuelidate/lib/validators";
import notification from '@/utils/notification'
export default {
    mixins: [validationMixin],
    validations: {
        unitData: {
            unit_name: { required },
            unit_code: { required },
            operator: { required },
            operation_value: { required, alphaNum },
        }
    },
    computed: {
        listUnits() {
            return this.$store.getters['unit/getUnits']?.items
        },
        listBaseUnits() {
            return this.$store.getters['unit/getBaseUnits']
        }
    },
    props: {
        btnSubmitName: { type: String, default: "Thêm mới" },
        isEdit: { type: Boolean, default: false },
        unitId: {type:Number, default: null},
        unitData: {
            type: Object,
            default() {
                return {
                    unit_name: { type: String, default: "" },
                    unit_code: { type: String, default: "" },
                    base_unit: { type: Number, default: 0 },
                    operator: { type: String, default: "" },
                    operation_value: { type: Number, default: 0 },
                };
            },
        },
    },
    data() {
        return{
            selectedUnit: {},
        }
    },
    mounted() {
        this.$store.dispatch('unit/loadBaseUnits', {page: 0,pageSize: 1000}).then(() => {
            if(this.unitData?.base_unit) {
                this.selectedUnit = this.listBaseUnits?.find(u => u.id === this.unitData.base_unit)
            }
            this.selectedUnit = this.selectedUnit ? this.selectedUnit : {}
        })    
    },
    methods: {
        onSubmit() {
            this.unitData.base_unit = this.selectedUnit.id ? this.selectedUnit.id : null
            this.unitData.operation_value = +this.unitData.operation_value
            if(!this.$v.$invalid) {
                if(this.isEdit) {
                    this.$store.dispatch("unit/updateUnit", this.unitData).then(rs => {
                        if(rs.code===1){
                            notification.success('Cập nhật thành công')
                            this.closeModal()
                        }
                        else {
                            notification.error('Cập nhật không thành công')
                        }
                    })
                }
                else {
                    this.$store.dispatch("unit/addUnit", this.unitData).then(rs => {
                        if(rs.code===1){
                            notification.success('Thêm thành công')
                            this.closeModal()
                        }
                        else {
                            notification.error('Thêm không thành công')
                        }
                    })
                }
            }
            else {
                this.$v.unitData.unit_name.$touch()
                this.$v.unitData.unit_code.$touch()
                this.$v.unitData.operator.$touch()
                this.$v.unitData.operation_value.$touch()
            }
        },
        closeModal() {
            this.$emit('close')
        }
    },
}
</script>