<template>
  <div>
    <div class="table-responsive">
      <table-list
        :columns="columns"
        :rows="listUnits"
        :showIndex="true"
        :total="totalElements"
        @onPageChange="onPageChange"
        @onPerPageChange="onPerPageChange"
      >
      </table-list>
    </div>
    <Dialog
      :btnClose="true"
      id="UnitAddEdit"
      :title="titleModal"
      :onSubmit="onAddEditUnit"
      :titleBtnSubmit="isEdit ? 'Cập nhật' : 'Thêm mới'"
      size="m"
    >
      <template v-slot:modal-body>
        <add-edit-unit
          ref="addEditUnit"
          @close="closeAddEdit"
          :is-edit="isEdit"
          :btn-submit-name="btnSubmitName"
          :unitData="selectedUnit"
        ></add-edit-unit>
      </template>
    </Dialog>
    <CheckDelete
      id="unitDeleteModal"
      :title="'đơn vị'"
      @confirmDelete="deleteUnit"
    ></CheckDelete>
  </div>
</template>
<script>
import { Action, ColumnTable, ColumnType } from '../../../Model/TableList';
import AddEditUnit from './AddEditUnit.vue';
import notification from '@/utils/notification';
import constants from '@/config/constants'
import CheckDelete from "../DeleteConfirm.vue";
export default {
  name: "UnitManagement",
  components: {
    AddEditUnit,
    CheckDelete
  },
  computed: {
    listUnits() {
      var rs = this.$store.getters['unit/getUnits']?.items
      if (rs.length > 0) {
        rs = rs.map(r => ({
          ...r,
          base_unit: {
            id: r.base_unit,
            name: this.listBaseUnits?.find(u => u.id === r.base_unit)?.unit_name
          }
        }))
        return rs
      }
      else {
        return []
      }
    },
    listBaseUnits() {
      console.log(this.$store.getters['unit/getBaseUnits'])
      return this.$store.getters['unit/getBaseUnits']
    },
    totalElements() {
      return this.$store.getters['unit/getUnits']?.pagination.totalElements;
    },
  },
  mounted() {
    this.loadUnits()
  },
  data() {
    return {
      columns: [
        new ColumnTable(ColumnType.TEXT, "Mã", 'unit_code'),
        new ColumnTable(ColumnType.TEXT, "Tên", 'unit_name'),
        new ColumnTable(ColumnType.TEXT, "Đơn vị cơ sở", 'base_unit.name'),
        new ColumnTable(ColumnType.TEXT, "Thao tác", 'operator'),
        new ColumnTable(ColumnType.TEXT, "Giá trị thao tác", 'operation_value'),
        new ColumnTable(ColumnType.ORDER_STATUS, "Trạng thái", 'status'),
        new ColumnTable(
          ColumnType.ACTION,
          "Action",
          'action',
          {
            actions: [
              new Action('ri-pencil-line', (e) => { this.onOpenDialogEditUnit(e) }, 'table__action-icon'),
              new Action('ri-close-line', (e) => { this.onOpenDialogDelete(e) }, 'table__action-icon')
            ],
            tdClass: 'vgt-center-align',
            thClass: 'vgt-center-align',
            width: '150px'
          }
        )
      ],
      isEdit: false,
      titleModal: "Thêm đơn vị",
      btnSubmitName: "Thêm mới",
      selectedUnit: {
        unit_name: "",
        unit_code: "",
        base_unit: null,
        operator: "",
        operator_value: 0,
      },
      delete: null,
      page: 0,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
    }
  },
  methods: {
    loadUnits() {
      this.$store.dispatch("unit/loadUnits", { page: this.page, pageSize: this.pageSize })
      this.$store.dispatch('unit/loadBaseUnits', { page: 0, pageSize: 1000 })
    },
    onOpenDialogEditUnit(e) {
      this.selectedUnit = Object.assign({}, this.$store.getters['unit/getUnits']?.items?.find(u => u.id === e.id))
      this.titleModal = "Sửa đơn vị"
      this.btnSubmitName = "Cập nhật"
      this.isEdit = true
      this.$bvModal.show('UnitAddEdit')
    },
    onOpenDialogDelete(e) {
      this.$bvModal.show('unitDeleteModal')
      this.delete = e
    },
    openAddModal() {
      this.titleModal = "Thêm đơn vị"
      this.btnSubmitName = "Thêm"
      this.isEdit = false
      this.selectedUnit = {}
      this.$bvModal.show('UnitAddEdit')
    },
    closeModal() {
      this.$emit('close')
    },
    deleteUnit() {
      this.$bvModal.hide('unitDeleteModal')
      this.$store.dispatch('unit/deleteUnit', this.delete.id).then(rs => {
        if (rs?.code === 1) {
          if (this.totalElements % this.pageSize == 1) {
            this.page--;
            this.$store.dispatch("unit/loadUnits", { page: this.page, pageSize: this.pageSize });
          }
          notification.success('Xóa thành công')
        }
        else {
          notification.error('Xóa không thành công')
        }
      })
    },
    closeAddEdit() {
      this.$bvModal.hide('UnitAddEdit')
    },
    onPageChange(params) {
      this.page = +params - 1;
      this.$store.dispatch("unit/loadUnits", { page: this.page, pageSize: this.pageSize });
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.$store.dispatch("unit/loadUnits", { page: this.page, pageSize: this.pageSize });
    },
    onAddEditUnit() {
      this.$refs.addEditUnit.onSubmit()
    }
  },
}
</script>
