<template>
     <section class="login-content">
         <div class="container">
            <div class="row align-items-center justify-content-center height-self-center">
               <div class="col-lg-4">
                  <div  style="min-height: 1px" class="card auth-card">
                     <div class="card-body p-0">
                        <div style="min-height: 1px" class="d-flex align-items-center auth-content">
                           <div class="col-lg-12 align-self-center">
                              <div class="p-3">
                                 <div style="margin-bottom:30px; text-align:center"><h1>WMS</h1></div>
                                 <form-group-input
                                    :placeHolder="'emily@company.com'"
                                    v-model='userName'
                                    type="email"
                                    label="Email"
                                    :touch="$v.userName.$touch" 
                                    :invalid="$v.userName.$error" 
                                    invalidFeedback="Vui lòng nhập email hợp lệ"
                                 />
                                 <div class="row justify-content-center mb-10"><button @click="onSubmit" class="btn btn-primary">Lấy lại mật khẩu</button></div>
                                 <div class="row justify-content-center"><router-link to="/auth/login">Trở về trang đăng nhập</router-link></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
</template>
<script>
import FormGroupInput from '@/components/form/FormGroupInput'
import authService from '@/services/auth.service'
import { required,email } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'
import notification from '@/utils/notification'
export default {
    name:'ConfirmMail',
    components: {
      FormGroupInput
    },
    mixins: [validationMixin],
    validations: {
      userName: { required,email },
   },
    data(){
       return{
          userName:''
       }
    },
    methods: {
       validate() {
         this.$v.$touch();
         return !this.$v.$invalid;
      },
      onSubmit () {
         if(!this.validate()) return;
         authService.forgotPassWord({username: this.userName}).then((rs)=>{
            if(rs.code == 1){
               notification.success('Đã gửi link lấy lại mật khẩu vào email. Vui lòng kiểm tra email.')
               //this.$router.push({name: 'auth.recover-password'})
            }else{
               notification.error(rs.message)
            }
         })
         
      }
  }
}
</script>