<template>
  <div class="container h-100 justify-content-center align-items-center">
    <div class="row align-items-center justify-content-center h-100">
      <div class="card  mx-auto mt-sm-5 ">
          <div class="pt-3" style="margin-bottom:30px; text-align:center"><h1>WMS</h1></div>
          <div class="row">
            <div class="col-lg-12 align-self-center">
              <div class="pr-3 pl-3">
                <form-group-input
                  v-model="password"
                  type="password"
                  :touch="$v.password.$touch" 
                  :invalid="$v.password.$error" 
                  label="Mật khẩu"
                  invalidFeedback="Mật khẩu có tối thiểu 8 ký tự, gồm chữ thường chữ hoa và ít nhất 1 ký tự đặc biệt"
                />
              </div>
            </div>
          </div>
           <div class="row">
             <div class="col-lg-12 align-self-center">
              <div class="pl-3 pr-3">
                <form-group-input
                  v-model="repeatPassword"
                  :touch="$v.repeatPassword.$touch" 
                  :invalid="$v.repeatPassword.$error" 
                  type="password"
                  label="Nhập lại mật khẩu"
                  invalidFeedback="Mật khẩu phải giống nhau"
                />
              </div>
             </div>
          </div>
          <div class="row mx-auto justify-content-center">
            <button
              @click="onSubmit"
              class="btn btn-primary button signin "
            >
              Đổi mật khẩu
            </button>
          </div>
          <div class="row mx-auto justify-content-center">
            <span class="align-right">
              <router-link to="/auth/login">Trở về trang đăng nhập</router-link>
            </span>
          </div>
      </div>
    </div>
  </div>
</template>

<script >
// import { ProductService } from '@/services/product.service'
import FormGroupInput from '@/components/form/FormGroupInput'
import { validationMixin } from 'vuelidate'
import { required,sameAs, minLength } from 'vuelidate/lib/validators'
import authService from '@/services/auth.service'
import notification from '@/utils/notification'
export default {
  name:'RecoverPassword',
  components: {
      FormGroupInput
  },
  mixins: [validationMixin],
  data(){
    return{
        password: '',
        repeatPassword:''
    }
  },
  validations: {
      password: { 
        required,
        minLength:minLength(8),
        valid: function(value) {
          const containsUppercase = /[A-Z]/.test(value)
          const containsLowercase = /[a-z]/.test(value)
          const containsNumber = /[0-9]/.test(value)
          const containsSpecial = /[#?!@$%^&*-]/.test(value)
          return containsUppercase && containsLowercase && containsNumber && containsSpecial
        }
       },
      repeatPassword:{   
        required,
        sameAsPassword: sameAs('password')
      }
  },
  
  methods: {
    validate() {
      this.$v.$touch();
      return !this.$v.$invalid;
    },
    onSubmit () {
      if(!this.validate()) return;
      const data ={
        code: this.$route.query.code,
        new_password: this.repeatPassword
      }
      authService.resetPassWord(data).then((rs)=>{
        if(rs.code == 1){
          notification.success('Cập nhật thành công')
        } 
        // else {
        //   notification.error(rs.message)
        // }
        
      })
      this.$router.push({name: 'login'}) 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.center {
  justify-content: center;
}
input {
  font-weight: 700;
  font-size: 16px;
}
.card {
  align-content: center;
  border: none;
  background-color: #ffffff;
  width: 470px;
}
.form {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.linkbtn {
  width: 180px;
  font-size: 14px;
}
.border {
  border-color: #979797;
}
.signin {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}
h1 {
  margin-bottom: 1.4rem;
  font-size: 42px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

hr {
  color: #979797;
}
.forget {
  color: #131313;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0.1rem !important ;
}
span {
  display: inline-block;
}
.align-right {
  text-align: right;
}
</style>
