<template>
  <div class="container d-flex vh-100 justify-content-center align-items-center">
    <div class="card">
      <b-form
        class="px-4 d-flex"
        @submit.prevent="onSubmit"
      >
        <b-col>
          <h1 class="d-plex">WMS</h1>
          <br />
          <br />
          <b-row class="mb-20">
            <div class="col-sm">
              <a
                class="btn btn-primary button linkbtn  "
                href="#"
                role="button"
              >Use Google</a>
            </div>
            <div class="col-sm">
              <a
                class="btn btn-primary button linkbtn "
                href="#"
                role="button"
              >Use Facebook</a>
            </div>
          </b-row>
          <b-row>
            <b-col>
                <!-- <form-group-input 
                   :touch="$v.form.email.$touch" 
                   :invalid="$v.form.email.$error" 
                   v-model="form.email" 
                   type="email"
                   label="Email" 
                   invalidFeedback="Vui lòng nhập email" /> -->
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  v-model="form.email"
                  :class="`form-control ${$v.form.email.$error ? 'is-invalid' : ''}`"
                  @input="$v.form.email.$touch()"
                  @blur="$v.form.email.$touch()"
                  data-errors="Please Enter Email."
                >
                <div class="invalid-feedback">
                  Vui lòng nhập email hợp lệ
                </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <form-group-input
                type="password"
                :touch="$v.form.password.$touch" 
                :invalid="$v.form.password.$error" 
                v-model="form.password" 
                label="Password" 
                invalidFeedback="Vui lòng nhập password" />

            </b-col>
          </b-row>
          <b-row class="mb-20">
            <b-col class="change-forget">
                <span>
                  <router-link to="/auth/change-password" class="forget">Đổi mật khẩu</router-link>
                </span>
                <span>
                  <router-link to="/auth/confirm-mail" class="forget">Quên mật khẩu</router-link>
                </span>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div class="justify-content-center d-flex">
                <b-button
                  type="submit"
                  class="btn btn-primary button justify-content-center signin"
                  variant="primary"
                >Đăng nhập</b-button>
              </div>
            </b-col>
          </b-row>
          <b-row class="justify-content-center">
            <router-link to="/auth/signup">Đăng ký</router-link>
          </b-row>
        </b-col>
      </b-form>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import FormGroupInput from '@/components/form/FormGroupInput'

export default {
  components: { FormGroupInput },
  mixins: [validationMixin],
  validations: { 
    form: {
      email: { required, email }, password: { required }
    } 
  },
  data() {
    return {
      form: {
        email: 'kenbinpro@gmail.com',
        password: '123456'
      }
    }
  },
  methods: {
    onSubmit() {
      this.$v.$touch()
      if(this.$v.$invalid){
        return
      }
      this.$store.dispatch('auth/login', {
        username: this.form.email,
        password: this.form.password
      }).then((rs) => {
        if (rs.access_token) {
          this.$router.push({ path: '/function/menu-management' })
          // router.push({ path: `/user/${userId}` })
          // // this.$router.push({ name: '/function/menu-management' })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.center {
  justify-content: center;
}

input {
  font-weight: 700;
  font-size: 16px;
}

.card {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 15px;
  align-content: center;
  border: none;
  background-color: #ffffff;
  width: 470px;
}

.form {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.linkbtn {
  width: 180px;
  font-size: 14px;
}

.border {
  border-color: #979797;
}

.signin {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

h1 {
  margin-bottom: 1.4rem;
  font-size: 42px;
  display: flex;
  justify-content: center;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

hr {
  color: #979797;
}


span {
  display: inline-block;
}

.align-right {
  text-align: right;
}
.change-forget{
  display: flex;
  justify-content: space-between;
}
</style>
