<template >
<div class="fixed-top d-flex align-items-center justify-content-center"
  style="bottom: 0; overflow-y: auto">
<b-card>
  <div class="signup-form">
    <b-form @submit.prevent="onSubmit">
      <div class="title">
        <h3>Đăng ký dùng thử</h3>
      </div>
      <div class="content create-workform bg-body">
        <div class="main__right__form">
          <div class="container">
            <div class="row">
              <b-col>
                <div class="form-group">
                  <label for="name">Họ tên</label>
                  <input
                    type="text"
                    class="form-control"
                    :class="`form-control ${$v.form.name.$error ? 'is-invalid' : ''}`"
                    id="name"
                    v-model="form.name"
                    @input="$v.form.name.$touch()"
                    @blur="$v.form.name.$touch()"
                    placeholder="Nguyen Van A"
                    data-errors="Please Enter Name."
                  >
                  <div class="invalid-feedback">
                    Vui lòng nhập tên
                  </div>
                </div>

              </b-col>
            </div>
            <div class="row">
              <b-col>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    v-model="form.email"
                    :class="`form-control ${$v.form.email.$error ? 'is-invalid' : ''}`"
                    @input="$v.form.email.$touch()"
                    @blur="$v.form.email.$touch()"
                    data-errors="Please Enter Email."
                  >
                  <div class="invalid-feedback">
                    Vui lòng nhập email hợp lệ
                  </div>
                </div>
              </b-col>
            </div>
            <b-row>
              <b-col>
                <div class="form-group">
                  <label for="phone">Số điện thoại</label>
                  <input
                    type="text"
                    id="phone"
                    class="form-control"
                    v-model="form.phone"
                    :class="`form-control ${$v.form.phone.$error ? 'is-invalid' : ''}`"
                    @input="$v.form.phone.$touch()"
                    @blur="$v.form.phone.$touch()"
                    data-errors="Please Enter Phone."
                  >
                  <div class="invalid-feedback">
                    Vui lòng nhập số điện thoại hợp lệ
                  </div>
                </div>
              </b-col>
              <b-col>
                <div class="form-group">
                  <label for="storeName">Tên cửa hàng</label>
                  <input
                    type="text"
                    id="storeName"
                    class="form-control"
                    v-model="form.store_name"
                    :class="`form-control ${$v.form.store_name.$error ? 'is-invalid' : ''}`"
                    @input="$v.form.store_name.$touch()"
                    @blur="$v.form.store_name.$touch()"
                    data-errors="Please Enter Store Name."
                  >
                  <div class="invalid-feedback">
                    Vui lòng nhập tên cửa hàng
                  </div>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <div class="form-group">
                  <label
                  for="provice" >
                    Bạn ở tỉnh/thành phố nào?
                  </label>
                   <Select2
                    v-model="form.province_id"
                    valueField = "id"
                    textField ="name"
                    :options="optionsProvices"  
                    :invalid="$v.form.province_id.$error"
                    :invalidFeedback="`Vui lòng chọn tỉnh/ thành phố`"
                      >
                    </Select2>
                   <div class="invalid-feedback">
                    Vui lòng chọn tỉnh/ thành phố
                  </div>
                
                </div>
              </b-col>
            </b-row>
          </div>
        </div>
        <b-row class="mt-3">
          <b-col>
            <div class="justify-content-center d-flex">
              <b-button
                type="submit"
                class="btn btn-primary"
                variant="primary"
              >Đăng ký</b-button>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-form>
  </div>
</b-card>
</div>
</template>
<script >
import { validationMixin } from 'vuelidate'
import { required,email,numeric,minLength,maxLength } from 'vuelidate/lib/validators'
 import { fireEvent } from '@/utils/event'
  import { ToastEvent } from "@/models/enums";

export default {
  mixins: [validationMixin],
  validations: {
    form: {
      email: { required,email },
      phone: { required,numeric,minLength:minLength(10),maxLength:maxLength(11) },
      name: { required },
      store_name: { required },
      province_id: { required }
    }
  },
  data() {
    return {
      form: {
        email: '',
        phone: '',
        name: '',
        store_name: '',
        province_id: ''
      }
    }
  },
  mounted(){
    this.loadData()
  },
  computed: {
    optionsProvices(){
      return this.$store.getters['address/provinces']
    }
  },
  methods: {
    loadData(){
      this.$store.dispatch("address/getProvinces")
    },
    validate() {
      this.$v.$touch();
      return !this.$v.$invalid;
    },
    onSubmit() {
      if(!this.validate()) return;

      const data = {
        'password': '123456',
        'email': this.form.email,
        'phone': this.form.phone,
        'name': this.form.name,
        'store_name': this.form.store_name,
        'province_id': parseInt(this.form.province_id)
      }
      this.$store.dispatch('auth/signUp',
        data
      ).then((rs) => {
        console.log(rs)
        fireEvent(ToastEvent.SHOW_SUCCESS, 'Đăng ký thành công')
        this.$router.push('/auth/login')
      })
    }
  }
}
</script>
<style scoped>
.card{
  width:600px;
}
.form-group{
  display:flex;
  flex-direction: column;
}
/* .signup-form{
  width: fit-content;
  height: fit-content;
} */
.title{
  align-items: center;
  text-align: center;
  display: inline ;
  margin: 20px;
  justify-content: space-between;
}
.popup {
  padding: 0 !important;
}
.select-user{
  width: 100% !important;
}
.mb-3 {
  font-family: Heebo !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 38px !important;
  margin: 0 !important;
  color: #131313;
}
.fa-times {
  margin-bottom: 10px !important;
}
.title__h1{
  font-size: xx-large !important;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 608px;
  }
}
.btn-close {
  border: #131313;
  cursor: pointer;
}
.btn-add {
  width: 237px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.main__right__form__title {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #131313;
  margin-bottom: 5px;
}
</style>