<template>
  <div>
    <form id="formCustomerAddEdit">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <select-sale-order
                v-model="form.orderId"
                :invalid="$v.form.orderId.$error"
                :disabled="isEdit"
                title="Mã đơn hàng"
                label-select="id"
                @blur="$v.form.orderId.$touch"
              ></select-sale-order>
            </div>
            <div class="col-sm-12 col-sm-12 mt-3">
              <form-group-input
                :placeHolder="'Nguyen Van A'"
                type="text"
                label="Khách hàng"
                v-model="form.name"
                :disabled="true"
                invalidFeedback="Vui lòng nhập tên khách hàng"
              />
            </div>
            
            <div class="col-lg-5 col-sm-12">
              <form-group-input
                :placeHolder="'20/03/2020'"
                type="text"
                :disabled="true"
                v-model="form.createAt"
                label="Ngày"
                invalidFeedback="Vui lòng nhập ngày"
              />
            </div>
            <div class="col-lg-7 col-sm-12">
              <form-group-input
                type="text"
                v-model="form.reason"
                :touch="$v.form.reason.$touch"
                :invalid="$v.form.reason.$error"
                :disabled="isEdit && returnOrder.status === 1"
                label="Lý do trả hàng"
                invalidFeedback="Vui lòng nhập lý do trả hàng"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-0">
        <div class="col-lg-12">
          <div class="table-responsive rounded mb-0">
            <form-group-input
              type="text"
              v-model="textSearch"
              :iconAppend="iconPrepend"
              label="Tìm kiếm sản phẩm"
              placeHolder="Tìm theo tên, SKU sản phẩm"
              />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive rounded">
            <table-list
                :columns="columns"
                :rows="listItemsShow"
                :line-number="true"
                :total="listItemsShow.length"
                :total-items="true"
                @cellValue:onChange="onChangeCellValue"
              >
              </table-list>
            <!-- <table-list
              :columns="columns"
              :rows="listItems"
              :line-number="true"
              :total="totalElements"
              :total-items="!isEdit"
              @onPageChange="onPageChange"
              @onPerPageChange="onPerPageChange"
              @cellValue:onChange="onChangeCellValue"
            /> -->
            <div class="total-cost">
              <p>Tổng tiền: {{ form.priceTotal | currency }}</p>
            </div>

          </div>
        </div>
      </div>

      <CheckDelete
        id="checkDeleteItem"
        :title="'Item'"
        @confirmDelete="deleteItem"
      />
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <!-- <label>Hình thức hoàn tiền</label>
              <Select2
                textField="name"
                valueField="id"
                v-model="form.paymentType"
                :options="listTypePayment"
              >
              </Select2> -->
              <payment-method
                v-model="form.paymentType"
                :disabled="isEdit && returnOrder.status === 1"
                :visibleSearch="false"
              ></payment-method>
            </div>
            <div class="col-lg-4 col-sm-12">
              <form-group-input
                :placeHolder="'RF02323'"
                type="text"
                v-model="form.ref"
                :touch="$v.form.ref.$touch"
                :invalid="$v.form.ref.$error"
                :disabled="isEdit && returnOrder.status === 1"
                label="Tham chiếu"
                invalidFeedback="Vui lòng nhập tham chiếu"
              />
            </div>
            <div class="col-lg-4 col-sm-12">
              <input-currency
                v-model="form.pay"
                type="input"
                :touch="$v.form.pay.$touch"
                :invalid="$v.form.pay.$error"
                :disabled="isEdit && returnOrder.status === 1"
                label="Số tiền thanh toán trước"
                :invalidFeedback="
                  `${
                    !$v.form.pay.required
                      ? 'Vui lòng nhập số tiền thanh toán trước'
                      : 'Số tiền thanh toán trước không được lớn hơn tổng tiền'
                  }`
                "
              />
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- <div class="mt-2 d-flex justify-content-around">
      <button
      :disabled="returnOrder.status && returnOrder.status == 1 ? true : false"
        class="btn btn-success"
        @click="onSubmit" 
      >
        {{titleButton}}
      </button>
    </div> -->
  </div>
</template>

<script>
//Validate
import { validationMixin } from "vuelidate";
import moment from "moment";
import { ColumnTable, ColumnType, Action } from "../../Model/TableList";
import FormGroupInput from "@/components/form/FormGroupInput";
import notification from "@/utils/notification";
import CheckDelete from "../Product/DeleteConfirm.vue";
import { required, numeric, between} from "vuelidate/lib/validators";
import PaymentMethod from "@/components/payments/PaymentMethod.vue";
import constants from "@/config/constants";
import saleOrderService from "@/services/sale-order.service";
import InputCurrency from "../../components/form/input-currency/InputCurrency.vue";
import SelectSaleOrder from "../../components/saleorder/SelectSaleOrder.vue"
import returnOrderService from "@/services/return-order.service.js";

export default {
  mixins: [validationMixin],
  props: {
    isEdit: { type: Boolean, default: false },
    returnOrder: {
      type: Object,
      default() {
        return {
          id: { type: Number, default: null },
          orderId: { type: Number, default: null },
          reason: { type: String, default: "" },
          paymentType: { type: Number, default: null },
          ref: { type: String, default: "" },
          pay: { type: Number, default: null },
          name: { type: String, default: "" },
          createdAt: { type: String, default: "" },
          status: { type: Number, default: null },
          code: { type: String, default: "" },
        };
      },
    },
  },

  computed: {
    returnOrderItemsData() {
      return this.$store.getters["returnOrder/items"];
    },
    returnOrderItems() {
      let data = this.returnOrderItemsData?.data?.items || [];
      if(data){
        data.forEach(el=> {
          el.numberReturn = 0
        })
      }
      return data;
    },
    totalElements() {
      return this.returnOrderItemsData?.data?.pagination.totalElements || 0;
    },
  },
  data() {
    return {
      form: {
        id: this.isEdit ? this.returnOrder.id : null,
        orderId: this.isEdit ? this.returnOrder.orderId : null,
        code: this.isEdit ? this.returnOrder.code : "",
        reason: this.isEdit ? this.returnOrder.reason : "",
        paymentType: this.isEdit ? this.returnOrder.paymentType : 1,
        ref: this.isEdit ? this.returnOrder.ref : "",
        pay: this.isEdit ? this.returnOrder.pay : null,
        createAt: this.isEdit
          ? this.getTimeFromDateCreateToNow(this.returnOrder.createdAt)
          : "",
        name: this.isEdit ? this.returnOrder.name : "",
        priceTotal: 0,
      },
      titleButton: this.isEdit ? "Cập nhật" : "Thêm mới",
      listTypePayment: [
        { id: 0, name: "Type 1" },
        { id: 1, name: "Type 2" },
      ],
      itemDelete: {},
      listStatus: [{ id: 0, name: "Điều chuyển" }],
      iconPrepend: { isShow: true, class: "fas fa-search" },
      page: 0,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      itemDeleteId: null,
      columns: [
        new ColumnTable(ColumnType.TEXT, "SKU", "barcode"),
        new ColumnTable(ColumnType.TEXT, "Tên sản phẩm", "product_name", {
          width: "150px",
        }),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Số lượng", "number", {
          minValue: 0,
          width: "120px",
          disabled: true,
        }),
        new ColumnTable(ColumnType.INPUT_NUMBER, "Số lượng trả", "numberReturn", {
          minValue: 0,
          width: "120px",
        }),
        new ColumnTable(ColumnType.INPUT_CURRENCY, "Giá bán", "price", {
          minValue: 0,
          width: "180px",
          disabled: true,
        }),
        new ColumnTable(ColumnType.CURRENCY, "Tổng tiền", "total", {
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
          width: "150px",
        }),
        new ColumnTable(ColumnType.ACTION, "", "action", {
          actions: [
            new Action(
              "ri-close-line",
              (e) => this.onOpenDialogDelete(e.variant_id),
              "table__action-warning"
            ),
          ],
          tdClass: "vgt-center-align",
          thClass: "vgt-center-align",
          width: "80px",
        }),
      ],
      filterByTest: function (option, label, search) {
        for (const [key, value] of Object.entries(option)) {
          if (
            key == "name" ||
            key == "sku" ||
            key == "brand_name " ||
            key == "category_name" ||
            key == "barcode"
          ) {
            const isSelect =
              (value?.toString() || "")
                .toLowerCase()
                .indexOf(search.toLowerCase()) > -1;
            if (isSelect) {
              return true;
            }
          }
        }
        return false;
      },
      listItems: [],
      listItemsShow: [],
      textSearch: ''
    };
  },
  validations: {
    form: {
      orderId: {
        required,
        validOrderId: (id, isEdit) => {
          if (isEdit) {
            return true;
          }
          return saleOrderService.getSaleOrderDetail(id).then((rs) => {
            return rs.code !== 400 && rs.code !== 500 && !rs.message;
          });
        },
      },
      reason: { required },
      paymentType: { required },
      ref: { required },
      pay: { 
        required, 
        numeric,
        between(value) {
          return between(0, this.form.priceTotal)(value);
        },
      },
    },
  },
  
  
  watch: {
    listItems: {
      handler: function (val) {
        if (val) {
          var total = 0;
          val?.map((r) => {
            total += r.total;
          });
          this.form.priceTotal = total;
        }
      },
      deep: true,
    },
    "textSearch": function(){
      this.searching()
    },
    "form.orderId": function (data) {
      this.onOrderIdInputChanged(data)
    }
  },
  
  components: {
    // SelectProduct,
    FormGroupInput,
    CheckDelete,
    PaymentMethod,
    InputCurrency,
    SelectSaleOrder
  },
  mounted() {
    this.loadData();
  },

  methods: {
    searching(){
      if(!this.textSearch || this.textSearch === ''){
        this.listItemsShow = this.listItems
      }
      else {
        this.listItemsShow = this.listItems.filter(r => r.product_name.toLowerCase().indexOf(this.textSearch.toLowerCase()) >= 0
                                                        || r.barcode.toLowerCase().indexOf(this.textSearch.toLowerCase()) >= 0)
      }
    },
    loadData() {
      this.page = 0;
      // this.pageSize = 3;
      if (this.isEdit) {
        returnOrderService.getItemsReturnOrders(this.returnOrder.id).then(rs => {
          if(rs.code == 1){
            this.listItems = rs?.data?.items.map(i => {
                return {
                  ...i, 
                  numberReturn: i.number,
                  total :
                    i.number * i.price -
                    (i.number * i.price * i.discount) / 100 +
                    (i.number * i.price * i.tax) / 100,
                  }
              });
            this.searching()

            let total =0;
            this.listItems.forEach(el=>{
              total += +el.total;
            })
            this.priceTotal = total;
          }
        })
      }
    },
    onOpenDialogDelete(e) {
      this.itemDeleteId = e;
      this.$bvModal.show("checkDeleteItem");
    },
    validate() {
      this.$v.$touch();
      return !this.$v.$invalid;
    },
    async onSubmit() {
      if (this.listItems.length == 0) {
        notification.error("Cần phải có ít nhất một item");
        return;
      }
      if (!this.validate()) {
        return;
      }
      if (this.isEdit) {
        this.listItems.forEach(el =>{
          const dataItem = {
            return_order_id: +this.form.id,
            variant_id: +el.variant_id,
            number: +el.numberReturn,
            price: +el.price,
            discount: +el.discount,
            tax: +el.tax,
            business_id: +el.business_id
          }
          returnOrderService.updateItemsReturnOrders(this.form.id, dataItem)
        })
        const dataEdit = {
          id: this.form.id,
          code: this.form.code,
          reason: this.form.reason,
          payment_type: +this.form.paymentType,
          ref: this.form.ref,
          pay: +this.form.pay,
        };
        this.$store
          .dispatch("returnOrder/updateReturnOrder", dataEdit)
          .then((rs) => {
            if (rs.code === 1) {
              notification.success("Cập nhật thành công");
              this.$bvModal.hide("ReturnOrderAddEdit");
              this.$emit("updateOptions");
            }
          });
      } else {
        const dataAdd = {
          order_id: this.form.orderId,
          code: this.form.code,
          reason: this.form.reason,
          payment_type: +this.form.paymentType,
          ref: this.form.ref,
          pay: +this.form.pay,
          status: 0,
          items: [],
        };
        this.listItems.forEach((el) => {
          dataAdd.items.push({
            variant_id: +el.variant_id,
            number: +el.numberReturn,
            price: +el.price,
            discount: +el.discount,
            tax: +el.tax,
          });
        });
        this.$store
          .dispatch("returnOrder/addReturnOrder", dataAdd)
          .then((rs) => {
            if (rs.code === 1) {
              notification.success("Thêm thành công");
              this.$bvModal.hide("ReturnOrderAddEdit");
              this.$emit("updateOptions");
            }
          });
      }
    },
    async onOrderIdInputChanged(orderId) {
      if (this.isEdit) {
        return;
      }
      if (orderId) {
        this.page = 0;
        // this.pageSize = 3;
        await this.$store
          .dispatch("returnOrder/getSaleOrderDetails", orderId)
          .then((rs) => {
            if (rs.code == 1) {
              this.form.code = rs?.data.code || "";
              this.form.reason = "";
              this.form.paymentType = rs?.data.payment_type;
              this.form.ref = rs?.data.ref;
              this.form.pay = +rs?.data.pay;
              this.form.createAt = this.getTimeFromDateCreateToNow(
                rs?.data.created_at
              );
              this.form.name = rs?.data.customer_name;
              this.$emit("updateTitle", '- ' + this.form.code);
            } else {
              // notification.error(rs.message)
              this.$v.form.orderId.$touch();
              this.form.code = "";
              this.form.reason = "";
              this.form.paymentType = null;
              this.form.ref = "";
              this.form.pay = "";
              this.form.createAt = "";
              this.form.name = "";
              this.$emit("updateTitle", "");
              return;
            }
          });

          returnOrderService.getItemsSaleOrders(orderId).then(rs => {
            if(rs)
              this.listItems = rs?.data?.items.map(i => {
                return {
                  ...i, 
                  numberReturn: 0,
                  total : 0
                  }
              });
          })
        // this.$store
        //   .dispatch("returnOrder/getItemSaleOrders", {
        //     id: orderId,
        //     page: this.page,
        //     pageSize: this.pageSize,
        //   })
        //   .then((rs) => {
        //     if (rs?.data?.pagination.totalElements) {
        //       this.$store.dispatch("returnOrder/getItemSaleOrders", {
        //         id: this.form.orderId,
        //         page: this.page,
        //         pageSize: rs?.data?.pagination.totalElements,
        //       });
        //     }
        //   });
      } else {
        this.form.code = "";
        this.form.reason = "";
        this.form.paymentType = null;
        this.form.ref = "";
        this.form.pay = "";
        this.form.createAt = "";
        this.form.name = "";
      }
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      if (this.isEdit) {
        this.$store.dispatch("returnOrder/getItemReturnOrders", {
          id: this.form.orderId,
          page: this.page,
          pageSize: this.pageSize,
        });
      }
      // else {
      // this.$store.dispatch('returnOrder/getItemSaleOrders', {id:this.form.orderId,page:this.page, pageSize: this.pageSize})
      // }
    },
    onPageChange(params) {
      this.page = +params - 1;
      if (this.isEdit) {
        this.$store.dispatch("returnOrder/getItemReturnOrders", {
          id: this.form.orderId,
          page: this.page,
          pageSize: this.pageSize,
        });
      }
      // else {
      //   this.$store.dispatch('returnOrder/getItemSaleOrders', {id:this.form.orderId,page:this.page, pageSize: this.pageSize})
      // }
    },
    onChangeCellValue(data) {
      this.listItems = this.listItems.map(
        (row) => {
          if(row.variant_id === data.currentRow.variant_id){
            row.numberReturn = +data.value;
            if(row.numberReturn > row.number){
              notification.error(
                "Số lượng trả lại không được lớn hơn số lượng đã mua"
                );
              row.numberReturn = row.number
            }
            row.total =
              row.numberReturn * row.price -
              (row.numberReturn * row.price * row.discount) / 100 +
              (row.numberReturn * row.price * row.tax) / 100;
          }
          return {...row}
        }
      );
    },
    deleteItem() {
      if (this.isEdit) {
        this.$store
          .dispatch("returnOrder/deleteReturnOrderItems", {
            id: this.form.orderId,
            vid: this.itemDeleteId,
          })
          .then((rs) => {
            if (rs.code === 1) {
              notification.success("Xóa thành công");
              this.$store.dispatch("returnOrder/getItemReturnOrders", {
                id: this.form.orderId,
                page: this.page,
                pageSize: this.pageSize,
              });
              this.$bvModal.hide("checkDeleteItem");
            }
          });
      } else {
        this.listItems.splice(
          this.listItems.find((r) => r.variant_id == this.variant_id),
          1
        );
        this.searching()
        this.returnOrderItemsData.data.pagination.totalElements = this.listItems.length;
        notification.success("Xóa thành công");
        this.$bvModal.hide("checkDeleteItem");
      }
    },
    getTimeFromDateCreateToNow(date) {
      if (!date) {
        return;
      }
      // return moment(new Date(date)).fromNow()
      return moment(date).format("DD/MM/YYYY");
    },
  },
};
</script>

<style scoped>
.main-content {
  background-color: #ffffff;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  border-radius: 10px;
  margin-top: 0.8rem;
  width: 100%;
  height: 100%;
  padding: 1.1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.2rem;
}
.total-cost {
  float: right;
}
</style>
