<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 py-2 d-flex justify-content-end">
        <!-- <b-dropdown text="Thêm đơn hàng" class="dropdown-role-access">
        <b-dropdown-item @click="openModalAdd">Thêm đơn hàng</b-dropdown-item>
      </b-dropdown> -->
        <button class="btn btn-primary" @click="openModalAdd">
          Thêm đơn trả hàng
        </button>
      </div>
      <div class="col-lg-12 pt-3">
        <div class="table-responsive rounded mb-3">
          <TableList
            :columns="columns"
            :rows="listReturnOrder"
            :line-number="true"
            :searchOption="searchOption"
            :total="totalElements"
            @onPageChange="onPageChange"
            @onPerPageChange="onPerPageChange"
          >
          </TableList>
        </div>
      </div>
    </div>

    <Dialog
      id="ReturnOrderAddEdit"
      :title="
        !isEditReturnOrder ? `Thêm mới đơn trả hàng ${orderName}` : `Cập nhật đơn trả hàng ${orderName}`
      "
      size="lg"
      :onSubmit="onAddEditReturnOrder"
      :is-disabled-submit="
        isEditReturnOrder == true && returnOrder.status === 1
      "
      :title-btn-submit="!isEditReturnOrder ? 'Thêm mới' : 'Cập nhật'"
    >
      <template v-slot:modal-body>
        <ReturnOrderAddEdit
          ref="addEditReturnOrder"
          :isEdit="isEditReturnOrder"
          :returnOrder="returnOrder"
          @updateOptions="reloadListReturnOrder"
          @updateTitle="updateTitleDialog"
        />
      </template>
    </Dialog>
    <CheckDelete
      id="checkDeleteReturnOrder"
      :title="'đơn trả hàng'"
      @confirmDelete="deleteReturnOrder"
    />
  </div>
</template>

<script>
import moment from "moment";
import { Action, ColumnTable, ColumnType } from "../../Model/TableList";
import notification from "@/utils/notification";
import returnOrderService from "@/services/return-order.service.js";
import CheckDelete from "../Product/DeleteConfirm.vue";
import ReturnOrderAddEdit from "./ReturnOrderAddEdit";
import constants from "@/config/constants";
export default {
  components: {
    CheckDelete,
    ReturnOrderAddEdit,
  },
  computed: {
    returnOrderData() {
      return this.$store.getters["returnOrder/returnOrder"];
    },
    listReturnOrder() {
      return this.returnOrderData?.items || [];
    },
    totalElements() {
      return this.returnOrderData?.pagination.totalElements || 0;
      // return 1
    },
  },
  mounted() {
    this.loadData();
  },
  data() {
    return {
      titleReturnOrderAddEdit: "Return order",
      searchOption: {
        enabled: true,
      },
      orderName: "",
      returnOrder: {},
      page: 0,
      isEditReturnOrder: false,
      pageSize: constants.DEFAULT_TABLE_PAGE_SIZE,
      returnOrderDeleteId: null,
      columns: [
        new ColumnTable(ColumnType.TEXT, "Mã đơn trả hàng", "order_code"),
        new ColumnTable(ColumnType.TEXT, "Mã đơn hàng", "code"),
        new ColumnTable(ColumnType.TEXT, "Tên khách hàng", "name"),
        new ColumnTable(ColumnType.ORDER_STATUS, "Trạng thái", "status"),
        new ColumnTable(ColumnType.CURRENCY, "Số tiền hoàn trả", "pay"),
        new ColumnTable(ColumnType.DATE, "Ngày nhận", "created_at"),
        new ColumnTable(ColumnType.ACTION, "Chức năng", "action", {
          actions: [
            new Action(
              "ri-pencil-line",
              (data) => {
                this.openModalEdit(data);
              },
              "table__action-icon-info",
              {
                isDisableByStatus: function(a) {
                  return a == 1;
                },
              }
            ),
            new Action(
              "ri-close-line",
              (data) => {
                this.onOpenDialogDelete(data.id);
              },
              "table__action-icon"
            ),
          ],
        }),
      ],
    };
  },
  methods: {
    async loadData() {
      await this.$store
        .dispatch("returnOrder/getReturnOrder", {
          page: this.page,
          pageSize: this.pageSize,
        })
    },

    onOpenDialogDelete(id) {
      this.returnOrderDeleteId = id;
      this.$bvModal.show("checkDeleteReturnOrder");
    },
    onPerPageChange(params) {
      this.pageSize = +params.currentPerPage;
      this.page = +params.currentPage - 1;
      this.$store.dispatch("returnOrder/getReturnOrder", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    onPageChange(params) {
      this.page = +params - 1;
      this.$store.dispatch("returnOrder/getReturnOrder", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    reloadListReturnOrder() {
      this.$store.dispatch("returnOrder/getReturnOrder", {
        page: this.page,
        pageSize: this.pageSize,
      });
    },
    async openModalEdit(data) {
      this.returnOrder = {
        id: data.id,
        orderId: null,
        reason: "",
        paymentType: null,
        ref: "",
        pay: +data.pay,
        name: data.name,
        createdAt: data.created_at,
        code: "",
      };
      await this.$store
        .dispatch("returnOrder/getReturnOrderDetails", data.id)
        .then((rs) => {
          this.returnOrder.orderId = rs?.data.order_id;
          this.returnOrder.ref = rs?.data.ref;
          this.returnOrder.paymentType = rs?.data.payment_type;
          this.returnOrder.reason = rs?.data.reason;
          this.returnOrder.status = rs?.data.status;
          this.returnOrder.code = rs?.data.code;
          this.orderName = '- ' + rs?.data.code;
        });
      this.isEditReturnOrder = true;
      this.$bvModal.show("ReturnOrderAddEdit");
    },
    openModalAdd() {
      this.isEditReturnOrder = false;
      this.orderName = "";
      this.$store.dispatch("returnOrder/setItems", []);
      this.$bvModal.show("ReturnOrderAddEdit");
    },
    updateTitleDialog(name){
      this.orderName = name;
    },
    getTimeFromDateCreateToNow(date) {
      if (!date) {
        return;
      }
      return moment(date).format("DD/MM/YYYY");
    },
    deleteReturnOrder() {
      returnOrderService
        .deleteReturnOrder(this.returnOrderDeleteId)
        .then(async (rs) => {
          if (rs.code == 1) {
            notification.success("Xóa thành công");
            this.$bvModal.hide("checkDeleteReturnOrder");
            this.$store.dispatch("returnOrder/getReturnOrder", {
              page: this.page,
              pageSize: this.pageSize,
            });
          }
        });
    },
    onAddEditReturnOrder() {
      this.$refs.addEditReturnOrder.onSubmit();
    },
  },
};
</script>
