<template>
  <div class="tabCustom">
    <b-tabs>
      <slot />
    </b-tabs>
    <div class="btnCustom">
      <slot name="nav-button" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Nav-tab",
};
</script>

<style>
.tabCustom {
  position: relative;
}
.tabCustom .btnCustom {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
</style>
