<template>
  <b-tab :title="`${title}`" :active="isActive">
    <slot />
  </b-tab>
</template>

<script>
export default {
  name: "Nav-tab-item",
  props: {
    title: { type: String, default: "" },
    isActive: { type: Boolean, default: false },
  },
};
</script>

<style></style>
